<common-table [style]="{padding:'0', height: '637px', overflow: 'auto'}">
  <div class="header-wrap-filter common-table">
    <div class="common-input table-input">
      <div class="filter-wrap">
        <p-dropdown styleClass="custom-dropdown"  [style]="{'width':'100px'}" [options]="optionList"
                    [(ngModel)]="selectOption">
          <ng-template let-item pTemplate="Option">
            <div>{{item.label}}</div>
          </ng-template>
        </p-dropdown>
        <input type="text" class="filter-input" style="width:200px;"[(ngModel)]="searchText" placeholder="검색어를 입력해 주세요">
        <button (click)="search(selectOption, searchText)"></button><!-- 이 버튼요소가 input 요소의 돋보기 아이콘을 덮음 -->
      </div>
      <app-page-size-sellector (pageSize)="onChangePageSize($event)"></app-page-size-sellector>
    </div>
  </div>

  <div class="table-wrap-rowgroup">
    <p-dataTable [value]="items" styleClass="custom-row-table" dataKey="questionId">


      <!-- <p-column header="Domain" field="domainId" [style]="{'width':'61px'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.domainId}}
        </ng-template>
      </p-column>

      <p-column header="QuestionId" field="questionId" [style]="{'width':'79px'}">

        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.questionId}}
        </ng-template>
      </p-column> -->

      <p-column header="질문" field="question" [style]="{'width':'220px','text-align':'left'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
            <li *ngFor="let q of item.questionList; index as i;" style="overflow:hidden;
                word-break: break-word;
                text-overflow: ellipsis;">
                {{i+1}} ) {{q.question}}
            </li>
        </ng-template>
      </p-column>

      <p-column header="응답" field="answerList" [style]="{'width':'220px','text-align':'left'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
            {{item.answerGroup.answer}}

        </ng-template>
      </p-column>
<!--
      <p-column header="Use" field="useYn" [style]="{'width':'55px'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.useYn == 'Y' ? '사용' : '미사용'}}
        </ng-template>
      </p-column> -->


      <!-- <p-column header="생성일" field="createdDtm" [style]="{'width':'68px'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.createdDtm | date: 'yy.MM.dd'}}
        </ng-template>
      </p-column> -->
      <p-column header="수정일" field="updatedDtm" [style]="{'width':'68px'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.updatedDtm | dateTimeFormat: 'YY.MM.DD HH:mm'}}
        </ng-template>
      </p-column>

      <p-column [style]="{'width':'70px'}">
        <ng-template pTemplate="header">
          <div>Action</div>
        </ng-template>
        <ng-template let-entity="rowData" pTemplate="body">
          <div class="table-button">
            <button type="button" class="btn_tbl" (click)="editModalOpen(entity)">
            	<img src="../../../../../../assets/images/ico_edit_g.png" alt="수정">
			</button>
            <button type="button" class="btn_tbl" (click)="removeOpen(entity)">
            	<img src="../../../../../../assets/images/ico_remove_g.png" alt="삭제">
			</button>

          </div>
        </ng-template>
      </p-column>

      <ng-template pTemplate="emptymessage">
        <div class="no-data">조회할 데이터가 없습니다</div>
      </ng-template>

    </p-dataTable>

  </div>

<div class="common-table-footer">
  <!--<div class="common-input table-input">

    <div class="filter-wrap" style="display: table;" >
      <div style="display: table-cell;" >

      <p-dropdown styleClass="custom-dropdown"  [style]="{'width':'100px'}" [options]="optionList"
        [(ngModel)]="selectOption">
        <ng-template let-item pTemplate="Option">
          <div>{{item.label}}</div>
        </ng-template>
      </p-dropdown>
    </div>
    <div style="display: table-cell;">
        <input type="text" class="filter-input" style="width:200px;"[(ngModel)]="searchText" placeholder="검색어를 입력해 주세요">

    </div>
    <div style="display: table-cell;">
        <button type="button" class="btn_tbl" (click)="search(selectOption, searchText)">
            <img src="../../../../../../assets/images/ico_tree_list.png" alt="삭제">
        </button>
    </div>
    </div>
  </div>-->

  <div class="footer-wrap text-center">
    <app-paginator (page)="onPaginator($event)" [totalCount]="paginator.totalCount" [pageSize]="paginator.pageSize"></app-paginator>
  </div>
</div>
</common-table>


<app-bqa-add #addChild [addFlag]="addFlag" (addRemove)="addModalClose($event)"></app-bqa-add>
<app-bqa-edit #editChild [editFlag]="editFlag" (editRemove)="editModalClose($event)"></app-bqa-edit>
