<common-modal class="synonym-add-wrap" #commonModal >
    <!-- <div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}"> -->
        
          
    <div class="common-modal-header" >
      <div class="modal-title">동의어 수정</div>
      <div class="modal-close" (click)="modalClose()">
        <i class="icon-close"></i>
      </div>
    </div>
    <div class="modal-content-wrap" >
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">대표 단어</div>
          <input #wordInput [(ngModel)]="cm_synonym.word" class="input-required" placeholder="내용을 입력해주세요.">
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">동의 단어</div>
          <input #synonymName [(ngModel)]="synonmWord" placeholder="내용을 입력해주세요." (keyup)="addSynonymName($event, synonymName.value)" required>
          <div class="word-add-wrap">
            <button class="btn-word" *ngFor="let synoName of synonymlist" (click)="removeSynonymName(synoName)">
              {{synoName}} <i class="icon-close"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="common-modal-footer">
      
      <div class="button-wrap float-right">
        <button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>
        <button class="btn-alert" (click)="synonymEditSave()">저장</button>
      </div>
    </div>
  
  </common-modal>