<div class="common-section text-center model-section">
  <div class="common-container">
    <div class="common-header-title">
      <span>동의어 사전</span>
    </div>
    <common-table>
       <div class="header-wrap-filter common-table">
        <div class="common-input table-input">
          <div class="filter-wrap">
            <input type="text" class="filter-input"  [(ngModel)]="selectText"  placeholder="검색어를 입력해 주세요">
            <button (click)="onSearchKey($event)"></button>
          </div>
        </div>
         <div class="button-wrap">
           <button class="btn-normal-line" (click)="synonymAddOpen()">추가하기</button>
           <button class="btn-negative" type="button"  (click)="removesOpen($event)"
                   [ngClass]="{'btn-disabled': selectedItems === null || selectedItems.length === 0}"> 삭제하기</button>


           <label for="upload" class="btn-positive-line btn-upload-label">엑셀 업로드</label>
           <input id="upload" type="file" class="btn-upload-input" (change)="uploadFile($event)" multiple="false"/>
           <button class="btn-positive-line" (click)="downloadFile()">엑셀 다운로드</button>
           <button class="btn-positive-line" (click)="applyServer()">서버 적용</button>
         </div>
       </div>
      <div class="table-wrap-rowgroup">
        <p-dataTable [value]="items" styleClass="custom-row-table"
                     [(selection)]="selectedItems"
                     dataKey="synonym_id"
        >
          <p-column selectionMode="multiple"
                    [style]="{'width':'40px'}">
          </p-column>
            <p-column header="ID" field="synonym_id" [style]="{'width':'55px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="대표 단어" field="word" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              <div> {{item[col.field]}}</div>
            </ng-template>
          </p-column>
            <p-column header="동의 단어" field="synonym_list"
                    [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          
          <p-column [style]="{'width':'120px'}">
            <ng-template pTemplate="header">
              <div>Action</div>
            </ng-template>
            <ng-template let-item="rowData" pTemplate="body">
              <div class="table-button">
                <span>
                  <i class="icon-edit" (click)="synonymEditOpen(item)"></i>
                </span>
                <span>
                  <i class="icon-remove2" (click)="synonymRemoveOpen(item)"></i>
                </span>
              </div>
            </ng-template>
          </p-column>
          <ng-template pTemplate="emptymessage">
            <div class="no-data">조회할 데이터가 없습니다</div>
          </ng-template>
        </p-dataTable>
      </div>
      <div class="common-table-footer">
        <div class="footer-wrap text-center">
          <div class="pagination">
            <span class="btn-first btn-page" [class.disabled]="pg === 1" (click)="pageChanged(1)"></span>
            <span class="btn-prev btn-page" [class.disabled]="pg === 1" (click)="pageChanged(pg - 1)"></span>
            <span class="page-number"><span class="now-page">{{pg}}</span>/<span>{{totalPage}}</span></span>
            <span class="btn-next btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(pg + 1)"></span>
            <span class="btn-last btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(totalPage)"></span>
          </div>
        </div>
      </div>
    </common-table>
  </div>
</div>
<app-dic-synonym-add #addChild (addClose)="modalClose($event)"></app-dic-synonym-add>
<app-dic-synonym-edit #editChild (editClose)="modalClose($event)"></app-dic-synonym-edit>
<app-dic-synonym-remove #removeChild (removeClose)="modalClose($event)"></app-dic-synonym-remove>  

  
