/* START Common button */
@import "style.common";

button{
  @include button();
}
.btn-normal-line{
  color:$main-color;
  background-color: $C0;
  border: 1px $main-color solid;
}
.btn-normal-box{
  color:$C0;;
  background-color: $main-color;
  border: none;
}
.btn-positive-line{
  color:$sub-color-1;
  background-color: $C0;
  border: 1px $sub-color-1 solid;
}
.btn-positive-box{
  color:$main-color;
  background-color: $sub-color-1;
  border: none;
}
.btn-negative{
  color:$negative-color;
  background-color: $C0;
  border: 1px $negative-color solid;
}
.btn-disabled{
  border-color: $C3;
  color: $C3;
}
.btn-list{
  background-color: $C7;
  color:$C0;
  border: 1px $C7 solid;
  height: 20px;
  line-height: 18px;
  padding: 0 5px;
  vertical-align: top;
  margin-left: 5px;
}
.btn-train{
  height: 20px;
  line-height: 19px;
  padding: 0 5px;
  vertical-align: top;
  margin-left: 20px;
  background: $main-color;
  color: $C0;
}
.btn-guide{
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  float: right;
  i{
    font-size: 14px;
    line-height: 25px;
  }
}
.btn-circle{
  padding: 0;
  background: $main-color;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}
.btn-square{
  padding: 0;
  border: 1px solid $main-color;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  font-size: $font-04;
  line-height: 23px;
  color: $main-color;
  &:hover{
    background: $main-color;
    color:$C0 !important;
    border-color: $main-color !important;
  }
  &.icon-add, &.icon-remove{
    font-size: $font-02;
  }
}
.btn-upload-label{
  @include button();
  line-height: 35px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.btn-normal-active{
  background: $main-color;
  color:$C0;
}
.btn-normal-cancel{
  color: $sub-color-1;
  background-color: $C2;
}
.btn-word{
  height: 24px;
  border-radius: 1px;
  background: $main-color;
  color:$C0;
  padding:0 5px 0 10px;
  line-height: 25px;
  margin: 10px 10px 0 0;
  i{
    line-height: 13px;
  }
  &.btn-intent{
    background: $C0;
    border: $table-main-border;
    color: $C8;
  }
}
.task-icon{
  display: inline-block;
  height:30px;
  background: $C3;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight:bold;
  color:$C8;
  cursor: pointer;
  button{
    padding: 0;
    width: 15px;
    height: 15px;
    background: $C6;
    margin-left:3px;
    border-radius:50%;
  }
}
//alert-button
.btn-alert{
  @include button-alert();
  color:$C0;
  background-color: $main-color;
  border: none;
  &.btn-cancel {
    color: $sub-color-1;
    background-color: $C3;
  }
  &.btn-alert-disabled{
    color: $C5;
    background-color: $C2;
  }
}
.icon-close:focus,.icon-close:hover,.icon-close:active{
  box-shadow: inset 0 0 1px 0 $CI_color;
}
.btn-alert:focus,.btn-alert:hover,.btn-alert:active{
  box-shadow: inset 0 0 1px 0 $CI_color;
  &.btn-cancel:focus,.btn-cancel:hover,.btn-cancel:active {
    box-shadow: inset 0 0 1px 0 $CI_color;
  }
}
/* END Common button */
