/* START Common Input */
@import "style.common";
.common-input{
  input, textarea{
    height: $input-height;
    border:1px solid $C2;
    width:100%;
    @include radius(2px);
    padding:0 10px;
    color:$C8;
  }
  textarea{
    padding: 10px;
  }
  .input-required{
    border-color:$negative-color;
  }
}
.modal-input{
  .custom-dropdown{
    border:1px solid $C2;
  }
  textarea{
    min-height: 72px;
    max-height: 72px;
    min-width: 100%;
    max-width: 100%;
  }
}
.table-input{
  display: inline-block;
  .gray-dropdown{
    border-color: $C2;
  }
  input, textarea{
    height: $input-table-height;
  }
  textarea{
    padding: 5px 10px;
  }
}
input.btn-upload-input{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0); border: 0;
}

/* END Common Input */
