/* START Common Modal */
@import "style.common";

.common-modal-section{
  display: none;
  @extend %fit;
  position:fixed;
  z-index: 10010;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(0,0,0, 0.65);
  text-align: left;
  .common-modal-container{
    position:relative;
    width: 560px;
    //max-height: calc(100% - 300px);
    margin: 0 auto;
    background-color: $C0;
    @include radius(2px);
    padding:15px;
  }
  //modal header
  .common-modal-header{
    position:relative;
    width: 100%;
    border-bottom: 1px solid $main-color;
    padding: 9px 0;
    div{
      @include inlineblock;
    }
    .modal-title{
      font-size: 18px;
      margin-left: 15px;
      font-weight:bold;
    }
    .modal-close{
      position: absolute;
      top:0;
      right:0;
      font-size: 24px;
      cursor: pointer;
      color: $main-color;
    }
  }
  //modal header
  .common-modal-header{
    position:relative;
    width: 100%;
    border-bottom: 1px solid $main-color;
    padding: 9px 0;
    div{
      @include inlineblock;
    }
    .modal-title{
      font-size: 18px;
      margin-left: 15px;
      font-weight:bold;
    }
    .modal-close{
      position: absolute;
      top:0;
      right:0;
      font-size: 24px;
      cursor: pointer;
      color: $main-color;
    }
  }
  //modal-content
  .common-modal-content{
    width: 100%;
    padding:10px 10px 20px 10px;
    min-height:110px;
    .modal-content-title{
      height: 30px;
      line-height: 30px;
      font-size: $font-03;
    }
    p{
      font-size: $font-04;
      line-height: 23px;
    }
    common-table{
      font-size: 0;
    }
    .common-table-section{
      padding: 0;
      border:0;
      .modal-table-wrap{
        border: 1px double $C4;
        width:100%;
        th{
          line-height: 16px;
        }
        input{
          height: $input-height;
        }
        button{
          border:none;
        }
      }
      .ui-state-default{
        &:hover{
          color:$C8;
        }
      }
      .ui-button:hover{
        background: none;
        border:none;
      }
      .ui-datepicker{
        table{
          tr{
            height: $input-table-height;
            line-height: $input-table-height;
          }
          th, td{
            padding: 0;
            a {
              padding: 0;
            }
          }
        }
      }
    }
  }
  .modal-content-container{
    display: none;
  }
  //modal-footer
  .common-modal-footer{
    width: 100%;
    height: $input-height;
    .btn-cancel{
      margin-right:10px;
    }
  }
}

.modal-section{
  display: block;
  .modal-content-container{
    display: block;
  }
}
.modal-script-wrap{
  .common-modal-container{
    width: max-content;
  }
  .common-modal-content{
    textarea{
      width: 365px;
      min-height: 420px;
      max-height: 420px;
    }
  }
}
//script-guide
.script-guide-wrap{
  .modal-section{
    overflow-y: auto;
  }
  .common-modal-container{
    width: 960px;
    height: 800px;
    //margin: 50px auto;
    .common-modal-content{
      padding: 0;
      height: 720px;
    }
    .modal-content-container{
      height: 100%;
    }
  }
  .modal-content-wrap{
    margin: 10px 0;
    font-size: 0;
    height: 100%;
    .script-content-container{
      display: inline-block;
      font-size: $font-03;
      height: 100%;
      vertical-align: top;
    }
  }

  .script-search-wrap{
    border-right: $table-main-border;
    width: 240px;
    padding-right:15px;
    margin-right:15px;
    .common-table-section{
      .common-table-header{
        .table-input, .filter-wrap{
          margin: 0;
          width: 100%;
          input{
            width: calc(100% - 36px);
          }
        }
      }
    }

  }
  .script-content-wrap{
    width: calc(100% - 255px);
    background: $C2;
    border-radius: 2px;
    padding: 20px 0;
    .script-content-container{
      overflow: auto;
      padding: 0 20px;
    }
  }
}

//train
.modal-train-wrap{
  .train-text{
    font-size: $font-03;
    display: inline-block;
    position: relative;
    padding-right:20px;
    margin-right: 10px;
    height: 36px;
    line-height: 36px;
  }
  i{
    position: relative;
    top:-2px;
    right:0;
  }
  .train-help{
    display: none;
    position: absolute;
    border: $table-main-border;
    width: 300px;
    height: auto;
    background: $C0;
    z-index: 10;
    top: 10px;
    right:-300px;//train-help width 값 만큼
  }
  input{
    width: 50px;
    text-align: center;
    position: relative;
  }
}

//log
.log-wrap{
  .modal-section{
    overflow-y: auto;
  }
  .common-modal-container{
    width: 960px;
    height: 800px;
    //margin: 50px auto;
    .common-modal-content{
      margin: 15px 0 0 0;
      height: 720px;
      overflow: auto;
      padding: 0 10px;
    }
  }
}

//chatbot test
.chat-test-wrap{
  .common-modal-section{
    .common-modal-content{
      padding: 20px 10px 5px;
    }
  }
  .common-modal-container{
    width: 500px;
  }
  .modal-content-wrap{
    height: 680px;
  }
}

//chatbot add, edit
.chat-popup-wrap{
  .common-modal-section{
    overflow-y: auto;
    .common-modal-content{
      padding: 15px 0 0 0;
    }
  }
  .common-modal-container{
    width: 765px;
  }
}

//alert modal
.alert-modal{
  .common-modal-section .modal-content-container{
    display: block;
  }
}
/* END Common Modal */
