/* START Common Prime */
@import "style.common";

body{
  .ui-widget {
    font-family: $font-family;
    font-size: 1.1em;
  }

  /* Toast */
  .ui-growl {
    width: 30em;
    z-index: 1060;
  }
  .ui-growl-message {
    text-align: left;
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.5em;
    }
  }
  .ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
    color: $sub-color-1;
    background-color: $main-color;
    border-color: $main-color;
  }
  .ui-growl-item-container.ui-state-highlight.ui-growl-message-info {
    color: $main-color;
    background-color: $sub-color-1;
    border-color: $sub-color-1;
  }
  .ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
    background-color: $negative-color;
    border-color: $negative-color;
  }

  /* radio, checkbox */
  .ui-state-focus{
    background: $C0;
  }
  .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
    border:1px solid $main-color;
    background: $main-color;
  }
  .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover{
    background: $C0;
  }
  .ui-chkbox-box.ui-state-focus, .ui-radiobutton-box.ui-state-focus{
    box-shadow: none;
  }
  .ui-chkbox-box.ui-state-focus.ui-state-active{
    background: $main-color;
  }
  .paraphrase-list-wrap{
    margin-top:10px;
    .ui-chkbox .ui-chkbox-box{
      border-radius:50%;
      color:$C0;
    }
    label.ui-chkbox-label{
      height: $input-height;
      border: $table-main-border;
      line-height: $input-height;
      border-radius:2px;
      display: inline-block;
      width: calc(100% - 25px);
      padding:0 10px;
      &.ui-label-active{
        border-color: $main-color;
        color:$main-color;
      }
    }
  }
  /* tooltip */
  .ui-widget.ui-tooltip .ui-tooltip-text {
    font-family: $font-family;
    background-color: $sub-color-1;
    color: $C0;
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 2px;
  }
  /* Calendar */
  .ui-calendar {
    line-height: 1;
    width: 100%;
    &.ui-calendar-w-btn input {
      width: 100%;
      border-radius: 2px;
    }
  }
  .ui-calendar button {
    right: 0;
    font-size: 14px;
    opacity: .6;
  }
  .ui-calendar .ui-button, .ui-calendar .ui-button:hover,.ui-widget-header .ui-button:enabled:active, .ui-widget-content .ui-button:enabled:active, .ui-widget.ui-button:enabled:active, .ui-button:enabled:active {
    border: none;//1px solid #2399e5;
    color: $font-color;
    background: transparent;//#2399e5;
  }
  .ui-inputtext:enabled:hover,.ui-inputtext.ui-state-focus, .ui-inputtext:focus{
    border-color: $C2;
    box-shadow: none;
  }
  .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
    background-color: $main-color;
    color: $sub-color-1;
  }
  .ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus{
    border-color: $C2;
    background: transparent;
    color: $C4;
  }
  .common-input{
    .ui-calendar .ui-button, .ui-calendar .ui-button:hover,.ui-widget-header .ui-button:enabled:active, .ui-widget-content .ui-button:enabled:active, .ui-widget.ui-button:enabled:active, .ui-button:enabled:active {
      border: none;//1px solid #2399e5;
      color: $font-color;
      background: transparent;//#2399e5;
    }
  }

  /* dropdown */
  p-dropdown{
    font-size: 0;
  }
  .common-edit-entity{
    .custom-dropdown {
      color:$C8;
      input.ui-dropdown-label, .ui-dropdown-item, .ui-dropdown-label {
        color:$C8;
      }
    }
  }
  .custom-dropdown {
    height: $input-height;
    line-height: calc(#{$input-height} - 2px);
    border-color: $main-color;
    color: $C5;
    font-size: $font-02;
    @include radius(0);
    .ui-dropdown-trigger{
      border-color: transparent;
      .fa {
        line-height: 33px;
        margin-top: 0px;
        //margin-right: 0.3em;
        padding-right: 0.5em;
        color:$C5;
      }
      >.fa-caret-down::before{
        content:"\f107"
      }
    }
    .ui-dropdown-item {
      text-align: left;
      color: $C6
    }
    >.ui-widget-content .ui-state-highlight{
      background-color: $main-color;
      color: $C0;
    }
    label.ui-dropdown-label {
      font-size: 12px;
      color : $C6;
      padding:0 20px 0 10px;
      text-align: left;
    }
    &.ui-dropdown.ui-state-focus {
      box-shadow: 0px 0px 5px $C1;
    }
  }
  .dark-dropdown {
    background-color: $sub-color-1;
    border-color: $sub-color-1;
    .ui-dropdown-trigger {
      background-color: $sub-color-1;
      color: $C0;
    }
    label.ui-dropdown-label {
      background-color: $sub-color-1;
      color : $C0;
    }
    .ui-dropdown-pannel {
      background-color: $sub-color-1;
    }
    .ui-dropdown-list {
      background-color: $sub-color-1;
    }
    .ui-dropdown-item {
      background-color: $sub-color-1;
      color: $C0;
    }
  }
  .ui-dropdown:not(.ui-state-disabled):hover{
    border-color: $main-color;
  }
  .ui-shadow{
    box-shadow: none;
  }
  .ui-corner-all{
    @include radius(0)
  }
  .gray-dropdown{
    border-color: $C2;
    &.ui-dropdown:not(.ui-state-disabled):hover{
      border-color: $C2;
    }
  }
  .modal-input, .table-input{
    .gray-dropdown{
      @include radius(2px);
      border-color: $C2;
    }
  }
  .corpus-system{
    .custom-dropdown{
      border: none;
      line-height: 36px;
      height: 36px;
      vertical-align: top;
      &.ui-dropdown.ui-state-focus {
        box-shadow: none;
      }
      &.ui-dropdown:not(.ui-state-disabled):hover{
        background: $C0;
      }
      label.ui-dropdown-label {
        color:$C8;
        line-height: 20px;
        margin: 5px 0;
        padding: 3px 20px 3px 10px;
        &:hover{
          border-color: #c0c0c0;
          background: #eeeeee;
          color: #212121;
        }
      }
      .fa {
        line-height: 25px;
        color:$C8;
      }
    }
  }
  .intent-dropdown{
    height: 24px;
    line-height: 22px;
    vertical-align: top;
    .ui-dropdown-trigger{
      .fa {
        line-height: 22px;
      }
    }

  }
  /* tap */
  .ui-tabmenu .ui-tabmenu-nav {
    padding: 0;
    .ui-tabmenuitem{
      width: $table-tap-width ;
      height: $table-tap-height;
      line-height:$table-tap-height;
      text-align: center;
      color:$C8;
      a{
        padding:0;
        width: 100%;
      }
    }
    li.ui-state-default, li:not(.ui-state-active):hover, li:not(.ui-state-active):not(.ui-state-disabled):hover{
      border-color:$C2;
      background-color: $C2;
    }
    li.ui-state-active {
      background-color: $C0;
      height: calc(#{$table-tap-height} + 2px);
      line-height:calc(#{$table-tap-height} + 2px);
      position: relative;
      top: -1px;
      z-index: 10;
    }

  }


  /* table */
  .common-table-section{
    .ui-state-default{
      color:$C8;
    }
    .custom-row-table{
      .ui-widget-content{
        border:none;
        &.ui-state-highlight{
          color:$C8;
          background-color:$C0;
        }
      }
      .ui-datatable-tablewrapper {
        @include common-row-table;
        .ui-datatable-odd {
          background-color: #fbfbfb;
        }
        .ui-widget-content:hover  {
          background-color: #f6f6f6;
          color:$C8;
        }
      }
    }
    .ui-datatable .ui-editable-column input{
      height: 28px;
      border-radius: 2px;
    }
    .ui-datatable .ui-datatable-data>tr>td.ui-editable-column.ui-cell-editing{
      padding: 0 6px;
    }
    .ui-datatable .ui-selection-column .ui-chkbox-box, .ui-datatable .ui-selection-column .ui-radiobutton-box{
      margin: 0 auto;
      .ui-clickable{
        color:$C0;
      }
    }
    .ui-datatable .ui-datatable-thead>tr>th{
      border-top-width:0;
    }
    .ui-datatable th.ui-sortable-column:not(.ui-state-active):hover{
      background: none;
      border-bottom: $table-sub-border;
      color:$C8;
    }
    .gray-dropdown{
      &.ui-dropdown:not(.ui-state-disabled):hover{
        border-color: $C2;
      }

    }
    .ui-datatable .ui-datatable-data>tr>td.ui-editable-column{
      padding:0 10px;
    }
    .common-table-section .ui-datatable .ui-datatable-data > tr > td.ui-editable-column.ui-cell-editing{
      padding: 0 10px;
    }
    .common-table-contents{
      .gray-dropdown{
        height: $input-table-height;
        line-height: calc(#{$input-table-height} - 2px);

        .ui-dropdown-trigger {
          border-color: transparent;
          .fa {
            line-height: calc(#{$input-table-height} - 2px);
          }
        }
      }
    }
    .ui-datatable .ui-datatable-footer{
      border:none;
      border-bottom: $table-sub-border;
      background: transparent;
      cursor: pointer;
      height: $table-td-height;
      line-height: $table-td-height;
      padding: 0;
      font-size: $font-02;
      &:hover{
        background-color: $C1;
      }
    }
  }
  //chip
  .ui-chips{
    font-size:$font-02;
    .ui-state-default {
      height: 34px;
      border: none;
      border-left: $table-main-border;
      width: max-content;
    }
    .ui-chips-input-token{
      margin-left: 5px;
      padding: 0;
      input{
        height: 34px;
      }
    }
    .ui-state-highlight{
      background: $main-color;
      border-radius: 2px;
      margin-left: 5px;
      height: 26px;
      .ui-chips-token-label{
        line-height: 24px;
      }
    }
    ul:not(.ui-state-disabled):hover{
      border-color: $C2;
    }
  }
  //inplace
  .ui-inplace{
    display: inline-block;
  }

  //breadCrumb
  .ui-breadcrumb{
    display: inline-block;
    background: transparent;
    border: none;
    color:$C0;
    vertical-align: bottom;
    font-size: $font-02;
    line-height: $font-04;
    padding: 0.3em 10px;
    ul{
      li{
        vertical-align: text-bottom;
      }
    }
    a{
      color: $C0;
      cursor: default;
    }
    .icon-right {
      font-size: 8px;
      line-height: 12px;
    }
  }
}
/* END Common Prime */
