/* START Style Reset */
@import "style.common";

//font
@font-face {   font-family: 'Roboto';   font-style: normal;   font-display: auto;   font-weight: 400;
  src: url(../assets/fonts/Roboto-Regular.woff2) format('woff2'),
  url(../assets/fonts/Roboto-Regular.woff) format('woff'),
  url(../assets/fonts/Roboto-Regular.otf) format('opentype'); }
@font-face {   font-family: 'Roboto';   font-style: normal;   font-display: auto;   font-weight: 500;
  src: url(../assets/fonts/Roboto-Medium.woff2) format('woff2'),
  url(../assets/fonts/Roboto-Medium.woff) format('woff'),
  url(../assets/fonts/Roboto-Medium.otf) format('opentype'); }
@font-face {   font-family: 'Roboto';   font-style: normal;   font-display: auto;   font-weight: 700;
  src: url(../assets/fonts/Roboto-Bold.woff2) format('woff2'),
  url(../assets/fonts/Roboto-Bold.woff) format('woff'),
  url(../assets/fonts/Roboto-Bold.otf) format('opentype'); }


*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  outline-style: none;
  margin: 0;
  padding: 0;
}
// link
a, a:hover, a:focus, a:link, a:visited, a:-webkit-any-link, a:link{
    text-decoration: none;
}
// list
ul,ol,li,dl,dt,dd{
  list-style: none;
}
// form, input, button
fieldset , select {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
}
select{
  border-radius:0;
  background-color: transparent;
}
input{
  border-width: 0px;
  border-style: none;
  border-image: none;
  border-color: transparent;
}
input, select, img, button,textarea{
  vertical-align: middle;
  font: 400 12px/16px $font-family
}
//input[type=password] {
//  font-family: Arial;
//}
input:active, input:focus, button:active, button:focus, select:active, select:focus {
  outline: none !important;
}
*::-webkit-input-placeholder { color: $C7 !important; }
*::-moz-placeholder { color: $C7 !important; }
*:-ms-input-placeholder { color: $C7 !important; }
*:-moz-placeholder { color: $C7 !important; }
button{
  border-radius:0;
  background-color: transparent;
  border: none;
}
// default
html,body{
  font-family: $font-family, Arial, sans-serif !important;
  font: 400 12px/20px $font-family;
  color: $C8;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: auto;
  position:relative;
  //min-width: $body-min-width;
  @extend %fit;
  .main-section{
    font: 400 12px/20px $font-family !important;
  }
}
//text
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
//float
.float-left{float: left;}
.float-right{float: right;}
.clear-both{clear: both;}
//display
.inline-block{
  display: inline-block;
  *display:inline;
  *zoom:1;
}
//code
.code-ex{
  margin: 20px 0;
  text-align: left;
  h3{
    margin-bottom: 5px;
  }
}
code{
  font-family: Roboto;
  display: block;
  color: #000;
  position: relative;
  margin: .5em 0;
  box-shadow: -1px 0 0 0 #dae8ef, 0 0 0 1px #dfdfdf;
  border-left: 10px solid #dae8ef;
  overflow: visible;
  padding: 0;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  div{
    font-size: 16px;
    line-height: 25px;
    white-space: pre-wrap;
    &:nth-child(odd){
      background: rgba(69,142,209,.05) ;
    }
  }
  .code-title{
    text-indent: 5px;
    color:#6DBF1C;
    font-size: 18px;
    font-weight: bold;
  }
}
/* END Style Reset */
