/* START Style Layout */
@import "style.common";
html,body{
  .main-section,.contents-container{
    @extend %fit;
    overflow:hidden;
  }
}
.main-section{
  &.icon-menu{
    .menu-section{
      width:$simple-menu-width;
      .menu-content-container {
        overflow:visible;
      }
    }
    .contents-section{
      margin-left:$simple-menu-width;
      position:relative;
    }
    .common-section{
      min-width:1220px;
    }
  }
  .menu-section{
    width:$menu-width;
    position:fixed;
    top:$header-height;
    left:0;
    z-index:1005;
    height:calc(100% - #{$header-height});
    .menu-content-container {
      overflow-y:auto;
    }
  }
  .contents-section{
    position:relative;
    top:$header-height;
    margin-left:$menu-width;
    height:calc(100% - #{$header-height});
    overflow-y:auto;
    background-color:$C0;
    .common-section{
      width:100%;
      min-height:calc(100% - #{$footer-height});
      padding:0;
      min-width:1100px;
    }
    .model-section{
      .filter-input{
        width:200px;
      }
    }
    .common-container{
      width:100%;
      position:relative;
      padding:15px 20px;
    }
    .common-header-title{
      height:$content-title-height;
      text-align:left;
      font-size:$content-title-font;
      font-weight:bold;
      line-height:20px;
    }
    .sub-menu-wrap{
      height:40px;
      padding:0 0 10px 0;
      text-align:left;
      background:transparent;
      border:none;
      display:inline-block;
      .ui-menuitem-text{
        font-size:$font-03;
        font-weight:bold;
      }
      li{
        margin:0;
        vertical-align:top;
        &.ui-menuitem-active{
          opacity:1;
          background:$main-color;
        }
        .ui-menuitem-link{
          color:$C0;
          background:rgba(70, 136, 232, 0.7);
          padding:8px 13px;
          width:150px;
          height:30px;
          &:hover, &.ui-state-active{
            opacity:1;
            background:$main-color;
          }
          .ui-submenu-icon{
            float:right;
          }
        }
      }
      .ui-submenu{
        ul{
          width:150px;
          padding:0;
          border:none;
          li{
            border-top:1px $C0 solid;
            a{
              padding:5px 13px;
            }
          }
        }
      }
    }
    .common-content{
      position:relative;
      display:inline-block;
      padding:20px;
      border:$table-main-border;
      width:100%;
      color:$C8;
    }
  }

}
#test-wrap{
  height:calc(100% - 30px);
  .common-container{
    height:100%;
  }
  .common-content{
    width:40%;
    height:calc(100% - 75px);
  }
  &.common-section{
    min-height:700px;
  }
  &.bqa-test{
    .common-content{
      width:610px;
    }
  }
}
//dialog
#common-dialog-section{
  height:calc(100% - 30px);
  .common-container{
    height:100%;
  }
}
.common-dialog-content{
  position:relative;
  display:inline-block;
  padding:20px;
  border:$table-main-border;
  color:$C8;
  height:calc(100% - 75px);
  width:calc(50% - 12px);
  margin-right:10px;
  vertical-align:top;
}
.common-dialog-wrap, .common-dialog-container{
  height:100%;
}
.dialog-title-wrap{
  border-bottom:$table-main-border;
}
.dialog-title, .dialog-btn-wrap{
  height:30px;
  font-size:$content-title-font;
  display:inline-block;
  vertical-align:text-top;
}
.dialog-btn-wrap{
  float:right;
}
.dialog-content-wrap {
  height:calc(100% - 130px);
  margin:30px 15px;
  .common-table-section{
    padding:0;
    border:none;
  }
}
.dialog-tree{
  overflow:scroll;
  table, .ui-widget-content{
    border:none;
  }
  thead{
    display:none;
  }
  tbody{
    margin-top:10px;
    &:first-child{
      margin-top:0;
    }
  }
  .ui-treetable-toggler{
    background:$C2;
    width:16px;
    height:16px;
    border-radius:50%;
    padding-top:2px;
    margin-right:5px;
  }
  .ui-treetable {
    input{
      display:inline-block;
      width:120px;
      height:$input-height;
      text-align:center;
      border:1px solid $C6;
      border-radius:2px;
      padding:7px;
      background:$C0;
    }
    .btn-download{
      padding:0;
      background:$main-color;
      border-radius:18px;
      width:36px;
      height:36px;
      color:$C0;
    }
    .ui-state-highlight{
      background:none;
      input{
        border-color:$main-color;
        color:$main-color;
      }
      a{
        color:#222222;
      }
    }
  }
  .ui-treetable .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover{
    background:transparent;
  }
}
.dialog-bottom-wrap{
  text-align:right;
}
.word-add-wrap{
  min-height:44px;
  max-height:256px;
  border:$table-main-border;
  border-radius:2px;
  margin-top:5px;
  padding:0 10px 10px;
  overflow-y:auto;
}
//footer
.footer-section{
  width:100%;
  height:$footer-height;
  position:relative;
  padding:0 20px;
  display:inline-block;
  font-size:$font-01;
  color:$C7;
	border-top:1px solid #e5e5e5;
  @extend %flex;
  div{
    line-height:calc(#{$footer-height} - 5px);
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
  }
}
/* END Style Layout */


/* ===== MINDsLab. UX/UI Team. YMJ. 20180411 ===== */
/* [reset css] */
* {font-family:'Noto Sans KR', sans-serif;  -webkit-text-size-adjust:antialiased; -moz-osx-font-smoothing:grayscale; word-breka:keep-all;}
html,body {margin:0; padding:0; width:100%; height:100%; font-family:'Noto Sans KR', sans-serif; background:#fff; font-size:12px; color:#222c46; line-height:18px;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,legend,em,span {margin:0; padding:0; font-family:'Noto Sans KR', sans-serif;} 
table {border-spacing:0; border-collapse:collapse; font-family:'Noto Sans KR', sans-serif;}
th, td {word-break:break-all;}
form,fieldset {display:block;}
form,fieldset,img {border:none;} 
address,caption,cite,code,dfn,em,th,var {font-style:normal; font-weight:normal;} 
ol,ul,li {list-style:none;} 
/*h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}*/
abbr,acronym {border:none;} 
hr {display:none;}
a {text-decoration:none; color:#000; cursor:pointer; font-family:'Noto Sans KR', sans-serif;}
a:link,a:visited {text-decoration:none;}
a:hover,a:active,a:focus {color:#333; text-decoration:none;}
textarea {overflow:auto; resize:none;} 
html:first-child select {padding-right:6px; height:20px;} /* opera 9 & below fix */ 
option {padding-right:6px;} /* firefox fix */
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* for screen reader */ 
pre {word-wrap:break-word;}
label {font-family:'Noto Sans KR', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family:'Noto Sans KR', sans-serif;}
br {background:none !important;}
img {vertical-align:top;}
a:focus, input:focus, textarea:focus, button:focus {outline:none !important;}

/*
clear:both; display, position(top,left), float, overflow
(min-width, width), (min-height, height) (margin,padding)
font(text-indent, text-align, font-weight, font-size, line-height, font-family, color)
border, background
cursor, z-index, zoom
*/

/* header */
.header-section {padding:0 !important; background:#121b20 !important;}

/* header_sta */
.sta {clear:both; height:50px; padding:7px 15px;}
.sta h1 {float:left; width:165px; padding:0 15px 0 0; color:#0066ff; font-size:22px; font-weight:500; line-height:36px; letter-spacing:-1px;}
.sta .path {float:left; margin:0 0 0 20px; color:#999 !important; line-height:36px;}
.sta .path .ui-breadcrumb a {color:#999 !important;}

.sta .fl {float:left;}
.sta .fr {float:right;}
.sta .fr .dark-dropdown {height:36px; line-height:36px; border:none; box-shadow:none !important; transition:all 0.3s ease-out;}
.sta .fr .dark-dropdown label.ui-dropdown-label {height:36px; padding:0 25px 0 15px;}
.sta .fr .custom-dropdown .ui-dropdown-trigger {right:5px;}
.sta .fr .custom-dropdown .ui-dropdown-trigger .fa {line-height:36px;}

.sta .fr .dark-dropdown.ui-dropdown-open {border:1px solid #0066ff !important; background:#2e323c !important; transition:all 0.3s ease-out;}
.sta .fr .dark-dropdown.ui-dropdown-open label.ui-dropdown-label {background:#2e323c !important;}
.sta .fr .dark-dropdown.ui-dropdown-open .ui-dropdown-trigger {background:#2e323c !important;}
.sta .fr .dark-dropdown .ui-dropdown-list  {padding:0; border:1px solid #0066ff !important; border-top:none !important; background:#2e323c !important;}
.sta .fr .dark-dropdown .ui-dropdown-list li {min-height:26px !important; padding:5px 10px !important; color:#fff !important; line-height:26px !important;}
.sta .fr .custom-dropdown > .ui-widget-content .ui-state-highlight {color:#0066ff !important; background:#2e323c !important;}
.ui-dropdown .ui-dropdown-panel {width:calc(100% + 2px); top:36px !important; left:-1px !important;}

.sta .fr .bgBox_b {float:left; height:36px; margin:0 0 0 10px; padding:0 15px; line-height:36px; background:#222b30 !important;}
.sta .fr .bgBox_b > dt {float:left; margin:0 10px 0 0; color:#777;}
.sta .fr .bgBox_b > dd {float:left; color:#fff;}

.sta .fr .header-user-info {height:36px; transition:all 0.3s ease-out;}
.sta .fr .header-user-info:hover:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%;  border:1px solid #0066ff !important; border-bottom:none !important; transition:all 0.3s ease-out;}
.sta .fr .header-user-info img {width:17px !important; height:17px !important; vertical-align:middle !important; opacity:0.3;}
.sta .fr .ui-helper-hidden-accessible {height:0 !important; display:none !important;}
.sta .fr .header-user-info .user-info-detail {top:36px !important; right:0 !important; border:none !important; background-color:#222b30 !important;}
.sta .fr .header-user-info:hover .user-info-detail {border:1px solid #0066ff !important; border-top:none !important; transition:all 0.3s ease-out;}
.sta .fr .header-user-info .user-info-detail li {height:36px !important; padding:0 10px !important; color:#fff !important; line-height:36px !important; border-top:1px solid rgba(0,0,0,0.3) !important; transition:all 0.3s ease-out;}
.sta .fr .header-user-info .user-info-detail li:hover {color:#0066ff !important; transition:all 0.3s ease-out;}
.sta .fr .header-user-info .user-info-detail li img {width:15px !important; height:15px !important;  margin-top:0 !important; vertical-align:middle !important; opacity:0.5;}

/* snb */
.main-section .menu-section {top:49px; height:calc(100% - 49px);}
.main-section .menu-section .menu-content-container {background:#434a5a;}
.menu-content-container .menu-container {border-bottom:1px solid #2e323c !important;}
//.menu-content-container .menu-container.selected .parent-menu {background:#0066ff !important;}
.menu-content-container .menu-container.selected .parent-menu.selected {background:#0066ff !important;}
.menu-content-container .menu-container.focus .parent-menu {background:#0066ff !important;}
.menu-content-container .menu-container.focus .parent-menu:hover span.name {color:#fff !important; transition:all 0.2s ease-out;}
.menu-content-container .menu-container .parent-menu {padding-left:15px !important;}
.menu-content-container .menu-container .parent-menu > span {color:#fff; transition:all 0.2s ease-out;}
.menu-content-container .menu-container .parent-menu:hover span.name {color:#0066ff !important; transition:all 0.2s ease-out;}
.menu-content-container .menu-container .parent-menu .icon {width:20px !important;  margin-right:10px !important; font-size:20px; opacity:0.3 !important;}
.menu-content-container .menu-container .parent-menu .icon i {width:100%;}
.menu-content-container .menu-container .parent-menu .up-down {opacity:0.3 !important;}

.menu-content-container .menu-container .child-menu .child-menu-item {position:relative; color:#ccc !important; background:#2e323c !important; transition:all 0.2s ease-out;}
.menu-content-container .menu-container .child-menu .child-menu-item:hover {color:#0066ff !important; transition:all 0.2s ease-out;}
.menu-content-container .menu-container .child-menu .child-menu-item.selected {color:#0066ff !important; background:#2e323c !important; }

.main-section.icon-menu .menu-content-container .menu-container .parent-menu .icon {width:20px !important; margin-right:10px !important; font-size:20px; opacity:0.8 !important;}
.main-section.icon-menu .menu-content-container .menu-container:hover .parent-menu {background:#0066ff !important;}
.main-section.icon-menu .menu-content-container .menu-container.selected .parent-menu {background:#0066ff !important;}

.main-section.icon-menu .menu-content-container .menu-container .child-menu {color:#fff; background:#0066ff !important; transition:all 0.2s ease-out;}
.main-section.icon-menu .menu-content-container .menu-container .child-menu .child-menu-item {color:#fff !important; border-bottom:1px solid #000 !important; background:#2e323c !important;}
.main-section.icon-menu .menu-content-container .menu-container .child-menu .child-menu-title {color:#fff !important; border-bottom:1px solid #000 !important; background:#2e323c !important;}

.menu-content-container .sub-container .parent-menu {background:#2e323c !important;}

/* contents */
#container {height:calc(100% - 30px);}
.if_container {height:calc(100% - 30px);}
// #contents {display:block; height:100%; background:#ebf0f3;} 
#contents {display:block; height:100%; background:$C0;} 
.contents {overflow:auto; height:100%;}

/* section title */
.titleBox {display:table; position:relative; width:100%; min-height:36px; padding:35px 30px 10px 30px; border-bottom:1px solid #e5e5e5; background:#fff;}
.titleBox h3 {float:left; color:#000; font-size:20px; font-weight:600; line-height:36px; letter-spacing:-1px;}

/* section setup */
.setupArea {float:right; vertical-align:middle;}
.setupArea .selectBox {float:left; border:1px solid #b1babe; border-radius:2px;}

.selectBox .custom-dropdown {height:34px !important; line-height:34px !important; box-shadow:none;}
.selectBox .ui-dropdown .ui-dropdown-panel {top:34px !important}
.selectBox .ui-widget-content {background:#fff !important;}
.selectBox .ui-dropdown-panel .ui-dropdown-list {padding:0;}
.selectBox .ui-dropdown-panel .ui-dropdown-list li {padding:5px; color:#666;}
.selectBox .custom-dropdown label.ui-dropdown-label {color:#333;}
.selectBox .custom-dropdown > .ui-widget-content .ui-state-highlight {color:#fff !important; background:#0066ff !important;}

.radioBox {float:left; margin:0 0 0 20px;}
.radioBox .radio-item {width:auto !important; margin:0 0 0 10px; line-height:34px;}
.radioBox .radio-item:first-child {margin:0;}
.radioBox .ui-radiobutton {margin:0 2px 0 0; }
.radioBox .ui-state-default {border:1px solid #b1babe; background:#f1f1f1 !important;}
.radioBox .ui-state-active {border:1px solid #b1babe; background:#0066ff !important;}

.setupArea .srchBox {float:left; margin:0 10px 0 0;  padding:0;}
.setupArea .srchBox .ipt_txt {display:inline-block; float:left; width:180px; height:34px; border-radius:2px 0 0 2px;}
.setupArea .srchBox button {float:left; overflow:hidden; height:34px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; text-indent:-999px; border:1px solid #0066ff; border-radius:0 2px 2px 0; background:#0066ff url(../assets/images/ico_srch_w.png) 50% 50% no-repeat;transition:all 0.3s ease-out;}

.setupArea .dateBox {float:left; height:32px; margin:0 0 0 10px; line-height:32px; border:1px solid #b1babe; border-radius:2px;}
.dateBox .ui-calendar {width:110px !important; padding:0 10px 0 7px;}
.dateBox .ui-widget-content {margin:0 0 0 18px; border:1px solid #b1babe; background:#fff !important;}

.ui-datepicker .ui-datepicker-header {padding:3px; background:#434a5a;}
.ui-datepicker .ui-datepicker-header a {border-radius:2px; background:rgba(255,255,255,0.2); transition:all 0.3s ease-out;}
.ui-datepicker .ui-datepicker-header a:hover {background:rgba(0,102,255,1); transition:all 0.3s ease-out;}
.ui-datepicker .ui-datepicker-prev {top:3px; left:3px;}
.ui-datepicker .ui-datepicker-next {top:3px; right:3px;}
.ui-datepicker .ui-datepicker-title select {height:23px; margin:0; vertical-align:top; border:1px solid #434a5a; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.ui-datepicker .ui-datepicker-title select:focus {border:1px solid #0066ff; transition:all 0.3s ease-out;}
.ui-datepicker select.ui-datepicker-year {width:40%;}
.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {color:#fff !important; background:#0066ff !important;}

.setupArea .btnBox {float:left; margin:0 0 0 15px;}
.setupArea .btnBox button {float:left;  height:34px; margin:0 0 0 5px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; border:1px solid #b1babe; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.setupArea .btnBox button img {display:inline-block; margin:-2px 7px 0 0; vertical-align:middle; opacity:0.5; }
.setupArea .btnBox button:hover {color:#315efb; border:1px solid #0066ff; transition:all 0.3s ease-out;}
.setupArea .btnBox button.point {color:#fff; border:1px solid #0066ff; background:#0066ff; transition:all 0.3s ease-out;}


.ui-chkbox .ui-chkbox-box {background:#ebf0f3;}

.stn {clear:both; overflow:hidden; padding:20px 30px;}

.titleBox .tabStyle01 {position:absolute; top:0; right:0; background:none; vertical-align:top; z-index:100;}
.titleBox .ui-widget-content {background:none;}
.titleBox .tabStyle01 ul {}
.titleBox .tabStyle01 ul li {overflow:hidden; height:36px !important; line-height:36px !important; box-shadow:none; border:none; border-radius:5px 5px 0 0;}
.titleBox .tabStyle01 ul li.ui-state-default {top:0; margin:0 5px 0 0; background:none;}
.titleBox .tabStyle01 ul li a {display:block; height:36px !important; margin:0; padding:0; color:#5b69ab; font-weight:bold; line-height:36px !important; box-shadow:none;}
.titleBox .tabStyle01 ul li a:hover {color:#0b6cd5;}
.titleBox .tabStyle01 ul li a span {margin:0 7px 0 0;}
.titleBox .tabStyle01 ul li.ui-state-active {height:36px !important; line-height:36px !important; background:#fff; box-shadow:0 -1px 2px #c8d3ed;}
.titleBox .tabStyle01 ul li.ui-state-active a {height:36px !important; line-height:36px !important; color:#0b6cd5;}

.tabStyle01_container {clear:both; overflow:hidden; border-radius:5px; background:#fff;}

/* Aside (챗봇테스트) */
.right-column {overflow:hidden; border-radius:7px; border:1px solid #cfd5d8;}
.right-column-toggle-btn .btn {border:1px solid #cfd5d8; border-right:none; background:#cfd5d8;}
.right-column-toggle-btn .btn i.icon-right {color:#0c6bd8;}

.chatbotWrap {display:block; position:relative; height:100%; padding:0 0 44px 0; background:#eaeff9;}
	
/*  chatbot header */
.chatbotWrap .chatbot_hd {display:block; overflow:hidden; padding:10px; height:46px; box-shadow:0 1px 2px #cfd5d8; background:#f6f8fd;}
.chatbotWrap .chatbot_hd h3 {float:left; color:#16236c; line-height:26px;}
.chatbotWrap .chatbot_hd ul.btnBox {float:right;}
.chatbotWrap .chatbot_hd ul.btnBox li {float:left; margin:0 0 0 5px;}
.chatbotWrap .chatbot_hd ul.btnBox li button {display:block; height:26px; padding:0 8px; color:#262626; line-height:24px; border:1px solid #cfd5d8; background:#fff;  transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_hd ul.btnBox li button:hover {color:#4688E8; border:1px solid #4688E8; background:#fff; transition:all 0.3s ease-out;}

/* chatbot body */
.chatbotWrap .chatbot_bd {overflow:auto; width:100%; height:calc(100% - (46px));}
.chatbotWrap .chatbot_bd .talkLst {clear:both; overflow:auto; padding:10px 0; margin:0;}
.chatbotWrap .chatbot_bd .talkLst li {clear:both; overflow:hidden; margin-bottom:5px; padding:5px;}

.chatbotWrap .chatbot_bd .talkLst li a {color:blue; text-decoration:underline;}
.chatbotWrap .chatbot_bd .talkLst li em {font-style:normal;}

.chatbotWrap .chatbot_bd .talkLst li.bot {text-align:left; vertical-align:bottom;}
.chatbotWrap .chatbot_bd .talkLst li.bot .thumb {float:left; overflow:hidden; width:40px; height:40px; margin:3px 0 0 0; border-radius:30px;}
.chatbotWrap .chatbot_bd .talkLst li.bot .thumb img {width:100%; height:100%;}
.chatbotWrap .chatbot_bd .talkLst li.bot .cont {float:left; max-width:270px; margin:0;}
.chatbotWrap .chatbot_bd .talkLst li.bot .cont .name {display:block; padding:0 0 5px 10px; color:#999; font-size:12px; line-height:14px; font-style:normal;}
.chatbotWrap .chatbot_bd .talkLst li.bot .cont .txt {position:relative; display:inline-block; max-width:235px; margin:0 5px 0 10px; padding:10px; color:#555; font-size:12px; font-style:normal; line-height:22px; border-radius:0 10px 10px 10px; background:#fff; box-shadow:1px 1px 3px #c1cde9; cursor:pointer; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_bd .talkLst li.bot .cont .txt:after {content:''; position:absolute; top:0; left:-10px; border-bottom:5px solid transparent; border-right:20px solid #fff; border-bottom:20px solid transparent;}
.chatbotWrap .chatbot_bd .talkLst li.bot .cont .txt:hover {box-shadow:2px 2px 5px #a2b5df; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_bd .talkLst li.bot .cont .txt.active {color:#fff; background:#0c6bd8; box-shadow:2px 2px 5px #a2b5df; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_bd .talkLst li.bot .cont .txt.active:after {border-right:20px solid #0c6bd8;}

.chatbotWrap .chatbot_bd .talkLst li.user {text-align:right; vertical-align:bottom; padding-right:15px;}
.chatbotWrap .chatbot_bd .talkLst li.user .cont {float:right; max-width:270px; margin:0;}
.chatbotWrap .chatbot_bd .talkLst li.user .cont .txt {position:relative; display:inline-block; max-width:180px; margin:0 0 2px 5px; padding:10px; color:#fff; font-style:normal; border-radius:10px; background:#39b2cc; box-shadow:1px 1px 3px #c1cde9;}
.chatbotWrap .chatbot_bd .talkLst li.user .cont .txt:after {content:''; position:absolute; top:0; right:-10px; border-bottom:5px solid transparent; border-left:20px solid #39b2cc; border-bottom:20px solid transparent;}

.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic {display:block; max-width:255px; margin:0 20px 10px 55px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; box-shadow:1px 1px 3px #c1cde9; background:#fff; cursor:pointer; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic .generic_image {display:block; overflow:hidden; position:relative; width:100%; max-height:150px; vertical-align:middle; background:#0c6bd8 url(../assets/images/ico_ai.png) 50% 50% no-repeat;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic .generic_image img {width:100%; border:none; box-shadow:none;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic .generic_title {}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic .generic_url {display:block; padding:7px 12px;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic .generic_url a {padding:0 12px 0 0; color:#0c6bd8; font-size:12px; line-height:22px; text-decoration:none; background:url(../assets/images/ico_link_arrow.png) right 50% no-repeat;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic .generic_url a:hover {text-decoration:underline;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic .generic_description {display:block; padding:0 12px 10px 12px; color:#333;  font-size:13px; line-height:18px;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_generic:hover {box-shadow:2px 2px 5px #a2b5df; transition:all 0.3s ease-out;}

.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst {display:block; max-width:255px; margin:0 20px 10px 55px; padding:0; text-align:left; vertical-align:bottom; border-radius:10px; background:#fff; box-shadow:1px 1px 3px #c1cde9; cursor:pointer; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst .txt {display:block; padding:13px; color:#333; font-size:12px; border-bottom:1px solid #dadada;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst ul {display:block;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst ul li {display:block; margin:0; padding:0; border-bottom:1px solid #f1f1f1;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst ul li:last-child {border:none;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst ul li a {display:block; padding:10px 0; color:#0c6bd8;  font-size:12px; text-align:center; text-decoration:none; line-height:22px;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst ul li a:hover {text-decoration:underline;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnLst:hover {box-shadow:2px 2px 5px #a2b5df; transition:all 0.3s ease-out;}
	
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnItem {display:block; max-width:255px; margin:0 20px 10px 55px; padding:0; text-align:left; vertical-align:bottom;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnItem .txt {display:block; padding:13px; color:#333; font-size:12px; border-bottom:1px solid #dadada;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnItem ul {display:block;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnItem ul li {clear:none; overflow:visible; float:left; margin:0 10px 10px 0; padding:0; border-bottom:1px solid #f1f1f1;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnItem ul li:last-child {border:none;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnItem ul li a {display:block; padding:5px 15px; color:#0c6bd8; font-size:12px; text-align:center; text-decoration:none; line-height:22px; border-radius:20px; background:#fff; box-shadow:1px 1px 3px #c1cde9;}
.chatbotWrap .chatbot_bd .talkLst li.botMsg_btnItem ul li a:hover {text-decoration:underline; box-shadow:2px 2px 5px #a2b5df; transition:all 0.3s ease-out;}
	
/* chatbot footer */
.chatbotWrap .chatbot_ft {display:block; position:relative; padding:0 3px 3px 3px;}
.chatbotWrap .chatbot_ft .textArea {display:block; width:100%; height:40px; padding:5px 40px 5px 10px; color:#333; font-size:12px; line-height:26px; border:1px solid #cfd5d8; border-radius:5px; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_ft .textArea:focus {border:1px solid #0c6bd8; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_ft .btn_submit {overflow:hidden; position:absolute; top:3px; right:6px; width:34px; height:34px; padding:0; text-indent:-999px; border-radius:3px; background:#0c6bd8 url(../assets/images/ico_chat_submit.png) 50% -34px no-repeat; transition:all 0.3s ease-out;}
.chatbotWrap .chatbot_ft .btn_submit:hover {background:#0c6bd8 url(../assets/images/ico_chat_submit.png) 50% -34px no-repeat; transition:all 0.3s ease-out;}
	
.chatLoading {margin:100px auto 0; width:70px; text-align:center;}
.chatLoading > b {width:10px; height:10px; background-color:#0c6bd8;; border-radius:100%; display:inline-block; -webkit-animation:chat-bouncedelay 1.4s infinite ease-in-out both; animation:chat-bouncedelay 1.4s infinite ease-in-out both;}
.chatLoading .chatLoading_item01 {-webkit-animation-delay:-0.32s; animation-delay:-0.32s;}
.chatLoading .chatLoading_item02 {-webkit-animation-delay:-0.16s; animation-delay:-0.16s;}

@-webkit-keyframes chat-bouncedelay {
0%, 80%, 100% {-webkit-transform:scale(0)}
40% {-webkit-transform:scale(1.0)}
}

@keyframes chat-bouncedelay {
0%, 80%, 100% {-webkit-transform:scale(0); transform:scale(0);} 
40% {-webkit-transform:scale(1.0); transform:scale(1.0);}
}

/*  debug header */
.debugBox {display:block; position:absolute; top:81px; left:0; width:100%; height:calc(100% - 81px); background:#fff; z-index:9999;}
.debugSection {display:block;overflow:hidden; height:100%; margin:0 10px 0 0; border:1px solid #cfd5d8; border-radius:7px;}
	
/* debug header */
.titBox {display:block; overflow:hidden; padding:10px 15px; height:46px; border-bottom:1px solid #cfd5d8; background:#f6f8fd;}
.titBox h3 {float:left; color:#16236c; line-height:26px;}
.titBox ul.btnBox {float:right;}
.titBox ul.btnBox li {float:left; margin:0 0 0 5px;}
.titBox ul.btnBox li button {display:block; height:26px; line-height:24px; border:1px solid #cfd5d8; background:#fff; transition:all 0.3s ease-out;}
.titBox ul.btnBox li button:hover {color:#4688E8; border:1px solid #4688E8; transition:all 0.3s ease-out;}
.titBox ul.btnBox li button.btn_close {overflow:hidden; width:28px; height:28px; padding:0; text-indent:-999px; background:#fff url(../assets/images/btn_close.png) 50% 0 no-repeat;}
.titBox ul.btnBox li button.btn_close:hover {background-position:50% -26px;}

/*  debug contents */
.contBox {display:block; height:calc(100% - 46px); background:#fff;}
	
.lot_tbl {display:table; width:100%; padding:15px 0; border-bottom:1px solid #cfd5d8;}
.lot_tbl .h4Box {display:table-cell; width:50%; padding:10px 20px;}
.lot_tbl .h4Box.bro03 {width:33.33333%;}
.lot_tbl .h4Box.bro04 {width:25%;}
.lot_tbl .h4Box.bro05 {width:20%;}
.lot_tbl .h4Box .tit {clear:both; overflow:hidden; margin:0 0 10px 0;}
.lot_tbl .h4Box .tit h4 {color:#262626; font-size:12px; font-weight:normal;}
.lot_tbl .h4Box .cont {color:#222; font-size:16px;}
.contBox .lot_tbl:last-child {padding-bottom:0; border:none;}

.h4Box .tit ul.btnBox {float:right;}
.h4Box .tit ul.btnBox li {float:left; margin:0 0 0 5px;}
.h4Box .tit ul.btnBox li button {display:block; height:34px; color:#262626; line-height:32px; border:1px solid #cfd5d8; background:#fff; transition:all 0.3s ease-out;}
.h4Box .tit ul.btnBox li button:hover {color:#4688E8; border:1px solid #4688E8; background:#fff; transition:all 0.3s ease-out;}
.h4Box .tit ul.btnBox li button img {display:inline-block; margin:-2px 7px 0 0; vertical-align:middle; opacity:0.5; transition:all 0.3s ease-out;}
.h4Box .tit ul.btnBox li button:hover img {opacity:0.8; transition:all 0.3s ease-out;}

/*  debug contents */
ul.treeDepth {display:block;}
ul.treeDepth li {float:left; margin:0 10px 0 0; padding:0 17px 0 0; background:url(../assets/images/ico_arrow01_left.png) right 50% no-repeat;}
ul.treeDepth li:last-child {margin:0; padding:0; background:none;}

/* dl Style */
.dlStyle01 {display:table; width:100%; margin:0 0 20px 0; vertical-align:top; border:1px solid #cfd5d8; border-radius:5px;}
.dlStyle01 dt {display:table-cell; width:100px; padding:7px 10px; color:#3b53a2; font-size:12px; vertical-align:top; border-right:1px solid #cfd5d8; background:#f6f8fd;}
.dlStyle01 dd {display:table-cell; padding:7px 10px; color:#333; font-size:12px; vertical-align:top;}
.lot_tbl .cont .dlStyle01:last-child {margin:0 0 10px 0;}
	
.dlStyle01 dd ol {display:block;}
.dlStyle01 dd ol li {display:table; width:100%; margin:0 0 7px 0;}
.dlStyle01 dd ol li:last-child {margin:0;}
.dlStyle01 dd ol li div.num {display:table-cell; width:30px; color:#9aa9d4;}
.dlStyle01 dd ol li div.txt {display:table-cell;}
.dlStyle01 dd ol li div.gaugeBox_s {display:table-cell; position:relative; width:120px; padding:0 40px 0 0;}
.dlStyle01 dd ol li div.gaugeBox_s span {display:block; position:relative; height:4px; margin:4px 0 0 0; background:#c4cce5;}
.dlStyle01 dd ol li div.gaugeBox_s span em {position:absolute; height:4px; font-style:normal;}
.dlStyle01 dd ol li div.gaugeBox_s b {position:absolute; top:2px; right:0;  color:#9aa9d4; font-weight:normal;}
	
.dlStyle01 dd ol li:nth-child(1) div.gaugeBox_s span em {background:#f75c4a;}
.dlStyle01 dd ol li:nth-child(2) div.gaugeBox_s span em {background:#f79f4a;}
.dlStyle01 dd ol li:nth-child(3) div.gaugeBox_s span em {background:#f7d44a;}

/* keyword */
ul.keywordLst {display:block;}
ul.keywordLst li {float:left; min-width:100px; margin:0 10px 0 0; padding:5px 10px; color:#999; font-size:11px; text-align:center; border:2px solid #0c6bd8; border-radius:5px; background:#fff;}
ul.keywordLst li span {display:block; color:#0c6bd8;  font-size:14px; font-weight:bold;}

/* gauge */
.gaugeBox {position:relative; padding:80px 0 0 0;}
.gaugeBox:before {content:''; position:absolute; top:18px; width:100%; height:3px; background:#cfd5d8;}
.gaugeBox li {position:absolute; top:10px;}
.gaugeBox li:nth-child(1) {left:0;}
.gaugeBox li:nth-child(2) {left:50%; width:100px; margin:0 0 0 -50px; text-align:center;}
.gaugeBox li:nth-child(3) {right:0; text-align:right;}
.gaugeBox li:before {content:''; position:absolute; top:0; width:18px; height:18px; border-radius:20px; background:#cfd5d8;}
.gaugeBox li:nth-child(3):before {right:0;}
.gaugeBox li span {display:block; padding:20px 0 0 0; font-size:12px; color:#9aa9d4;}
.gaugeBox li.active:before {background:#0c6bd8;}
.gaugeBox li.active span {color:#0c6bd8;}

/* table Style */
.tblBox {clear:both; overflow:hidden; border:1px solid #cfd5d8; border-radius:5px;}

.tblStyle01 {width:100%;}
.tblStyle01 thead {display:block; width:100%;}
.tblStyle01 thead tr {display:table; width:100%;}
.tblStyle01 thead tr th {display:table-cell; padding:7px 10px; color:#3b53a2; font-size:12px; text-align:center; border-bottom:1px solid #cfd5d8; background:#f6f8fd;}
.tblStyle01 tbody {display:block; overflow:auto; width:100%;max-height:174px;}
.tblStyle01 tbody tr {display:table; width:100%;}
.tblStyle01 tbody tr td {display:table-cell; padding:7px 10px; color:#333; font-size:12px; text-align:center; border-bottom:1px solid #cfd5d8;}
.tblStyle01 tbody tr:last-child td {border:none;}

.tblStyle01 thead tr.row02 th {width:50%;}
.tblStyle01 tbody tr.row02 td {width:50%;}

.tblStyle02 {width:100%;}
.tblStyle02 tbody tr td {padding:5px 10px; font-size:12px; border-bottom:1px solid #e1e1e1;}
.tblStyle02 a {float:left; position:relative; padding:0 5px; color:#315efb; font-weight:bold; vertical-align:middle;}
.tblStyle02 a span {display:block; overflow:hidden; width:26px; height:26px; margin:0 2px; padding:0; color:#315efb; line-height:24px; text-align:center; text-indent:-999px; border:1px solid rgba(0,0,0,0.2); border-radius:2px; -webkit-transition:all 0.3s ease-out;}
.tblStyle02 a:hover {color:#315efb; text-decoration:underline;}
.tblStyle02 a:hover span{border:1px solid rgba(0,0,0,0.4); transition:all 0.3s ease-out;}

.tblStyle02 a.modify_btn {width:26px;}
.tblStyle02 a.modify_btn span {background:#fff url(../assets/images/ico_edit_g.png) 50% 50% no-repeat;}
.tblStyle02 a.modify_btn:hover span{background:#fff url(../assets/images/ico_edit_b.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}
.tblStyle02 a.delete_btn {width:26px;}
.tblStyle02 a.delete_btn span {background:#fff url(../assets/images/ico_remove_g.png) 50% 50% no-repeat;}
.tblStyle02 a.delete_btn:hover span{background:#fff url(../assets/images/ico_remove_b.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}
.tblStyle02 a.up_btn {width:26px; padding:0 0 0 5px;}
.tblStyle02 a.up_btn span {border-radius:2px 0 0 2px;  background:#fff url(../assets/images/ico_up_g.png)50% no-repeat;}
.tblStyle02 a.up_btn:hover span{background:#fff url(../assets/images/ico_up_b.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}
.tblStyle02 a.down_btn {width:26px; padding:0;}
.tblStyle02 a.down_btn span {border-radius:0 2px 2px 0; background:#fff url(../assets/images/ico_down_g.png) 50% 50% no-repeat;}
.tblStyle02 a.down_btn:hover span{background:#fff url(../assets/images/ico_down_b.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}

.ipt_txt {display:block; width:calc(100% - 2px); height:33px; text-indent:10px; border:1px solid #cfd5d8; border-radius:2px; transition:all 0.3s ease-out;}
.ipt_txt:focus {border:1px solid #315efb; transition:all 0.3s ease-out;}

.cont .resultBox {display:block; overflow:auto; max-height:220px; color:#333; font-size:12px; line-height:18px; word-break:normal; border:1px solid #cfd5d8; border-radius:5px;}
.cont .resultBox .dlStyle01 {margin:0; border:none; border-bottom:1px solid #cfd5d8; border-radius:0;}
.cont .resultBox .dlStyle01:last-child {margin:0; border:none;}

.cont .errorBox {display:block; overflow:auto; max-height:340px; padding:7px 15px; color:#333; font-size:12px; line-height:18px; word-break:normal; border:1px solid #cfd5d8; border-radius:5px;}

/* table Style */
.lot_tbl02 {display:table; width:100%; padding:0;}
.lot_tbl02 .h4Box {display:block; padding:0; border:none;}
.lot_tbl02 .h4Box .tit {clear:both; overflow:hidden; margin:0 0 10px 0; text-align:left;}
.lot_tbl02 .h4Box .tit h4 {float:left; color:#262626; font-size:12px; font-weight:normal; line-height:36px;}

.lot_tbl02 .common-content {display:table; width:100%; padding:0 !important; border:none !important;}
.treeTbl {display:table-cell; width:200px; padding-right:50px;  vertical-align:top;}
.treeBox {display:block; width:100%; vertical-align:top;}

.lot_tbl02 .common-content .tblBox {display:table-cell; overflow:hidden; padding:0; vertical-align:top; border:1px solid #cfd5d8; border-radius:5px;}

.lot_tbl02 .common-content .common-table-section {padding:0 !important; border:none !important;}

.ui-state-default {border:none;}
.common-table-section {border:none; background:#fff; box-shadow:0 2px 3px rgba(0,0,0,0.1);}
.ui-treetable tbody td {height:auto !important; padding:7px 10px !important; color:#333; font-size:12px; text-align:center; line-height:18px !important; border:none !important; border-bottom:1px solid #cfd5d8 !important;}
.common-table-section .common-table-contents table {overflow:hidden; border:none !important; border-radius:2px;}
.common-table-section .common-table-contents table thead tr th {height:auto !important; padding:5px 10px !important; color:#fff; font-size:12px; text-align:center; line-height:18px !important; border:none !important; background:#434a5a !important;}
.common-table-section .common-table-contents table tbody tr td {height:auto !important; padding:7px 10px !important; color:#757575; font-size:12px; text-align:center; line-height:18px !important; border:none !important; border-bottom:1px solid #ededed !important;}
.common-table-section .common-table-contents table tbody tr:nth-child(even) td {background:#fff;}
.common-table-section .common-table-contents table tbody tr:last-child td {border-bottom:1px solid #ededed !important;}
.common-table-section .common-table-contents table tbody tr:hover td {background:#f6f8fd ;}


.btn_tbl {display:inline-block; min-width:26px; height:26px; margin:0 2px; padding:0; color:#262626; line-height:24px; text-align:center; border:1px solid #cfd5d8; background:#fff; transition:all 0.3s ease-out;}
.btn_tbl:hover {color:#4688E8; border:1px solid #4688E8; background:#fff; transition:all 0.3s ease-out;}
.btn_tbl img {display:inline-block; margin:-2px 0 0 0; vertical-align:middle; opacity:0.5; transition:all 0.3s ease-out;}
.btn_tbl:hover img {opacity:0.8; transition:all 0.3s ease-out;}

/* pagination */
.common-table-section .common-table-footer .footer-wrap {height:auto;}
.pagination {min-height:26px; margin:10px 0 30px 0;}
.pagination span.page-number {color:#cfd5d8;}
.pagination span.page-number span {margin:0 3px; color:#222c46;}
.pagination span.page-number span.now-page {color:#315efb;}

.pagination span.btn-page {width:26px !important; height:26px !important; margin:0 2px; padding:0; color:#262626; line-height:24px; text-align:center; border:1px solid #cfd5d8; border-radius:2px; background:#fff;  transition:all 0.3s ease-out;}
.pagination span.btn-page:hover {color:#4688E8; border:1px solid #4688E8; opacity:1.0; transition:all 0.3s ease-out;}
.pagination span.btn-first {background:url(../assets/images/ico_pageBtn_first.png) 50% 50% no-repeat !important; opacity:0.5; }
.pagination span.btn-prev {background:url(../assets/images/ico_pageBtn_prev.png) 50% 50% no-repeat !important; opacity:0.5; }
.pagination span.btn-next {background:url(../assets/images/ico_pageBtn_next.png) 50% 50% no-repeat !important; opacity:0.5; }
.pagination span.btn-last {background:url(../assets/images/ico_pageBtn_last.png) 50% 50% no-repeat !important; opacity:0.5; }

/* treeview */
.ui-tree {width:100%;}
.ui-tree.ui-corner-all {position:relative; overflow:auto; height:100%; padding:0; border-radius:3px; background:#fff;}
.ui-tree .ui-tree-container {padding:0;}
.ui-tree .ui-tree-toggler {position:relative; background:#fff;}
.ui-tree .ui-treenode-selectable.ui-treenode-content {padding:7px; border-bottom:1px solid #ededed; transition:all 0.3s ease-out;}
.ui-tree .ui-treenode-selectable.ui-treenode-content:hover {color:#315efb; transition:all 0.3s ease-out;}
.ui-tree .fa-caret-right:before {content:'\f07b'; color:#757575; opacity:0.5; transition:all 0.3s ease-out;}
.ui-tree .fa-caret-down:before {content:'\f07c'; color:#757575;opacity:0.5; transition:all 0.3s ease-out;}

/* modal */
.common-modal-section .common-modal-container {overflow:hidden; top:10px; padding:0; border-radius:5px;}
.common-modal-container .ui-tree.ui-corner-all {max-height:300px;}

.modal_top {clear:both; overflow:hidden; padding:9px 15px; background:#434a5a;}
.modal_top h3 {float:left; color:#fff; font-size:16px; font-weight:100;}
.modal_top .modal-close {float:right; margin:0; color:#fff;}
.modal_top .modal-close i {font-size:20px; font-weight:300;}

.modal_mid {clear:both; overflow:auto; max-height:500px; padding:20px 15px; background:#fff;}
.modal_mid .pickerBox {position:relative;}
.modal_mid .pickerBox h4 {float:left; color:#262626; font-size:12px; font-weight:normal; line-height:34px;}
.modal_mid .pickerBox .treeBox {position:absolute; top:33px;}

.domainPicker {display:inline-block; overflow:hidden; position:relative; width:200px; padding:5px 45px 5px 10px; border:1px solid #ededed; border-radius:5px;}
.domainPicker:after {content:''; position:absolute; top:0; right:0; width:30px; height:100%; border-left:1px solid #ededed; background:#ededed url(../assets/images/ico_domainPicker_g.png) 50% 50% no-repeat;}

.modal_mid .modal_stn {clear:both; overflow:hidden; margin-bottom:15px;}
.modal_mid .modal_stn:last-child {margin:0;}
.modal_mid .modal_stn .tit {clear:both; overflow:hidden; position:relative;}
.modal_mid .modal_stn .tit h4 {float:left; color:#262626; font-size:13px; font-weight:bold; line-height:32px;}
.modal_mid .modal_stn .tit ul.btnLst {float:right; margin:0 0 3px 0;}
.modal_mid .modal_stn .tit ul.btnLst li {float:left; margin:0 0 0 5px;}
.modal_mid .modal_stn .tit ul.btnLst li button {display:block; height:32px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; border:1px solid #ededed; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.modal_mid .modal_stn .tit ul.btnLst li button:hover {color:#315efb; transition:all 0.3s ease-out;}
.modal_mid .modal_stn .tit ul.btnLst li button img {display:inline-block; margin:-2px 7px 0 0; vertical-align:middle; opacity:0.5; transition:all 0.3s ease-out;}
.modal_mid .modal_stn .tit ul.btnLst li button:hover img {opacity:0.8; transition:all 0.3s ease-out;}

.modal_mid .modal_stn .qnaLst {overflow:auto; max-height:200px;}
.modal_mid .modal_stn .qnaLst> li {display:block; overflow:auto; margin:0 0 10px 0; border-radius:2px; background:#f2f4fa;}
.modal_mid .modal_stn .qnaLst> li:last-child {margin:0;}
.modal_mid .modal_stn .qnaLst_dl {display:table; width:100%; vertical-align:top; border-bottom:1px solid #fff;}
.modal_mid .modal_stn .qnaLst_dl dt {display:table-cell; width:60px; padding:7px 10px; color:#262626; font-size:12px; vertical-align:top;}
.modal_mid .modal_stn .qnaLst_dl dd {display:table-cell; padding:5px; color:#333; font-size:12px; vertical-align:top;}
.modal_mid .modal_stn .qnaLst_dl dd  ul.btnBox li button {display:block; height:34px; padding:0 10px; color:#262626; line-height:32px; border:1px solid #cfd5d8; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.modal_mid .modal_stn .qnaLst_dl dd  ul.btnBox li button:hover {color:#4688E8; border:1px solid #4688E8; background:#fff; transition:all 0.3s ease-out;}
.modal_mid .modal_stn .qnaLst_dl dd  ul.btnBox li button img {display:inline-block; margin:-2px 0 0 0; vertical-align:middle; opacity:0.5; transition:all 0.3s ease-out;}
.modal_mid .modal_stn .qnaLst_dl dd  ul.btnBox li button:hover img {opacity:0.8; transition:all 0.3s ease-out;}

.textarea {width:100%; padding:5px 10px; line-height:1.6; border:none; border-radius:2px; border:1px solid #ededed; background:#fff; min-height: 35px}
.modal_mid .ipt_txt {display:block; width:calc(100% - 2px); height:33px; text-indent:10px; border:1px solid #cfd5d8; transition:all 0.3s ease-out;}
.modal_mid .ipt_txt:focus {border:1px solid #315efb; transition:all 0.3s ease-out;}

.modal_btm {clear:both; overflow:hidden; padding:10px 0; text-align:center; background:#ebf0f3;}
.modal_btm button {display:inline-block;  height:34px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; border-radius:2px; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.modal_btm button:hover {color:#315efb;  transition:all 0.3s ease-out;}
.modal_btm button.point {color:#fff; background:#0c6bd8; transition:all 0.3s ease-out;}

.stn_lot {display:block; width:100%; margin:0 0 20px 0; padding:0 30px;}

/* indexing */
.bqa-indexing-wrap {clear:both; overflow:hidden; padding:20px 30px; text-align:center; border-radius:2px; box-shadow:0 2px 3px rgba(0, 0, 0, 0.1); background:#fff;}
.bqa-indexing-wrap .indexing-title {clear:both; overflow:hidden; font-size:16px;}
.bqa-indexing-wrap .indexing-btn-wrap {clear:both; overflow:hidden; margin:20px 0;}
.ui-progressbar.ui-progressbar-determinate .ui-progressbar-value {background:#0c6bd8;}
.ui-progressbar-determinate .ui-progressbar-label {color:#222B30; font-size:10px; line-height:12px;}
.btn-normal-line {display:inline-block; height:34px; margin:0 5px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; border:1px solid #ededed; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.btn-normal-line:hover {color:#315efb; border:1px solid #315efb;  transition:all 0.3s ease-out;}

/*===== 0628추가 =====*/
.titleBox ul.btnBox {float:right;}
.titleBox ul.btnBox li {float:left; margin:0 0 0 5px;}
.titleBox ul.btnBox li a {display:block; height:34px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; border-radius:2px; background:#fff; box-shadow:0 1px 3px #bcc0c3; transition:all 0.3s ease-out;}
.titleBox ul.btnBox li a.btn_clr {display:block; height:34px; padding:0 18px; color:#fff; font-size:12px; line-height:32px; border-radius:2px; background:#315efb; box-shadow:0 1px 3px #bcc0c3; transition:all 0.3s ease-out;}
.titleBox ul.btnBox li a:hover {box-shadow:0 1px 3px #505960 !important; transition:all 0.3s ease-out;}
.titleBox ul.btnBox li a img {display:inline-block; margin:-2px 5px 0 0; vertical-align:middle; opacity:0.5;}

.titleBoxLine {display:block; clear:both; overflow:hidden; position:relative; min-height:36px; padding:15px 30px 10px 30px;}
.titleBoxLine h3 {float:left; color:#000; font-size:20px; font-weight:600; line-height:36px; letter-spacing:-1px;}
.titleBoxLine h3 span {display:inline-block; margin:0 0 0 10px; padding:0 20px; color:#315efb; font-size:16px; letter-spacing:0; border-radius:30px; background:#f6f8f9;}
.titleBoxLine h4 {float:left; color:#000; font-size:18px; font-weight:600; line-height:36px; letter-spacing:-1px;}
.titleBoxLine h4 span {display:inline-block; margin:0 0 0 10px; padding:0 20px; color:#315efb; font-size:16px; letter-spacing:0; border-radius:30px; background:#f6f8f9;}
.titleBoxLine ul.btnBox {float:right;}
.titleBoxLine ul.btnBox li {float:left; margin:0 0 0 5px;}

.titleBoxLine ul.btnBox li a {display:block; height:34px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; border-radius:2px; background:#fff; border:1px solid #d3d9db; transition:all 0.3s ease-out;}
.titleBoxLine ul.btnBox li a:hover {color:#315efb; border:1px solid #315efb; transition:all 0.3s ease-out;}
.titleBoxLine ul.btnBox li a.btn_clr {display:block; height:34px; padding:0 18px; color:#fff; font-size:12px; line-height:32px; border-radius:2px; background:#315efb; border:1px solid #315efb; transition:all 0.3s ease-out;}
.titleBoxLine ul.btnBox li a img {display:inline-block; margin:-2px 5px 0 0; vertical-align:middle; opacity:0.5;}


.titleBoxLine ul.btnBox li button {display:block; height:34px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:32px; border-radius:2px; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.titleBoxLine ul.btnBox li button:hover {color:#315efb;  transition:all 0.3s ease-out;}
.titleBoxLine ul.btnBox li button.btn_clr {display:block; height:34px; padding:0 18px; color:#fff; font-size:12px; line-height:32px; border-radius:2px; background:#315efb; box-shadow:0 1px 2px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.titleBoxLine ul.btnBox li button img {display:inline-block; margin:-2px 5px 0 0; vertical-align:middle; opacity:0.5;}



.tabWrap {display:block; overflow:hidden; position:relative; min-height:36px; padding:35px 30px 0 30px; border-bottom:1px solid #e5e5e5; background:#fff;}
.tabWrap button {cursor:pointer; padding:0 20px;}
.tabWrap .btn_back {float:left; margin:0 0 12px 0;;}
.tabWrap .btn_back img {display:inline-block; margin:-2px 5px 0 0; vertical-align:middle; opacity:0.5;}
.tabWrap .btn_back button {display:block; color:#666; font-size:12px; line-height:32px; border-radius:2px; border:1px solid #cfd5d8; background:none; transition:all 0.3s ease-out;}
.tabWrap .btn_back button:hover {color:#262626; border:1px solid #b1babe; transition:all 0.3s ease-out;}

.tabWrap .tab_nav {float:right; margin:0;}
.tabWrap .tab_nav li {float:left; position:relative; height:46px; margin:0 0 0 10px;}
.tabWrap .tab_nav li button {display:block; position:relative; height:36px; padding:0 20px; font-size:14px; font-weight:bold; border:none; background:none; transition:all 0.3s ease-out;}
.tabWrap .tab_nav li button:hover {color:#315efb; transition:all 0.3s ease-out;}
.tabWrap .tab_nav li.active:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:3px; background:#315efb;}

body .ui-tabmenu .ui-tabmenu-nav li {float:left; position:relative; width:auto !important; height:46px; margin:0 0 0 15px; line-height:46px;}
body .ui-tabmenu .ui-tabmenu-nav > li.ui-state-default {background:#fff;}
body .ui-tabmenu .ui-tabmenu-nav li.ui-state-active {float:left; position:relative; top:0; height:46px; margin:0 0 0 10px; line-height:46px;}
body .ui-tabmenu .ui-tabmenu-nav li.ui-state-active:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:3px; background:#315efb;}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {margin:0 0 0 15px;}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {display:block; position:relative; width:auto; height:36px; padding:0 10px; color:#222c46; font-size:14px; line-height:36px; font-weight:bold; border:none; background:#fff; transition:all 0.3s ease-out;}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a.ui-menuitem-text {color:#222c46; font-size:14px; line-height:36px; font-weight:bold;}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a:hover {color:#315efb; background:#fff; transition:all 0.3s ease-out;}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a span.fa {display:inline-block; margin:-2px 5px 0 0; vertical-align:middle; opacity:0.5;}

.tabWrap_container {display:table; width:100%; height:calc(100% - 82px); padding:0;}

.tbl_lot {display:table; position:relative; width:calc(100% - 60px); margin:0 30px 15px 30px; border-radius:2px; box-shadow:0 2px 3px rgba(0,0,0,0.1); background:#fff;}
.tbl_lot_bgNone {display:table; position:relative; width:calc(100% - 60px); margin:0 30px 15px 30px; border-radius:2px;}
.tbl_lot_bgNone02 {display:table; position:relative; width:calc(100% - 20px); margin:25px 10px;}

.tbl_lot_iframe {display:table; position:relative; width:calc(100% - 4px); margin:0 2px; border-radius:2px; box-shadow:0 1px 3px #bcc0c3; background:#fff;}

.tbl_lot_pdNone {display:table; width:calc(100% - 60px); height:calc(100% - 105px); padding:0 30px;}
.tbl_lot_pdNone .tbl_nav {display:table-cell; width:250px; height:100%; vertical-align:top;}

.tbl_lot_pdNone .tbl_nav #lnb {overflow:hidden; height:calc(100% - 2px); margin:0 10px 0 0; border-radius:2px; box-shadow:0 2px 3px rgba(0,0,0,0.1); background:#fff;}
.tbl_lot_pdNone .tbl_nav #lnb ul {clear:both; overflow:hidden;}
.tbl_lot_pdNone .tbl_nav #lnb ul li {clear:both; overflow:hidden;}
.tbl_lot_pdNone .tbl_nav #lnb ul li a {display:block; padding:10px; font-size:13px; font-weight:bold; border-bottom:1px solid #ededed; vertical-align:middle;}
.tbl_lot_pdNone .tbl_nav #lnb ul li a:hover {background:#f6f8fd ;}
.tbl_lot_pdNone .tbl_nav #lnb>ul>li>a#menu1 {color:#fff; font-size:15px; font-weight:bold; text-align:center; background:#434a5a;}
.tbl_lot_pdNone .tbl_nav #lnb ul.sub li a {font-weight:bold;}
.tbl_lot_pdNone .tbl_nav #lnb ul.sub02 li a {padding-left:20px; color:#666; font-weight:normal;}
.tbl_lot_pdNone .tbl_nav #lnb ul li a span.b2_btn {float:right; width:15px; height:15px; background:url(../assets/images/btn_Plus_off.png) 50% 50% no-repeat; background-size:cover; opacity:0.3;}
.tbl_lot_pdNone .tbl_nav #lnb ul li a span.b2_btn_off {float:right; width:15px; height:15px; background:url(../assets/images/btn_minus_off.png) 50% 50% no-repeat; background-size:cover; opacity:0.3;}
.tbl_lot_pdNone .tbl_nav #lnb #spb1btn {display:inline-block; width:20px; height:20px; margin:0 10px 0 0; vertical-align:middle; background:url(../assets/images/ico_agent_w.png) 50% 50% no-repeat; background-size:cover; opacity:0.3;}

.tbl_lot_pdNone .tbl_nav_cont {display:table-cell; position:relative; height:100%; background:#ebf0f3; border-radius:2px;}

.tbl_lot_pdNone02 {display:table; width:100%; height:calc(100% - 105px); padding:0 30px;}
.tbl_lot_pdNone02 .tbl_tree {display:table-cell; width:250px;padding:0 20px 0 0; height:100%; vertical-align:top; }

.tbl_lot_pdNone02 .tbl_tree .tree {height:100%; border-radius:2px; box-shadow:0 2px 3px rgba(0,0,0,0.1); background:#ebf0f3;}
.tbl_lot_pdNone02 .tbl_tree .tree ul {clear:both; overflow:hidden;}
.tbl_lot_pdNone02 .tbl_tree .tree ul li {clear:both; overflow:hidden; padding:0; text-align:left;}
.tbl_lot_pdNone02 .tbl_tree .tree ul li a {display:block; padding:10px; font-size:13px; font-weight:bold; border-bottom:1px solid #ededed; vertical-align:middle;}
.tbl_lot_pdNone02 .tbl_tree .tree ul li a:hover {background:#f6f8fd ;}
.tbl_lot_pdNone02 .tbl_tree .tree ul.sub li a {font-weight:bold;}

.tbl_lot_pdNone02 .tbl_tree_cont {display:table-cell; position:relative; height:100%; background:#fff; border-radius:2px;}



dl.class_name {}
dl.class_name dt {}
dl.class_name dd {display:table; width:calc(100% - 20px); padding:5px 10px; vertical-align:middle;}
dl.class_name dd:hover {background:#f6f8fd ;}
dl.class_name dd:last-child {border:none;}
dl.class_name dd a {display:table-cell; position:relative; padding:0 2px; color:#315efb; font-weight:bold; vertical-align:middle;}
dl.class_name dd a span {display:block; overflow:hidden; width:26px; height:26px; margin:0 2px; padding:0; color:#315efb; line-height:24px; text-align:center; text-indent:-999px; border:1px solid #cfd5d8; border-radius:2px; -webkit-transition:all 0.3s ease-out;}
dl.class_name dd a:hover {color:#315efb; text-decoration:underline;}
dl.class_name dd a:hover span{opacity:1.0; transition:all 0.3s ease-out;}
dl.class_name dd a.modify_btn {width:26px;}
dl.class_name dd a.modify_btn span {background:#fff url(../assets/images/ico_edit_g.png) 50% 50% no-repeat;}
dl.class_name dd a.modify_btn:hover span{border:1px solid #262626; background:#fff url(../assets/images/ico_edit_b.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}
dl.class_name dd a.delete_btn {width:26px;}
dl.class_name dd a.delete_btn span {background:#fff url(../assets/images/ico_remove_g.png) 50% 50% no-repeat;}
dl.class_name dd a.delete_btn:hover span{border:1px solid #262626; background:#fff url(../assets/images/ico_remove_b.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}

.srch_dlBox {display:block;}
.srch_dlBox dl.class_name dd {border-bottom:1px solid #e5e5e5;}
.srch_dlBox dl.class_name dd:last-child {border:none;}

/* 대화flow */
.jtk-surface-nopan  {overflow:scroll !important; position:relative; border:none; cursor:default; height:100%; overflow:auto; box-shadow:0 2px 3px rgba(0,0,0,0.1); border-radius:2px; background:#fff;} 
.graph_condition  {position:relative; cursor:default;height:100px; max-height:210px; margin:0px 45px; height:120px; border:1px solid #e1e1e1;}
.graph_condition textarea {width:98%; height:92%; overflow-y:auto; padding:5px; border:none; min-height:12px;}

.anp_contents h3 a {font-size:12px; background:#ea5404; margin-left:10px; color:#fff; padding:2px 5px;}

.tbl_nav_cont .w {padding:13px 30px 13px 10px; color:#fff; font-size:13px; font-weight:bold; border:1px solid #315efb; border-radius:2px; background:#315efb; box-shadow:0 1px 3px rgba(0,0,0,0.5); transition:opacity 0.3s ease-out;}
.tbl_nav_cont .w:hover {color:#fff; border:1px solid #315efb; background:#315efb; box-shadow:0 1px 5px rgba(0,0,0,0.5); opacity:1; transition:opacity 0.3s ease-out;}
.tbl_nav_cont .ep {bottom:50%; width:15px; height:15px; margin-bottom:-7px; border-radius:20px; box-shadow:none; background:#fff;}

.srchBox {display:block;  clear:both; overflow:hidden; padding:15px 20px;}
.srchBox .s_word {padding:0 0 0 30px; background:url(../assets/images/ico_srch_g.png) 5px 50% no-repeat;}
.srchBox .s_word label {display:table; width:calc(100% - 2px); border:1px solid #315efb; border-radius:2px;}
.srchBox .s_word input {display:table-cell; width:100%; padding:10px 0; text-indent:10px; border:none;}
.srchBox .s_word a {display:table-cell; width:80px; color:#fff; font-size:16px; text-align:center; background:#315efb;}

.boxType01 {display:block; clear:both; overflow:hidden; margin:0 0 10px 0; border-radius:2px; box-shadow:0 2px 3px rgba(0,0,0,0.1); background:#fff;}

.stn {display:block; clear:both; overflow:hidden; border-bottom:1px solid #e5e5e5;}
.stn .tit {clear:both; overflow:hidden; padding:0 0 5px 0;}
.stn .tit h4 {float:left; font-size:14px; line-height:32px;}
.stn .tit h4 img {display:inline-block; margin:-2px 10px 0 0; vertical-align:middle; opacity:0.3;}
.stn .tit ul.btnBox {float:right;}
.stn .tit ul.btnBox li {float:left; margin:0 0 0 5px;}
.stn .tit ul.btnBox li a {display:block; height:30px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:30px; border:1px solid #cfd5d8; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.stn .tit ul.btnBox li a.btn_clr {display:block; height:24px; padding:0 18px; color:#fff; font-size:12px; line-height:22px; border:1px solid #315efb; border-radius:2px; background:#315efb; transition:all 0.3s ease-out;}
.stn .tit ul.btnBox li a:hover {box-shadow:0 1px 3px #505960 !important; transition:all 0.3s ease-out;}
.stn .tit ul.btnBox li a img {display:inline-block; margin:-2px 7px 0 0; vertical-align:middle; opacity:0.5;}

.stn .cont {clear:both; overflow:hidden;}

.stn_tit {clear:both; overflow:hidden; padding:0 0 5px 0;}
.stn_tit h4 {float:left; font-size:14px; line-height:32px;}
.stn_tit h5 {float:left; font-size:12px; line-height:20px;}
.stn_tit h4 img {display:inline-block; margin:-2px 10px 0 0; vertical-align:middle; opacity:0.3;}
.stn_tit ul.btnBox {float:right;}
.stn_tit ul.btnBox li {float:left; margin:0 0 0 5px;}
.stn_tit ul.btnBox li a {display:block; height:30px; padding:0 18px; color:#262626; font-size:12px; font-weight:bold; line-height:30px; border:1px solid #cfd5d8; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.stn_tit ul.btnBox li a.btn_clr {display:block; height:24px; padding:0 18px; color:#fff; font-size:12px; line-height:22px; border:1px solid #315efb; border-radius:2px; background:#315efb; transition:all 0.3s ease-out;}
.stn_tit ul.btnBox li a:hover {color:#315efb; transition:all 0.3s ease-out;}
.stn_tit ul.btnBox li a img {display:inline-block; margin:-2px 7px 0 0; vertical-align:middle; opacity:0.5;}

.stn_cont {clear:both; overflow:hidden; padding:10px 20px;}

.contents .stn:last-child {border:none;} 

.dlBox02 {clear:both; overflow:hidden;}
.dlBox02 .dlStyle02 {display:table; width:calc(100% - 2px); margin:0 0 0 0; vertical-align:top;}
.dlBox02 .dlStyle02 dt {display:table-cell; width:100px; padding:7px 10px 7px 0; color:#222c46; font-size:12px; font-weight:bold; vertical-align:middle; border-bottom:1px solid #ededed;}
.dlBox02 .dlStyle02 dd {display:table-cell; padding:7px 0 7px 10px; color:#333; font-size:12px; vertical-align:top; border-bottom:1px solid #ededed;}
.dlBox02 .dlStyle02 dd .select {display:block; width:100%; height:33px; padding:0 20px 0 0; text-indent:2px; border:1px solid #cfd5d8; border-radius:2px; -webkit-appearance:none; /* 화살표 없애기 for chrome*/ -moz-appearance:none;/* 화살표 없애기 for firefox*/ appearance:none;/* 화살표 없애기 공통*/ background:url(../assets/images/ico_select_g.png) right 10px top 50% no-repeat; transition:all 0.3s ease-out;}
.dlBox02 .dlStyle02 dd .select::-ms-expand {display:none; /* 화살표 없애기 for IE10, 11*/}
.dlBox02 .dlStyle02 dd .select:focus {border:1px solid #315efb; background:url(../assets/images/ico_select_b.png) right 10px top 50% no-repeat; transition:all 0.3s ease-out;}
.dlBox02 .dlStyle02 dd .ipt_txt {display:block; width:calc(100% - 2px); height:33px; text-indent:10px; border:1px solid #cfd5d8; border-radius:2px; transition:all 0.3s ease-out;}
.dlBox02 .dlStyle02 dd .ipt_txt:focus {border:1px solid #315efb; transition:all 0.3s ease-out;}
.dlBox02 .dlStyle02:last-child dt {border:none;}
.dlBox02 .dlStyle02:last-child dd {border:none;}

.useruttrw {clear:both; overflow:hidden; border-radius:2px;}
.useruttrw .useruttrw_tit {clear:both; overflow:hidden;  display:block; padding:7px 10px; text-align:center; background:#434a5a;}
.useruttrw .useruttrw_tit .useruttrw_del {float:right; overflow:hidden; width:26px; height:26px; margin:0 2px; padding:0; color:#315efb; line-height:24px; text-align:center; text-indent:-999px; border-radius:2px; background:#2e323c url(../assets/images/ico_wbasket_w.png) 50% 50% no-repeat; opacity:0.7; transition:all 0.3s ease-out;}
.useruttrw .useruttrw_tit .useruttrw_del:hover {opacity:1.0; transition:all 0.3s ease-out;}

.useruttrw .useruttrw_tit h5 {position:relative; float:left; color:#fff; font-size:13px; line-height:26px;}
.useruttrw .useruttrw_tit h5 img {vertical-align:middle; margin:-2px 0 0 0;}
.useruttrw .useruttrw_tit h5 .explain {display:none; position:absolute; width:80px; margin:0 0 0 10px; padding:0 5px 1px 5px; font-size:11px; font-weight:normal; text-align:left; border-radius:2px; background:rgba(255,255,255,0.1); transition:all 0.3s ease-out;}
.useruttrw .useruttrw_tit h5 .explain:before {content:''; position:absolute; top:3px; left:-5px; border-top:5px solid transparent; border-right:5px solid rgba(255,255,255,0.1); border-bottom:5px solid transparent;}
.useruttrw .useruttrw_tit h5:hover .explain {display:inline-block; transition:all 0.3s ease-out;}

.useruttrw .useruttrw_tit .btnBox {float:right;}
.useruttrw .useruttrw_tit .btnBox a {float:left; height:26px; margin:0 0 0 10px; padding:0 15px; color:#000; line-height:24px; border-radius:2px; background:rgba(255,255,255,0.7); transition:all 0.3s ease-out;}
.useruttrw .useruttrw_tit .btnBox a:hover {color:#fff; background:rgba(49,94,251,1); transition:all 0.3s ease-out;}

.useruttrw .useruttrw_tit .type_lst {display:inline-block; margin:0 auto;}
.useruttrw .useruttrw_tit .type_lst li {display:inline-block; overflow:hidden; width:26px; height:26px; margin:0 1px; border-radius:2px; background:rgba(0,0,0,0.1);}
.useruttrw .useruttrw_tit .type_lst li.active {background:rgba(255,255,255,0.9);}
.useruttrw .useruttrw_tit .type_lst li span {float:left; overflow:hidden;width:26px; height:26px; text-indent:-99px;}
.useruttrw .useruttrw_tit .type_lst li span.btn {background:url(../assets/images/ico_typeLst_btn.png) 50% 50% no-repeat;}
.useruttrw .useruttrw_tit .type_lst li span.img {background:url(../assets/images/ico_typeLst_img.png) 50% 50% no-repeat;}
.useruttrw .useruttrw_tit .type_lst li span.crs {background:url(../assets/images/ico_typeLst_crs.png) 50% 50% no-repeat;}
.useruttrw .useruttrw_tit .type_lst li span.api {background:url(../assets/images/ico_typeLst_api.png) 50% 50% no-repeat;}

.useruttrw .useruttrw_add {display:block; padding:10px;}
.useruttrw .useruttrw_add .ipt_txt {display:inline-block; float:left; width:calc(100% - 94px); height:33px; text-indent:10px; border:1px solid #cfd5d8; border-radius:2px; transition:all 0.3s ease-out;}
.useruttrw .useruttrw_add .ipt_txt:hover {border:1px solid #315efb; transition:all 0.3s ease-out;}
.useruttrw .useruttrw_add a {float:left; width:80px; height:33px; margin:0 0 0 10px; color:#666; font-size:12px; font-weight:bold; text-align:center; line-height:28px; border:1px solid #cfd5d8; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.useruttrw .useruttrw_add a:hover {color:#262626; border:1px solid #b1babe; transition:all 0.3s ease-out;}

.useruttrw .useruttrw01 {display:block; overflow:hidden; padding:10px 10px 5px 10px;}
.useruttrw .useruttrw01 .ipt_txt {display:block; width:calc(100% - 2px); height:33px; text-indent:10px; border:1px solid #cfd5d8; border-radius:2px; transition:all 0.3s ease-out;}
.useruttrw .useruttrw01 .ipt_txt:hover {border:1px solid #315efb; transition:all 0.3s ease-out;}

.useruttrw02 {clear:both; overflow:hidden; padding:10px 0 0 0;}
.useruttrw02 .imgAction {opacity:0.4;}
.useruttrw02 .imgAction:hover {opacity:0.7;}
.useruttrw02 table {width:100%;}
.useruttrw02 .ipt_txt {display:block; width:calc(100% - 2px); height:33px; text-indent:10px; border:1px solid #cfd5d8; border-radius:2px; transition:all 0.3s ease-out;}
.useruttrw02 .ipt_txt:focus {border:1px solid #315efb; transition:all 0.3s ease-out;}

.uuw_tab {display:block; padding:0 10px 10px 10px;}
.uuw_tab .object_name {display:block; min-width:100px; margin:0 10px 0 27px; padding:7px 10px; text-align:left; border-radius:2px; border:1px solid #eaeef7;  background:#eaeef7; transition:all 0.3s ease-out;}
.uuw_tab .object_name:focus {border:1px solid #315efb; transition:all 0.3s ease-out;}

.slot_modify {width:100%;}
.slot_modify tbody th {min-width:100px; padding:0 0 5px 0; vertical-align:top;}
.slot_modify tbody td {padding:0 0 5px 0; vertical-align:top;}
.slot_modify_set02 {position:relative; float:left; margin:0 10px 0 0; }
.slot_modify_set02 .dp_ib {display:block; min-width:100px; height:31px; padding:0 30px 0 5px; color:#333; font-size:12px; line-height:30px; border:1px solid #cfd5d8; border-radius:2px; transition:all 0.3s ease-out;}
.slot_modify_set02 .dp_ib:focus {border:1px solid #315efb; transition:all 0.3s ease-out;}
.slot_modify_set02 .close_btn {position:absolute; top:50%; right:5px; width:17px; height:17px; margin:-8px 0 0 0; background:url(../assets/images/layer_cl.png) 50% 50% no-repeat; opacity:0.2; transition:all 0.3s ease-out;}
.slot_modify_set02 .close_btn:hover {opacity:0.5; transition:all 0.3s ease-out;}

.nameBox {display:block; clear:both; overflow:hidden; padding:15px 30px; border-bottom:1px solid #e5e5e5;}
.nameBox dl {display:table; width:100%; vertical-align:middle;}
.nameBox dl dt {display:table-cell; width:130px; vertical-align:middle;}
.nameBox dl dt label {display:block; height:33px; padding:0 0 0 30px; color:#315efb; font-size:14px; font-weight:bold; line-height:32px; opacity:0.7;}
.nameBox dl dd {display:table-cell;}
.nameBox dl dd input {float:left; width:calc(100% - 94px); height:33px; padding:0; line-height:32px; text-indent:10px; border:1px solid #cfd5d8; border-radius:2px; transition:all 0.3s ease-out;}
.nameBox dl dd input:focus {border:1px solid #315efb; transition:all 0.3s ease-out;}
.nameBox dl dd a {float:left; width:80px; height:33px; margin:0 0 0 10px; color:#666; font-size:12px; font-weight:bold; text-align:center; line-height:28px; border:1px solid #cfd5d8; border-radius:2px; background:#fff; transition:all 0.3s ease-out;}
.nameBox dl dd a:hover {color:#262626; border:1px solid #b1babe; transition:all 0.3s ease-out;}

.nameBox dl.task dt label {background:url(../assets/images/agent_but.png) 0 50% no-repeat; background-size:20px auto;}

.layer {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:1000;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.layer .layer_box {display:none; position:absolute; top:50%; left:50%; margin:-25% 0 0 -25%; border-radius:10px; background:rgba(255,255,255,1); z-index:2000;}

.tblBox02 {display:table; width:100%; margin:0 0 10px 0;}
.tbl_col02 {display:table-cell; width:50%; padding:0 20px; vertical-align:top;}
.tbl_col02:first-child {padding-left:0;}
.tbl_col02:last-child {padding-right:0;}

.tbl_col04 {display:table-cell; width:25%; padding:0 20px;}
.tbl_col04:first-child {padding-left:0;}
.tbl_col04:last-child {padding-right:0;}

.common-table-contents {padding:30px;}

.tblBox02 .boxType01 {padding:20px; text-align:center;}
.tblBox02 .card-info {display:block; padding:35px 0 7px 0; color:#7f858f; font-size:13px; font-weight:bold;}
.tblBox02 .tbl_col04:nth-child(1) .card-info {background:url(../assets/images/ico_dashboard_item01.png) 50% 0 no-repeat;}
.tblBox02 .tbl_col04:nth-child(2) .card-info {background:url(../assets/images/ico_dashboard_item02.png) 50% 0 no-repeat;}
.tblBox02 .tbl_col04:nth-child(3) .card-info {background:url(../assets/images/ico_dashboard_item03.png) 50% 0 no-repeat;}
.tblBox02 .tbl_col04:nth-child(4) .card-info {background:url(../assets/images/ico_dashboard_item04.png) 50% 0 no-repeat;}
.tblBox02 .card-info-name {display:inline-block; color:#333; font-size:30px;}
.tblBox02 .card-info-unit{display:inline-block; color:#333; font-size:30px;}
.tblBox02 .item-list {height:auto; background:#fff !important;}
.tblBox02 .item-list li {display: table; width: 100%; border-radius:0; border-bottom: 1px solid #e1e1e1;}
.tblBox02 .item-list li:last-child {border:none;}
.tblBox02 .item-list li span {display:table-cell; height: 36px; padding:0 15px !important; color: #333; line-height: 36px; text-align: left; vertical-align: top;}
.tblBox02 .item-list li span:first-child {width:100px; color: #999;}
.tblBox02 .item-list li span:last-child {width:100px; color:#999; text-align: right;}
.tblBox02 .item-list li.item-odd {padding:0; background: none;}
.tblBox02 .item-list li.item-even {padding:0; background: none;}
.tblBox02 .item-empty {height:auto !important; padding-top:35px !important; background:#fff !important;}

.chatbot_lst_wrap {padding:10px;}
.chatbot_lst {overflow:hidden;}
.chatbot_lst .boxType02 {float:left; overflow:hidden; position:relative; width:16.5%; margin:20px; border-radius:3px; box-shadow:0 2px 3px rgba(0,0,0,0.1); background:#fff; transition:all 0.3s ease-out;}
.chatbot_lst .boxType02:hover {box-shadow:0 2px 10px rgba(0,0,0,0.3); transition:all 0.3s ease-out;}
// .chatbot_lst .bot_thumb {display:block; clear:both; overflow:hidden; height:170px; border-bottom:1px solid #e4e4e4; text-align:center; background:#eaeef7;}
.chatbot_lst .bot_thumb {display:block; clear:both; overflow:hidden; height:170px; border-bottom:1px solid #e4e4e4; text-align:center; background:$C0}
// .chatbot_lst .bot_thumb img {width:100%; vertical-align:middle;}
.chatbot_lst .bot_thumb img {vertical-align:middle; height:100%}
.chatbot_lst .bot_name {display:block; padding:15px 0; color:#333; font-size:16px; font-weight:700; text-align:center; line-height:24px;}
.chatbot_lst .bot_id {display:block; padding:0 0 5px 0; color:#666; font-size:12px; text-align:center; line-height:14px;}
.chatbot_lst .bot_date {display:block; padding:0 0 5px 0; color:#999; font-size:11px; text-align:center; line-height:14px;}

.chatbot_lst .bot_btn {display:block; overflow:hidden; padding:10px;  text-align:center;}
.chatbot_lst .bot_btn button {float:left; width:50%; text-align:center; border:1px solid #e4e4e4; transition:all 0.3s ease-out;}
.chatbot_lst .bot_btn button:first-child {border-radius:2px 0 0 2px;}
.chatbot_lst .bot_btn button:last-child {border-radius:0 2px 2px 0;}
.chatbot_lst .bot_btn button img {display:inline-block; margin:-2px 5px 0 0; vertical-align:middle; opacity:0.3;}
.chatbot_lst .bot_btn button:hover {color:#0066ff; border:1px solid #0066ff; transition:all 0.3s ease-out;}

.chatbot_lst .bot_btn02 {display:block; overflow:hidden; padding:10px; text-align:center;}
.chatbot_lst .bot_btn02 button {overflow:hidden; position:absolute; top:5px; right:5px; width:26px; height:26px; padding:0; text-align:center; text-indent:999px; border-radius:3px; background:rgba(0,0,0,0.2) url(../assets/images/ico_wbasket_w.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}
.chatbot_lst .bot_btn02 button:hover {background:rgba(0,102,255,1) url(../assets/images/ico_wbasket_w.png) 50% 50% no-repeat; transition:all 0.3s ease-out;}

.btm_item { display:block; position: relative; text-align: center;}
.btm_item .pagination {display:inline-block;}
.btm_item .pagination .btn-page {display: inline-block; width: 26px; height: 26px; border:1px solid #b1babe; border-radius: 2px; background-color:#fff !important; cursor: pointer;}
.btm_item .pagination .page-number {display: inline-block; line-height: 28px; vertical-align: top;}
.btm_item .pagination .page-number span {display: inline-block; width: 28px; height: 28px; color:#666;}
.btm_item .pagination .page-number .now-page { color:#0066ff; font-weight: bold;}

.pd0 {padding:0 !important;}




