/* START Common Table */
@import "style.common";
.common-table-tap{
  display: inline-block;
  position: relative;
  top:9px;
}
.common-table-section{
  position: relative;
  display: inline-block;
  padding: 20px;
  border: $table-main-border;
  width: 100%;
  color:$C8;
  @include radius(2px);
  .common-table {
    width: 100%;
    clear: both;
    text-align: left;
  }

  //table-header
  .common-table-header{
    .button-wrap{
      float: right;
      @include inlineblock();
      button{
        margin-left: 5px;
      }
    }
    .table-input{
      font-size: 0;
    }
    .common-title{
      display: inline-block;
      font-weight: bold;
      font-size: $font-04;
      margin-right: 10px;
      line-height: $input-height;
      vertical-align: top;
    }
    .dropdown-text{
      height: $input-height;
      line-height: $input-height;
      display: inline-block;
      vertical-align: top;
      text-indent: 10px;
      font-size: $font-02;
    }
    .filter-wrap{
      height: $input-height;
      margin-right: 20px;
      display: inline-block;
      font-size: 0;
      input{
        border: 1px solid $main-color;
        border-right:none ;
        line-height:calc(#{$input-height} - 2px);
        padding:0 10px;
        width: auto;
        height: $input-height;
        color: $C8;
        vertical-align: top;
        @include radius(0);
      }
      button{
        background: $main-color url("../assets/images/icon_search.svg") center/ 25px 20px no-repeat;
        border:none;
        @include radius(0);
        padding:0;
        width: $input-height;
        height: $input-height;
      }
    }
    .table-header-calendar{
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      font-size: 0;
      p-calendar{
        width: 105px;
        display: inline-block;
        font-size: $font-02;
        input{
          font-size: $font-02;
        }
      }
      .term-bar{
        font-size: $font-02;
        padding: 0 3px;
      }
      input{
        height: $input-height;
      }
      .btn-etc{
        padding: 0 5px;
        width: 60px;
        vertical-align: top;
        margin-left: 3px;
      }
    }
    .batch-select{
      margin-right: 20px;
    }
    .common-table{
      margin-bottom:20px;
    }
    .filter-detail-wrap{
      margin-top: 10px;
      @include radius(2px);
      border: 1px dashed #dbd8ce;
      padding: 0 6px 6px;
      .filter-detail{
        font-size: $font-02;
        line-height: 30px;
        display: inline-block;
        background-color: $main-color;
        @include radius(2px);
        padding: 0 10px;
        cursor: pointer;
        color: $C0;
        margin:6px 6px 0 0;
      }
      span{
        vertical-align: middle;
        display: inline-block;
        font-weight: bold;
        margin-left: 7px;
        &:first-child{
          font-weight:normal;
          margin-left: 0;
        }
      }
      .filter-cancel{
        margn-left:10px;
        font-size: 10px;
      }
    }
  }
  //table-content
  .common-table-contents{
    table{
      @include common-table;
      .require{
        color: $negative-color;
      }
    }
    .table-wrap-rowgroup{
      .table-button{
        span{
          width:26px;
          height: 26px;
          display: inline-block;
          vertical-align: middle;
          font-size: 17px;
          line-height: 25px;
          background-color: $C2;
          margin: 0 5px;
          @include radius(2px);
          cursor: pointer;
          &:hover{
            background-color: $main-color;
            color:$C0
          }
        }
      }
    }
    .table-wrap-input{
      tr {
        text-align: left;
        th {
          padding-left: 10px;
          border-bottom: $table-main-border;
          font-weight: bold;
        }
        td {
          background: $C0;
          padding:3px 6px;
        }
        .table-input{
          display: table-cell;
        }
        .table-input-text{
          input{
            width: 30%;
          }
        }
      }
    }
    .table-wrap-colgroup{
      table{
        text-align: left;
        border-top: $table-main-border;
        border-bottom: $table-main-border;
        border-left: 2px double $table-sub-border-color;
        border-right: 2px  double $table-sub-border-color;
      }
      tr {
        th {
          border-left: 2px double $table-sub-border-color;
          border-bottom: $table-main-border;
          font-weight: bold;
        }
        td, th {
          font-size: $font-02;
          padding: 0 5px 0 20px;
        }
      }
    }
    .no-data {
      width: 100%;
      color: $sub-color-1;
      line-height: 50px;
      text-align: center;
      bordrer:none;
      &:hover{
        background: $C0;
        bordrer:none;
      }
    }
    .table-no-data{
      .ui-datatable-tablewrapper, table{
        border-bottom:none;
        .ui-widget-content:hover{
          background: $C0;
        }
      }

    }
  }
  //table-footer
  .common-table-footer{
    .footer-wrap{
      margin-top: 15px;
      height: $input-height;
      .pagination{
        padding-top: 5px;
        @include inlineblock();
      }
      span{
        @include inlineblock();
        font-size: $font-02;
      }
      .btn-page{
        width: 17px;
        height: 16px;
        &:hover{
          background-position: -33px 0;
        }
        &.disabled{
          background-position: 1px 0;
        }
      }
      .btn-first{
        background: url("../assets/images/paging_1.svg")  no-repeat -16px 0px ;
        background-size: 50px 16px;
        margin-right: 3px;
      }
      .btn-prev{
        background: url("../assets/images/paging_2.svg")  no-repeat -16px 0px ;
        background-size: 50px 16px;
        margin-right: 8px;
      }
      .btn-next{
        background: url("../assets/images/paging_3.svg")  no-repeat -16px 0px ;
        background-size: 50px 16px;
        margin-left: 8px;
      }
      .btn-last{
        background: url("../assets/images/paging_4.svg")  no-repeat -16px 0px ;
        background-size: 50px 16px;
        margin-left: 3px;
      }
      .now-page{
        font-weight: bold;
      }
      .page-number{
        span{
          margin: 0 3px;
        }
      }
    }
  }

}
//user-intent
.intent-section{
  .user-intent{
    .list-content-wrap{
      table, .ui-widget-content, tr, th, td{
        border: none;
        background: $C0;
      }
      thead{
        display: none;
      }
      .ui-widget-content{
        margin-top: 10px;
        &:first-child{
          margin-top:0;
        }
      }
      .ui-datatable-tfoot{
        border-radius:2px;
        margin-top:10px;
        .ui-state-default {
          border: none;
          td{
            padding:15px 10px 0 40px;
          }
        }
        .ui-column-footer{
          border-radius: 2px;
          border: $table-main-border;
          display: block;
          width: 100%;
        }
      }
    }
  }
}
//dialog-test
.model-entity-wrap{
  .common-table-section {
    padding: 0;
    border: none;
    height: 100%;
    .custom-row-table {
      .ui-datatable-scrollable-view {
        tr {
          line-height: 28px;
          height: 28px;
        }
      }
    }
    .common-table-contents, .table-wrap-rowgroup, .custom-row-table, .ui-datatable-scrollable-wrapper, .ui-datatable-scrollable-view{
      height: 100%;
    }
    .ui-datatable-scrollable-body{
      height: calc(100% - 30px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

//script-guide
.script-guide-wrap{
  .common-table-section{
    height: 100%;
  }
  .common-table-contents{
    border: none;
  }
  .common-table-contents {
    height: calc(100% - 56px);
    overflow: auto;
    .custom-row-table {
      thead {
        display: none;
      }
      tr {
        text-align: left;
      }
      .ui-datatable-tablewrapper {
        table {
          border: none;
          tr{
            height: 25px;
            line-height: 25px;
          }
          th, td {
            border: none;
          }
        }
        .ui-datatable-odd {
          background-color: $C0;
        }
        .ui-widget-content:hover {
          background-color: $C0;
          color: $C8;
        }
      }
    }
  }
}
/* END Common Table */
