/* START Style Common */
//gray brightness
$C0: #FFFFFF;
$C1: #F2F2F2;
$C2: #dae1f4;
$C3: #CECECE;
$C4: #BCBCBC;
$C5: #AAAAAA;
$C6: #999999;
$C7: #6D6D6D;
$C8: #4C4C4C;
$C9: #282828;
$C10: #000000;

// main color
$CI_color: #50DAFF;
$main-color: #4688E8;
$sub-color-1: #222B30;
$sub-color-2: #B1C5DB;
$negative-color: #F48431;
//font color
$font-color: $C8;
$link-color: #4491bc;

//table color
$table-main-border: 1px solid $C2;
$table-sub-border: 1px double $C4;
$table-main-border-color: $C2;
$table-sub-border-color: $C4;

//font
$font-family: 'Roboto', 'Apple SD Gothic NEO', '맑은 고딕', Malgun Gothic, '돋움', Dotum;
$font-01:11px;
$font-02:12px;
$font-03:13px;
$font-04:14px;
$content-title-font:16px;

//layout-width
$body-min-width: 1280px;
$menu-width:180px;
$simple-menu-width:59px;
//layout-height
$header-height: 50px;
$footer-height: 30px;
$content-title-height:35px;

//input,table
$button-height:36px;
$input-height:36px;
$input-table-height:28px;
$table-th-height:40px;
$table-td-height:40px;
$table-tap-height:34px;
$table-tap-width:140px;


//mixin
@mixin inlineblock(){
  display: inline-block;
  *display:inline;
  *zoom:1;
  vertical-align: middle;
}
@mixin radius($radius){
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  border-radius:$radius;
}
@mixin common-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  border-spacing: 0;
  border-top: $table-sub-border;
  border-bottom: $table-sub-border;
  tr {
    color:$font-color;
    height: $table-td-height;
    line-height: $table-td-height;
    &:last-child {
      td {
        border-bottom: none;
      }
    }
    th, td {
      padding: 0 10px;
      font-size: $font-02;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    th {
      font-weight: bold;
      background: $C0;
      border-bottom: $table-sub-border;
      border-right: $table-main-border;
    }
    td{
      border-right: $table-main-border;
      border-bottom: $table-main-border;
    }
  }
}
@mixin common-row-table {
  tr {
    th {
      height: $table-th-height;
      line-height: $table-th-height;
      &.ui-state-active{
        .fa-fw {
          opacity:1;
          color: $main-color;
        }
      }
      .fa-fw {
        opacity: .2;
        font-size: 20px;
        cursor: pointer;
        vertical-align: middle;
        width: 20px;
        margin:0;
        &.active, &:hover {
          opacity:1;
          color: $main-color;
        }
      }
    }
    td{
      @include ellipsis;
      padding: 0 10px;
    }
  }
}
@mixin button{
  font-size: $font-02;
  height: $button-height;
  line-height:35px;
  padding: 0 18px;
  @include radius(2px);
  cursor: pointer;
}
@mixin button-alert{
  @include button();
  height: $button-height;
  padding: 0 36px;
  border: none;
}
@mixin ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
%flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
%fit {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

// animation
@-webkit-keyframes spin {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@-moz-keyframes spin {
  0%, 40%, 100% { -moz-transform: scaleY(0.4) }
  20% { -moz-transform: scaleY(1.0) }
}
@-ms-keyframes spin {
  0%, 40%, 100% { -ms-transform: scaleY(0.4) }
  20% { -ms-transform: scaleY(1.0) }
}
@keyframes spin {
  0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
  20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0); }
}

/* END Style Common */
