@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?hng8l8');
  src:  url('../assets/fonts/icomoon.eot?hng8l8#iefix') format('embedded-opentype'),
  url('../assets/fonts/icomoon.ttf?hng8l8') format('truetype'),
  url('../assets/fonts/icomoon.woff?hng8l8') format('woff'),
  url('../assets/fonts/icomoon.svg?hng8l8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .fa-unsorted, .fa-sort, .fa-sort-down, .fa-sort-desc, .fa-sort-up, .fa-sort-asc {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}
.icon-monitoring:before {
  content: "\e93c";
}
.icon-list:before {
  content: "\e925";
}
.icon-chat:before {
  content: "\e926";
}
.icon-link:before {
  content: "\e927";
}
.icon-question:before {
  content: "\e928";
}
.icon-out:before {
  content: "\e929";
}
.icon-menu_3line:before {
  content: "\e92a";
}
.icon-in:before {
  content: "\e92b";
}
.icon-height:before {
  content: "\e92c";
}
.icon-file:before {
  content: "\e92d";
}
.icon-edit:before {
  content: "\e92e";
}
.icon-download:before {
  content: "\e92f";
}
.icon-copy:before {
  content: "\e930";
}
.icon-add:before {
  content: "\e931";
}
.icon-add_box:before {
  content: "\e932";
}
.icon-refresh1:before {
  content: "\e933";
}
.icon-search:before {
  content: "\e934";
}
.icon-user_box:before {
  content: "\e935";
}
.icon-refresh2:before {
  content: "\e936";
}
.icon-remove_box:before {
  content: "\e937";
}
.icon-remove:before {
  content: "\e938";
}
.icon-send:before {
  content: "\e939";
}
.icon-upload:before {
  content: "\e93a";
}
.icon-width:before {
  content: "\e93b";
}
.icon-down:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.icon-right:before {
  content: "\e902";
}
.icon-up:before {
  content: "\e903";
}
.icon-account:before {
  content: "\e904";
}
.icon-mgmt:before {
  content: "\e905";
}
.icon-customer:before {
  content: "\e906";
}
.icon-device:before {
  content: "\e907";
}
.icon-payment:before {
  content: "\e908";
}
.icon-standard:before {
  content: "\e909";
}
.icon-app:before {
  content: "\e90a";
}
.icon-voc:before {
  content: "\e90b";
}
.icon-menu-open:before {
  content: "\e90c";
}
.icon-menu-hide:before {
  content: "\e90d";
}
.icon-previous:before {
  content: "\e90e";
}
.icon-first:before {
  content: "\e90f";
}
.icon-last:before {
  content: "\e910";
}
.icon-next:before {
  content: "\e911";
}
.icon-close {
  position: absolute;
  top: 6px;
  left: -30px;
}
.icon-close:before {
  content: "\e912";
}
.icon-dashboard:before {
  content: "\e913";
}
.icon-logout:before {
  content: "\e914";
}
.icon-my:before {
  content: "\e915";
}
.icon-search2:before {
  content: "\e916";
}
.icon-filter:before {
  content: "\e917";
}
.icon-edit2:before {
  content: "\e918";
}
.icon-detail:before {
  content: "\e919";
}
.icon-point:before {
  content: "\e91a";
}
.icon-remove2:before {
  content: "\e91b";
}
.icon-zoomin:before {
  content: "\e91c";
}
.icon-desc:before {
  content: "\e91d";
}
.icon-asc:before {
  content: "\e91e";
}
.icon-zoomout:before {
  content: "\e91f";
}
.icon-on:before {
  content: "\e920";
}
.icon-refresh:before {
  content: "\e921";
}
.icon-off:before {
  content: "\e922";
}
.icon-pause:before {
  content: "\e923";
}
.icon-inquire:before {
  content: "\e924";
}
.fa-unsorted:before, .fa-sort:before, .fa-sort-down:before, .fa-sort-desc:before{
  content: "\e91d";
}
.fa-sort-up:before, .fa-sort-asc:before{
  content: "\e91e";
}
