<common-modal class="ranking-edit-wrap" #commonModal >
    <!-- <div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}"> -->
        
          
    <div class="common-modal-header" >
      <div class="modal-title">자동완성 수정</div>
      <div class="modal-close" (click)="modalClose()">
        <i class="icon-close"></i>
      </div>
    </div>
    <div class="modal-content-wrap" >
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">FIELD_NAME</div>
          <input #wordInput [(ngModel)]="srch_ranking.FIELD_NAME" class="input-required" placeholder="내용을 입력해주세요.">
        </div>
      </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">BOOST</div>
                <input #wordInput [(ngModel)]="srch_ranking.BOOST" class="input-required" placeholder="내용을 입력해주세요.">
            </div>
        </div>
    </div>
    <div class="common-modal-footer">

      <div class="button-wrap float-right">
        <button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>
        <button class="btn-alert" (click)="rankingEditSave()">저장</button>
      </div>
    </div>
  
  </common-modal>
