<div class="tabWrap_container">
	<div class="titleBoxLine">
		<h4>인덱싱</h4>
	</div>
	<!-- <div class="common-sub-menu text-left">
	<p-menubar [model]="items"
		 styleClass="sub-menu-wrap">
	</p-menubar>
	</div> -->

	<div class="stn_lot">
		<div class="bqa-indexing-wrap">
			<div class="indexing-title-wrap">
				<div class="indexing-title">전체 인덱싱 또는 추가 인덱싱을 선택하여 인덱싱을 시작하세요.</div>
				<div class="indexing-btn-wrap">
					<button class="btn-normal-line" (click)="fullIndexing()">전체 인덱싱</button>
					<button class="btn-normal-line" (click)="addIndexing()">추가 인덱싱</button>
				</div>
			</div>
			<div class="indexing-content-wrap">
				<p-progressBar [value]="progress_value" [style]="{'height':'12px', 'border-radius':'3px', 'border':'none', 'background':'#eaeff9'}"></p-progressBar>
				<p-growl [(value)]="msgs"></p-growl>
			</div>
		</div>
	</div>
	<div class="titleBoxLine">
		<h4>인덱싱 내역</h4>
	</div>

	<div class="tbl_lot_pdNone02">
		<common-table [style]="{padding:'0'}">

			<div class="table-wrap-rowgroup">
				<p-dataTable [value]="items" styleClass="custom-row-table" dataKey="history_id">

					<p-column header="No" field="history_id" [style]="{'width':'50px'}">
						<ng-template let-col let-item="rowData" pTemplate="body">
							{{item.history_id}}
						</ng-template>
					</p-column>
					<p-column header="Total" field="total" [style]="{'width':'50px'}">
						<ng-template let-col let-item="rowData" pTemplate="body">
							{{item.total}}
						</ng-template>
					</p-column>
					<p-column header="Type" field="type" [style]="{'width':'100px'}">
						<ng-template let-col let-item="rowData" pTemplate="body">
							<div *ngIf="item.type == 'F'">
								전체
							</div>
							<div *ngIf="item.type == 'A'">
									추가
								</div>
								<div *ngIf="item.type == 'D'">
									 도메인
									</div>
						</ng-template>
					</p-column>
					<p-column header="indexing_started_dtm" field="indexing_started_dtm" [style]="{'width':'220px','text-align':'left'}">
						<ng-template let-col let-item="rowData" pTemplate="body">
							<!-- <p>{{((v.key == 'open_dtm' || v.key == 'close_dtm') && (v.value | isDateStr)) ? (v.value | date: 'yy.MM.dd HH:mm:ss') : v.value}}</p> -->
							{{item.indexing_started_dtm | dateTimeFormat: 'YY.MM.DD HH:mm:ss'}}
						</ng-template>
					</p-column>
					<p-column header="committed_dtm" field="committed_dtm" [style]="{'width':'220px','text-align':'left'}">
						<ng-template let-col let-item="rowData" pTemplate="body">
							{{item.committed_dtm | dateTimeFormat: 'YY.MM.DD HH:mm:ss'}}
						</ng-template>
					</p-column>
					<p-column header="taken_time" field="taken_time" [style]="{'width':'220px','text-align':'left'}">
						<ng-template let-col let-item="rowData" pTemplate="body">
							{{item.taken_time}}
						</ng-template>
					</p-column>
					<p-column header="creator_id" field="creator_id" [style]="{'width':'220px','text-align':'left'}">
						<ng-template let-col let-item="rowData" pTemplate="body">
							{{item.creator_id}}
						</ng-template>
					</p-column>

					<ng-template pTemplate="emptymessage">
						<div class="no-data">조회할 데이터가 없습니다</div>
					</ng-template>

				</p-dataTable>

			</div>

			<div class="common-table-footer">
				<div class="footer-wrap text-center">
					<app-paginator (page)="onPaginator($event)" [totalCount]="paginator.totalCount" [pageSize]="paginator.pageSize"></app-paginator>
				</div>
			</div>
		</common-table>
	</div>
</div>
