<div class="common-section text-center model-section">
  <div class="common-container">
    <div class="common-header-title">
      <span>랭킹 관리</span>
    </div>
    <common-table>
       <div class="header-wrap-filter common-table">
        <div class="common-input table-input">
          <div class="filter-wrap">
            <input type="text" class="filter-input"  [(ngModel)]="selectText"  placeholder="검색어를 입력해 주세요">
            <button (click)="onSearchKey($event)"></button>
          </div>
        </div>
        <div class="button-wrap">
          <button class="btn-normal-line" (click)="rankingAddOpen()">추가하기</button>
            <button class="btn-negative" type="button" (click)="removesOpen($event)"
                    [ngClass]="{'btn-disabled': selectedItems === null || selectedItems.length === 0}"> 삭제하기</button>
        </div>
      </div>
       <div class="table-wrap-rowgroup">
        <p-dataTable [value]="items" styleClass="custom-row-table"
                       [(selection)]="selectedItems"
                       dataKey="ID"
                        >
            <p-column selectionMode="multiple"
                      [style]="{'width':'40px'}">
            </p-column>
            <p-column header="ID" field="ID" [style]="{'width':'55px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
            <p-column header="FIELD_NAME" field="FIELD_NAME" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
                <ng-template let-col let-item="rowData" pTemplate="body">
                    <div> {{item[col.field]}}</div>
                </ng-template>
            </p-column>
            <p-column header="BOOST" field="BOOST" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
                <ng-template let-col let-item="rowData" pTemplate="body">
                    <div> {{item[col.field]}}</div>
                </ng-template>
            </p-column>

          <p-column [style]="{'width':'120px'}">
            <ng-template pTemplate="header">
              <div>Action</div>
            </ng-template>
            <ng-template let-item="rowData" pTemplate="body">
              <div class="table-button">
                <span>
                  <i class="icon-edit" (click)="rankingEditOpen(item)"></i>
                </span>
                <span>
                  <i class="icon-remove2" (click)="rankingRemoveOpen(item)"></i>
                </span>
              </div>
            </ng-template>
          </p-column>
          <ng-template pTemplate="emptymessage">
            <div class="no-data">조회할 데이터가 없습니다</div>
          </ng-template>
        </p-dataTable>
      </div>
      <div class="common-table-footer">
        <div class="footer-wrap text-center">
          <div class="pagination">
            <span class="btn-first btn-page" [class.disabled]="pg === 1" (click)="pageChanged(1)"></span>
            <span class="btn-prev btn-page" [class.disabled]="pg === 1" (click)="pageChanged(pg - 1)"></span>
            <span class="page-number"><span class="now-page">{{pg}}</span>/<span>{{totalPage}}</span></span>
            <span class="btn-next btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(pg + 1)"></span>
            <span class="btn-last btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(totalPage)"></span>
          </div>
        </div>
      </div>
    </common-table>
  </div>
</div>

<app-ranking-add #addChild (addClose)="modalClose($event)"></app-ranking-add>
<app-ranking-edit #editChild (editClose)="modalClose($event)"></app-ranking-edit>
<app-ranking-remove #removeChild (removeClose)="modalClose($event)"></app-ranking-remove>

  
