<div class="menu-content-container">
  <div *ngIf="!(menuInfoKeys | isEmpty)" class="common-menu-wrapper menu-wrapper" [class.icon]="isSimpleMenu">
    <div class="menu-container">
      <p class="parent-menu toggle-menu" (click)="toggleMenuType()">
        <span class="icon" *ngIf="!isSimpleMenu"><i class="icon-menu-hide"></i></span>
        <span class="icon" *ngIf="isSimpleMenu"><i class="icon-menu-open"></i></span>
        <span class="name">HIDE MENU</span>
      </p>
    </div>
    <div class="menu-container" *ngFor="let menu of menuInfoKeys"
        [class.selected]="selectedMenu(menuInfo[menu])"
        [class.open]="isOpen(menuInfo[menu])"
        [class.focus]="focusMenu(menuInfo[menu]) && hasNoChildren(menuInfo[menu])
          || (
              (menuInfo[menu].children | reduceJson : ['visible_yn']).indexOf('Y') < 0
              && selectedMenu(menuInfo[menu])
          )
        "
    >
      <p class="parent-menu" [class.selected]="selectedMenu(menuInfo[menu])" (click)="onSelectParent($event, menu, menuInfo[menu])">
        <span class="icon"><i class="icon-{{menuInfo[menu].icon}}"></i></span>
        <span class="name">{{menuInfo[menu].name}}</span>
        <span class="up-down" *ngIf="hasChildren(menuInfo[menu])"><i class="icon-right"></i><i class="icon-down"></i></span>
      </p>
      <ul class="child-menu" [hidden]="hasNoChildren(menuInfo[menu])"
        [class.open]="isOpen(menuInfo[menu])"
        [class.close]="isClose(menuInfo[menu])"
      >
        <!-- first depth -->
        <li class="child-menu-title" *ngIf="isSimpleMenu" (click)="onSelectParent($event, menu, menuInfo[menu])"><span class="name">{{menuInfo[menu].name}}</span></li>

        <!-- second depth -->
        <div *ngFor="let child of menuInfo[menu].children; index as i">
          <div *ngIf ="child.children.length < 1">
        
            <li class="child-menu-item" 
              [class.selected]="selectedMenu(child)"
            (click)="onSelectChild($event, child.menu_id, child)">
            <span class="name">{{child.name}}</span>
            </li> 

          </div>
          <div *ngIf ="child.children.length > 0">
        
            <li class="child-menu-item">
            <div class="sub-container" 
                style="border-bottom:none"
                [class.selected]="selectedMenu(child)"
                [class.open]="isOpen(child)"
                [class.focus]="focusMenu(child) && hasNoChildren(child)"
            >

              <p class="parent-menu" 
                  style="padding: 0 7px 0 0px"
                  [class.selected]="selectedMenu(child)"
                  (click)="onSelectParent2Depth($event, child.menu_id, child)"
              >
                <span class="name">{{child.name}}</span>
                <span class="up-down" *ngIf="child.children.length"><i class="icon-right"></i><i class="icon-down"></i></span>
              </p>
              
              <ul class="child-menu" [hidden]="hasNoChildren(child)"
                [class.open]="isOpen(child)"
                [class.close]="isClose(child)"
                  >
                <li class="child-menu-item" 
                    *ngFor="let cchild of child.children"
                    [class.selected]="selectedMenu(cchild)"
                    (click)="onSelectChild($event, cchild.menu_id, cchild)">
                  <span class="name">{{cchild.name}}</span>
                </li>
              </ul>
            </div>
            </li>
          </div>
          
        </div>

  
      </ul>
    </div>
  </div>
  <!-- for debug -->
  <!-- <div >
    debug:<br>
    <input [(ngModel)]="currentMenuIds"/><br>
    <input [(ngModel)]="currentMenuId"/><br>
    <input [(ngModel)]="openMenuIds"/><br>
  </div> -->
</div>
