/* START Menu */
@import "../../../../css/style.common";

$menu-height: 48px;
$toggle-menu-button-height:32px;
$sub-menu-height: 36px;
$simple-sub-menu-width: 140px;
$menu-icon-size:24px;

$sub-sub-padding: 11px;

.menu-content-container {
  z-index: 900;
  background-color: $C1;
  font-size: $font-02;
  @extend %fit;
  font-weight: normal;
  -webkit-box-shadow: 1px 0px 3px rgba(0,0,0,.1);
  box-shadow: 1px 0px 3px rgba(0,0,0,.1);
  overflow-x: hidden;
  color: $C7;

  .common-menu-wrapper.icon {
    .menu-container {
      &.selected {
        .parent-menu {
          background-color: $main-color;
        }
      }
      .child-menu {
        display: none;
        position: absolute;
        left: 100%;
        width: $simple-sub-menu-width;
        top: -1px;
        .child-menu-title {
          color: $C7;
          line-height: $menu-height + 1px;
          border-bottom: 1px solid $C3;
        }
        .child-menu-title, .child-menu-item {
          padding-left: 20px;
        }



/* add 3depth */
        .child-menu-item {
          .sub-container {
            &.selected {
              .parent-menu {
                background-color: $main-color;
              }
            }
            .child-menu {
              display: none;
              position: absolute;
              left: 100%;
              width: $simple-sub-menu-width;
              top: -1px;
              .child-menu-title {
                color: $C7;
                line-height: $menu-height + 1px;
                border-bottom: 1px solid $C3;
              }
              .child-menu-title, .child-menu-item {
                padding-left: 20px;
              }
            }
            &:hover {
              .parent-menu {
                background-color: $C2;
              }
              .child-menu {
                display: block;
              }
            }
          }
        }
/* end add 3depth */



      }
      &:hover {
        .parent-menu {
          background-color: $C2;
        }
        .child-menu {
          display: block;
        }
      }
    }
  }
  .menu-container {
    display: block;
    overflow: visible;
    position: relative;
    width: 100%;
    border-bottom: 1px solid $C3;
    .parent-menu, .child-menu {
      cursor: pointer;
    }
    &.focus .parent-menu {
      background-color: $main-color;
    }
    .parent-menu {
      line-height: $menu-height;
      height: $menu-height;
      overflow: hidden;
      padding: 0 7px 0 18px;
      font-weight: bold;
      > span {
        vertical-align: middle;
        display: inline-block;
        float: left;
      }
      .icon {
        font-size: 24px;
        margin-right: 8px;
        margin-top: -1px;
      }
      .up-down {
        display: inline-block;
        float: right;
        font-size: 12px;
        vertical-align: middle;
        .icon-down {
          display: none;
        }
        .icon-right {
          opacity: .6;
        }
      }
      &.toggle-menu {
        .icon {
          margin-top: 0px;
          font-size: 18px;
        }
        height: 32px;
        line-height: 32px;
        font-size: 11px;
        padding-left: 22px;
      }
    }
    .child-menu {
      display: none;
      background-color: $C2;

      .child-menu-item {
        // height: $sub-menu-height;
        line-height: $sub-menu-height;
        padding-left: 49px;

        &.selected {
          background-color: $main-color;
          font-weight: bold;
        }
        &:hover {
          color: $C8;
        }
        .child-menu-item {
          line-height: $sub-menu-height;
          padding-left: $sub-sub-padding;
          &.selected {
            background-color: $main-color;
            font-weight: bolder;
          }
          &:hover {
            color: $C9;
          }
        }



/* add 3depth */
        .sub-container {
          display: block;
          overflow: visible;
          position: relative;
          width: 100%;
          border-bottom: 1px solid $C3;
          .parent-menu, .child-menu {
            cursor: pointer;
          }
          &.focus .parent-menu {
            background-color: $main-color;
          }
          .parent-menu {
            line-height: $menu-height;
            height: $menu-height;
            overflow: hidden;
            padding: 0 7px 0 18px;
            font-weight: bold;
            > span {
              vertical-align: middle;
              display: inline-block;
              float: left;
            }
            .icon {
              font-size: 24px;
              margin-right: 8px;
              margin-top: -1px;
            }
            .up-down {
              display: inline-block;
              float: right;
              font-size: 12px;
              vertical-align: middle;
              .icon-down {
                display: none;
              }
              .icon-right {
                display: inline-block;
                opacity: .6;
              }
            }
            &.toggle-menu {
              .icon {
                margin-top: 0px;
                font-size: 18px;
              }
              height: 32px;
              line-height: 32px;
              font-size: 11px;
              padding-left: 22px;
            }
          }
          .child-menu {
            display: none;
            background-color: $C2;
      
            .child-menu-item {
              // height: $sub-menu-height;
              line-height: $sub-menu-height;
              padding-left: $sub-sub-padding;
      
              &.selected {
                background-color: $main-color;
                font-weight: bold;
              }
              &:hover {
                color: $C8;
              }
              // .child-menu-item {
              //   line-height: $sub-menu-height;
              //   padding-left: $sub-sub-padding;
              //   &.selected {
              //     background-color: $main-color;
              //     font-weight: bolder;
              //   }
              //   &:hover {
              //     color: $C9;
              //   }
              // }
            }
          }
          &.selected {
            .parent-menu, .child-menu {
              display: block;
              color: $C9;
              //font-weight: bold;
            }
          }
          &.selected, &.open {
            .parent-menu .up-down {
              .icon-right {
                display: none;
              }
              .icon-down {
                display: inline-block;
              }
            }
          }
        }
/* end add 3depth */



      }
    }
    &.selected {
      .parent-menu, .child-menu {
        display: block;
        color: $C9;
        //font-weight: bold;
      }
    }
    &.selected, &.open {
      .parent-menu .up-down {
        .icon-right {
          display: none;
        }
        .icon-down {
          display: inline-block;
        }
      }
    }
  }
}

/* END Menu */
