<div class="common-section" style="min-width: 715px">
  <div class="common-container" style="padding: 15px 5px">
    <div class="common-content" style="padding: 3px 2px; border: 0">
      <div class="common-header-title" [ngStyle]="{width: '100%' }">
        PREITF 패턴 매칭 <!--<i class="icon-question"></i>--><br />
      </div>
      <div class="common-input open2">
        <span>매칭시 BQA를 SKIP하고 ITF로 진입합니다.</span>
        <button class="btn-normal-line float-right" (click)="addPattern()">
          ADD PATTERN
        </button>
      </div>
      <!--<div class="common-input open1">-->
        <div style="display: table-cell; position: absolute; margin: 2px">
          <app-pre-classifier #preitfModal></app-pre-classifier>
        </div>
      <!--</div>-->
    </div>
  </div>
</div>
