@import "../../../../../css/style.common";

.open1 {
  animation: open1 0.15s forwards;
  overflow: hidden;
}
@keyframes open1 {
  from{ height: 0; }
  to  { height: 200px; }
}
.close1 {
  animation: close1 0.15s forwards;
  overflow: hidden;
  padding-bottom: 0;
}
@keyframes close1 {
  from{ height: 200px; }
  to  { height: 0; border: 0; padding-bottom: 0; }
}

.open2 {
  animation: open2 0.15s forwards;
  overflow: hidden;
}
@keyframes open2 {
  from{ height: 0; }
  to  { height: 36px; }
}
.close2 {
  animation: close2 0.15s forwards;
  overflow: hidden;
  padding-bottom: 0;
}
@keyframes close2 {
  from{ height: 36px; }
  to  { height: 0; border: 0; padding-bottom: 0; }
}
