<div class="popup-wrap-inner" data-popup="popup-lately" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="popup-body">
        <div class="popup-header">
            <div class="title"><i class="icon icon-past-search white"></i> 최근 대화 내역</div>
            <!--<div class="buttons">-->
                <!--<a href="#" class="btn-popup-resize"><i class=""></i>크게보기</a>-->
            <!--</div>-->
        </div>
        <div class="popup-content">
            <div class="popup-content-inner">
                <div class="lately-list">
                    <div class="total">최근대화 내역은 10개까지만 제공합니다.</div>
                    <ul class="list" id="conv_list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-bottom">
            <div class="buttons t-right">
                <a href="#" class="btn btn-dark btn-min btn-popup-close" data-popup-id="#bodyPopup">닫기</a>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        // 최근 대화 10건 그리기
        var drawConversation_History = function () {
            var data = getConverSationTopN(GMaiBot.get().botType);
            var count = 0;
            var ul = $('#conv_list');

            ul.empty();

            if(data != null && data.length > 0) {
                count = data.length;
                // $('#conv_total').html(count+'</b>건');
                Stack.setArray(data);
                for(var i = 0; i < count ; i++){
                    var msg =  Stack.peek(i);
                    console.log(msg);
                    var tagId = 'tag' + i;
                    var li = $('<li class="item"></li>');
                    var aTag = $('<a href="#" id="'+ tagId +'" onclick="callQuestion(\'' + msg.message +'\');" ></a>');
                    var span = $('<span class="date"></span>')
                    var b = $('<b class="text"></b>');
                    span.text(msg.time);
                    b.text(msg.message);
                    aTag.append(span);
                    aTag.append(b);


                    li.append(aTag);
                    ul.append(li);
                }
            }else{
                // $('#conv_total').html(count+'</b>건');
            }
        }

        var callQuestion = function(message) {
            var msg = ''+ message;
            var popup = $(this).attr('data-popup-id');
            popupClose('#bodyPopup');
            botQuestion(msg);
        }
    </script>
</div>
