<div class="popup-wrap-inner" data-popup="popup-help" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="popup-help-header">
        <div class="help-header-title">도움말</div>
        <a href="#" class="btn-popup-close" data-popup-id="#bodyPopup"><i class="fas fa-times-circle"></i></a>
    </div>
    <div class="popup-help-content">
        <!--<ul class="help-opener">
            <li class="">
                <dl>
                    <dt><img src="/MOBI_CHAT/images/icon/icon_menu_close.svg" alt="메뉴 펼치기" /></dt>
                    <dd>네비게이션의 크기를 줄이거나 늘릴 수 있습니다.</dd>
                </dl>
            </li>
        </ul>
        <ul class="help-menu">
            <li class="">
                <dl>
                    <dt><img src="/MOBI_CHAT/images/menu/menu_1_off.svg" alt="회사생활봇" />회사생활봇</dt>
                    <dd>담당자 안내, 식단, 버스, 회의실 조회 등을 제공합니다.</dd>
                </dl>
            </li>
            <li class="">
                <dl>
                    <dt><img src="/MOBI_CHAT/images/menu/menu_2_off.svg" alt="경영지원봇" />경영지원봇</dt>
                    <dd>총무, 인사, 교육, 보안 관련 및 imobis 메뉴 위치 안내 등을 안내합니다.</dd>
                </dl>
            </li>
            <li class="">
                <dl>
                    <dt><img src="/MOBI_CHAT/images/menu/menu_3_off.svg" alt="IT지원봇" />IT지원봇</dt>
                    <dd>IT시스템 장애 해결 관련 업무 등을 안내합니다.</dd>
                </dl>
            </li>
            <li class="">
                <dl>
                    <dt><img src="/MOBI_CHAT/images/menu/menu_5_off.svg" alt="문서검색봇" />문서검색봇</dt>
                    <dd>문서 및 용어, 백과 사전 검색 등을 지원합니다.</dd>
                </dl>
            </li>
        </ul>
        <ul class="help-feedback">
            <li class="like">
                <dl>
                    <dt><i class="fas fa-thumbs-up"></i><span class="none">좋아요</span></dt>
                    <dd>검색 결과가 정확하고 맘에 드신다면 눌러주세요.</dd>
                </dl>
            </li>
            <li class="dislike">
                <dl>
                    <dt><i class="fas fa-thumbs-down"></i><span class="none">싫어요</span></dt>
                    <dd>회사생활봇이 좀 더 똑똑해지길 바라신다면 눌러주세요.</dd>
                </dl>
            </li>
        </ul>
        <ul class="help-buttons">
            <li class="">
                <dl>
                    <dt><i class="icon icon-past-search blue"></i> 최근 대화</dt>
                    <dd>최근 대화 목록을 확인 할 수 있습니다.</dd>
                </dl>
            </li>
            <li class="">
                <dl>
                    <dt><i class="fas fa-user-edit"></i>의견 제안</dt>
                    <dd>회사생활봇 서비스에 대한 의견을 제안 할 수 있습니다.</dd>
                </dl>
            </li>
            <li class="">
                <dl>
                    <dt><i class="fas fa-book"></i>기능 소개</dt>
                    <dd>회사생활봇의 기능 및 활용 방법을 안내합니다.</dd>
                </dl>
            </li>
            <li class="">
                <dl>
                    <dt><i class="fa fa-cog"></i>챗봇 설정</dt>
                    <dd>알림, 공지 활성화 등을 변경 할 수 있습니다.</dd>
                </dl>
            </li>
        </ul>
        <ul class="help-other">
            <li class="">
                <dl>
                    <dt><i class="fa fa-comment-dots"></i></dt>
                    <dd>현재 사용중인 챗봇의 주요 서비스를 안내합니다.</dd>
                </dl>
            </li>
        </ul>-->
        <div class="help-img help-img-1">
            <img src="./images/help_1.png" />
        </div>
        <div class="help-img help-img-2">
            <img src="./images/help_2.png" />
        </div>
    </div>
</div>