<div class="search-wrap-inner" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- tabs header -->
    <div class="search-header">
        <div class="buttons">
            <a href="#" title="검색창 닫기" class="btn-search-close"><i class="fas fa-times"></i><span class="none">검색창 닫기</span></a>
        </div>
    </div>
    <!-- tabs body -->
    <div class="search-tabs">
        <div class="tab">
            <div class="row-group">
                <div class="search-total">
                    <i class="far fa-file-alt"></i>
                    <span class="color-point">**</span> 로 검색한 버스 노선 검색결과 :
                    <b>총 0건</b>
                </div>
                <div class="bus-list">
                    <div class="list">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var shuttleBusNode = [[${shuttleBusNode}]];
        console.log(shuttleBusNode);
        var shuttleBusHeader = function (shuttleBusNode) {

            if(!shuttleBusNode || shuttleBusNode.shuttleBusCount == 0){
                $('body').attr('data-search','');
                resizeWindow('');
                return;
            }

            if (shuttleBusNode && shuttleBusNode.question && shuttleBusNode.shuttleBusCount) {
                $(".search-total").html("<i class='far fa-file-alt'></i>");
                $(".search-total").append("<span class='color-point'>"+shuttleBusNode.question+"</span> 로 검색한 버스 노선 검색결과 :");
                $(".search-total").append("<b>총 "+shuttleBusNode.shuttleBusCount+"건</b>");
            }
        }
        var shuttleBusStopNodeView = function (index, itemNode){
            var shuttleBusStops = itemNode;

            var $route = $("<ul class='bus-route' data-route-total='" + shuttleBusStops.length + "'></ul>");

            $.each(shuttleBusStops,function(index, stopNode){
                var stopNameNode = "<dt>"+ stopNode.stopName +"</dt>",
                    stopTimeNode = (stopNode.stopTime && (stopNode.stopTime !== "00:00"))?"<dd>"+ stopNode.stopTime +"</dd>":"";
                var $stop = $("\
                    <li>\
                        <dl>"+ stopNameNode + stopTimeNode +"</dl>\
                    </li>\
                ");
                //if(stopNameNode.indexOf("연구소") != -1) {
                    //$stop.addClass('office');
                //}
                var searchStopNameArray = (shuttleBusNode.stopName).split(" ");
                for (var i = 0; i < searchStopNameArray.length; i++) {
                    if((stopNode.stopName).indexOf(searchStopNameArray[i]) != -1) {
                        $stop.addClass('on');
                    }
                }

                $route.append($stop);
            });
            return $route;
        }

        shuttleBusHeader(shuttleBusNode);

        var $dataContainer = $(document).find('.bus-list .list');
        $dataContainer.empty();
        $.each(shuttleBusNode.shuttleBus,function(index, itemNode){
            var busKind = (itemNode.busKind)?itemNode.busKind:'',
                endStation = (itemNode.endStation)?itemNode.endStation:'',
                kind = (itemNode.kind)?itemNode.kind:'',
                opEndTime = (itemNode.opEndTime)?itemNode.opEndTime:'',
                opKind = (itemNode.opKind)?itemNode.opKind:'',
                opName = (itemNode.opName)?itemNode.opName:'',
                opNo = (itemNode.opNo)?itemNode.opNo:'',
                opStartTime = (itemNode.opStartTime)?itemNode.opStartTime:'',
                opWeek = (itemNode.opWeek)?itemNode.opWeek:'',
                startStation = (itemNode.startStation)?itemNode.startStation:'';

            var type = '';
            var cycle = false;
            var opKindItem = "<dt>운행 종류</dt><dd>" + opKind + "</dd>";
            switch (kind) {
                case "출근" :
                    type = 'gohome';
                    break
                case "퇴근" :
                    type = 'gowork';
                    break
                case "셔틀" :
                    type = 'shuttle';
                    opKindItem = "";
                    break
                case "순환셔틀" :
                    type = 'shuttle';
                    opKindItem = "";
                    cycle = true
                    break
            }
            var $item = $("<div class='bus-item' data-bus-type='"+type+"' data-bus-cycle='"+cycle+"'></div>");
            $item.html("\
                <div class='bus-title'>\
                    <h4><b>" + kind + "</b>" + opWeek + "</h4>\
                    <dl>\
                        <dt>출발시간</dt>\
                        <dd>" + opStartTime + "</dd>\
                        <dt>노선명</dt>\
                        <dd>" + opName + "</dd>\
                        <dt>운행사</dt>\
                        <dd>" + busKind + "</dd>" + opKindItem + "\
                    </dl>\
                </div>\
            ");
            $item.append(shuttleBusStopNodeView(index, itemNode.stops))
            $dataContainer.append($item);
        });


        $('.bus-list .list').mCustomScrollbar({
            advanced:{
                //updateOnContentResize: false,
                //updateOnImageLoad: false
            }
        });
    </script>
</div>