<div class="popup-wrap-inner" data-popup="popup-mrc" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="popup-body">
        <div class="popup-header">
            <div class="title"> MRC 검색결과 : <b>총 0건</b></div>
            <div class="buttons">
                <!--<a href="#" id="page_document_preview" class="btn-view-document" title="문서로 이동">-->
                    <!--<i class="icon icon-view-document white v-middle" style="width:20px"></i>-->
                <!--</a>-->
                <!--<a href="#" title="검색창 닫기" class="btn-search-close"><i class="fas fa-times"></i><span class="none">창 닫기</span></a>-->
            </div>
        </div>
        <div class="popup-content">
            <div class="popup-content-inner">
                <div class="page-list">
                    <!-- each start -->
                    <!--<div class="page-list-item">-->
                        <!--<div class="page-detail-info">-->
                            <!--<div class="title" id="objectTitle">-->
                                <!--<span class="label label-MCLOUD"></span>-->
                                <!--2018 GNSS GPS <span class="color-point">네비게이션</span>개발동향과 시장전망-->
                            <!--</div>-->
                            <!--<ul class="info">-->
                                <!--<li><b>작성자</b><span id="ownerName">홍길동</span></li>-->
                                <!--<li><b>작성부서</b><span id="groupName">서비스총괄팀</span></li>-->
                                <!--<li><b>작성일</b><span id="sourceCreationDateTime">2019.03.31 15:15:15</span></li>-->
                                <!--<li><b>수정일</b><span id="sourceModifyDateTime">2019.03.31 15:15:15</span></li>-->
                            <!--</ul>-->
                            <!--<div class="buttons">-->
                                <!--<a href="#" title="문서로 이동"></a>-->
                                <!--<a href="#" title="즐겨찾기"></a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<ul class="page-detail-list" id="">-->
                            <!--<li>-->
                                <!--<p class="text">-->
                                <!--제1부에서는 GPS <span class="color-point">네비게이션</span>의 운용 개념과 활용에 대해서 선진국에서는 이떠헥 활용하고 있는지에 대한 전반적인 지식을 전달하는 데 중점을 두었다.-->
                                <!--제2부에서는 항공기 분야에 적용되고 있는 현실과 현재 운용되고 있는 계기접근시설을 대체할 수 있는 시설들에 관한 내용들을 중심적으로 다루었다. 물론 항공인을 위한...-->
                                <!--</p>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!-- each end -->
                </div>
            </div>
        </div>
        <div class="popup-bottom">
            <div class="buttons t-right">
                <a href="#" class="btn btn-dark btn-min btn-popup-close" data-popup-id=".layer-popup">닫기</a>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /**
         * 페이지네이션 처리
         */
        var mrcPaginationRowView = function (index, itemNode, botSessionInfo) {
            // window.console && console.log("mrcPaginationRowView  index: ", index);
            // window.console && console.log("mrcPaginationRowView  itemNode: ", itemNode);

            // 문서 생성일시, 변경일시
            var sourceCreationDateTime = "";
            var sourceModifyDateTime = "";
            if (!U.isEmpty(itemNode.creationDate)) {
                sourceCreationDateTime = $.format.date(itemNode.creationDate, "yyyy-MM-dd HH:mm:ss");
            }
            if (!U.isEmpty(itemNode.modifyDate)) {
                sourceModifyDateTime = $.format.date(itemNode.modifyDate, "yyyy-MM-dd HH:mm:ss");
            }

            var objectItem = {};
            objectItem.sourceSystemType = itemNode.sourceSystemType;
            objectItem.objectId = itemNode.objectId;
            objectItem.objectName = itemNode.objectName;
            objectItem.objectUrl = itemNode.objectUrl;
            objectItem.objectDedupe = "";
            objectItem.wikiSID = botSessionInfo.wikiSID;

            var $dev_item = $("<div class='page-list-item'></div>");
            var $dev_header = $("<div class='page-detail-info'></div>");
            var $div_header_title = $("<div class='title' id='objectTitle'></div>");
            $div_header_title.append("<span class='label label-"+itemNode.sourceSystemType+"'></span>"+itemNode.objectName);
            // 문서 미리보기 Button 생성
            if (!U.isEmpty(objectItem.objectUrl)) {
                $div_header_title.append("&nbsp;&nbsp;&nbsp;");
                var $button_document_preview = $("<a href='#' title='문서보기'><i class='icon icon-view-document blue'></i></a>");
                $button_document_preview.click(function () {
                    documentPreview(objectItem);
                });
                $div_header_title.append($button_document_preview);
            }
            $dev_header.append($div_header_title);
            $dev_header.append("\
                <ul class='info'>\
                    <li><b>작성자</b><span>"+itemNode.ownerUserName+"</span></li>\
                    <li><b>작성부서</b><span>"+itemNode.ownerDeptName+"</span></li>\
                    <li><b>작성일</b><span>"+sourceCreationDateTime+"</span></li>\
                    <li><b>수정일</b><span>"+sourceModifyDateTime+"</span></li>\
                </ul>\
            ");
            var $dev_body = $("<ul class='page-detail-list'></ul>");
            $dev_body.append("\
                <li><p class='text'>"+itemNode.answer+"</p></li>\
            ");
            $dev_item.append($dev_header);
            $dev_item.append($dev_body);
            return $dev_item;
        }
        var mrcPaginationView = function () {
            window.console && console.log("mrcPaginationView  start...");

            var botSessionInfo = [[${session.botSessionInfo}]]; // 세션정보
            var dataNode = [[${dataNode}]];
            window.console && console.log("mrcPaginationView  dataNode:", dataNode);

            var $dataContainer = $("[data-popup='popup-mrc']").find(".page-list");
                 $dataContainer.empty();

            if (U.isEmpty(dataNode) || dataNode.length <= 0) {
                var emptyHtml = "<div class='empty'>"
                                + "<p class='empty-title'>인공지능이 검색된 문서에서 답을 찾을 수 없습니다.<br/>인공지능은 다음의 과정에 대해 답을 보다 잘 할 수 있습니다.</p>"
                                + "<p><b>1. 인공지능은 단어의 의미, 명확한 대상이나 방법을 확인하는 질문에 답변을 잘 합니다.</b>"
                                + "<br/>&nbsp;&nbsp;- &quot;협동 다이어그램이 뭔지 알려줘&quot;"
                                + "<br/>&nbsp;&nbsp;- &quot;LED 헤드램프를 최초로 개발한 국가가 어딘지 궁금해&quot;"
                                + "<br/>&nbsp;&nbsp;- &quot;스위치드 캐패시터 컨버터는 어떨 때 쓰여&quot;"
                                + "</p>"
                                + "<p><b>2. 복잡한 기술 문서보다는 규정이나 뉴스에서 답을 더 잘 찾을 수 있습니다.</b>"
                                + "<br/>&nbsp;&nbsp;- N 브랜드에 대한 설명이 있는 문서에서, &quot; N 글로벌 전략에 대해 알려줘 &quot;"
                                + "<br/>&nbsp;&nbsp;- 코나에 대한 설명이 있는 문서에서, &quot;코나의 특징에 대해 알려줘&quot;"
                                + "<br/>&nbsp;&nbsp;- 출장지원 관련 문서에서, &quot;해외출장 시 항공, 숙방은 어떻게 지급해&quot;"
                                + "</p>"
                                + "<p><b>3. 문서가 그림이나 표로 이루어진 경우에는 답변을 찾아 올 수 없습니다.</b></p>"
                                + "</div>";
                $dataContainer.html(emptyHtml);
            }else{
                window.console && console.log("mrcPaginationView  item count: ", dataNode.length);
                $("[data-popup='popup-mrc']").find(".popup-header .title b").text("총 " + dataNode.length + "건");

                for (var i=0; i<dataNode.length; i++) {
                    var itemNode = dataNode[i];
                    if (U.isEmpty(itemNode)) {
                        continue;
                    }
                    var $row = mrcPaginationRowView(i, itemNode, botSessionInfo);
                    $dataContainer.append($row);
                }
            }

        }

        mrcPaginationView();
    </script>
</div>