<div class="popup-wrap-inner" data-popup="popup-opinion" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="popup-body">
        <div class="popup-header">
            <div class="title"><i class="fas fa-user-edit"></i> 의견 제안</div>
            <div class="buttons">
            </div>
        </div>
        <div class="popup-content">
            <div class="popup-content-inner">
                <div class="info-box">
                    검색 결과에 대한 의견을 관리자에게 제안 하실 수 있습니다.
                </div>
                <div class="basic-form">
                    <table>
                        <colgroup>
                            <col style="width:80px"/>
                            <col/>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>의견 제목</th>
                            <td>
                                <input type="text" name="" id="op_title" placeholder="제안하고 싶은 의견의 제목을 작성해주세요."/>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" class="no-border-bottom">의견 내용</th>
                        </tr>
                        <tr>
                            <td colspan="2" class="no-border-bottom no-padding-top">
                                <textarea rows="8" name="" id="op_text" placeholder="제안할 의견의 내용을 작성해주세요."></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="popup-bottom">
            <div class="buttons t-right">
                <a href="#" class="btn btn-dark btn-min btn-popup-close" data-popup-id="#bodyPopup">닫기</a>
                <a href="#" id="btnOpinionSave" class="btn btn-primary btn-min" data-popup-id="#bodyPopup">전송</a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        //의견 저장후 닫기
        function initEvent() {

            $('#btnOpinionSave').on('click', function (e) {
                if (valid()) {
                    saveOpinion(function (result) {
                        resultProcess(result, e);
                    });
                }
            });
        }

        function resultProcess(result, e) {

            if (!result) {
                templateWaringView('의견제안 등록 실패하였습니다.');
                scrollBottomBotMessages();
            } else {
                var popupId = $('#btnOpinionSave').attr('data-popup-id');
                $('#btnOpinionSave').attr("disabled", "disabled");
                $(popupId).stop().animate({
                    'opacity': '0'
                }, 300, function () {
                    $(popupId).attr('style', '').empty();
                });
                e.preventDefault();
                templateMessageView("의견제안 정상적으로 등록되었습니다.");
                scrollBottomBotMessages();
            }
        }

        function saveOpinion(callback) {

            var param = setParam();
            postJSON(BOT_API.BOT_OPINION_SAVE, param).done(function (responce) {
                window.console && console.log("BOT_API.SAVE_OPINION_SUGGESTION responce success");
                window.console && console.log("BOT_API.SAVE_OPINION_SUGGESTION responce: ", responce);
                if (callback) {
                    callback(true);
                }
            }).fail(function () {
                window.console && console.log("BOT_API.SAVE_OPINION_SUGGESTION responce error ");
                if (callback) {
                    callback(false);
                }
            });
        }

        function valid() {

            var title = $('#op_title').val();
            var content = $('#op_text').val();
            var channel = $('#op_channel').val();

            if (typeof title == 'undefined' || $.trim(title).length == 0) {
                alert('제목을 입력하십시오.');
                $('#op_title').focus();
                return false;

            }

            if (typeof content == 'undefined' || $.trim(content).length == 0) {
                alert('의견  내용을 입력하십시오.');
                $('#op_text').focus();
                return false;
            }

            // 나중에 체크해야함
            if (typeof channel == 'undefined' || $.trim(channel).length == 0) {
                //  return true;
            }
            return true;
        }

        function setParam() {
            var gMaiBot = GMaiBot.getBotId();

            var param = {
                botId: gMaiBot,
                channel: 'web',
                title: $('#op_title').val(),
                content: $('#op_text').val()
            }
            return param;
        }

        // 시작..
        $(document).ready(function () {
            initEvent();
        })

    </script>
</div>
