<div class="popup-wrap-inner" data-popup="popup-page" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="popup-body">
        <div class="popup-header">
            <div class="title"><i class="icon icon-view-page white"></i> 페이지별 검색결과 : <b>총 15건</b></div>
            <div class="buttons">
                <a href="#" id="page_document_preview" class="btn-view-document" title="문서로 이동"><i class="icon icon-view-document white v-middle" style="width:20px"></i></a>
                <!--<a href="#" id="page_document_fave" class="btn-view-fave" title="문서 즐겨찾기"><i class="icon icon-view-fave white v-middle"></i></a>-->
            </div>
        </div>
        <div class="popup-content">
            <div class="popup-content-inner">
                <div class="page-list">
                    <div class="page-detail-info">
                        <div class="title" id="objectTitle">
                            <!--<span class="label label-MCLOUD"></span>-->
                            <!--2018 GNSS GPS <span class="color-point">네비게이션</span>개발동향과 시장전망-->
                        </div>
                        <ul class="info">
                            <li><b>작성자</b><span id="ownerName">홍길동</span></li>
                            <li><b>작성부서</b><span id="groupName">서비스총괄팀</span></li>
                            <li><b>작성일</b><span id="sourceCreationDateTime">2019.03.31 15:15:15</span></li>
                            <li><b>수정일</b><span id="sourceModifyDateTime">2019.03.31 15:15:15</span></li>
                        </ul>
                        <div class="buttons">
                            <a href="#" title="문서로 이동"></a>
                            <a href="#" title="즐겨찾기"></a>
                        </div>
                    </div>
                    <ul class="page-detail-list" id="pages_data_container">
                        <!--<li>-->
                            <!--<p class="number">24p</p>-->
                            <!--<p class="text">-->
                                <!--제1부에서는 GPS <span class="color-point">네비게이션</span>의 운용 개념과 활용에 대해서 선진국에서는 이떠헥 활용하고 있는지에 대한 전반적인 지식을 전달하는 데 중점을 두었다.-->
                                <!--제2부에서는 항공기 분야에 적용되고 있는 현실과 현재 운용되고 있는 계기접근시설을 대체할 수 있는 시설들에 관한 내용들을 중심적으로 다루었다. 물론 항공인을 위한...-->
                            <!--</p>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup-paging" id="pages_pagination"></div>
        <div class="popup-bottom">
            <div class="buttons t-right">
                <a href="#" class="btn btn-dark btn-min btn-popup-close" data-popup-id="#searchPopup">닫기</a>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /**
         * 페이지네이션 처리
         */
        var pagePaginationRowView = function (index, itemNode) {
            window.console && console.log("pagePaginationRowView  index: ", index);
            window.console && console.log("pagePaginationRowView  itemNode: ", itemNode);

            var pageNumber = itemNode._source && itemNode._source.page_number;
            if (U.isEmpty(pageNumber)) {
                pageNumber = "0";
            }

            var highlightContents = itemNode.highlight && itemNode.highlight["contents.content"];
            window.console && console.log("pagePaginationRowView  highlightContents: ", highlightContents);

            var $li = $("<li></li>");
            $li.append("<p class='number'>"+pageNumber+"p</p>");
            var $p_contents = $("<p class='text'></p>");
            if (highlightContents && highlightContents.length > 0) {
                for (var i=0; i<highlightContents.length; i++) {
                    var highContents = highlightContents[i];
                    // window.console && console.log("pagePaginationRowView  i-highContents:", i, highContents);
                    if (!U.isEmpty(highContents)) {
                        if (i == 0) {
                            $p_contents.append(highContents);
                        } else {
                            $p_contents.append("<br/>");
                            $p_contents.append(highContents);
                        }
                    }
                }
            }
            $li.append($p_contents);
            return $li;
        }
        var pagePaginationView = function () {
            window.console && console.log("pagePaginationView  start...");

            var botSessionInfo = [[${session.botSessionInfo}]]; // 세션정보
            var dataNode = [[${dataNode}]];
            // window.console && console.log("pagePaginationView  dataNode:", dataNode);
            dataNode = dataNode && dataNode[0] && dataNode[0];
            window.console && console.log("pagePaginationView  dataNode:", dataNode);
            if (U.isEmpty(dataNode)) {
                return;
            }

            // 소스시스템구분
            var sourceSystemType = dataNode._source && dataNode._source.source_system && dataNode._source.source_system.toUpperCase();
            if (U.isEmpty(sourceSystemType)) {
                sourceSystemType = 'null';
            }
            // 문서ID
            var objectId = dataNode._source && dataNode._source.r_object_id;
            if (U.isEmpty(objectId)) {
                objectId = '';
            }
            // 문서명
            var objectName = dataNode._source && dataNode._source.r_object_name;
            if (U.isEmpty(objectName)) {
                objectName = '';
            }
            // 문서URL
            var objectUrl = dataNode._source && dataNode._source.url;
            if (U.isEmpty(objectUrl)) {
                objectUrl = '';
            }
            // 소유자
            var sourceOwnerName = dataNode._source && dataNode._source.owner_info && dataNode._source.owner_info.user_nm;
            if (U.isEmpty(sourceOwnerName)) {
                sourceOwnerName = '';
            }
            // 소유자 부서
            var sourceDeptName = dataNode._source && dataNode._source.owner_info && dataNode._source.owner_info.dept_nm;
            if (U.isEmpty(sourceDeptName)) {
                sourceDeptName = '';
            }
            // 문서 생성/수정일시
            var sourceCreationDateTime = $.format.date(new Date(), "yyyy-MM-dd HH:mm:ss");
            var sourceModifyDateTime = $.format.date(new Date(), "yyyy-MM-dd HH:mm:ss");
            if (dataNode._source && !U.isEmpty(dataNode._source.creation_date)) {
                sourceCreationDateTime = $.format.date(dataNode._source.creation_date, "yyyy-MM-dd HH:mm:ss");
            }
            if (dataNode._source && !U.isEmpty(dataNode._source.modify_date)) {
                sourceModifyDateTime = $.format.date(dataNode._source.modify_date, "yyyy-MM-dd HH:mm:ss");
            }

            $("#objectTitle").append("<span class='label label-" + sourceSystemType + "'></span>");
            $("#objectTitle").append(objectName);
            $("#ownerName").text(sourceOwnerName);
            $("#groupName").text(sourceDeptName);
            $("#sourceCreationDateTime").text(sourceCreationDateTime);
            $("#sourceModifyDateTime").text(sourceModifyDateTime);


            var objectItem = {};
            objectItem.sourceSystemType = sourceSystemType;
            objectItem.objectId = objectId;
            objectItem.objectName = objectName;
            objectItem.objectUrl = objectUrl;
            objectItem.objectDedupe = "";
            objectItem.wikiSID = botSessionInfo.wikiSID;

            if (U.isEmpty(objectItem.objectUrl)) {
                $("#page_document_preview").hide();
            } else {
                $("#page_document_preview").click(function () {
                    documentPreview(objectItem);
                });
            }
            $("#page_document_fave").click(function () {
                saveFaveDocument(objectItem);
            });

            var hitsContents = dataNode.inner_hits && dataNode.inner_hits.contents && dataNode.inner_hits.contents.hits && dataNode.inner_hits.contents.hits.hits;
            window.console && console.log("pagePaginationView  hitsContents:", hitsContents);
            if (U.isEmpty(hitsContents)) {
                hitsContents = [];
            }

            window.console && console.log("pagePaginationView  item count: ", hitsContents.length);
            $("#searchPopup").find(".popup-header .title").children("b").text("총 " + hitsContents.length + "건");


            if (U.isEmpty(hitsContents) || hitsContents.length == 0) {
                var $dataContainer = $("#searchPopup").find("#pages_data_container");
                var $li_no_contents = $("<li class='empty'></li>");
                $li_no_contents.append("<p class='empty-title'>페이지별 미리보기가 다음의 경우에는 보이지 않을 수 있습니다.</p>");
                $li_no_contents.append("<p>1. 문서 내용이 그림 파일로 작성이 되어 있는 경우</p>");
                $li_no_contents.append("<p>2. 검색 키워드가 본문에 없는 경우</p>");
                $li_no_contents.append("<p>3. 문서에 비밀번호가 걸려 있는 경우</p>");
                $dataContainer.html($li_no_contents);
            } else {
                var $dataContainer = $("#searchPopup").find("#pages_data_container");
                var $pagination = $("#searchPopup").find("#pages_pagination");
                var options = {
                    dataSource: hitsContents,
                    callback: function (arrayNode, pagination) {
                        window.console && console.log("pagePaginationView callback: ", arrayNode, pagination);
                        $dataContainer.empty();
                        $.each(arrayNode, function (index, itemNode) {
                            $dataContainer.append(pagePaginationRowView(index, itemNode));
                        });
                    }
                };
                $pagination.pagination(options);
            }
        }

        pagePaginationView();
    </script>
</div>