<div class="popup-wrap-inner" data-popup="popup-similar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="popup-body">
        <div class="popup-header">
            <div class="title"><i class="icon icon-view-similar white"></i> 유사문서 검색결과 : <b>총 0건</b></div>
        </div>
        <div class="popup-content">
            <div class="popup-content-inner">
                <div class="search-list">
                    <table>
                        <thead>
                        <tr>
                            <th class="title">문서 제목</th>
                            <th class="writer">작성자</th>
                            <th class="team">작성 부서</th>
                            <th class="date">작성일</th>
                            <th class="edit">최근 수정일</th>
                        </tr>
                        </thead>
                        <tbody id="similar-data-container">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="popup-paging" id="similar_pagination"></div>
        </div>
        <div class="popup-bottom">
            <div class="buttons t-right">
                <a href="#" class="btn btn-dark btn-min btn-popup-close" data-popup-id="#searchPopup"
                   onclick="closeSimilarClick()">닫기</a>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var closeSimilarClick = function () {
            window.console && console.log("closeSimilarClick start");
            clearSearchPopMenuView();
        }

        /**
         * 페이지네이션 처리
         */
        var similarPaginationRowView = function (index, itemNode, botSessionInfo) {
            // window.console && console.log("similarPaginationRowView  index: ", index);
            // window.console && console.log("similarPaginationRowView  itemNode: ", itemNode);

            // 소스 시스템 타입
            var sourceSystemType = itemNode._source && itemNode._source.source_system && itemNode._source.source_system.toUpperCase();
            if (U.isEmpty(sourceSystemType)) {
                sourceSystemType = 'null';
            }
            // 문서ID
            var objectId = itemNode._source && itemNode._source.r_object_id;
            if (U.isEmpty(objectId)) {
                objectId = '';
            }
            // 문서명
            var objectName = itemNode.highlight && itemNode.highlight.r_object_name && itemNode.highlight.r_object_name[0];
            if (U.isEmpty(objectName)) {
                objectName = itemNode._source && itemNode._source.r_object_name;
            }
            if (U.isEmpty(objectName)) {
                objectName = '';
            }
            // 문서URL
            var objectUrl = itemNode._source && itemNode._source.url;
            if (U.isEmpty(objectUrl)) {
                objectUrl = '';
            }
            // 소유자
            var sourceOwnerName = itemNode._source && itemNode._source.owner_info && itemNode._source.owner_info.user_nm;
            if (U.isEmpty(sourceOwnerName)) {
                sourceOwnerName = '';
            }
            // 소유자 부서
            var sourceDeptName = itemNode._source && itemNode._source.owner_info && itemNode._source.owner_info.dept_nm;
            if (U.isEmpty(sourceDeptName)) {
                sourceDeptName = '';
            }
            // 문서 생성/수정일시
            var sourceCreationDate = "";
            var sourceCreationTime = "";
            var sourceModifyDate = "";
            var sourceModifyTime = "";
            if (itemNode._source && !U.isEmpty(itemNode._source.creation_date)) {
                sourceCreationDate = $.format.date(itemNode._source.creation_date, "yyyy-MM-dd");
                sourceCreationTime = $.format.date(itemNode._source.creation_date, "HH:mm:ss");
            }
            if (itemNode._source && !U.isEmpty(itemNode._source.modify_date)) {
                sourceModifyDate = $.format.date(itemNode._source.modify_date, "yyyy-MM-dd");
                sourceModifyTime = $.format.date(itemNode._source.modify_date, "HH:mm:ss");
            }

            var objectItem = {};
            objectItem.sourceSystemType = sourceSystemType;
            objectItem.objectId = objectId;
            objectItem.objectName = objectName;
            objectItem.objectUrl = objectUrl;
            objectItem.objectDedupe = "";
            objectItem.wikiSID = botSessionInfo.wikiSID;

            var enableMenuArray = [];
            if (!U.isEmpty(objectItem.objectUrl)) {
                enableMenuArray.push(CONST_POP_MENU_DOCUMENT);
            }
            enableMenuArray.push(CONST_POP_MENU_FAVE);

            var $tr = $("<tr></tr>");
            var $td_title = $("<td class='title'></td>");
            $td_title.html("\
                <a href='#'>\
                    <span class='label label-" + sourceSystemType + "'></span>\
                    <span class='file-name'>" + objectName + "</span>\
                </a>\
            ");
            $td_title.click(function (event) {
                appendObjectPopMenusView(event, enableMenuArray, objectItem);
            });
            $tr.append($td_title);
            $tr.append("<td class='writer'>" + sourceOwnerName + "</td>");
            $tr.append("<td class='team'>" + sourceDeptName + "</td>");
            $tr.append("<td class='date'>" + sourceCreationDate + " <span class='time'>" + sourceCreationTime + "</span></td>");
            $tr.append("<td class='edit'>" + sourceModifyDate + " <span class='time'>" + sourceModifyTime + "</span></td>");
            return $tr;
        }
        var similarPaginationView = function () {
            window.console && console.log("similarPaginationView  start...");

            var botSessionInfo = [[${session.botSessionInfo}]]; // 세션정보
            var dataNode = [[${dataNode}]];
            window.console && console.log("similarPaginationView  dataNode:", dataNode);

            var objectCount = dataNode.length;
            window.console && console.log("similarPaginationView  item count: ", objectCount);
            $("#searchPopup").find(".popup-header .title").children("b").text("총 " + objectCount + "건");

            var $dataContainer = $("#searchPopup").find("#similar-data-container");
            var $pagination = $("#searchPopup").find("#similar_pagination");
            var options = {
                dataSource: dataNode,
                callback: function (arrayNode, pagination) {
                    window.console && console.log("similarPaginationView callback: ", arrayNode, pagination);
                    $dataContainer.empty();
                    $.each(arrayNode, function (index, itemNode) {
                        $dataContainer.append(similarPaginationRowView(index, itemNode, botSessionInfo));
                    });
                }
            };
            $pagination.pagination(options);
        }

        similarPaginationView();
    </script>
</div>