<div class="popup-wrap-inner" data-popup="popup-security" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="popup-body">
        <div class="popup-header">
            <div class="title"><i class="fas fa-user-edit"></i> 문서 보안 규정 동의</div>
            <div class="buttons">
            </div>
        </div>
        <div class="popup-content">
            <div class="popup-content-inner">
                <ul class="security-list">
                    <li><span class="num">01</span><span class="text">문서에 대한 보안 규정은 기본적으로 사내 보안 규정을 따릅니다.</span></li>
                    <li><span class="num">02</span><span class="text">챗봇 문서검색 기능은 회사 업무 관련된 내용을 <strong class="color-point">"필요에 의해서만"</strong> 참조/활용 가능하며, 보안에 대한 책임은 사용자에게 있습니다.</span></li>
                    <li><span class="num">03</span><span class="text">챗봇 문서검색을 보유한 사용자 외에 다른 사용자에게 문서 공유는 불가하며, 문서 공유는 MCloud 상에서 해야 합니다.</span></li>
                    <li><span class="num">04</span><span class="text">보안 동의는 1년 단위로 갱신(매년 1월 1일 기준)되며, 보안 동의를 한 사용자에 한하여 문서 검색 기능을 사용할 수 있습니다.</span></li>
                    <li><span class="num">05</span><span class="text">기타 업무 목적이 아닌 개인목적의 사용은 허가 되지 않습니다.</span></li>
                </ul>
            </div>
        </div>
        <div class="popup-paging">
            <label class="checkbox checkbox-lg">
                <input type="checkbox" name="securityAgree" id="securityAgree" value="Y" />
                <span>문서 보안 서약에 동의합니다.</span>
            </label>
        </div>
        <div class="popup-bottom">
            <div class="buttons t-right">
                <a href="#" id="btnSecurityAgreeSave" class="btn btn-primary btn-min" data-popup-id="#searchPopup">확인</a>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function validationCheck() {
            var agreeChecked = $(document).find('#securityAgree').prop('checked');
            if (!agreeChecked) {
                alert('보안 서약에 동의하여 주세요.');
                $('#securityAgree').focus();
                return false;
            }
            return true;
        }

        //$(document).find('#bodyPopup').addClass('full-popup');
        popupOpen('#searchPopup');

        //의견 저장후 닫기
        $('#btnSecurityAgreeSave').on('click', function (e) {
            if (validationCheck()) {
                postJSON(BOT_API.SIS_SECURITY_AGREE_SAVE)
                    .done(function (responce) {
                        window.console && console.log("BOT_API.SIS_SECURITY_AGREE_SAVE responce success");
                        window.console && console.log("BOT_API.SIS_SECURITY_AGREE_SAVE responce: ", responce);
                        popupClose('#searchPopup');
                    })
                    .fail(function () {
                        window.console && console.log("BOT_API.SIS_SECURITY_AGREE_SAVE responce error ");
                        popupClose('#searchPopup');
                    });
            }
        });
    </script>
</div>
