<div class="settings-content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="settings-top">
        <span>챗봇 설정</span>
    </div>
    <div class="settings-block-group">
        <div class="settings-block">
            <h4 class="settings-title"><i class="fas fa-cog"></i>알림 상세 설정</h4>
            <p class="settings-info">알림 활성화를 설정할 수 있습니다.</p>
            <ul id="sortableAlarm" class="settings-list">
                <li th:each="settingAlarm : ${alarms}" th:class="${settingAlarm.fixedYn.equals('Y')} ? 'disabled'">
                    <dl>
                        <dt><i class="fas fa-bars"></i>
                            <th:block th:text="${settingAlarm.name}"></th:block>
                        </dt>
                        <dd>
                            <input type="hidden" name="alarmType" th:value="${settingAlarm.type}" />
                            <input type="hidden" name="fixedYn" th:value="${settingAlarm.fixedYn}" />
                            <label class="switch">
                                <th:block th:switch="${settingAlarm.fixedYn}">
                                    <input th:case="${'N'}" type="checkbox" name="showYn" th:checked="${settingAlarm.showYn.equals('Y')}" />
                                    <input th:case="${'Y'}" type="checkbox" name="showYn" checked="checked" disabled="disabled" />
                                </th:block>
                                <span class="slider round"></span>
                            </label>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="settings-block">
            <h4 class="settings-title"><i class="fas fa-cog"></i>챗봇 상세 설정</h4>
            <p class="settings-info">챗봇 활성화를 설정할 수 있습니다.</p>
            <ul id="sortableBot" class="settings-list">
                <li th:each="settingBot : ${bots}" th:class="${settingBot.fixedYn.equals('Y')} ? 'disabled'">
                    <dl>
                        <dt><i class="fas fa-bars"></i>
                            <th:block th:text="${settingBot.name}"></th:block>
                        </dt>
                        <dd>
                            <input type="hidden" name="botType" th:value="${settingBot.type}"/>
                            <input type="hidden" name="fixedYn" th:value="${settingBot.fixedYn}"/>
                            <label class="switch">
                                <th:block th:switch="${settingBot.fixedYn}">
                                    <input th:case="${'N'}" type="checkbox" name="showYn" th:checked="${settingBot.showYn.equals('Y')}" />
                                    <input th:case="${'Y'}" type="checkbox" name="showYn" checked="checked" disabled="disabled" />
                                </th:block>
                                <span class="slider round"></span>
                            </label>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="buttons">
            <a href="#" class="btn btn-dark btn-block btn-popup-close" data-popup-id="#bodyPopup">취소</a>
            <a href="#" id="btnSettingsSave" class="btn btn-primary btn-block" data-popup-id="#bodyPopup">저장 후 닫기</a>
        </div>
    </div>
    <script th:inline="javascript">
        window.console && console.log("javascript  settingView  start...");
        // window.console && console.log("javascript  settingView  alarms: ", [[${alarms}]]);
        // window.console && console.log("javascript  settingView  bots: ", [[${bots}]]);

        //설정 저장후 닫기
        $('#btnSettingsSave').on('click', function (e) {
            var popupId = $(this).attr('data-popup-id');
            $(this).attr("disabled","disabled");
            saveSetting();
            $(popupId).stop().animate({
                'opacity': '0'
            },300,function(){
                $(popupId).attr('style','').empty();
            });
            e.preventDefault();
        });
        // 알람 순서 변경
        // $('#sortableAlarm').sortable({
        //     items: "li:not(.disabled)"
        // });
        //챗봇 순서 변경
        // $('#sortableBot').sortable({
        //     items: "li:not(.disabled)"
        // });

        var saveSetting = function () {
            window.console && console.log("saveSetting  start...");

            var botSetting = {};
            var alarmArray = [];
            var botArray = [];

            $("#sortableAlarm").children().each(function () {
                if ($(this).is("li")) {
                    var alarm = {};
                    alarm.type = $(this).find("input[name='alarmType']").val();
                    alarm.fixedYn = $(this).find("input[name='fixedYn']").val();
                    alarm.showYn = "N";
                    if ($(this).find("input[name='showYn']").is(":checked") === true) {
                        alarm.showYn = "Y";
                    }
                    alarmArray.push(alarm);
                }
            });
            botSetting.alarms = alarmArray;
            $("#sortableBot").children().each(function () {
                if ($(this).is("li")) {
                    var bot = {};
                    bot.type = $(this).find("input[name='botType']").val();
                    bot.fixedYn = $(this).find("input[name='fixedYn']").val();
                    bot.showYn = "N";
                    if ($(this).find("input[name='showYn']").is(":checked") === true) {
                        bot.showYn = "Y";
                    }
                    botArray.push(bot);
                }
            });
            botSetting.bots = botArray;
            window.console && console.log("saveSetting  botSetting: ", botSetting);
            updateStting(botSetting);
        }
    </script>
</div>
