<common-modal class="synonym-add-wrap" #commonModal >
    <!-- <div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}"> -->


    <div class="common-modal-header" >
        <div class="modal-title">사용자사전 수정</div>
        <div class="modal-close" (click)="modalClose()">
        <i class="icon-close"></i>
      </div>
    </div>
    <div class="modal-content-wrap" >
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">대표 단어</div>
          <input #wordInput [(ngModel)]="nlpUserDic.word" class="input-required" placeholder="내용을 입력해주세요.">
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">커스텀 단어</div>
          <!--<input #customWord [(ngModel)]="nlpUserDic.custom_word" placeholder="내용을 입력해주세요." (keyup)="addWord($event, customWord.value)" required>-->
          <input [(ngModel)]="nlpUserDic.custom_word" placeholder="내용을 입력해주세요." required>
        </div>
      </div>
    </div>
    <div class="common-modal-footer">

      <div class="button-wrap float-right">
        <button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>
        <button class="btn-alert" (click)="editSave()">저장</button>
      </div>
    </div>

  </common-modal>
