<div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}">
  <div class="common-modal-container">
    <!-- .modal_top -->
    <div class="modal_top">
      <h3>Q&amp;A 생성</h3>
      <div class="modal-close" (click)="addRemove.emit(false)">
        <i class="icon-close"></i>
      </div>
    </div>
    <!-- //.modal_top -->
    <!-- .modal_mid -->
    <div class="modal_mid" style="max-height: none;">
      <div class="modal_stn">
        <div class="tit">
          <h4>Domain</h4>
        </div>
        <!-- <app-prime-tree [trees]="filesTree" [key]="'domain_name'" (outer)="onTreeSelect($event)" [style]="{width: '100%'}"></app-prime-tree> -->
        <div class="cont">
          <!-- domainPicker 클릭하면 treeBox가 토글 됩니다. treeBox에서 클릭 시 treeBox는 close되고 domainPicker에 해당 도메인명이 들어가면 됩니다. -->
          <div class="pickerBox">
            <p class="domainPicker">{{domainName}}</p>
            <!-- <div class="treeBox" style="width:200px; display: none;">
              <div class="tree">
                 <app-prime-tree [trees]="filesTree" [key]="'domain_name'" (outer)="onTreeSelect($event)" [style]="{width: '100%'}"></app-prime-tree>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <form [formGroup]="addForm">

        <div class="modal_stn" style="overflow: auto">
          <div  style="width:calc(50% - 5px); float: left; clear: left;">
            <div class="tit">
               <h4>팀 코드</h4>
             </div>

                <!--<input type="hidden" formControlName="attribute1"    placeholder="팀 코드를 입력해주세요.">-->
                 <p-dropdown  styleClass="custom-dropdown" [scrollHeight]="scrollHeight"
                              [options]="teamList" formControlName="attribute1" [style]= "{'width':'170px'}" [(ngModel)]="selectTeamOption" >
				    <ng-template let-item pTemplate="Option">
					   <div>{{item.label}}</div>
                    </ng-template>
			     </p-dropdown>

        </div>
        <div style="width:calc(50% - 5px); float: right; clear: right">
           <div class="tit">
               <h4>사 번</h4>
           </div>
          <div class="cont">
            <textarea formControlName="attribute2" class="textarea" rows="1" placeholder="사번을 입력해주세요."></textarea>
          </div>
        </div>
          <div class="tit">
            <h4>Answer</h4>
<!--
            <ul class="btnLst">
              <li><button class="btn-normal-line" (click)="addAnswerItem()" ><img src="/assets/images/ico_add_g.png">답변 추가</button></li>
            </ul>
-->
          </div>
          <div class="cont">
            <ul class="qnaLst" style="max-height: 300px;">
              <li>
                <div formGroupName="answerGroup">
                  <div>
                    <dl class="qnaLst_dl">
                      <dt>답변</dt>
                      <dd>
                          <textarea formControlName="answer" class="textarea" rows="5" placeholder="답변 내용을 입력해주세요."></textarea>
                      </dd>
                      <dd style="width:40px;">
                        <ul class="btnBox">
                          <li>
                            <!--Rc 사용 버튼-->
                            <p-checkbox [style]="{'border': '1px solid #dae1f4','border-radius': '2px'}" label="RC" formControlName="useRcFlag" binary="false">
                            </p-checkbox>
                          </li>
                        </ul>
                      </dd>
<!--
                      <dd style="width:40px;">
                        <ul class="btnBox">
                          <li><button class="float-right" (click)="deleteRow(i)"><img src="/assets/images/ico_wbasket_g.png"></button></li>
                        </ul>
                      </dd>
-->
                    </dl>
                    <dl class="qnaLst_dl" id="rcContentTypeDl" *ngIf="isUseRcFlag()">
                      <!--Rc Type 선택 Div-->
                      <div class="radioBox">
                        <span class="radio-item">
                          <label>
                            <input type="radio" formControlName="contentTypeCd" value="RT0001" [checked]="isButton()"> Button
                          </label>
                        </span>
                        <span class="radio-item">
                          <label>
                            <input type="radio" formControlName="contentTypeCd" value="RT0002" [checked]="isImage()"> Image/URL
                          </label>
                        </span>
                        <!--<span class="radio-item">-->
                        <!--<label>-->
                        <!--<input type="radio" formControlName="contentTypeCd" value="RT0003" [checked]="isCarousel(i)"> Carousel-->
                        <!--</label>-->
                        <!--</span>-->
                        <span class="radio-item">
                          <label>
                            <input type="radio" formControlName="contentTypeCd" value="RT9001" [checked]="isApi()"> API
                          </label>
                        </span>
                        <span class="radio-item">
                          <label>
                            <input type="radio" formControlName="contentTypeCd" value="NONE" [checked]="isNone()"> NONE
                          </label>
                        </span>
                      </div>
                      <dd style="width:100px;" *ngIf="!isOrigin()">
                                                <button class="btn-negative float-right" (click)="upsertBqaRc()">적용</button>
                      </dd>
                      <!--Rc Type 선택 Div-->
                    </dl>

                    <dl class="qnaLst_dl" *ngIf="isUseRcFlag()">
                      <!--Rc Button Div-->
                      <div class="border-wrapper common-input modal-input ui-g" id="rcButtonDiv" *ngIf="isButton() && isOrigin()">
                        <div class="ui-g-12">
                          <div class="input-message-wrapper" style="margin-bottom: 10px;">
                            <div class="input-button">
                              <div class="input-button-order">&nbsp;</div>
                              <input id="rcButtonTitle" class="input-button-title" type="text" name="title" placeholder="버튼명">
                              <input id="rcButtonContent" class="input-button-content" type="text" name="utter" placeholder="전송값" (keyup)="enterRcButton($event, 0)">
                            </div>
                            <div class="input-message-btn-wrapper">
                              <button type="button" class="btn-add-button btn-primary btn-simple" (click)="addRcButton(0)">버튼 추가</button>
                            </div>
                          </div>
                          <div class="input-buttons-wrapper no-data" *ngIf="rcButtons | isEmpty">
                            등록된 버튼이 없음.
                          </div>
                          <div class="input-buttons-wrapper" *ngIf="!(rcButtons | isEmpty)">
                            <div class="input-message-wrapper" *ngFor="let item of rcButtons;">
                              <div class="input-button">
                                <div class="input-button-order">
                                  <i class="icon-menu_3line"></i>
                                </div>
                                <input class="input-button-title" id="buttonTitle{{item.btnOrder}}" type="text" placeholder="버튼명" [value]="item.title">
                                <input class="input-button-content" id="buttonUtter{{item.btnOrder}}" type="text" placeholder="전송값" [value]="item.userUtter">
                              </div>
                              <div class="input-message-btn-wrapper">
                                <button type="button" class="btn-simple" (click)="updateRcButton(0, item)"><i class="icon-edit"></i></button>
                                <button type="button" class="btn-simple" (click)="removeRcButton(0, item)"><i class="icon-remove2"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Rc Button Div-->

                      <!--Rc Image Div-->
                      <div class="border-wrapper common-input modal-input ui-g" id="rcImageDiv" *ngIf="isImage() && isOrigin()">
                        <dl class="qnaLst_dl">
                          <dd>
                            <div style="width:245px; padding:10px; display:inline-block">
                              <img style="width:225px; height:150px;" [src]="rc_img_path" onerror="this.src='/assets/images/noimage.png';" alt="rich content image">
                            </div>
                            <div style="width:250px; padding-top: 10px; display:inline-table; vertical-align: top;">
                              <input #rc_img_input style="width:250px; margin-bottom:5px;" type="file" accept="image/*" (change)="onFileChange()" />
                              <input style="width:250px; margin-bottom:5px;" id="imageText" type="text" placeholder="텍스트를 입력해 주세요" [value]="rc_img_text" />
                              <input style="width:250px; margin-bottom:5px;" id="imageLink" type="text" placeholder="연결할 url을 입력해 주세요" [value]="rc_img_link" />
                              <button class="btn-negative float-right" (click)="addRcImage()">Save</button>
                            </div>
                          </dd>
                        </dl>
                      </div>
                      <!--Rc Image Div-->

                      <!--Rc Carousel Div-->
                      <!--<div class="border-wrapper common-input modal-input ui-g" id="rcCarouselDiv{{i}}" *ngIf="i==0 && isCarousel(i)">-->
                      <!--</div>-->
                      <!--Rc Carousel Div-->

                      <!--Rc API Div-->
                      <div class="border-wrapper common-input modal-input ui-g" id="rcApiDiv" *ngIf="isApi() && isOrigin()">
                        <dl class="qnaLst_dl">
                          <dt>API</dt>
                          <dd>
                            <select style="width:100%;" name="selApi" id="selApi" (change)="setApiIfId($event, 0)">
                              <option value="">Select</option>
                              <option *ngFor="let item of rcApiList;" [value]="item.ifId" [selected]="apiIfId == item.ifId">{{item.apiName}}</option>
                            </select>
                          </dd>
                          <dd style="width:40px;">
                            <ul class="btnBox">
                              <li><button class="float-right" *ngIf="!(apiIfId | isEmpty)" (click)="setBqaApi(0)">Save</button></li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                      <!--Rc API Div-->
                    </dl>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal_stn">
          <div class="tit">
            <h4>Question</h4>
            <ul class="btnLst">
              <li><button class="btn-normal-line" (click)="addQuestionItem()" ><img src="/assets/images/ico_add_g.png">질문 추가</button></li>
            </ul>
            <input type="hidden" formControlName="domainId" [(ngModel)] = "domainId">
          </div>
          <div formArrayName="questionList" *ngFor="let questions of addForm.get('questionList').controls; let i = index;">
            <div [formGroupName]="i">
              <div class="cont">
                <textarea formControlName="question" class="textarea" rows="1" placeholder="질문 내용을 입력해주세요."></textarea>
              </div>
            </div>
          </div>
        </div>


      </form>
    </div>
    <!-- //.modal_mid -->
    <!-- .modal_btm -->
    <div class="modal_btm">
      <button class="point" *ngIf="!addForm.invalid" (click)="onAddSubmit(addForm)">저장</button>
      <button (click)="addRemove.emit(false)">취소</button>
    </div>
    <!-- //.modal_btm -->
  </div>
</div>
