/* START Login */
@import "../../../css/style.common";

.login-content-container{
  width: 100%;
  height: 100%;
  background: $C10 url("../../../assets/images/login_bg_l.jpg") center/cover no-repeat;
  position: relative;
  min-width: 400px;
  .login-content{
    width: 80%;
    max-width: 380px;
    margin:0 auto;
    position: relative;
    text-align: center;
    top: 43%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    .login-logo{
      margin-bottom: 50px;
    }
    .login-info{
      input,button{
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        border: 1px $main-color solid;
        font-size: $font-04;
        @include radius(2px);
      }
      input{
        display: block;

      }
      button{
        background-color: $main-color;
        color: $C0;
      }
    }
  }
  .login-footer{
    width: 100%;
    height: auto;
    background-color: $main-color;
    border-top: 5px solid $C10;
    position: fixed;
    bottom:0;
    min-width: 400px;
    font-size: $font-01;
    padding: 20px 0;
    .login-footer-bi{
      height: 35px;
    }
    img{
      height:100%;
    }
    .copyright{
      color:$C0;
      margin-top: 10px;
    }
  }
}
/* END Login */
