<div class="login-content-container text-center">
    <div class="login-content">
        <div class="login-logo">
            <img src="./assets/images/login_logo.png" alt="logo" style="width: 100%">
        </div>
        <div class="login-info">
            <input class="text-center" [(ngModel)]="userId"  [value]="userId" type="text" placeholder="이메일 계정" />
            <input type="password" class="text-center" [(ngModel)]="password" [value]="password" type="password" placeholder="비밀번호" />
            <button class="text-center" (click)="login()">로그인</button>
        </div>
    </div>
    <div class="login-footer">
        <div class="login-footer-bi">
            <img src="./assets/images/login_bi.png" alt="bi">
        </div>
        <div class="copyright">
          © MINDsLab
        </div>
    </div>
    <!--alert modal-->
    <common-modal #alertModal class="alert-modal">
      <div class="common-modal-header">
        <div class="modal-title">{{alertModalTitle}}</div>
        <div class="modal-close" (click)="alertModal.modalClose();onCloseAlertModal(false);">
          <i class="icon-close"></i>
        </div>
      </div>
      <div class="modal-content-wrap">
        <p>{{alertModalText}}</p>
      </div>
      <div class="common-modal-footer">
        <div class="button-wrap float-right">
          <button *ngIf="alertModalHasCancel" class="btn-alert btn-cancel" (click)="alertModal.modalClose();onCloseAlertModal(false);">취소</button>
          <button class="btn-alert" (click)="alertModal.modalClose();onCloseAlertModal(true);">확인</button>
        </div>
      </div>
    </common-modal>
</div>
