<div class="common-section text-center model-section">
  <div class="common-container">
    <div class="common-header-title">
      <span>API LIST</span>
    </div>  
    <common-table>
       <div class="header-wrap-filter common-table">
         <div class="common-input table-input">
           <app-page-size-sellector (pageSize)="onChangePageSize($event)"></app-page-size-sellector>
         </div>
         <div class="button-wrap">
           <button class="btn-normal-line" type="button" (click)="apiAddOpen()">추가하기</button>
         </div>
      </div>
      
      <div class="table-wrap-rowgroup">
        <p-dataTable [value]="items" styleClass="custom-row-table">
          <p-column header="ID" field="if_id" [style]="{'width':'55px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="api_name" field="api_name" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="description" field="description" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="Endpoint" field="endpoint" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              <div> {{item[col.field]}}</div>
            </ng-template>
          </p-column>
      
          <p-column header="Method" field="method" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="content_type" field="content_type" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
      
          <!-- <p-column header="created_dtm" field="created_dtm"
                          [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
                  <ng-template let-col let-item="rowData" pTemplate="body">
                    {{item[col.field]}}
                  </ng-template>
                </p-column>
                <p-column header="updated_dtm" field="updated_dtm"
                          [style]="{'text-align':'left', 'padding':'0 20px', 'width':'45%'}">
                  <ng-template let-col let-item="rowData" pTemplate="body">
                    {{item[col.field]}}
                  </ng-template>
                </p-column> -->
      
          <p-column [style]="{'width':'120px'}">
            <ng-template pTemplate="header">
              <div>Action</div>
            </ng-template>
            <ng-template let-item="rowData" pTemplate="body">
              <div class="table-button">
                <span>
                  <i class="icon-edit" (click)="apiEditOpen(item)"></i>
                </span>
                <span>
                  <i class="icon-remove2" (click)="apiRemoveOpen(item)"></i>
                </span>
              </div>
            </ng-template>
          </p-column>
          <ng-template pTemplate="emptymessage">
            <div class="no-data">조회할 데이터가 없습니다</div>
          </ng-template>
        </p-dataTable>
      </div>
      <div class="common-table-footer">
        <div class="footer-wrap text-center">
          <app-paginator (page)="onPaginator($event)" 
                [totalCount]="paginator.totalCount" 
                [pageSize]="paginator.pageSize"
          ></app-paginator>
        </div>
      </div>
    </common-table>
  </div>
</div>
<!-- <app-a-add #addChild (addClose)="childClose($event)"></app-a-add>
<app-a-update #editChild (editClose)="childClose($event)"></app-a-update> -->


  
