<div class="common-section text-center">
  <div class="common-container">
    <div class="common-header-title">
      <span>{{title}} 관리</span>
    </div>
    <common-table>
      <!--filter-->
      <div class="header-wrap-filter common-table">
        <div class="common-input table-input">
          <div class="filter-wrap">
            <input #filterName type="text" class="filter-input" placeholder="검색어를 입력해 주세요" [(ngModel)]="searchStr"
                (keyup)="onSearchKey($event)"
            >
            <button (click)="onSearch()"></button><!-- 이 버튼요소가 input 요소의 돋보기 아이콘을 덮음 -->
          </div>
          <div class="dropdown-text">사용 :</div>
          <div style="display: inline-block;
              width: 16px;
              margin: 0 20px 0 5px;"
          ><input type="checkbox" #useOnly (change)="onFilterYn($event)"/></div>
          <app-page-size-sellector (pageSize)="onChangePageSize($event)"></app-page-size-sellector>
        </div>
        <div class="button-wrap">
          <button class="btn-normal-line" type="button" (click)="addOpen()"
            >추가하기</button>
          <button class="btn-negative" type="button" (click)="removesOpen($event)"
              [ngClass]="{'btn-disabled': selectedItems === null || selectedItems.length === 0}"
            >삭제하기</button>
        </div>
      </div>
      <div class="table-wrap-rowgroup">
        <p-dataTable [value]="items" styleClass="custom-row-table"
                      [(selection)]="selectedItems"
                      [dataKey]="primaryKey"
                      [globalFilter]="filterName" >
          <p-column selectionMode="multiple"
                    [style]="{'width':'40px'}">
          </p-column>
          <p-column header="Group Code" field="group_code"
                    [style]="{'width':'85px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              <div class="select-name" (click)="updateOpen(item)">{{item[col.field]}}</div>
            </ng-template>
          </p-column>
          <p-column header="Name" field="code_name"
                    [style]="{'width':'120px', 'text-align':'left', 'padding':'0 20px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="Description" field="descript" [style]="{'width':'300px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="Use" field="use_yn"
                    [style]="{'width':'85px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field] == 'Y' ? '사용' : '미사용'}}
            </ng-template>
          </p-column>
          <p-column header="생성일" field="created_dtm" [style]="{'width':'95px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field] | dateTimeFormat: 'YY.MM.DD HH:mm' | emptyValue}}
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'100px'}">
            <ng-template pTemplate="header">
              <div>Action</div>
            </ng-template>
            <ng-template let-entity="rowData" pTemplate="body">
              <div class="table-button">
                <span>
                  <i class="icon-edit" (click)="updateOpen(entity)"></i>
                </span>
                <span>
                  <i class="icon-remove2" (click)="removeOpen(entity)"></i>
                </span>
              </div>
            </ng-template>
          </p-column>
          <ng-template pTemplate="emptymessage">
            <div class="no-data">조회할 데이터가 없습니다</div>
          </ng-template>
        </p-dataTable>
      </div>
      <div class="common-table-footer">
        <div class="footer-wrap text-center">
          <app-paginator (page)="onPaginator($event)"
                [totalCount]="paginator.totalCount"
                [pageSize]="paginator.pageSize"
          ></app-paginator>
        </div>
      </div>
    </common-table>
  </div>
</div>


<!--upsert dialog model-->
<common-modal class="modal-add-wrap" #upsertDialogModal>
  <div class="common-modal-header">
    <div class="modal-title">{{title}} {{isUpdate?'수정':'생성'}}</div>
    <div class="modal-close" (click)="upsertDialogModal.modalClose()">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="modal-content-wrap">
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Group code</div>
        <input #upsertDialogGroupCode type="text" placeholder="입력하세요" required [disabled]="isUpdate" [readOnly]="isUpdate">
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Code name</div>
        <input #upsertDialogName type="text" placeholder="입력하세요" required>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Descript</div>
        <input #upsertDialogDescription type="text" placeholder="입력하세요" required>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Use</div>
        <p-checkbox #upsertDialogUseYn label="사용" [(ngModel)]="useYn" binary="true"></p-checkbox>
      </div>
    </div>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right">
      <button class="btn-alert btn-cancel" type="button" (click)="upsertDialogModal.modalClose()">취소</button>
      <button *ngIf="!isUpdate" class="btn-alert" type="button" (click)="add($event)">등록</button>
      <button *ngIf="isUpdate" class="btn-alert" type="button" (click)="update($event)">저장</button>
    </div>
  </div>
</common-modal>

<!--remove dialog model -->
<common-modal class="modal-remove-wrap" #removeDialogModal>
  <div class="common-modal-header">
    <div class="modal-title">{{title}} 삭제</div>
    <div class="modal-close" (click)="removeDialogModal.modalClose()">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="modal-content-wrap">
    <p>선택하신 {{title}}을 삭제하시겠습니까?</p>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right">
      <button class="btn-alert btn-cancel" type="button" (click)="removeDialogModal.modalClose()">취소</button>
      <button class="btn-alert" type="button" (click)="remove($event)">삭제</button>
    </div>
  </div>
</common-modal>
