/* START no-content */
@import "../../../css/style.common";
.loading-content-container {
  width: 100%;
  height: 100%;
  background-color: $sub_color-1;
  position: relative;
  @extend %flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;

  .loading-form-wrapper {
    width: 40%;
    max-width: 768px;
    min-width: 420px;
    display: block;
    margin: 0 auto;
    text-align: center;

    .logo {
      width: 40%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .title {
      color: $C6;
      font-size: 20px;
      margin-top: 10px;
    }
  }
}
/* END no-content */
