<div class="tabWrap_container">
	<div class="titleBoxLine">
		<h4>Q&amp;A 도메인</h4>
		<ul class="btnBox">
			<li><button type="button" (click)="addModalOpen(false)"><img src="../../../../../assets/images/ico_btn_add.png">추가하기</button></li>
		</ul>
	</div>

	<div class="tbl_lot_pdNone02">
		<common-table [style]="{padding:'0'}">
			<div class="table-wrap-rowgroup">
				<p-treeTable [value]="filesTree" selectionMode="single">
					<p-column header="도메인" [style]="{'text-align':'left'}">
						ALL
						<ng-template let-col let-node="rowData" pTemplate="body">
						{{node.domain_name}}
						</ng-template>
					</p-column>
					<p-column header="depth">
						<ng-template let-col let-node="rowData" pTemplate="body">
						{{node.depth}}
						</ng-template>
					</p-column>
					<p-column header="설명" [style]="{'text-align':'left'}">
						<ng-template let-col let-node="rowData" pTemplate="body">
						{{node.descript}}
						</ng-template>
					</p-column>
					<p-column header="수정">
						<ng-template let-node="rowData" pTemplate="body">
							<div class="table-button">
								<!--<button type="button" class="btn_tbl" (click)="addModalOpen(node)">-->
									<!--<img src="../../../../../../assets/images/ico_add_g.png" alt="등록">-->
								<!--</button>-->
								<button type="button" class="btn_tbl" (click)="editModalOpen(node)">
									<img src="../../../../../../assets/images/ico_edit_g.png" alt="수정">
								</button>
								<button type="button" class="btn_tbl" (click)="remove(node)">
									<img src="../../../../../../assets/images/ico_remove_g.png" alt="삭제">
								</button>
							</div>
						</ng-template>
					</p-column>
				</p-treeTable>
			</div>
		</common-table>
	</div>
</div>



<app-bqa-domain-add #addChild [addFlag]="addFlag" (addRemove)="addModalClose($event)"></app-bqa-domain-add>
<app-bqa-domain-edit #editChild [editFlag]="editFlag" (editRemove)="editModalClose($event)"></app-bqa-domain-edit>