<!-- <div class="common-section dashboard-container text-center">
    <div class="common-container">
      <h1>&#60; dashboard &#62;</h1>
      <code>
        <div class="code-title">component.html</div>
        <div><br></div>
        <div>   &#60;div class="common-section text-center"&#62;</div>
        <div>       &#60;div class="common-container"&#62;</div>
        <div style="color: #bcbcbc">           header/menu를 제외한 contents 기본 wrapper</div>
        <div style="color: #bcbcbc">           template관련 내용 넣는 자리</div>
        <div>       &#60;/div&#62;</div>
        <div>   &#60;/div&#62;</div>
        <div><br></div>
      </code>
      <h3>본 라이브러리는  <span style="color: #648bf6">PrimeNG</span>를 참조하여 만들었습니다.</h3>
      <h3>사용 중 필요한 API 또는 속성관련 내용은 <a href="https://www.primefaces.org/primeng/#/" style="color: #7cb2ff; text-decoration: underline">PrimeNG(링크)</a>를 참조하여 주세요.</h3>

    </div>
</div> -->
<!-- <div class="common-section dashboard-container">
  <div class="common-container">
    <div class="common-header-title">
      <span>{{title}}</span>
    </div> -->
<!-- <div>
  debug:
  <br>
  {{ tpsChartData | json }}
  <br>
  {{ tpsChartLabels | json }}
  <br>
  {{ dialogResultChartData | json }}
  <br>
  {{ dialogResultChartLabels | json }}
</div> -->
<div id="container">
    <div id="contents">
        <div class="contents">
            <div class="titleBox">
                <h3> ETL 통계 </h3>
            </div>
            <div class="tabWrap_container">
                <div class="common-table-contents">
                    <div class="table-wrap-rowgroup">
                        <div #section1>
                            <ul class="tblBox02">
                                <li *ngFor="let item of statistics" class="tbl_col04">
                                    <div class="boxType01" style="cursor: pointer;">
                                        <div>{{item.label}}</div><br>
                                        <div class="card-info-name">{{item.value}}</div>
                                        <div class="card-info-unit" *ngIf="!(item.unit | isEmpty)">
                                            <span>{{item.unit}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div #section2 class="tblBox02">
                            <div class="tbl_col02">
                                <div class="stn_tit">
                                    <h4>일별 데이터 처리량</h4>
                                </div>
                                <div class="setupArea">
                                    <div class="dateBox">
                                        <div *ngIf="rangeByTime()" class="table-header-calendar">
                                            <p-calendar [(ngModel)]="endDate" placeholder="to" dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                                        </div>
                                        <div *ngIf="rangeByDay()" class="table-header-calendar">
                                            <p-calendar [(ngModel)]="startDate" [minDate]="minDate" [maxDate]="endDate" placeholder="from" dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050">
                                            </p-calendar>
                                            <span class="term-bar">-</span>
                                            <p-calendar [(ngModel)]="endDate" [minDate]="startDate" placeholder="to"
                                                        dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="btnBox">
                                        <button class="point" (click)="search()">조회</button>
                                    </div>
                                </div>
                                <div class="boxType01">
                                    <app-progress-spinner *ngIf="isWorkingStatTps"
                                                          [style]="{display: 'block', width: '148px', height: '148px', marginTop: '30px'}">
                                    </app-progress-spinner>
                                    <canvas *ngIf="!isWorkingStatTps && !(tpsChartData | isEmpty)"
                                            baseChart
                                            [datasets]="tpsChartData"
                                            [labels]="tpsChartLabels"
                                            [options]="tpsChartOptions"
                                            [legend]="tpsChartLegend"
                                            [chartType]="tpsChartType"
                                            (chartHover)="tpsChartHovered($event)"
                                            (chartClick)="tpsChartClicked($event)">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

































<!-- chart -->
<!--<div class="boxType01">
    <app-progress-spinner *ngIf="isWorkingStatTps"
                          [style]="{display: 'block', width: '148px', height: '148px', marginTop: '30px'}">
    </app-progress-spinner>
    <canvas *ngIf="!isWorkingStatTps && !(tpsChartData | isEmpty)"
            baseChart
            [datasets]="tpsChartData"
            [labels]="tpsChartLabels"
            [options]="tpsChartOptions"
            [legend]="tpsChartLegend"
            [chartType]="tpsChartType"
            (chartHover)="tpsChartHovered($event)"
            (chartClick)="tpsChartClicked($event)">
    </canvas>
</div>-->
