/* START  Chatbot Log */
@import "../../../../../../css/style.common";
.chatbot-log-section{
  .header-wrap-filter{
    button{
      padding:0 10px;
      line-height: 36px;
    }
  }
  .icon-search{
    font-size: 20px;
    margin-right: 5px;
  }
  .select-name{
    text-decoration: underline;
    color:$link-color;
    cursor: pointer;
  }
}
/* END  Chatbot Log */
