<div class="common-section chatbot-log-section">
    <div class="common-container">
        <div class="common-header-title">
            <span>ETL 로그 조회</span>
            <!-- debug [s] -->
            <!-- <div>
              {{startDate | date: 'yy-MM-dd HH:mm:ss'}}<br>{{endDate | date: 'yy-MM-dd HH:mm:ss'}}
            </div> -->
            <!-- debug [e] -->
        </div>
        <common-table>
            <div class="header-wrap-filter common-table">
                <div class="common-input table-input">
                    <div class="table-header-calendar">
                        <p-calendar [(ngModel)]="startDate" [maxDate]="endDate" placeholder="from"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                        <span class="term-bar">-</span>
                        <p-calendar [(ngModel)]="endDate" [minDate]="startDate" placeholder="to"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                    </div>
                </div>
                <div class="button-wrap">
                    <button class="btn-normal-box" (click)="onSearchKey($event)">조건 검색</button>
                </div>
            </div>
            <div class="table-wrap-rowgroup">
                <p-dataTable [value]="etlLogs" styleClass="custom-row-table">
                    <p-column header="타입" field="indexing_type" [style]="{ 'width':'5%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                   <p-column header="서비스명" field="service_name" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="추가" field="indexing_add_size" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="수정" field="indexing_mod_size" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="삭제" field="indexing_del_size" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="총 처리" field="indexing_total_size" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="실행시간" field="execute_time" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="시작시간" field="start_time" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="종료시간" field="end_time" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'10%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <ng-template pTemplate="emptymessage">
                        <div class="no-data">조회할 데이터가 없습니다</div>
                    </ng-template>
                </p-dataTable>
            </div>
            <div class="common-table-footer">
                <div class="footer-wrap text-center">
                    <div class="pagination">
                        <span class="btn-first btn-page" [class.disabled]="pg === 1" (click)="pageChanged(1)"></span>
                        <span class="btn-prev btn-page" [class.disabled]="pg === 1" (click)="pageChanged(pg - 1)"></span>
                        <span class="page-number"><span class="now-page">{{pg}}</span>/<span>{{totalPage}}</span></span>
                        <span class="btn-next btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(pg + 1)"></span>
                        <span class="btn-last btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(totalPage)"></span>
                    </div>
                </div>
            </div>
        </common-table>

        <div class="common-header-title">
            <span>ETL 에러로그 조회</span>
        </div>
        <common-table>
            <div class="header-wrap-filter common-table">
                <div class="common-input table-input">
                    <div class="table-header-calendar">
                        <p-calendar [(ngModel)]="errorStartDate" [maxDate]="errorEndDate" placeholder="from"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                        <span class="term-bar">-</span>
                        <p-calendar [(ngModel)]="errorEndDate" [minDate]="errorStartDate" placeholder="to"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                    </div>
                </div>
                <div class="button-wrap">
                    <button class="btn-normal-box" (click)="onSearchErrorKey($event)">조건 검색</button>
                </div>
            </div>
<!--
            <div class="table-wrap-rowgroup">
                <p-dataTable [value]="items" styleClass="custom-row-table">
                    <p-column header="ID" field="R_OBJECT_ID" [style]="{'width':'15%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            {{item[col.field]}}
                        </ng-template>
                    </p-column>
                    <p-column header="에러메세지" field="ERROR_MESSAGE" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'63%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="시간" field="ERROR_TIME" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'15%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="서비스명" field="SERVICE_NAME" [style]="{'text-align':'left', 'padding':'0 20px', 'width':'7%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <ng-template pTemplate="emptymessage">
                        <div class="no-data">조회할 데이터가 없습니다</div>
                    </ng-template>
                </p-dataTable>
            </div>
-->
            <div class="common-table-footer">
                <div class="footer-wrap text-center">
                    <div class="pagination">
                        <span class="btn-first btn-page" [class.disabled]="errorPg === 1" (click)="errorPageChanged(1)"></span>
                        <span class="btn-prev btn-page" [class.disabled]="errorPg === 1" (click)="errorPageChanged(errorPg - 1)"></span>
                        <span class="page-number"><span class="now-page">{{errorPg}}</span>/<span>{{errorTotalPage}}</span></span>
                        <span class="btn-next btn-page" [class.disabled]="errorPg === errorTotalPage" (click)="errorPageChanged(errorPg + 1)"></span>
                        <span class="btn-last btn-page" [class.disabled]="errorPg === errorTotalPage" (click)="errorPageChanged(errorTotalPage)"></span>
                    </div>
                </div>
            </div>
        </common-table>
    </div>
</div>
