/* START Chatting Default */
@import "../../../../../../css/style.common";

.chatbot-button-container{
  width: calc(100% - 100px);
  margin:  0 50px;
  li{
    display:inline-block;
    font-size: 0;
    button{
      font-size:$font-02;
      margin:5px 5px 0 0;
      padding:0 10px;
      line-height:30px;
      border:1px solid $main-color;
      border-radius:16px;
      color:$main-color;
      background: $C0;
      &:hover{
        background: $main-color;
        color:$C0;
      }
    }
  }
}
/* END Chatting Default */

