<li class="bot" (click)="selectDialog($event)"> 
  <span class="thumb">
    <img [src]="botImg" onerror="this.src = '../../../../assets/images/chatbot-default.png';" alt="MAUM BOT" #botImgEle >
  </span>
  <span class="cont">  
    <em class="txt" *ngIf="nowLoading">
      <span class="chatLoading">
        <b class="chatLoading_item01"></b>
        <b class="chatLoading_item02"></b>
        <b class="chatLoading_item03"></b>
      </span>
    </em> 
    <em class="txt" *ngIf="!nowLoading"
        [style]="{'word-break': 'break-word'}"
      [innerHTML]="message | lnToBr"></em>
  </span> 
</li>