<li class="botMsg_btnLst" (click)="selectDialog($event)">
  <ul *ngIf="carousels && carousels.length > 0">
    <li *ngFor="let item of carousels">
      <img [src]="(item.imagePath | file: container_sds_img)" width=226 height=100>
      <a href="javascript:void(0);" (click)="selectCarousel($event, item)">{{item.title}}</a>
    </li>
  </ul>
</li>
