/* START Chatting Default */
@import "../../../../../../css/style.common";

.chatting-default-wrap{
  position: relative;
  width: calc(100% - 50px);
  min-height:58px;
  font-size: 0;
  .chatting-info-text{
    position:relative;
    display: inline-block;
    vertical-align: top;
    max-width: 648px;
    margin-top:5px;
    img{
      width: 40px;
      height:40px;
    }
    .chatting-info{
      margin-bottom:5px;
      height: 15px;
    }
    .chatting-name{
      font-size: $font-03;
      color:$font-color;
      font-weight: bold;
    }
    .chatting-time{
      font-size: 11px;
      color:$C6;
    }
  }
}
.ddubot-info{
  margin-left: 10px;
  width: calc(100% - 55px);
  .chatting-name{
    margin-right:5px;
  }
}
.ddubot-text{
  display: inline-block;
  background-color: $C0;
  border: 1px solid $main-color;
  font-size: $font-04;
  color:$font-color;
  //line-height: 20px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  &.chatting-loading{
    font-size: 0;
    .chatting-loading-bubble{
      font-size: $font-04;
    }
  }
}
.ddubot-triangle{
  position: absolute;
  border-bottom:9px solid transparent;
  border-right:9px solid $main-color;
  top: 20px;
  left: -8px;
}
.triangle{
  position: absolute;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #FFFFFF;
  top: 21px;
  left: -6px;
}
.client-info{
  margin-right: 10px;
  width: calc(100% - 55px);
  .chatting-name{
    margin-left:5px;
  }
}
.client-text{
  word-break:break-all;
  display: inline-block;
  background-color: $main-color;
  border: 1px solid $main-color;
  font-size: $font-04;
  line-height: 20px;
  color:$C0;
  border-bottom-left-radius:15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  padding:10px;
  text-align: left;
}
.client-triangle{
  position: absolute;
  border-bottom:10px solid transparent;
  border-left:10px solid $main-color;
  top: 20px;
  right: -8px;
}
.chatting-client{
  margin:15px 0 15px 50px;
  text-align: right;
  .chatting-info{
    text-align: right;
  }
}
.chatting-loading{
  .bubble{
    animation: expand .70s ease-in-out infinite;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 1px;
    width: 6px;
    height: 6px;
    background: $main-color;
  }
  .bubble:nth-child(2) {
    animation-delay: 180ms;
  }

  .bubble:nth-child(3) {
    animation-delay: 360ms;
  }
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
}
/* END Chatting Default */
