<li class="botMsg_btnLst" (click)="selectDialog($event)">
  <ul *ngIf="image">
    <li>
      <a href="javascript:void(0);" (click)="selectImage($event)">
        <span *ngIf="image.imageText">{{image.imageText}}<br></span>
        <img *ngIf="image.imagePath" [src]="imagePath" width=226 height=100>
      </a>
    </li>
  </ul>
</li>
