<li class="botMsg_btnLst" (click)="selectDialog($event)">
  <ul *ngIf="buttons && buttons.length > 0">
    <li *ngFor="let item of buttons">
      <a href="javascript:void(0);" (click)="selectButton($event, item)">{{item.title}}</a>
    </li>
  </ul>
</li>
