/* START Dashboard */
@import "../../../../css/style.common";

/* primeng component custom */
// .ui-dropdown {
//   width: 100px;
//   border-right: 0;
//   border: 1px solid $C2;
//   @include radius(2px);
// }
// .ui-radiobutton-box {
//   border: 1px solid $C2;
// }

/* custom basic */
.common-table-section {
  border: 0;
}


.dashboard-container{
  .header-wrap-filter{
    button{
      padding:0 10px;
      line-height: 36px;
    }
  }
  .icon-search{
    font-size: 20px;
    margin-right: 5px;
  }
  .select-name{
    text-decoration: underline;
    color:$link-color;
    cursor: pointer;
  }
}


.radio-wrapper {
  width: 200px;
  display: inline-block;
  font-size: 12px;
}
.radio-item {
  width: 80px;
  display: inline-block;
}

@mixin item-wrapper {
  min-width: 488px;
}
.chart-wrapper {
  @include item-wrapper;
}
.item-wrapper {
  height: 144px;
  @include item-wrapper;
}
.chart-title {
  font-size: 14px;
  margin-bottom: -5px;
}

.item-container {
  height: 140px;
  margin: 2px;
  border: 1px solid $C5;
  border-radius: 15px;
}
.item-title {
  font-size: 14px;
  background-color: $C2;
  text-align: center;
  font-weight: bold;
  height: 30px;
  padding-top: 5px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
@mixin item-base {
  background-color: $C1;
}
@mixin item {
  height: 30px;
  padding-top: 5px;
}
.item-list {
  height: 94px;
  overflow-y: auto;
  @include item-base;
  // border-bottom-left-radius: 14px;
  // border-bottom-right-radius: 14px;
}
.item-odd {
  background-color: $C3;
  @include item;
}
.item-even {
  background-color: $C1;
  @include item;
}
.item-bottom {
  height: 14px;
  @include item-base;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.item-empty {
  text-align: center;
  padding-top: 43px;
  height: 108px;
  @include item-base;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.item-td {
  display: inline-block;
  &.no {
    // width: 15px;
    padding-left: 40px;
    padding-right: 90px;
  }
  // &.name {
  //   // width: 80px;
  // }
  &.count {
    // width: 15px;
    float: right;
    padding-right: 84px;
  }
}
.card-wrap{
  width: 100%;
  height: auto;
}
.card-container{
  width: 234px;
  height: 86px;
  border: $table-main-border;
  border-radius: 10px;
  overflow: hidden;
  // background: $C2;
  background: $C0;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 20px 0;
}
.card-info-wrap{
  padding: 17px 20px 0 20px;
  background: $C0;
  .card-info{
    color: $C7;
    font-size: 16px;
    line-height: 15px;
    // margin-top: 5px;
    // margin-bottom: 10px
  }
  .card-info-name{
    // font-size: $content-title-font;
    color: $sub-color-1;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

    background: $C0;
    float: left;
    max-width: 85%;
    height: 52px;
    font-size: 34px;
    padding-top: calc(53px - 40px);
  }
  .card-info-unit{
    // font-size: $content-title-font;
    color: $sub-color-1;
    float: left;
    width: 15%;
    height: 42px;
    font-size: 20px;
    padding-top: calc(53px - 40px);
  }
}

.two-column-wrapper {
  width: 100%;
  clear: both;
}
.two-column-item {
  width: 50%;
  float: left;
}
.margin-column {
  margin: 0 0 16px 0;
  clear: both
}

/* END Dashboard */
