<!-- <div class="common-section dashboard-container text-center">
    <div class="common-container">
      <h1>&#60; dashboard &#62;</h1>
      <code>
        <div class="code-title">component.html</div>
        <div><br></div>
        <div>   &#60;div class="common-section text-center"&#62;</div>
        <div>       &#60;div class="common-container"&#62;</div>
        <div style="color: #bcbcbc">           header/menu를 제외한 contents 기본 wrapper</div>
        <div style="color: #bcbcbc">           template관련 내용 넣는 자리</div>
        <div>       &#60;/div&#62;</div>
        <div>   &#60;/div&#62;</div>
        <div><br></div>
      </code>
      <h3>본 라이브러리는  <span style="color: #648bf6">PrimeNG</span>를 참조하여 만들었습니다.</h3>
      <h3>사용 중 필요한 API 또는 속성관련 내용은 <a href="https://www.primefaces.org/primeng/#/" style="color: #7cb2ff; text-decoration: underline">PrimeNG(링크)</a>를 참조하여 주세요.</h3>

    </div>
</div> -->
<!-- <div class="common-section dashboard-container">
  <div class="common-container">
    <div class="common-header-title">
      <span>{{title}}</span>
    </div> -->
<!-- <div>
  debug:
  <br>
  {{ tpsChartData | json }}
  <br>
  {{ tpsChartLabels | json }}
  <br>
  {{ dialogResultChartData | json }}
  <br>
  {{ dialogResultChartLabels | json }}
</div> -->
<div id="container">
    <div id="contents">
        <div class="contents">
            <div class="titleBox">
                <h3>시스템 현황</h3>
                <div class="setupArea">
                    <div class="radioBox">
						<span class="radio-item">
							<p-radioButton name="range"
                                           [value]="rangeOption.time"
                                           label="시간별"
                                           [(ngModel)]="selectedRange">
							</p-radioButton>
                            <!-- [style]="{'border': '1px solid #dae1f4', 'border-radius': '100%', 'padding-top': '1px'}" -->
						</span>
                        <span class="radio-item">
							<p-radioButton  name="range"
                                            [value]="rangeOption.day"
                                            label="일자별"
                                            [(ngModel)]="selectedRange">
							</p-radioButton>
						</span>
                    </div>
                    <div class="dateBox">
                        <div *ngIf="rangeByTime()" class="table-header-calendar">
                            <p-calendar [(ngModel)]="endDate" placeholder="to" dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                        </div>
                        <div *ngIf="rangeByDay()" class="table-header-calendar">
                            <p-calendar [(ngModel)]="startDate" [minDate]="minDate" [maxDate]="endDate" placeholder="from" dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050">
                            </p-calendar>
                            <span class="term-bar">-</span>
                            <p-calendar [(ngModel)]="endDate" [minDate]="startDate" placeholder="to"
                                        dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                        </div>
                    </div>
                    <div class="btnBox">
                        <button class="point" (click)="search()">조회</button>
                    </div>
                </div>
            </div>
            <div class="tabWrap_container">
                <div class="common-table-contents">
                    <div class="table-wrap-rowgroup">
                        <div #section4  class="tblBox02">
                            <div class="tbl_col02">
                                <div class="stn_tit" style="float:left;">
                                    <h4 style="line-height:18px;">CPU Used</h4>
                                </div>
                                <div class="stn_tit" style="float:left;padding:0 0 1px 0;">
                                    <h5>(평균:{{cpuTotalAvg}}, 최대:{{cpuTotalMax}}, 최소:{{cpuTotalMin}})</h5>
                                </div>
                                <div class="selectBox" style="float: right">
                                    <p-dropdown styleClass="custom-dropdown"
                                                [options]="serverList"
                                                [style]= "{'width':'100px'}"
                                                [(ngModel)]="selectServerOption"
                                                (onChange)="changeStauts($event)">
                                        <ng-template let-item pTemplate="Option">
                                            <div>{{item.label}}</div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                                <div class="boxType01">
                                    <app-progress-spinner *ngIf="isWorkingCpuUsed"
                                                          [style]="{display: 'block', width: '148px', height: '148px', marginTop: '30px'}">
                                    </app-progress-spinner>
                                    <canvas *ngIf="!isWorkingCpuUsed && !(cpuResultChartData | isEmpty)"
                                            baseChart
                                            [datasets]="cpuResultChartData"
                                            [labels]="cpuResultChartLabels"
                                            [options]="cpuResultChartOptions"
                                            [legend]="cpuResultChartLegend"
                                            [chartType]="cpuResultChartType"
                                            (chartHover)="cpuResultChartHovered($event)"
                                            (chartClick)="cpuResultChartClicked($event)">
                                    </canvas>
                                </div>
                            </div>
                            <div class="tbl_col02">
                                <div class="stn_tit" style="float:left;">
                                    <h4 style="line-height:18px;">MEM Usage</h4>
                                </div>
                                <div class="stn_tit" style="float:left;padding:0 0 1px 0;">
                                    <h5>(평균:{{memTotalAvg}}, 최대:{{memTotalMax}}, 최소:{{memTotalMin}})- 전체:{{memTotal}}</h5>
                                </div>
                                <div class="selectBox" style="float: right">
                                    <p-dropdown styleClass="custom-dropdown"
                                                [options]="serverList"
                                                [style]= "{'width':'100px'}"
                                                [(ngModel)]="selectServerOption"
                                                (onChange)="changeStauts($event)">
                                        <ng-template let-item pTemplate="Option">
                                            <div>{{item.label}}</div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>

                                <div class="boxType01">
                                    <app-progress-spinner *ngIf="isWorkingMemUsed"
                                                          [style]="{display: 'block', width: '148px', height: '148px', marginTop: '30px'}">
                                    </app-progress-spinner>
                                    <canvas *ngIf="!isWorkingMemUsed && !(memResultChartData | isEmpty)"
                                            baseChart
                                            [datasets]="memResultChartData"
                                            [labels]="memResultChartLabels"
                                            [options]="memResultChartOptions"
                                            [legend]="memResultChartLegend"
                                            [chartType]="memResultChartType"
                                            (chartHover)="memResultChartHovered($event)"
                                            (chartClick)="memResultChartClicked($event)">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        <div #section5  class="tblBox02">
                            <div class="tbl_col02">
                                <div class="stn_tit" style="float:left;">
                                    <h4 style="line-height:18px;">Disk Usage</h4>
                                </div>
                                <div class="stn_tit" style="float:left;padding:0 0 1px 0;">
                                    <h5>(평균:{{diskTotalAvg}}, 최대:{{diskTotalMax}}, 최소:{{diskTotalMin}})- 전체:{{diskTotal}}</h5>
                                </div>
                                <div class="selectBox" style="float: right">
                                    <p-dropdown styleClass="custom-dropdown"
                                                [options]="serverList"
                                                [style]= "{'width':'100px'}"
                                                [(ngModel)]="selectServerOption"
                                                (onChange)="changeStauts($event)">
                                        <ng-template let-item pTemplate="Option">
                                            <div>{{item.label}}</div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                                <div class="boxType01">
                                    <app-progress-spinner *ngIf="isWorkingDiskUsed"
                                                          [style]="{display: 'block', width: '148px', height: '148px', marginTop: '30px'}">
                                    </app-progress-spinner>
                                    <canvas *ngIf="!isWorkingDiskUsed && !(diskResultChartData | isEmpty)"
                                            baseChart
                                            [datasets]="diskResultChartData"
                                            [labels]="diskResultChartLabels"
                                            [options]="diskResultChartOptions"
                                            [legend]="diskResultChartLegend"
                                            [chartType]="diskResultChartType"
                                            (chartHover)="diskResultChartHovered($event)"
                                            (chartClick)="diskResultChartClicked($event)">
                                    </canvas>
                                </div>
                            </div>
                            <div class="tbl_col02">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
