<div class="setupArea">
    <div class="radioBox">
<!--        <span class="radio-item">
            <p-radioButton name="range"
                           [value]="rangeOption.day"
                           label="일자별"
                           [(ngModel)]="selectedRange">
            </p-radioButton>
            &lt;!&ndash; [style]="{'border': '1px solid #dae1f4', 'border-radius': '100%', 'padding-top': '1px'}" &ndash;&gt;
        </span>-->
        <span class="radio-item">
            <p-radioButton  name="range"
                            [value]="rangeOption.week"
                            label="주간별"
                            [(ngModel)]="selectedRange">
            </p-radioButton>
        </span>
        <span class="radio-item">
            <p-radioButton  name="range"
                            [value]="rangeOption.month"
                            label="월별"
                            [(ngModel)]="selectedRange">
            </p-radioButton>
        </span>
    </div>
</div>
<div class="if_container">
    <div #frameWrapper *ngIf="!(urlDomainlist | isEmpty)">
        <iframe #frameScenario id="frameProjectList" style="border-width: 0px;width:100%;" [src]="urlDomainlist"></iframe>
    </div>
</div>
