<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-header"
             th:if="${viewStyleNode != null}"
             th:utext="${viewStyleNode.get('viewTitle').asText()}">
        </div>
        <div class="comment-box">
            <p th:utext="${sentence}"></p>
            <p class="buttons buttons-default">
                <a href="#" class="btn btn-block"
                   th:classappend="${#strings.contains(buttonNode.get('title').asText(),'대화종료') || #strings.contains(buttonNode.get('title').asText(),'다음 리스트') || #strings.contains(buttonNode.get('title').asText(),'이전 리스트')} ? btn-gray : btn-outline-primary"
                   th:each="buttonNode : ${richContent.get('buttons')}"
                   th:utext="${buttonNode.get('title').asText()}"
                   th:attr="onclick=|buttonClick(this, ${buttonNode})|"></a>
            </p>
        </div>
        <div class="comment-time" th:text="${botTime}">00:00</div>
        <div class="comment-feedback">
            <button type="button" class="btn-like" title="좋아요"
                    th:attr="onclick=|buttonLikeClick(this, ${likeNode})|">좋아요</button>
            <button class="btn-dislike" title="싫어요"
                    th:attr="onclick=|buttonDislikeClick(this, ${likeNode})|">싫어요</button>
        </div>
    </div>
    <script th:inline="javascript">
        var buttonClick = function (__this, buttonNode) {
            window.console && console.log("buttonClick start");
            window.console && console.log("buttonClick buttonNode: ", buttonNode);

            // Group Buttons 이벤트 제거
            // $( event.target ).parent().children().each(function() {
            //     if ($(this).is('a')) {
            //         // window.console && console.log("buttonClick this button yes ");
            //         $( this ).prop("onclick", null).off("click");
            //     }
            // });

            if (buttonNode && buttonNode.userUtter) {
                if (buttonNode.userUtter.indexOf("http://") == 0 || buttonNode.userUtter.indexOf("https://") == 0) {
                    window.open(buttonNode.userUtter, "_blank");
                } else {
                    botQuestion(buttonNode.userUtter);
                }
            }
        }
        var buttonLikeClick = function (__this, likeNode) {
            window.console && console.log("buttonLikeClick start");
            // window.console && console.log("buttonLikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "like";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
        var buttonDislikeClick = function (__this, likeNode) {
            window.console && console.log("buttonDislikeClick start");
            // window.console && console.log("buttonDislikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "dislike";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
    </script>
</li>