<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-header"
             th:if="${viewStyleNode != null}"
             th:utext="${viewStyleNode.get('viewTitle').asText()}">
        </div>
        <div class="comment-box">
            <!--<p>식단 안내입니다.</p>-->
            <p th:if="${richContent == null}"
               th:utext="${sentence}">
            </p>
            <p class="buttons buttons-default" th:if="${richContent != null}">
                <a href="#" class="btn btn-outline-primary btn-label btn-label-window-restore btn-block"
                   th:utext="${richContent.get('image').get('imageText').asText()}"
                   th:attr="onclick=|cafeteriaMenuClick(event, ${richContent.get('image')})|"></a>
            </p>
        </div>
        <div class="comment-time" th:text="${botTime}">00:00</div>
    </div>
    <script th:inline="javascript">
        var cafeteriaMenuClick = function (event, imageNode) {
            window.console && console.log("cafeteriaMenuClick start");
            window.console && console.log("cafeteriaMenuClick imageNode: ", imageNode);

            cafeteriaMenuWindow(imageNode.linkUrl);
        }
    </script>
</li>