<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-box comment-error-box">
            <p>알수없는 오류가 발생했습니다.</p>
        </div>
    </div>
    <script th:inline="javascript">
        var errorStatus = [[${errorStatus}]]; // 에러상태
        if (errorStatus) {
            window.console && console.log("errorView  errorStatus:", errorStatus);
            if (errorStatus == 'ERROR_AUTHENTICATION') {
                window.location.href = BOT_API.ERROR_AUTHENTICATION;
            } else if (errorStatus == 'ERROR_SESSION_EXPIRATION') {
                window.location.href = BOT_API.ERROR_SESSION_EXPIRATION;
            } else {
                window.location.href = BOT_API.ERROR_UNKNOWN;
            }
        }
    </script>
</li>