<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <th:block th:utext="${sentence}">
        </th:block>

        <div class="comment-box"
             th:if="${richContentType.equals('RT0001')}">
            <p class="buttons buttons-default">
                <a href="#" class="btn btn-outline-primary btn-block"
                   th:each="buttonNode : ${richContent.get('buttons')}"
                   th:utext="${buttonNode.get('title').asText()}"
                   th:attr="onclick=|buttonGreetingClick(event, ${buttonNode})|"></a>
            </p>
        </div>

        <!-- 공지사항 -->
        <th:block th:each="noticeNode : ${botNotices}"
                  th:if="${noticeNode.get('useYn').asText().equals('Y')}">
            <div class="comment-header">
                공지사항
            </div>
            <div class="comment-box">
                <p th:if="${noticeNode.get('imageText') != null}"
                   th:utext="${noticeNode.get('imageText').asText()}">
                </p>
                <p th:if="${noticeNode.get('linkUrl') == null}">
                    <a class="btn-image-link"
                       th:href="${noticeNode.get('imagePath').asText()}"
                       th:style="'background-image:url(' + ${noticeNode.get('imagePath').asText()} + ');'"
                       target="_blank">

                    </a>
                </p>
                <p th:if="${noticeNode.get('linkUrl') != null}">
                    <a class="btn-image-link"
                       th:href="${noticeNode.get('linkUrl').asText()}"
                       th:style="'background-image:url(' + ${noticeNode.get('imagePath').asText()} + ');'"
                       target="_blank">

                    </a>
                </p>
            </div>
        </th:block>
        <div class="comment-time" th:text="${botTime}">00:00</div>
    </div>
    <script th:inline="javascript">
        var buttonGreetingClick = function (event, buttonNode) {
            window.console && console.log("buttonGreetingClick start");
            // window.console && console.log("buttonGreetingClick buttonNode: ", buttonNode);
            botQuestion(buttonNode.userUtter);
        }
    </script>
</li>