<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-header"
             th:if="${viewStyleNode != null}"
             th:utext="${viewStyleNode.get('viewTitle').asText()}">
        </div>
        <div class="comment-box">
            <p th:utext="${sentence}"></p>
            <th:block th:if="${imageViewType.equals('IMAGE_LINK')}">
                <p class="buttons buttons-default">
                    <a class="btn-image-link" th:href="${linkUrl}" th:style="'background-image:url(' + ${imagePath} + ');'"
                       target="_blank">
                        <!--<img th:src="${imagePath}">-->
                    </a>
                </p>
            </th:block>
            <th:block th:if="${imageViewType.equals('BUTTON_LINK')}">
                <p class="buttons buttons-default">
                    <a class="btn btn-outline-primary btn-label btn-label-window-restore btn-block"
                       th:href="${linkUrl}"
                       th:text="${imageText}"
                       target="_blank">
                    </a>
                </p>
            </th:block>
            <th:block th:if="${imageViewType.equals('IMAGE_VIEW')}">
                <p class="buttons buttons-default">
                    <a class="btn-image-link" th:href="${imagePath}" th:style="'background-image:url(' + ${imagePath} + ');'"
                       target="_blank">
                        <!--<img th:src="${imagePath}">-->
                    </a>
                </p>
            </th:block>
            <th:block th:if="${imageViewType.equals('TEXT_VIEW')}">
                <p th:text="${imageText}"></p>
            </th:block>
        </div>
        <div class="comment-time" th:text="${botTime}">00:00</div>
        <div class="comment-feedback">
            <button type="button" class="btn-like" title="좋아요"
                    th:attr="onclick=|imageLinkLikeClick(this, ${likeNode})|">좋아요
            </button>
            <button class="btn-dislike" title="싫어요"
                    th:attr="onclick=|imageLinkDislikeClick(this, ${likeNode})|">싫어요
            </button>
        </div>
    </div>

    <script th:inline="javascript">
        var imageLinkLikeClick = function (__this, likeNode) {
            window.console && console.log("imageLinkLikeClick start");
            window.console && console.log("imageLinkLikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
        var imageLinkDislikeClick = function (__this, likeNode) {
            window.console && console.log("imageLinkDislikeClick start");
            window.console && console.log("imageLinkDislikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "dislike";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
    </script>
</li>