<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-header"
             th:if="${viewStyleNode != null}"
             th:utext="${viewStyleNode.get('viewTitle').asText()}">
        </div>
        <div class="comment-box">
            <p th:utext="${sentence}"></p>
            <p class="buttons buttons-default"
               th:if="${dataFirstNode != null}">
                <a href="#" class="btn btn-outline-primary btn-block"
                   th:utext="${dataFirstNode.get('objectName').asText()}"
                   th:attr="onclick=|buttonMrcPageClick(event, ${dataFirstNode})|"></a>
            </p>
            <p th:if="${#strings.isEmpty(comment) == false}"
               th:utext="${comment}">
            </p>
        </div>
        <div class="comment-time" th:text="${botTime}">00:00</div>
        <div class="comment-feedback">
            <button type="button" class="btn-like" title="좋아요"
                    th:attr="onclick=|buttonMrcLikeClick(this, ${likeNode})|">좋아요</button>
            <button class="btn-dislike" title="싫어요"
                    th:attr="onclick=|buttonMrcDislikeClick(this, ${likeNode})|">싫어요</button>
        </div>
    </div>
    <script th:inline="javascript">
        var buttonMrcPageClick = function (__this, buttonMrcNode) {
            window.console && console.log("buttonMrcPageClick start");
            window.console && console.log("buttonMrcPageClick buttonMrcNode: ", buttonMrcNode);

            var mrcArray = [];
            mrcArray.push(buttonMrcNode);
            unknownMrcList(mrcArray);
        }
        var buttonMrcLikeClick = function (__this, likeNode) {
            window.console && console.log("buttonMrcLikeClick start");
            window.console && console.log("buttonMrcLikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "like";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
        var buttonMrcDislikeClick = function (__this, likeNode) {
            window.console && console.log("buttonMrcDislikeClick start");
            // window.console && console.log("buttonMrcDislikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "dislike";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
    </script>
</li>