<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-header"
             th:if="${viewStyleNode != null}"
             th:utext="${viewStyleNode.get('viewTitle').asText()}">
        </div>
        <div class="comment-box">
            <p th:utext="${sentence}"></p>
        </div>
        <div class="comment-time" th:text="${botTime}">00:00</div>
        <div class="comment-feedback">
            <button type="button" class="btn-like" title="좋아요"
                    th:attr="onclick=|normalLikeClick(this, ${likeNode})|">좋아요</button>
            <button class="btn-dislike" title="싫어요"
                    th:attr="onclick=|normalDislikeClick(this, ${likeNode})|">싫어요</button>
        </div>
    </div>
    <script th:inline="javascript">
        var normalLikeClick = function (__this, likeNode) {
            window.console && console.log("normalLikeClick start");
            window.console && console.log("normalLikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "like";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
        var normalDislikeClick = function (__this, likeNode) {
            window.console && console.log("normalDislikeClick start");
            window.console && console.log("normalDislikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "dislike";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
    </script>
</li>