<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-box">
            <p th:if="${totalCount == 0}"><b th:utext="${keywords}" class="color-point"></b>에 대한 검색 결과가 없습니다.</p>
            <p th:if="${totalCount > 0}"><b th:utext="${keywords}" class="color-point"></b>에 대한 검색결과 <b th:utext="${totalCount + '건'}" class="color-point"></b>이 있습니다. <br/>아래 내용 중 찾으시는 용어를 선택하세요.</p>
            <p th:if="${totalCount > 0}" class="buttons buttons-default">
                <a href="#" class="btn btn-outline-primary btn-block"
                   th:each="itemNode : ${listNode}"
                   th:text="${itemNode.get('korTitle').asText()}"
                   th:attr="onclick=|searchTermItemClick(event, ${itemNode})|"></a>
            </p>
            <p th:if="${totalCount > 5}">용어검색 결과는 5건만 제공,<br/>나머지는 <a href="https://autopedia.hmckmc.co.kr" target='_blank'>오토피디아</a>에서 검색 바랍니다.</p>
        </div>
    </div>
    <div class="comment-time" th:text="${botTime}">00:00</div>
    <script th:inline="javascript">
        var searchTermItemClick = function (event, itemNode) {
            window.console && console.log("searchTermItemClick start");
            window.console && console.log("searchTermItemClick itemNode: ", itemNode);

            searchTermItemView(itemNode);
        }
    </script>
</li>