<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-header" th:utext="${korTitle}">
            단어 검색 선택 타이틀
        </div>
        <div class="comment-box">
            <p th:utext="${dataNode.get('trmsSbc').asText()}"></p>
        </div>
    </div>
    <div class="comment-time" th:text="${botTime}">00:00</div>
    <script th:inline="javascript">

    </script>
</li>