<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-header"
             th:if="${viewStyleNode != null}"
             th:utext="${viewStyleNode.get('viewTitle').asText()}">
        </div>
        <div class="comment-box">
            <p th:utext="${sentence}"></p>
            <!--<p class="buttons buttons-default">-->
                <!--<button type="button" class="btn btn-outline-primary btn-block" title="상세 보기"-->
                        <!--th:attr="onclick=|shuttleBusClick(this, ${shuttleBusNode})|">상세 보기</button>-->
            <!--</p>-->
        </div>
        <div class="comment-time" th:text="${botTime}">00:00</div>
        <div class="comment-feedback">
            <button type="button" class="btn-like" title="좋아요"
                    th:attr="onclick=|shuttleBusLikeClick(this, ${likeNode})|">좋아요</button>
            <button class="btn-dislike" title="싫어요"
                    th:attr="onclick=|shuttleBusDislikeClick(this, ${likeNode})|">싫어요</button>
        </div>
    </div>
    <script th:inline="javascript">
        var shuttleBusClick = function (__this, shuttleBusNode) {
            // window.console && console.log("shuttleBusClick start");
            // window.console && console.log("shuttleBusClick shuttleBusNode: ", shuttleBusNode);
            //
            // openShuttleBusView(shuttleBusNode);
        }
        var shuttleBusLikeClick = function (__this, likeNode) {
            window.console && console.log("shuttleBusLikeClick start");
            window.console && console.log("shuttleBusLikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "like";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }
        var shuttleBusDislikeClick = function (__this, likeNode) {
            window.console && console.log("shuttleBusDislikeClick start");
            window.console && console.log("shuttleBusDislikeClick likeNode: ", likeNode);

            if (U.isEmpty(likeNode)) {
                return;
            }
            var params = {};
            params.botId = GMaiBot.getBotId();
            params.currStep = likeNode.currStep && likeNode.currStep;
            params.question = likeNode.question && likeNode.question;
            params.answer = likeNode.answer && likeNode.answer;
            params.countType = "dislike";
            saveBotLike(params);

            // 좋아요 버튼 diabled
            disabledLikeButtons(__this);
        }

        var shuttleBusNode = [[${shuttleBusNode}]];
        window.console && console.log("shuttleBusCount:", shuttleBusNode.shuttleBusCount );
        if(shuttleBusNode.shuttleBusCount && shuttleBusNode.shuttleBusCount > 0) {
            openShuttleBusView(shuttleBusNode);
        }
    </script>
</li>