<li class="comment-answer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="comment-block">
        <div class="comment-box comment-error-box">
            <p>적절한 답변을 찾지 못했습니다.<br>다시 질문해 주시겠어요?</p>
        </div>
        <div class="comment-time" th:text="${botTime}">00:00</div>
    </div>
    <script th:inline="javascript">
    </script>
</li>