
<div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}">
	<div class="common-modal-container">
		<form [formGroup]="addForm">
			<!-- .modal_top -->
			<div class="modal_top">
				<h3>정규식 생성</h3>
				<div class="modal-close" (click)="addClose()">
					<i class="icon-close"></i>
				</div>
			</div>
			<!-- //.modal_top -->
			<!-- .modal_mid -->
			<div class="modal_mid">
				<div class="modal_stn">
					<div class="tit">
						<h4>도메인 이름</h4>
					</div>
					<div class="cont">
						<div class="pickerBox">
							<p class="domainPicker">{{cf_simple.sds_domain}}</p>
						</div>
					</div>
				</div>
				<div class="modal_stn">
					<div class="tit">
						<h4>pattern</h4>
					</div>
					<div class="cont">
						<input  #patternInput type="text" formControlName="pattern" class="textarea" placeholder="정규식 입력해주세요.">
					</div>
				</div>
			</div>
			<!-- //.modal_mid -->
			<!-- .modal_btm -->
			<div class="modal_btm">			
				<button class="point" *ngIf="!addForm.invalid" (click)="onAddSubmit(addForm.value)">저장</button>
				<button (click)="addClose()">취소</button>
			</div>
			<!-- //.modal_btm -->
      	</form>
	</div>
</div>
