<common-table [style]="{padding: '3px', width: '100%'}"
    [bodyStyle]="{'height': '152px', 'overflow-y': 'auto'}"
    *ngIf="scfFlag"
>

    <div class="table-wrap-rowgroup">
      <p-dataTable [value]="items" styleClass="custom-row-table" dataKey="questionId"
          [tableStyle]="{'max-width': '100%'}"
      >

        <p-column header="scf_id" field="scf_id" [style]="{'width':'52px'}">
          <ng-template let-col let-item="rowData" pTemplate="body">
            {{item.scf_id}}
          </ng-template>
        </p-column>
<!-- 
        <p-column header="bot_id" field="bot_id" [style]="{'width':'79px'}">
          <ng-template let-col let-item="rowData" pTemplate="body">
            {{item.bot_id}}
          </ng-template>
        </p-column>
        <p-column header="domain_id" field="domain_id" [style]="{'width':'220px','text-align':'left'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item.domain_id}}
            </ng-template>
          </p-column> -->
          <p-column header="도메인" field="sds_domain" [style]="{'text-align':'left'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item.sds_domain}}
            </ng-template>
          </p-column>

        <p-column header="pattern" field="pattern" [style]="{'text-align':'left'}">
          <ng-template let-col let-item="rowData" pTemplate="body">
            {{item.pattern}}
          </ng-template>
        </p-column>
  
        
        <!-- <p-column header="answerList" field="answerList" [style]="{'width':'220px','text-align':'left'}">
          <ng-template let-col let-item="rowData" pTemplate="body">
  
            <li *ngFor="let answer of item.answerList; index as i;" style="overflow:hidden;
                  word-break: break-word;
                  text-overflow: ellipsis;">
              {{i+1}}: {{answer.answer}}
            </li>
          </ng-template>
        </p-column> -->
  
        <p-column [style]="{'width':'80px'}">
          <ng-template pTemplate="header">
            <div>Action</div>
          </ng-template>
          <ng-template let-entity="rowData" pTemplate="body">
            <div class="table-button">
              <button type="button" class="btn_tbl" (click)="editModalOpen(entity)">
                <img src="../../../../../../assets/images/ico_btn_edit.png" alt="수정">
        </button>
              <button type="button" class="btn_tbl" (click)="removeOpen(entity)">
                <img src="../../../../../../assets/images/ico_btn_remove.png" alt="삭제">
        </button>
          
            </div>
          </ng-template>
        </p-column>
  
        <ng-template pTemplate="emptymessage">
          <div class="no-data">조회할 데이터가 없습니다</div>
        </ng-template>
  
      </p-dataTable>
  
    </div>
  
    <div class="common-table-footer">
      <div class="footer-wrap text-center"
          style="margin-top: 0"
      >
        <app-paginator (page)="onPaginator($event)" 
              [totalCount]="paginator.totalCount" 
              [pageSize]="paginator.pageSize"
              [style]="{margin: '5px 0'}"
        ></app-paginator>
      </div>
    </div>
  </common-table>

  <app-classifier-add #addModal (addRemove)="addModalClose($event)"> </app-classifier-add>
  <app-classifier-edit #editModal (editRemove)="editModalClose($event)"> </app-classifier-edit>


<!-- <common-modal #baseModal >
    <div class="common-modal-header" >
      <div class="modal-title">패턴 매칭</div>
      <div class="modal-close" (click)="modalClose()">
        <i class="icon-close"></i>
      </div>
    </div>
    <div class="modal-content-wrap" >
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">정규 표현식</div>
          <input [(ngModel)]="item" class="input-required" placeholder="내용을 입력해주세요.">
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">버전 관리</div>
          <input [(ngModel)]="version" placeholder="내용을 입력해주세요." required>
        </div>
      </div>
    </div>
    <div class="common-modal-footer">
      
      <div class="button-wrap float-right">
        <button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>
        <button class="btn-alert" (click)="save()">저장</button>
      </div>
    </div>
  
  </common-modal> -->