<common-modal class="morpheme-add-wrap" #commonModal xmlns="http://www.w3.org/1999/html">
    <!-- <div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}"> -->
    <div class="common-modal-header">
        <div class="modal-title">형태소 생성</div>
        <div class="modal-close" (click)="modalClose()">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="modal-content-wrap">
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">키워드</div>
                <input #wordInput [(ngModel)]="srch_morpheme.KEYWORD" class="input-required" placeholder="키워드를 입력해주세요.">
            </div>
        </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">품사태그</div>
                <input #wordInput [(ngModel)]="srch_morpheme.MORPH_TAG" class="input-required"
                       placeholder="품사 태그를 입력해주세요.(EX. NNP + NNP 또는 NNG 등)">
            </div>
        </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">의미부류</div>
                <input #wordInput [(ngModel)]="srch_morpheme.MEAN_CLASSIFICATION" class="input-required"
                       placeholder="입력한 키워드의 분류를 입력해주세요.(EX. 키워드:서울 -> 지명 등)">
            </div>
        </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">종성유무</div>
                <p-dropdown styleClass="custom-dropdown gray-dropdown"
                            [style]="{'width':'200px'}"
                            [options]="last_morphList"
                            [(ngModel)]="srch_morpheme.LAST_MORPH"
                            (onChange)="onGroupListSelect($event)"
                            placeholder="종성유무 선택"
                >
                    <ng-template let-item pTemplate="selectedGroup">
                        <div>{{item.label}}</div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">타입</div>
                <p-dropdown styleClass="custom-dropdown gray-dropdown"
                            [style]="{'width':'200px'}"
                            [options]="typeList"
                            [(ngModel)]="srch_morpheme.TYPE"
                            (onChange)="onGroupListSelect($event)"
                            placeholder="타입 선택"
                >
                    <ng-template let-item pTemplate="selectedGroup">
                        <div>{{item.label}}</div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">상태</div>
                <p-dropdown styleClass="custom-dropdown gray-dropdown"
                            [style]="{'width':'200px'}"
                            [options]="statusList"
                            [(ngModel)]="srch_morpheme.STATUS"
                            (onChange)="onGroupListSelect($event)"
                            placeholder="상태 선택"
                >
                    <ng-template let-item pTemplate="selectedGroup">
                        <div>{{item.label}}</div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <!--<div class="common-input modal-input ui-g">
          <div class="ui-g-12">
            <div class="modal-content-title">종성유무</div>
            <input #wordInput [(ngModel)]="srch_morpheme.LAST_MORPH" class="input-required" placeholder="내용을 입력해주세요.">
          </div>
        </div>
        <div class="common-input modal-input ui-g">
          <div class="ui-g-12">
            <div class="modal-content-title">타입</div>
            <input #wordInput [(ngModel)]="srch_morpheme.TYPE" class="input-required" placeholder="내용을 입력해주세요.">
          </div>
        </div>-->
        <!-- <div class="common-input modal-input ui-g">
           <div class="ui-g-12">
             <div class="modal-content-title">상태</div>
             <input type="hidden" #wordInput [(ngModel)]="srch_morpheme.STATUS" value="Y" class="input-required" placeholder="내용을 입력해주세요.">
           </div>
         </div>
   -->
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">인덱스 표현</div>
                <textarea #wordInput [(ngModel)]="srch_morpheme.MORPH_INDEX_INFO" class="input-required" placeholder="토큰 들로 나눠지는 부분 +로 입력 ( 각 토큰:  표층형/품사태그/의미부류)
  e.g) 형태/NNP+소/NNP
        * 품사태그 1개를 입력 하였다 하더라도 토큰분리가 필요하다가면 입력한 품사태크로만 처리해주세요.
  e.g 단어 : 가나자와마사오, 품사태그 : NNP, 의미부류 : 인명 일때
          -> 가나자와/NNP/인명+마사오/NNP/인명
        * '+' 기호로 연결할때에는 공백을 제거해주세요.
		* 인덱스 태그는 입력하지 않으면 '*'로 대체됩니다.">
          </textarea>
            </div>
        </div>

        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">형태소 품사사전</div>
                <table class="tbl_type02" style="width: 100%; !important;">
                    <colgroup>
                        <col style="width:100px;">
                        <col style="width:100px;">
                        <col>
                    </colgroup>
                    <thead>
                    <tr style="padding:4px !important;font-weight:normal;background:#edece1;border:1px solid #d9d7c5;text-align:center;line-height:14px;font-family:TextBold;">
                        <th scope="col">대분류</th>
                        <th scope="col">품사태그</th>
                        <th scope="col">설명</th>
                    </tr>
                    </thead>
                </table>

                <div style="max-height:150px;overflow:auto;width:100%;">
                    <table class="tbl_type02">
                        <colgroup>
                            <col style="width:100px;">
                            <col style="width:100px;">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td rowspan="6">체언</td>
                            <td>NNG</td>
                            <td class="left">일반 명사</td>
                        </tr>
                        <tr>
                            <td>NNP</td>
                            <td class="left">고유 명사</td>
                        </tr>
                        <tr>
                            <td>NNB</td>
                            <td class="left">의존 명사</td>
                        </tr>
                        <tr>
                            <td>NNBC</td>
                            <td class="left">단위를 나타내는 명사</td>
                        </tr>
                        <tr>
                            <td>NR</td>
                            <td class="left">수사</td>
                        </tr>
                        <tr>
                            <td>NP</td>
                            <td class="left">대명사</td>
                        </tr>
                        <tr>
                            <td rowspan="5">용언</td>
                            <td>VV</td>
                            <td class="left">동사</td>
                        </tr>
                        <tr>
                            <td>VA</td>
                            <td class="left">형용사</td>
                        </tr>
                        <tr>
                            <td>VX</td>
                            <td class="left">보조 용언</td>
                        </tr>
                        <tr>
                            <td>VCP</td>
                            <td class="left">긍정 지정사</td>
                        </tr>
                        <tr>
                            <td>VCN</td>
                            <td class="left">부정 지정사</td>
                        </tr>
                        <tr>
                            <td>관형사</td>
                            <td>MM</td>
                            <td class="left">관형사</td>
                        </tr>
                        <tr>
                            <td rowspan="2">부사</td>
                            <td>MAG</td>
                            <td class="left">일반 부사</td>
                        </tr>
                        <tr>
                            <td>MAJ</td>
                            <td class="left">접속 부사</td>
                        </tr>
                        <tr>
                            <td rowspan="9">조사</td>
                            <td>JKS</td>
                            <td class="left">주격 조사</td>
                        </tr>
                        <tr>
                            <td>JKC</td>
                            <td class="left">보격 조사</td>
                        </tr>
                        <tr>
                            <td>JKG</td>
                            <td class="left">관형격 조사</td>
                        </tr>
                        <tr>
                            <td>JKO</td>
                            <td class="left">목적격 조사</td>
                        </tr>
                        <tr>
                            <td>JKB</td>
                            <td class="left">부사격 조사</td>
                        </tr>
                        <tr>
                            <td>JKV</td>
                            <td class="left">호격 조사</td>
                        </tr>
                        <tr>
                            <td>JKQ</td>
                            <td class="left">인용격 조사</td>
                        </tr>
                        <tr>
                            <td>JX</td>
                            <td class="left">보조사</td>
                        </tr>
                        <tr>
                            <td>JC</td>
                            <td class="left">접속조사</td>
                        </tr>
                        <tr>
                            <td>선어말 어미</td>
                            <td>EP</td>
                            <td class="left">선어말 어미</td>
                        </tr>
                        <tr>
                            <td rowspan="4">어말 어미</td>
                            <td>EF</td>
                            <td class="left">종결 어미</td>
                        </tr>
                        <tr>
                            <td>EC</td>
                            <td class="left">연결 어미</td>
                        </tr>
                        <tr>
                            <td>ETN</td>
                            <td class="left">명사형 전성 어미</td>
                        </tr>
                        <tr>
                            <td>ETM</td>
                            <td class="left">관형형 전성 어미</td>
                        </tr>
                        <tr>
                            <td>접두사</td>
                            <td>XPN</td>
                            <td class="left">체언 접두사</td>
                        </tr>
                        <tr>
                            <td rowspan="3">접미사</td>
                            <td>XSN</td>
                            <td class="left">명사 파생 접미사</td>
                        </tr>
                        <tr>
                            <td>XSV</td>
                            <td class="left">동사 파생 접미사</td>
                        </tr>
                        <tr>
                            <td>XSA</td>
                            <td class="left">형용사 파생 접미사</td>
                        </tr>
                        <tr>
                            <td>어근</td>
                            <td>XR</td>
                            <td class="left">어근</td>
                        </tr>
                        <tr>
                            <td rowspan="5">부호</td>
                            <td>SF</td>
                            <td class="left">마침표, 물음표, 느낌표</td>
                        </tr>
                        <tr>
                            <td>SE</td>
                            <td class="left">줄임표</td>
                        </tr>
                        <tr>
                            <td>SSO</td>
                            <td class="left">여는괄호 (, [</td>
                        </tr>
                        <tr>
                            <td>SSC</td>
                            <td class="left">닫는괄호 (, ]</td>
                        </tr>
                        <tr>
                            <td>SC</td>
                            <td class="left">구분자 , · / :</td>
                        </tr>
                        <tr>
                            <td>SY</td>
                            <td class="left">기타기호 (논리수학기호,화폐기호, 붙임표(물결,숨김,빠짐))</td>
                        </tr>
                        <tr>
                            <td rowspan="3">한글 이외</td>
                            <td>SL</td>
                            <td class="left">외국어</td>
                        </tr>
                        <tr>
                            <td>SH</td>
                            <td class="left">한자</td>
                        </tr>
                        <tr>
                            <td>SN</td>
                            <td class="left">숫자</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="common-modal-footer">
        <div class="button-wrap float-right">
            <button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>
            <button class="btn-alert" (click)="morphemeAddSave()">저장</button>
        </div>
    </div>

</common-modal>
