.tbl_type02 {width:100%;}
.tbl_type02 th {padding:4px !important;font-weight:normal;background:#edece1;border:1px solid #d9d7c5;text-align:center;line-height:14px;font-family:TextBold;}
.tbl_type02 td {padding:4px;text-align:center;border:1px solid #d9d7c5;}
