<common-modal class="autocomplete-edit-wrap" #commonModal >
    <!-- <div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}"> -->
        
          
    <div class="common-modal-header" >
      <div class="modal-title">자동완성 수정</div>
      <div class="modal-close" (click)="modalClose()">
        <i class="icon-close"></i>
      </div>
    </div>
    <div class="modal-content-wrap" >
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">키워드</div>
          <input #wordInput [(ngModel)]="srch_autocomplete.AUTO_KEYWORD" class="input-required" placeholder="내용을 입력해주세요.">
        </div>
      </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">카테고리</div>
                <input #wordInput [(ngModel)]="srch_autocomplete.CATEGORY" class="input-required" placeholder="내용을 입력해주세요.">
            </div>
        </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">타입</div>
                <input #wordInput [(ngModel)]="srch_autocomplete.TYPE" class="input-required" placeholder="내용을 입력해주세요.">
            </div>
        </div>
        <div class="common-input modal-input ui-g">
            <div class="ui-g-12">
                <div class="modal-content-title">점수</div>
                <input #wordInput [(ngModel)]="srch_autocomplete.SCORE" class="input-required" placeholder="내용을 입력해주세요.">
            </div>
        </div>

    </div>
    <div class="common-modal-footer">

      <div class="button-wrap float-right">
        <button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>
        <button class="btn-alert" (click)="autocompleteEditSave()">저장</button>
      </div>
    </div>
  
  </common-modal>