<!--remove paraphrase -->
<common-modal class="popular-remove-wrap" #commonModal >
    <div class="common-modal-header">
      <div class="modal-title">인기검색어 삭제</div>
      <div class="modal-close" (click)="modalClose()">
        <i class="icon-close"></i>
      </div>
    </div>
    <div class="modal-content-wrap">
      <p>선택하신 키워드를 삭제하시겠습니까?</p>
    </div>
    <div class="common-modal-footer">
      <div class="button-wrap float-right">
        <button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>
        <button class="btn-alert" (click)="remove()">삭제</button>
      </div>
    </div>
  </common-modal>
