<!-- #container -->
<div id="container">
	<!-- #contents -->
	<div id="contents">
		<!-- .contents -->
		<div class="contents">
			<div class="titleBox">
				<h3>{{title}}</h3>
				<div class="setupArea">
					<div class="srchBox">
						<input type="text" class="ipt_txt" placeholder="검색어를 입력해 주세요" (keyup)="onSearchKey($event)" [(ngModel)]="searchStr">
						<button (click)="onSearch()">검색</button>
					</div>
					<div class="btnBox">
						<button (click)="sampleModelAddOpen()"><img src="../../../../assets/images/ico_add_g.png"

							>샘플 {{title}} 추가</button>
						<button class="point" (click)="navAddChatbot()"><img src="../../../../assets/images/ico_add_w.png"

							>{{title}} 추가</button>
					</div>
				</div>
			</div>
			<!-- .tabWrap_container -->
			<div class="tabWrap_container">
				<!--filter-->
				<div class="chatbot_lst_wrap" #listWrap [hidden]="isWorking">
					<!-- chatbot list -->
					<ul *ngIf="!(items | isEmpty)" class="chatbot_lst">
						<!-- chatbot item -->
						<li class="boxType02" *ngFor="let chatBot of items">
							<span class="bot_thumb" style="cursor: pointer" (click)="modelSettingOpen(chatBot)">
								<img [src]="(chatBot.img_path | isEmpty) ? '../../../../assets/images/chatbot-default.png' : (chatBot.img_path | file: container_chatbot_img)"
									onerror="this.src = '../../../../assets/images/chatbot-default.png';"
								/>
							</span>
							<span class="bot_info" style="cursor: pointer" (click)="modelSettingOpen(chatBot)">
								<em class="bot_name">{{chatBot.bot_name}}</em>
								<em class="bot_id">{{chatBot.creator_id}}</em>
								<em class="bot_date">{{ chatBot.created_dtm | dateTimeFormat: 'YY.MM.DD HH:mm:ss' }}</em>

						  </span><span class="bot_info">
								<em class="bot_btn02">
									<!-- [D] 복제가 있을 경우 <em class="bot_btn">, 복제가 있을 경우 <em class="bot_btn02"> -->
									<!--  <button (click)="modelDuplicateOpen(chatBot)"><img src="../../../../assets/images/ico_copy_g.png">복제</button> -->
									<button (click)="modelRemoveOpen(chatBot)">삭제</button>
								</em>
							</span>
						</li>
						<!-- //chatbot item -->
					</ul>
					<!-- //chatbot list -->

					<div *ngIf="(items | isEmpty)" class="no-data grid" style="border: 0">
						<span *ngIf="!isWorking">
							<div class="no-data-height"></div>조회할 데이터가 없습니다
						</span>
					</div>
				</div>
				<div class="btm_item">
					<!-- .pagination -->
					<app-paginator (page)="onPaginator($event)" [totalCount]="paginator.totalCount" [pageSize]="paginator.pageSize"></app-paginator>
					<!-- //.pagination -->
				</div>
			</div>
			<!-- //.tabWrap_container -->
		</div>
		<!-- //.contents -->
	</div>
	<!-- //#contents -->
</div>
<!-- //#container -->

<!--view sample chatbot -->
			<common-modal class="chat-add-wrap chat-popup-wrap" #insertSampleModal>
			  <div class="common-modal-header">
				<div class="modal-title">샘플 {{title}} 추가</div>
				<div class="modal-close" (click)="sampleModelClose()">
				  <i class="icon-close"></i>
				</div>
			  </div>
			  <div class="modal-content-wrap">

				  <common-table>
					  <div class="table-wrap-list">
						<ul *ngIf="!(sampleItems | isEmpty)" class="chatbot-card-wrap">
						  <li class="chatbot-card-container" *ngFor="let sampleItem of sampleItems" style="position: relative; box-shadow: 3px 3px 5px">
							<div style="position: absolute;top:10px;left: 10px; cursor: pointer; font-size: 12px;" >
								<p-checkbox name="sampleItems" (click)="selectSampleItem($event,sampleItem)" [value]="sampleItem" [(ngModel)]="selectedSampleItems"></p-checkbox>
							</div>
							<div class="card-info-wrap" (click)="addSave($event,sampleItem)" style="cursor: pointer;">
							  <div class="card-info-name" style="text-align:center; border-bottom: solid 1px #e2e2e2;">
								<div style="text-align:center; vertical-align: middle; height: 196px">
								  <div style="height:50px"></div>
								  <img width="50%" src="{{(sampleItem.img_path | isEmpty) ? './assets/images/chatbot-default.png' : sampleItem.img_path}}"/>
								</div>
							  </div>
							  <div class="card-info-name" pTooltip="{{sampleItem.bot_name}}" tooltipPosition="top"
								>{{sampleItem.bot_name}}</div>
							  <div class="card-info" style="overflow-x: hidden;">{{sampleItem.description}}</div>
							</div>
						  </li>
						</ul>
						<div *ngIf="sampleItems | isEmpty" class="no-data grid"><div class="no-data-height"></div>조회할 데이터가 없습니다</div>
					  </div>
					</common-table>

			  </div>
			  <div class="common-modal-footer">
				<div class="button-wrap float-right">
				  <button class="btn-alert btn-cancel" (click)="sampleModelClose()">취소</button>
				  <button class="btn-alert" (click)="sampleModelAddSave()">추가</button>
				</div>
			  </div>
			</common-modal>

			<!--create chatbot/edit chatbot -->
			<!-- <common-modal class="chat-add-wrap chat-popup-wrap" #upsertModal>
			  <div class="common-modal-header">
				<div class="modal-title">{{isAdd? title + '생성':title + '수정'}}</div>
				<div class="modal-close" (click)="upsertModalClose()">
				  <i class="icon-close"></i>
				</div>
			  </div>
			  <div class="modal-content-wrap">
				<app-chat-modal [sdsModelOption]="sdsModels" [qaModelOption]="qaModels" [damInfo]="damInfo" (completeHandler)="completeHandler()"></app-chat-modal>
			  </div>
			</common-modal> -->

			<!--link chatbot -->
			<common-modal class="chat-link-wrap" #linkModal>
			  <div class="common-modal-header">
				<div class="modal-title">{{title}} 링크</div>
				<div class="modal-close" (click)="linkModalClose()">
				  <i class="icon-close"></i>
				</div>
			  </div>
			  <div class="modal-content-wrap">
				<p>선택하신 {{title}}의 링크가 복사 되었습니다.
				  <br>사용하실 곳에 붙여넣기 하여 사용 하세요.</p>
			  </div>
			  <div class="common-modal-footer">
				<div class="button-wrap float-right">
				  <button class="btn-alert" (click)="linkModalClose()">확인</button>
				</div>
			  </div>
			</common-modal>

			<!--remove chatbot -->
			<common-modal class="chat-remove-wrap" #removeModal>
			  <div class="common-modal-header">
				<div class="modal-title">{{title}} 삭제하기</div>
				<div class="modal-close" (click)="removeModalClose()">
				  <i class="icon-close"></i>
				</div>
			  </div>
			  <div class="modal-content-wrap">
				<p>선택하신 {{title}}을 삭제하시겠습니까?</p>
			  </div>
			  <div class="common-modal-footer">
				<div class="button-wrap float-right">
				  <button class="btn-alert btn-cancel" (click)="removeModalClose()">취소</button>
				  <button class="btn-alert" (click)="modelRemoveSave()">삭제</button>
				</div>
			  </div>
			</common-modal>

			<!--test chatbot -->
			<!-- <common-modal class="chat-test-wrap" #testModal>
			  <div class="common-modal-header">
				<div class="modal-title">{{title}}</div>
				<div class="modal-close" (click)="testModalClose()">
				  <i class="icon-close"></i>
				</div>
			  </div>
			  <div class="modal-content-wrap">
				<app-chatbot id="chatBot" [messageQueue]="messageQueue" (sendMessageHandler)="sendMessageHandler($event)"></app-chatbot>
			  </div>
			</common-modal> -->
