
<div class="common-section chatbot-container" style="min-width:1085px;">
	<div class="common-container">
		<div class="section-wrapper">

			<div class="left-column" [ngClass]="{'full':getRightColumnState()}">
				<div class="left-column-inner-wrapper" style="position:relative;">

					<app-chatbot-upsert-shared #chatbotUpsertShared
						[bot_id]="bot_id" [title]="title" [isSave]="isSave" (outer)="onHeader($event)"
						></app-chatbot-upsert-shared>
					<div class="chatbot-content-container common-dialog-container">
						<router-outlet (outer)="onActivate($event)"></router-outlet>
					</div>

					<app-chatbot-debug-shared [isDebug]="isDebug"
						[alwaysOn]="chatbotTestAvailable"
					  [currStep]="currStep" [currUtterData]="currUtterData"
					  [sessionId]="currChatSessionId"
					></app-chatbot-debug-shared>

				</div>
				<div class="right-column-toggle-btn" (click)="toggleRightColumn()">
					<div class="middle"></div>
					<div class="btn">
						<div class="middle2"></div>
						<i [ngClass]="{'icon-left':getRightColumnState(), 'icon-right':!getRightColumnState()}"></i>
					</div>
				</div>

			</div>
			<div class="right-column" [ngClass]="{'hide':getRightColumnState()}">

				<app-chatbot id="chatBot"
					[chatbotTestAvailable]="chatbotTestAvailable"
					[data]="data"
					[currChatInfo]="currChatInfo" 
					[currChatSessionId]="currChatSessionId"
					[messageQueue]="messageQueue"
					[chatbotWorking]="chatbotWorking"
					(chatHandler)="chatStatusHandler($event)" 
					(sendMessageHandler)="sendMessageHandler($event)"
					(sendMessagePreviewHandler)="sendMessagePreviewHandler($event)"
			  ></app-chatbot>
			</div>

		</div>
	</div>
</div>


<!--test chatbot -->
<!-- <common-modal class="chat-test-wrap" #testModal>
	<div class="common-modal-header">
		<div class="modal-title">{{title}}</div>
		<div class="modal-close" (click)="testModalClose()">
			<i class="icon-close"></i>
		</div>
	</div>
	<div class="modal-content-wrap">
		<app-chatbot id="chatBot" 
		  [data]="data" [currChatInfo]="currChatInfo" [messageQueue]="messageQueue" [chatbotWorking]="chatbotWorking" (chatHandler)="chatStatusHandler($event)" (sendMessageHandler)="sendMessageHandler($event)"
	  ></app-chatbot>
	</div>
</common-modal> -->