/* START  Chatbot Management */
@import "../../../../css/style.common";

.chatbot-card-wrap{
  width: 100%;
  height: auto;
}
.chatbot-card-container{
  width: 270px;
  //height: 306px;
  height: 266px;
  border: $table-main-border;
  border-radius: 10px;
  overflow: hidden;
  background: $C2;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 20px 0;
}
.card-info-wrap{
  padding: 17px 20px 10px 20px;
  background: $C0;
  .card-info-name{
    font-size: $content-title-font;
    color: $sub-color-1;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 100%;
  }
  .card-info{
    font-size:$font-03;
    color: $C7;
    line-height: 15px;
    margin-top: 5px;
  }
}
// .card-button-wrap{
//   background: transparent;
//   padding:8px 20px;
//   //height: 216px;
//   height: 176px;
//   .card-button{
//     height: 40px;
//     line-height: 40px;
//     font-size: 14px;
//     cursor: pointer;
//     color:$sub-color-1;
//     &:hover{
//       color:$main-color;
//       box-shadow: inset 0 0 1px 0 $CI_color;
//     }
//     i{
//       width: 32px;
//       text-align: center;
//       font-size: 17px;
//     }
//   }
// }
.card-button{
  // height: 40px;
  // line-height: 40px;
  font-size: 14px;
  // cursor: pointer;
  color:$sub-color-1;
  &:hover{
    color:$main-color;
    box-shadow: inset 0 0 1px 0 $CI_color;
  }
  i{
    width: 32px;
    text-align: center;
    font-size: 17px;
  }
}
.contextToggle{
  &:hover{
    box-shadow: inset 0 0 1px 0 $CI_color;
  }
}


/* 180515 빈데이터 대응 */
.no-data.grid {
  height: 150px;
  border: solid 1px lightgray;
  font-size: 14px;
  color: darkslategray;
  .no-data-height {
    height: 50px;
  }
}
/* END  Chatbot Management */
