/* START Create Chatbot */
@import "../../../../css/style.common";

.select-name{
  text-decoration: underline;
  color:$link-color;
  cursor: pointer;
}

.entities-wrap{
  height: calc(100% - 80px);
  overflow: scroll;
  margin: 30px 15px 20px;
}
.add-entities-row{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  .word-add-wrap{
    max-height: 114px;
  }
}
.edit-entity{
  display:none;
  margin: 0 0 0 10px;
  .modal-content-title{
    margin-bottom: 5px;
  }
  .edit-name{
    background: $C2;
    padding-right:5px;
    border-radius: 2px;
    border: $table-main-border;
    input{
      width: calc(100% - 30px);
      border:none;
      background: transparent;
    }
    button{
      background: transparent;
      padding: 0;
      border-radius: 2px;
      width: 24px;
      height: 24px;
      font-size: 14px;
      line-height: 23px;
    }
    &.name_on{
      background: $C0;
      button{
        border: 1px solid $main-color;
        background: $main-color;
        color:$C0;
      }
    }
  }
  .common-input:first-child{
    margin-bottom: 10px;
  }
}
.entity-children{
  display: inline-block;
  .common-edit-entity{
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: $table-main-border;
  }
  .edit-source-type{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 7px);
  }
  .icon-upload{
    padding: 0 4px;
  }
  .dialog-title-wrap{
    border: none;
  }
}
.entity-parent {
  display: inline-block;
}










/* custom */
$section-wrapper-height: 650px;
$common-wrapper-height: 100%;
$right-column-toggle-btn-width: 12px;
$border-wrapper-width: 730px;
// .chatbot-container {
//   min-width: 1085px;
// }
.section-wrapper {
  width: 100%;
  // height: $section-wrapper-height;
  height: calc(100vh - 110px);
}
.common-wrapper {
  width: 100%;
  height: $common-wrapper-height;
}

.left-column {
  float: left;
  width: 70%;
  height: $common-wrapper-height;
  border: 0;
  // border: 1px solid $C2;
  // border-right: 0;
  animation: contractPannel 0.15s forwards;
}
.left-column.full {
  width: calc(100% - 12px);
  border-right: 1px solid $C2;
  // width: 100%;
  animation: extendPannel 0.15s forwards;
}
@keyframes contractPannel {
from{ width: calc(100% - 12px); }
to  { width: 70%; }
}
@keyframes extendPannel {
from{ width: 70%; }
to  { width: calc(100% - 12px); }
}

.left-column-inner-wrapper {
  float: left;
  width: calc(100% - 12px);
  height: $common-wrapper-height;
}

.right-column-toggle-btn {
  float: right;
  width: $right-column-toggle-btn-width;
  height: $common-wrapper-height;

  .middle {
    height:calc(50% - 12px);
  }

  .btn {
    border: 1px solid $C2;
    border-right: 0;
    height: 120px;

    .middle2 {
      height: 48px;
    }
  }

}


.right-column {
  float: right;
  // width: calc(30% - 12px);
  width: 30%;
  height: $common-wrapper-height;
  border: 1px solid $C2;
  animation: openChat 0.15s forwards;
}
.right-column.hide {
  width: 0;
  animation: closeChat 0.15s forwards;
}
@keyframes openChat {
  from{ width: 0; }
  to  { width: 30%; }
}
@keyframes closeChat {
  from{ width: 30%; }
  to  { width: 0; border: 0; }
}

// $chatbot-content-container-height: 560px;
.chatbot-content-container {
  width: 100%;
  // height: $chatbot-content-container-height;
  height: calc(100vh - 196px);
  // overflow-y: scroll;
  overflow-y: auto;
}



/* for children [s] */
.block {
  width: 100%;
  text-align: center;
}
.sub-block {
  width: 100%;
  padding: 0 10%;
  min-width: 710px;
}
.inline-block {
  display: inline-block;
  text-align: center;
}
.btn-simple {
  color: $C7;
  border: 0;
  // border-left: 1px solid $C2;
  border-radius: 0;
  text-align: center;
  // background-color: $C3;
}
.btn-primary {
  // background: rgba(70, 136, 232, 0.7);
  background: $C0;
  color: $main-color;
}
.section-title {
  margin-top: 5px;
  font-weight: bolder;
}
.clickable {
  cursor: pointer;
}
.border-wrapper {
  border: 1px solid $C3;
  padding-bottom: 9px;
  border-radius: 6px;
  max-width: $border-wrapper-width;
}
.add-wrapper {
  margin-bottom: 5px;
}

textarea:focus {
  box-shadow: inset 0 0 1px 0 $CI_color;
}
input:focus {
  box-shadow: inset 0 0 1px 0 $CI_color;
}
button:focus {
  box-shadow: inset 0 0 1px 0 $CI_color;
}


$column-wrapper-height: 280px;
$column-width: 323px;
.column-wrapper {
  display: inline;
  clear: both;
}
.column-wrapper div {
  height: $column-wrapper-height;
}
.column-wrapper > .left-column {
  float: left;
  width: $column-width;
  overflow-y: scroll;
  max-width: $column-width;
}
.column-wrapper > .column-divider {
  float: left;
  width: 1px;
  height: $column-wrapper-height;
  box-shadow: inset 0 0 0 1px $C6;
  margin: 0 16px;
}
.column-wrapper > .right-column {
  float: left;
  width: $column-width;
  overflow-y: scroll;
  border: 0;
}
.column-wrapper > .height-setter {
  height: $column-wrapper-height;
  float: left;
}
/* for children [e] */






/* END Create Chatbot */
