<div class="common-section"
    style="min-width: 715px"
>
  <div class="common-container"
    style="padding: 15px 5px"
  >
    <!-- <div class="common-header-title">
      <span>도메인 선택</span>
    </div> -->

    <!-- [ngStyle]="{width: '90%' }" -->
    <div class="common-content" 
        style="padding: 3px 0; border: 0"
    >
      <div class="common-header-title" [ngStyle]="{width: '90%' }">
        시나리오 <!--<i class="icon-question"></i>-->
      </div>
      <div class="common-input modal-input ui-g border-wrapper two-column-wrapper">
        <div class="ui-g-12"
            style="padding-left: 12px;"
        >
          <div class="column-wrapper">
            <div class="left-column">
              <label>---------------선택 가능한 도메인---------------</label>
              <ul *ngIf="sdsList && sdsList.length > 0">
                <li class="clickable" *ngFor="let item of sdsList" (click)="selectSds(item)">
                  <p>{{item.PROJECT_NAME}}</p>
                </li>
              </ul>
            </div>
            <div class="column-divider"></div>
            <div class="right-column">
              <label>---------------선택된 도메인---------------</label>
              <ul *ngIf="selectedSdsList && selectedSdsList.length > 0">
                <li class="clickable" *ngFor="let item of selectedSdsList" (click)="deselectSds(item)">
                  <p>{{item.domain_name}}</p>
                </li>
              </ul>
              <ul *ngIf="(!selectedSdsList) || selectedSdsList.length <= 0">
                <li style="opacity: 0.5;">선택된 도메인 없음</li>
              </ul>
            </div>
            <div class="height-setter"></div>
          </div>


        </div>
      </div>
    </div>
  </div>



  
  <div class="common-container"
    style="padding: 15px 5px"
  >

    <!-- [ngStyle]="{width: '90%' }" -->
    <div class="common-content"
        style="padding: 3px 2px; border: 0"
    >
      <div class="common-header-title" [ngStyle]="{width: '100%' }">
        패턴 매칭 <!--<i class="icon-question"></i>-->
        <span style="font-size: 12px">
          <p-inputSwitch class="float-right" onLabel="ON" offLabel="OFF" (click)="changeScf(scfYn)"
            [(ngModel)]="scfYn"></p-inputSwitch>
        </span>
      </div>
      <div class="common-input" *ngIf="config.scf_yn == 'Y'"
          [ngClass]="{'open2': config.scf_yn == 'Y', 'close2': config.scf_yn != 'Y'}"
      >
        {{scfSelectedDomainName}}
        <button class="btn-normal-line float-right" (click)="addPattern()">
          ADD PATTERN
        </button>
      </div>

      <div class="common-input" style="display: table;"
          [ngClass]="{'open1': config.scf_yn == 'Y', 'close1': config.scf_yn != 'Y'}"
      >
        <div *ngIf="config.scf_yn == 'Y'"
            style="position: absolute; left: 0; margin: 2px"
        >
          <div class="tree" style="display: table-cell;">
            <app-prime-tree [style]="{height: '189px'}" [trees]="selectedSdsList" [key]="'domain_name'" (outer)="selectScf($event.data.domain_id, $event.data.domain_name)"></app-prime-tree>
          </div>
        </div>
        <div style="display: table-cell;
            position: absolute; left: 231px; margin: 2px"
        >
          <app-simple-classifier #scfModal></app-simple-classifier>
        </div>
      </div>
    </div>
  </div>

  <div class="common-container"
    style="padding: 15px 5px"
  >
    <!-- [ngStyle]="{width: '90%' }" -->
    <div class="common-content"
        style="padding: 3px 2px; border: 0"
    >
      <div class="common-header-title" [ngStyle]="{width: '100%' }">
        학습 데이터 <!--<i class="icon-question"></i>-->
        <span style="font-size: 12px">
          <p-inputSwitch class="float-right" onLabel="ON" offLabel="OFF" (click)="changeDnn(dnnYn)"
            [(ngModel)]="dnnYn"></p-inputSwitch>
        </span>
      </div>
      <div class="common-input" *ngIf="config.dnn_yn == 'Y'"
          [ngClass]="{'open2': config.dnn_yn == 'Y', 'close2': config.dnn_yn != 'Y'}"
      >
        {{dnnSelectedDomainName}}
        <button class="btn-normal-line float-right" (click)="addQuestion()">
          ADD DATA
        </button>
      </div>
      <div class="common-input" style="display: table;"
          [ngClass]="{'open1': config.dnn_yn == 'Y', 'close1': config.dnn_yn != 'Y'}"
      >
        <div *ngIf="config.dnn_yn == 'Y'"
            style="position: absolute; left: 0; margin: 2px"
        >
          <div class="tree" style="display: table-cell;">
            <app-prime-tree [style]="{height: '189px'}" [trees]="selectedSdsList" [key]="'domain_name'" (outer)="selectDnn($event.data.domain_id,$event.data.domain_name)"></app-prime-tree>
          </div>
        </div>
        <div style="display: table-cell;
            position: absolute; left: 231px; margin: 2px"
        >
          <app-dnn-classifier #dnnModal></app-dnn-classifier>
        </div>

      </div>
      <!-- <div class="common-input" *ngIf="config.scf_yn == 'Y'">
          <button class="btn-normal-line float-right" (click)="editIntentOrder()">
              인텐트 순서 설정
            </button>
        </div> -->
    </div>
  </div>
  
  <div class="common-container"
    style="padding: 15px 5px"
    *ngIf="config.dnn_yn == 'Y'"
    [ngClass]="{'open3': config.dnn_yn == 'Y', 'close3': config.dnn_yn != 'Y'}"
  >
    <!-- [ngStyle]="{width: '90%' }" -->
    <div class="common-content"
        style="padding: 3px 2px; border: 0; height: 189px"
    >
      <div class="common-header-title" [ngStyle]="{width: '100%'}">
        학습 데이터 반영 <!--<i class="icon-question"></i>-->
        <button class="btn-normal-line float-right" (click)="learning()">
          학습하기
        </button>
      </div>
      <div *ngIf="config.dnn_yn == 'Y'"
          style="margin: 2px; width: 100%; padding: 3px 2px"
      >
        <textarea
          disabled
          style="width: 100%; height: 72px; border: 1px solid #dae1f4; border-radius: 2px; padding: 4px"
          [value]="learningResult"></textarea>
      </div>
    </div>
  </div>


<div class="common-container" style="padding: 15px 5px">

  <div class="common-content" style="padding: 3px 2px; border: 0">
    <div class="common-header-title" [ngStyle]="{width: '100%' }">
      시나리오 재확인 메시지
     <!-- <i class="icon-question"></i>-->
    </div>
    <div class="common-input">
      <input type="text" [(ngModel)]="sdsReconfirmMsg.msg" (ngModelChange)="changeSdsMsg()" class="textarea">
    </div>
  </div>
</div>

</div>

<common-modal #blockModal>
  <div class="common-modal-header">
    <div class="modal-title">{{learningResultTitle}}</div>
  </div>
  <div class="modal-content-wrap"
      style="padding-top: 33px"
  >
    <!-- mode="indeterminate" -->
    <p-progressBar
        [showValue]="false"
        [value]="progress_value" [style]="{'border-radius': '3px', 'background-color': '#eaeff9', 'height': '27px'}"></p-progressBar>
    <span>{{learningResultMsg}}</span>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right" *ngIf="completeLearning">
      <button type="button" class="btn-alert" (click)="blockModalClose()">확인</button>
    </div>
  </div>
</common-modal>
