/* START chat scenario select */
@import "../../../../../css/style.common";

/* custom c-scenario */

.s-column-wrapper {
  display: inline;
  clear: both;
  div {
    height:280px;
  }
}
.left-column {
  float: left;
  width: 45%;
  animation: none;
  overflow-y: scroll;
}
.column-divider{
  float: left;
  width: 1px;
  height: 280px;
  box-shadow: inset 0 0 0 1px #999;
  margin: 0 16px;
}
.right-column {
  float: left;
  width: 350px;
  overflow-y: scroll;
  width: 45%;
  animation: none;
}

// curr page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// .sub-list-block {
//   padding: 0 12% 0 8%;
// }
.section-line {
  width: 100%;
  border-top: 1px solid $C2;
}
.dnn-radio-wrapper {
  width: 100px;
}

$font-03:13px;
$C8: #4C4C4C;
.scenario-content-title{
    height: 30px;
    line-height: 30px;
    font-size: $font-03;
  }

/* END chat scenario select */
.main_left {
  width: 80%;
  float: left;
}

.main_right {
  width: 20%;
  float: left;
  text-align: left;
  padding-left: 5px;
}

.open1 {
  animation: open1 0.15s forwards;
  overflow: hidden;
}
@keyframes open1 {
  from{ height: 0; }
  to  { height: 200px; }
}
.close1 {
  animation: close1 0.15s forwards;
  overflow: hidden;
  padding-bottom: 0;
}
@keyframes close1 {
  from{ height: 200px; }
  to  { height: 0; border: 0; padding-bottom: 0; }
}

.open2 {
  animation: open2 0.15s forwards;
  overflow: hidden;
}
@keyframes open2 {
  from{ height: 0; }
  to  { height: 36px; }
}
.close2 {
  animation: close2 0.15s forwards;
  overflow: hidden;
  padding-bottom: 0;
}
@keyframes close2 {
  from{ height: 36px; }
  to  { height: 0; border: 0; padding-bottom: 0; }
}

.open3 {
  animation: open3 0.15s forwards;
  overflow: hidden;
}
@keyframes open3 {
  from{ height: 0; }
  to  { height: 143px; }
}
.close3 {
  animation: close3 0.15s forwards;
  overflow: hidden;
  padding-bottom: 0;
}
@keyframes close3 {
  from{ height: 143px; }
  to  { height: 0; border: 0; padding-bottom: 0; }
}