
	<!-- for debug publish view [s] -->
	<div class="chatbot_bd">
		<ul class="talkLst">
		<!-- 봇 메세지 (평문) -->
		<li class="bot" (click)="changeDebug($event, 2)"> 
			<span class="thumb"><img src="../../../../../assets/images/ico_ai.png" alt="MAUM BOT"></span>  
			<span class="cont">  
				<em class="txt">안녕하세요<br>친절히 답변해 드릴게요.</em> 
			</span> 
		</li>
		
		<li class="bot" (click)="changeDebug($event, 2)"> 
			<span class="thumb"><img src="../../../../../assets/images/ico_ai.png" alt="MAUM BOT"></span>  
			<span class="cont">  
				<em class="txt active">안녕하세요<br>친절히 답변해 드릴게요.</em> 
			</span> 
		</li>
		
		<!-- 봇 메세지 (제네릭) -->
		<li class="botMsg_generic"> 
			<span class="generic_image"><img src="https://maum.ai/assets/new/images/maum.ai_mainimg.jpg"></span>
			<span class="generic_url"><a href="https://www.naver.com/" target="_blank"><em class="generic_title">maum.ai</em></a></span>
		</li>
		
		<!-- 봇 메세지 (제네릭_지도) -->
		<li class="botMsg_generic"> 
			<span class="generic_image"><img src="https://ssl.map.naver.com/staticmap/image?version=1.1&crs=EPSG%3A4326&caller=og_map&center=127.1121956%2C37.400765&level=11&scale=2&w=500&h=500&markers=type%2Cdefault2%2C127.1121956%2C37.400765&baselayer=default"></span>
			<span class="generic_url"><a href="http://naver.me/Gd3MQL9a" target="_blank"><em class="generic_title">마인즈랩</em></a></span>
			<span class="generic_description">경기도 성남시 분당구 대왕판교로644번길 49 다산타워 6층 601호</span>
		</li>
		
		<!-- 봇 메세지 (버튼_자주묻는질) -->
		<li class="botMsg_btnLst"> 
			<span class="txt">저는 무엇을 물어봐도 다 대답할 수 있어요.</span>
			<ul>
				<li><a href="#">자주 묻는 질문</a></li>
			</ul>
		</li>
		<!-- 봇 메세지 (버튼_리스트) -->
		<li class="botMsg_btnLst"> 
			<ul>
				<li><a href="#">Option 01</a></li>
				<li><a href="#">Option 02</a></li>
				<li><a href="#">Option 03</a></li>
			</ul>
		</li>
		<!-- 봇 메세지 (버튼_아이템) -->
		<li class="botMsg_btnItem"> 
			<ul>
				<li><a href="#">경기도</a></li>
				<li><a href="#">성남시</a></li>
				<li><a href="#">분당구</a></li>
				<li><a href="#">대왕판교</a></li>
				<li><a href="#">다산타워</a></li>
			</ul>
		</li>
		<!-- <li class="bot"> 
			<span class="thumb"><img src="../../../../../assets/images/ico_ai.png" alt="MAUM BOT"></span> 
			<span class="cont">  
				<em class="txt">
					<span class="chatLoading">
						<b class="chatLoading_item01"></b>
						<b class="chatLoading_item02"></b>
						<b class="chatLoading_item03"></b>
					</span>
				</em> 
			</span> 
		</li> -->
		<!-- <li class="user"> 
			<span class="cont"> 
				<em class="txt">사용자가 입력한 텍스트</em> 
			</span>
		</li> -->
		</ul>
	</div>
	<!-- for debug publish view [e] -->
	