/* START Chatbot */
@import "../../../../../css/style.common";
$header-height: 55px;
$footer-height:50px;
$footer-input-height:40px;
$line-height:1.2;

.chatbot-content-container{
  background: #F7F7F7;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .chatbot-contents-wrap{
    z-index: 1;
    display: block;
    width: 100%;
    padding: 20px 15px;
    height: calc(100% - #{$footer-height});
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.chatbot-footer-container{
  left: 0;
  bottom: 0;
  right:0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  min-height: $footer-height;
  padding: 5px 10px;
  .chatbot-footer-wrap{
    height: auto;
    width: 100%;
    @extend %flex;
    overflow: hidden;
  }
  .chatbot-footer{
    width: 100%;
    padding: 10px 15px 8px;
    min-height: $footer-input-height;
    position: relative;
    z-index: 110;
    border: 1px solid $main-color;
    border-radius: 20px;
    -webkit-box-shadow:none;
    box-shadow:none;
    background: $C0;
  }
  .chatting-footer-input{
    width: calc(100% - 35px);
    font-size: $font-02;
    position: relative;
    border: none;
    display: inline-block;
    resize: none;
    max-height: calc(#{$font-02} * #{$line-height} * 3);
    height: 18px;
    line-height: $line-height;
    color: $font-color;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .chatting-footer-button{
    display: inline-block;
    width: 34px;
    height: 34px;
    bottom: 2px;
    right: 3px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 110;
    background: $main-color url("../../../../../assets/images/arrow_send.svg") center no-repeat;
    background-size: 16px;
  }
}

/* END Chatbot */
