<!-- chatbotWrap -->
<div class="chatbotWrap">
	<!-- chatbot_hd -->
	<div class="chatbot_hd">
		<h3>{{chatbotTestAvailable ? '챗봇 테스트' : '미리보기'}}</h3>
		<ul class="btnBox" *ngIf="chatbotTestAvailable">
			<li><button type="button" (click)="chatStart($event)" >Start</button></li>
			<li><button type="button" (click)="chatEnd($event)" >Stop</button></li>
			<li><button type="button" (click)="toggleDebug($event)" >Debug</button></li>
			<li><button type="button" (click)="chatClear()" >clear</button></li>
		</ul>
		<ul class="btnBox" *ngIf="!chatbotTestAvailable">
			<li><button type="button" (click)="chatClear()" >clear</button></li>
		</ul>
	</div>
	<!-- //chatbot_hd -->
	<!-- chatbot_bd -->
	<div class="chatbot_bd" #chatbotContentsWrap>
    <ul class="talkLst" *ngFor="let message of messageQueue">
			<app-chatting-default
				[entity]="message.data" [data]="data"
				[chatbotWorking]="chatbotWorking"
				*ngIf="message.type === Type.SERVER" [messageType]="message.msgType" [message]="message.message"></app-chatting-default>
			<app-chatting-client
				[entity]="message.data" [data]="data"
				*ngIf="message.type === Type.CLIENT && message.msgType === MessageType.TEXT" [message]="message.message"></app-chatting-client>
			<app-chatting-button
				[entity]="message.data" [data]="data"
				[chatbotWorking]="chatbotWorking"
				(sendMessageHandler)="transferMessage($event)"
				*ngIf="message.type === Type.SERVER && message.msgType === MessageType.BUTTON" [message]="message.message"></app-chatting-button>
            <app-chatting-image
                [entity]="message.data" [data]="data"
                [chatbotWorking]="chatbotWorking"
                (sendMessageHandler)="transferMessage($event)"
                *ngIf="message.type === Type.SERVER && message.msgType === MessageType.IMAGE" [message]="message.message"></app-chatting-image>
			<app-chatting-carousel
				[entity]="message.data" [data]="data"
				[chatbotWorking]="chatbotWorking"
				(sendMessageHandler)="transferMessage($event)"
				*ngIf="message.type === Type.SERVER && message.msgType === MessageType.CAROUSEL" [message]="message.message"></app-chatting-carousel>
		</ul>
	</div>

	<!-- debug [s] -->
	<!-- <div>idx:{{inputHistIdx}} / {{inputHist | json}}</div> -->
	<!-- debug [e] -->
	<!-- //chatbot_bd -->
	<!-- chatbot_ft -->
	<div class="chatbot_ft">
		<input [disabled]="chatDisable" class="textArea"
			[placeholder]="chatDisable ? '' : '메시지를 입력해주세요.'"
		(keyup)="inputMessage($event)"
		name="" autocorrect="off" id="message" [(ngModel)]="footer_input" #chattingFooterInput />
		<button type="button" class="btn_submit" (click)="sendMessage()">전송</button>
	</div>
	<!-- //chatbot_ft -->
</div>
<!-- //chatbotWrap -->


<!-- script -->
<script type="text/javascript">

</script>
<!-- //script -->
