/* START Chatbot bqa */
@import "../../../../../css/style.common";

/* custom c-bqa */
.left-column {
  animation: none;
}
.right-column {
  animation: none;
}
.two-column-wrapper {
  min-width: 693px;
}

.open {
  animation: open 0.15s forwards;
  overflow: hidden;
}
@keyframes open {
  from{ height: 0; }
  to  { height: auto; }
}
.close {
  animation: close 0.15s forwards;
  overflow: hidden;
  padding-bottom: 0;
}
@keyframes close {
  from{ height: auto; }
  to  { height: 0; border: 0; padding-bottom: 0; }
}
// curr page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* END Chatbot bqa */
