<div class="common-section"
  style="min-width: 715px"
>
  <div class="common-container"
    style="padding: 15px 5px"
  >
    <!-- <div class="common-header-title">
      <span>도메인 선택</span>
    </div> -->

    <!-- [ngStyle]="{width: '90%' }" -->
    <div class="common-content"
        style="padding: 3px 0; border: 0"
    >
      <div class="common-header-title" [ngStyle]="{width: '90%' }">
        Question & Answer <!--<i class="icon-question"></i>-->
      </div>
      <div class="common-input modal-input ui-g border-wrapper two-column-wrapper">
        <div class="ui-g-12"
            style="padding-left: 12px;"
        >
          <div class="column-wrapper">
            <div class="left-column">
              <label>---------------선택 가능한 도메인---------------</label>
              <app-prime-tree [trees]="bqaTrees" [key]="'domain_name'" (outer)="onTree($event)"></app-prime-tree>
            </div>
            <div class="column-divider"></div>
            <div class="right-column">
              <label>---------------선택된 도메인---------------</label>
              <ul *ngIf="selectedBqas.length > 0">
                <li class="clickable" *ngFor="let item of selectedBqas" (click)="treeDeselect(item)">
                  <p>{{item.domain_name}}</p>
                </li>
              </ul>
              <ul *ngIf="!selectedBqas || selectedBqas.length <= 0">
                <li style="opacity: 0.5;">선택된 도메인 없음</li>
              </ul>
            </div>
            <div class="height-setter"></div>
          </div>


        </div>
      </div>
      <div class="common-input">
        <a (click)="moveDomain()" class="select-name">+ 도메인 생성</a>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="!(data | isEmpty) && !(data.chatbotConfigs | isEmpty)">
    debug:
      {{data.chatbotConfigs[0].domains | json}}
  </div> -->
  <!-- {{data.chatbotConfigs[0].domains | reduceJson:['domain_id']}} -->
  <div class="common-container"
    style="padding: 15px 5px"
  >
    <!-- [ngStyle]="{width: '90%' }" -->
    <div class="common-content"
        style="padding: 3px 0; border: 0"
     >
      <div class="common-header-title" [ngStyle]="{width: '100%' }">
        질문 추천 사용 유무 <!--<i class="icon-question"></i>-->
        <span style="font-size: 12px">
          <p-inputSwitch class="float-right" onLabel="ON" offLabel="OFF" (click)="onRecommendChanged(checkboxFlag)" binary="false"
            [(ngModel)]="checkboxFlag"></p-inputSwitch>
        </span>
      </div>
      <div class="common-input"
          [ngClass]="{'open': checkboxFlag, 'close': !checkboxFlag}"
      >
        <div *ngIf="checkboxFlag">
          형태소 매칭 오차 범위 :
          <input type="number" [(ngModel)]="matchRange" min="0" max="10" />
        </div>


        <div *ngIf="checkboxFlag">
          재확인 메시지
          <!-- Reconfirm message -->
          <div>
            <textarea [(ngModel)]="bqa_reconfirm_msg"> </textarea>
          </div>
        </div>


      </div>
    </div>

    <!-- <input type="checkbox" [(ngModel)]="checkboxFlag" (change)="onRecommendChanged(checkboxFlag)" /> -->


  </div>
</div>
