<common-table [style]="{padding: '3px', width: '100%'}" [bodyStyle]="{'height': '300px', 'overflow-y': 'auto'}">
  <div class="table-wrap-rowgroup">
    <p-dataTable [value]="items" styleClass="custom-row-table" dataKey="questionId" [tableStyle]="{'max-width': '100%'}">
      <p-column header="preitf_id" field="preitf_id" [style]="{'width':'82px'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.preitf_id}}
        </ng-template>
      </p-column>

      <p-column header="itf_order" field="itf_order" [style]="{'text-align':'left'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.itf_order}}
        </ng-template>
      </p-column>

      <p-column header="pattern" field="pattern" [style]="{'text-align':'left'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.pattern}}
        </ng-template>
      </p-column>

      <p-column [style]="{'width':'80px'}">
        <ng-template pTemplate="header">
          <div>Action</div>
        </ng-template>
        <ng-template let-entity="rowData" pTemplate="body">
          <div class="table-button">
            <button type="button" class="btn_tbl" (click)="editModalOpen(entity)">
              <img src="../../../../../../assets/images/ico_btn_edit.png" alt="수정">
            </button>
            <button type="button" class="btn_tbl" (click)="removeOpen(entity)">
              <img src="../../../../../../assets/images/ico_btn_remove.png" alt="삭제">
            </button>
          </div>
        </ng-template>
      </p-column>

      <ng-template pTemplate="emptymessage">
        <div class="no-data">조회할 데이터가 없습니다</div>
      </ng-template>
    </p-dataTable>
  </div>

  <div class="common-table-footer">
    <div class="footer-wrap text-center" style="margin-top: 0">
        <app-paginator (page)="onPaginator($event)"
              [totalCount]="paginator.totalCount"
              [pageSize]="paginator.pageSize"
              [style]="{margin: '5px 0'}"
        ></app-paginator>
    </div>
  </div>
</common-table>

<app-pre-add #addModal (addRemove)="addModalClose($event)"> </app-pre-add>
<app-pre-edit #editModal (editRemove)="editModalClose($event)"> </app-pre-edit>
