<div *ngIf="jsonpathFlag" [ngClass]="{'common-modal-section':true, 'modal-section':jsonpathFlag}">
	<div class="common-modal-container">

		<div class="modal_top">

			<h3>Json Path Editor</h3>
			<div class="modal-close" (click)="modalClose()">
				<i class="icon-close"></i>
			</div>
		</div>
		<div class="modal_mid">
				<h3>원본</h3>
			<json-editor [options]="editorOptions" [data]="data" style="width: 80%;" (click)="editorClick()"></json-editor>
			<div class="modal_stn">
				<div class="tit">
					<h3>JSONPATH</h3>
				</div>
				<div class="float-right" >
					<input type="checkbox" name="manual" [value]="manualFlag" (click)="changeFlag()" />
					<label for="manual" (click)="changeFlag()" >직접입력 </label>
				</div>

				<div *ngIf="!manualFlag">
					<select style="width:200px" #selectPath (change)="setPath(selectPath.value)">
						<option *ngFor="let path of jsonpaths" [value]="path.value">
							{{path.label}}
						</option>
					</select>
				</div>
				<div *ngIf= "manualFlag">
						<h4>Typing</h4>
					 <input type="text"
					 
					 style="
					  width : 100%;
					  border-width: 1px; 
					  border-style: solid; 
					  border-color: #ccc; "  [(ngModel)]="manualData"  placeholder="검색어를 입력해 주세요" (ngModelChange)="changeManualData(manualData)">
				</div>


			</div>
			<h3>JSONPATH 결과 값</h3>
			<json-editor [data]="result" style="width: 80%;"></json-editor>

		</div>
		<div class="modal_btm">
			<button class="point" (click)="save()">적용</button>
			<button (click)="modalClose()">취소</button>
		</div>

	</div>
</div>