<ng-content select=".common-table-tap"></ng-content>
<div class="common-table-section" [ngStyle]="style">
  <div class="common-table-header">
    <ng-content select=".header-wrap-default"></ng-content>
    <ng-content select=".header-wrap-filter"></ng-content>
  </div>
  <div class="common-table-contents" [ngStyle]="bodyStyle" >
    <ng-content select=".table-wrap-rowgroup"></ng-content>
    <ng-content select=".table-wrap-colgroup"></ng-content>
    <ng-content select=".table-wrap-input"></ng-content>
    <ng-content select=".table-wrap-list"></ng-content>
  </div>

  <ng-content select=".common-table-footer"></ng-content>
</div>
