<div class="common-modal-section" [ngClass]="{'modal-section': isOpen}" #commonModalSection [ngStyle]="sectionStyle">
  <div class="common-modal-container" #commonModalContainer [ngStyle]="style">
    <ng-content select=".common-modal-header"></ng-content>
    <div class="common-modal-content">
      <div class="modal-content-container">
        <ng-content select=".modal-content-wrap"></ng-content>
      </div>
    </div>
    <ng-content select=".common-modal-footer"></ng-content>
    <!--<div class="common-modal-footer">-->
      <!--<div class="button-wrap float-right">-->
        <!--<button class="btn-alert btn-cancel" (click)="modalClose()">취소</button>-->
        <!--<button class="btn-alert">확인</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
