@CHARSET "UTF-8";

/***********************
 *       bus
 ***********************/
.bus-list{
    height: 100%;
    padding: 15px;
    margin-top: auto;
    overflow: hidden;
}
.bus-list .list{
    height: 100%;
}
.bus-item{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px;
    overflow: hidden;
}
.bus-title{
    position: relative;
    padding-left: 80px;
}
.bus-title h4{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 71px;
    height: 51px;
    background-color: #efefef;
    font-family: ht;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 1.3;
    align-items: center;
    justify-content: center;
}
.bus-title h4 b{
    display: block;
    font-size: 16px;
}
.bus-title dl{
    display: flex;
    height: 50px;
    padding: 0;
    margin: 0;
    align-items: center;
}
.bus-title dl dt,
.bus-title dl dd{
    font-family: ht;
    font-weight: 400;
    font-size: 16px;
}
.bus-title dl dt::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #7e8396;
    margin: 0 15px;
    vertical-align: middle;
}
.bus-title dl dt:first-child::before{
    display: none;
}
.bus-title dl dd{
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #000;
}
.bus-title dl dd::before{
    content: ":";
    display: inline-block;
    padding: 0 5px;
}

.bus-route{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 15px 50px;
    background-color: #fff;
    clear: both;
}
.bus-route::before,
.bus-route::after{
    content: "";
    display: table;
    clear: both;
}
.bus-route li{
    position: relative;
    z-index: 1;
    width: 20%;
    height: 134px;
}
.bus-route li::before,
.bus-route li::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: transparent;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
}
.bus-route li::before{
    margin-left:3px;
}
.bus-route li:first-child::before,
.bus-route li:first-child::after{
    display: none;
}
.bus-route li:nth-child(6)::before,
.bus-route li:nth-child(16)::before,
.bus-route li:nth-child(26)::before,
.bus-route li:nth-child(6)::after,
.bus-route li:nth-child(16)::after,
.bus-route li:nth-child(26)::after{
    left: 100%;
    top: 0;
    margin-left: -7px;
    transform: rotate(135deg);
}
.bus-route li:nth-child(6)::before,
.bus-route li:nth-child(16)::before,
.bus-route li:nth-child(26)::before{
    margin-top: 0;
}

.bus-route li:nth-child(11)::before,
.bus-route li:nth-child(21)::before,
.bus-route li:nth-child(11)::after,
.bus-route li:nth-child(21)::after{
    top: 0;
    margin-left: 1px;
    transform: rotate(135deg);
}
.bus-route li:nth-child(11)::before,
.bus-route li:nth-child(21)::before{
    margin-top: 0;
}


.bus-route li:nth-child(7)::before,
.bus-route li:nth-child(8)::before,
.bus-route li:nth-child(9)::before,
.bus-route li:nth-child(10)::before,
.bus-route li:nth-child(17)::before,
.bus-route li:nth-child(18)::before,
.bus-route li:nth-child(19)::before,
.bus-route li:nth-child(20)::before,
.bus-route li:nth-child(27)::before,
.bus-route li:nth-child(28)::before,
.bus-route li:nth-child(29)::before,
.bus-route li:nth-child(30)::before,
.bus-route li:nth-child(7)::after,
.bus-route li:nth-child(8)::after,
.bus-route li:nth-child(9)::after,
.bus-route li:nth-child(10)::after,
.bus-route li:nth-child(17)::after,
.bus-route li:nth-child(18)::after,
.bus-route li:nth-child(19)::after,
.bus-route li:nth-child(20)::after,
.bus-route li:nth-child(27)::after,
.bus-route li:nth-child(28)::after,
.bus-route li:nth-child(29)::after,
.bus-route li:nth-child(30)::after{
    left: 100%;
    transform: rotate(-135deg);
}


.bus-route dl,
.bus-route dt,
.bus-route dd{
    padding: 0;
    margin: 0;
}
.bus-route dl{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.bus-route dl::before{
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    width: calc(100% + 8px);
    height: 8px;
    background-color: #ccc;
    border-radius: 4px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bus-route dl::after{
    content: "";
    display: none;
    position: absolute;
    right: 0;
    top: calc(50% - 4px);
    width: calc(70% + 8px);
    height: 70%;
    border-width: 8px;
    border-style: solid;
    border-color: #ccc #ccc transparent transparent;
    border-radius: 0 30px 0 0;
}
.bus-route li:nth-child(5) dl::before,
.bus-route li:nth-child(6) dl::before,
.bus-route li:nth-child(15) dl::before,
.bus-route li:nth-child(16) dl::before,
.bus-route li:nth-child(25) dl::before,
.bus-route li:nth-child(26) dl::before{
    left: calc(30% - 8px);
    width: calc(50% + 8px);
}
.bus-route li:nth-child(10) dl::before,
.bus-route li:nth-child(11) dl::before,
.bus-route li:nth-child(20) dl::before,
.bus-route li:nth-child(21) dl::before,
.bus-route li:nth-child(30) dl::before,
.bus-route li:nth-child(31) dl::before{
    left: calc(70% + 8px);
    width: calc(50% + 8px);
}
.bus-route li:nth-child(5) dl::after,
.bus-route li:nth-child(15) dl::after,
.bus-route li:nth-child(25) dl::after{
    display: block;
}
.bus-route li:nth-child(6) dl::after,
.bus-route li:nth-child(16) dl::after,
.bus-route li:nth-child(26) dl::after{
    display: block;
    top: calc(-20% + 4px);
    border-color: transparent #ccc #ccc transparent;
    border-radius: 0 0 30px 0;
}
.bus-route li:nth-child(10) dl::after,
.bus-route li:nth-child(20) dl::after,
.bus-route li:nth-child(30) dl::after{
    display: block;
    right: calc(30% - 8px);
    border-color: #ccc transparent transparent #ccc;
    border-radius: 30px 0 0 0;
}
.bus-route li:nth-child(11) dl::after,
.bus-route li:nth-child(21) dl::after,
.bus-route li:nth-child(31) dl::after{
    display: block;
    right: calc(30% - 8px);
    top: calc(-20% + 4px);
    border-color: transparent transparent #ccc #ccc;
    border-radius: 0 0 0 30px;
}
.bus-route[data-route-total="5"] li:nth-child(5) dl::before,
.bus-route[data-route-total="10"] li:nth-child(10) dl::before,
.bus-route[data-route-total="15"] li:nth-child(15) dl::before,
.bus-route[data-route-total="20"] li:nth-child(20) dl::before,
.bus-route[data-route-total="25"] li:nth-child(25) dl::before,
.bus-route[data-route-total="30"] li:nth-child(30) dl::before{
    left: 50%;
    width: calc(100% + 8px);
}
.bus-route[data-route-total="5"] li:nth-child(5) dl::after,
.bus-route[data-route-total="10"] li:nth-child(10) dl::after,
.bus-route[data-route-total="15"] li:nth-child(15) dl::after,
.bus-route[data-route-total="20"] li:nth-child(20) dl::after,
.bus-route[data-route-total="25"] li:nth-child(25) dl::after,
.bus-route[data-route-total="30"] li:nth-child(30) dl::after{
    display: none;
}
.bus-route dt{
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 1;
    width: 100%;
    max-width: 100px;
    padding-bottom: 15px;
    font-family: ht;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    word-break: keep-all;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.bus-route dt::before,
.bus-route dt::after{
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: -7px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.bus-route dt::before{
    display: none;
    z-index: 1;
    left: 50%;
    bottom: -12px;
    width: 24px;
    height: 24px;
}
.bus-route dd{
    display:block;
    position: absolute;
    left: 50%;
    top: 50%;
    padding:4px 8px 3px;
    margin-top: 20px;
    background-color:#e5e5e5;
    border-radius:20px;
    color:#555;
    font-size:11px;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.bus-route li.office dt{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.bus-route li.on dt{
    color: #ee3a33;
    font-family: hh;
    font-weight: 600;
    text-decoration: underline;
}
.bus-route li.on dd{
    background-color: #ee3a33;
    color: #fff;
}
.bus-route li.office dt::before{
    display: block;
}
/***********************
 *       float
 ***********************/
.bus-route li:nth-child(1),
.bus-route li:nth-child(2),
.bus-route li:nth-child(3),
.bus-route li:nth-child(4),
.bus-route li:nth-child(5),
.bus-route li:nth-child(11),
.bus-route li:nth-child(12),
.bus-route li:nth-child(13),
.bus-route li:nth-child(14),
.bus-route li:nth-child(15),
.bus-route li:nth-child(21),
.bus-route li:nth-child(22),
.bus-route li:nth-child(23),
.bus-route li:nth-child(24),
.bus-route li:nth-child(25){float: left}
.bus-route li:nth-child(6),
.bus-route li:nth-child(7),
.bus-route li:nth-child(8),
.bus-route li:nth-child(9),
.bus-route li:nth-child(10),
.bus-route li:nth-child(16),
.bus-route li:nth-child(17),
.bus-route li:nth-child(18),
.bus-route li:nth-child(19),
.bus-route li:nth-child(20),
.bus-route li:nth-child(26),
.bus-route li:nth-child(27),
.bus-route li:nth-child(28),
.bus-route li:nth-child(29),
.bus-route li:nth-child(30){float: right}
/***********************
 *       bus
 *   gowork : 출근버스
 ***********************/
.bus-item[data-bus-type="gowork"] .bus-title h4{
    background-color: #cf84d2;
    color: #fff;
}
.bus-item[data-bus-type="gowork"] .bus-route dl::before{
    background-color: #cf84d2;
}
.bus-item[data-bus-type="gowork"] .bus-route dl::after{
    border-color: #cf84d2 #cf84d2 transparent transparent;
}
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(6) dl::after,
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(16) dl::after,
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(26) dl::after{
    border-color: transparent #cf84d2 #cf84d2 transparent;
}
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(10) dl::after,
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(20) dl::after,
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(30) dl::after{
    border-color: #cf84d2 transparent transparent #cf84d2;
}
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(11) dl::after,
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(21) dl::after,
.bus-item[data-bus-type="gowork"] .bus-route li:nth-child(31) dl::after{
    border-color: transparent transparent #cf84d2 #cf84d2;
}
.bus-item[data-bus-type="gowork"] .bus-route dt::before,
.bus-item[data-bus-type="gowork"] .bus-route dt::after{
    border: 3px solid #cf84d2;
}
/***********************
 *       bus
 *   gohome : 퇴근버스
 ***********************/
.bus-item[data-bus-type="gohome"] .bus-title h4{
    background-color: #7876cb;
    color: #fff;
}
.bus-item[data-bus-type="gohome"] .bus-route dl::before{
    background-color: #7876cb;
}
.bus-item[data-bus-type="gohome"] .bus-route dl::after{
    border-color: #7876cb #7876cb transparent transparent;
}
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(6) dl::after,
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(16) dl::after,
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(26) dl::after{
    border-color: transparent #7876cb #7876cb transparent;
}
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(10) dl::after,
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(20) dl::after,
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(30) dl::after{
    border-color: #7876cb transparent transparent #7876cb;
}
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(11) dl::after,
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(21) dl::after,
.bus-item[data-bus-type="gohome"] .bus-route li:nth-child(31) dl::after{
    border-color: transparent transparent #7876cb #7876cb;
}
.bus-item[data-bus-type="gohome"] .bus-route dt::before,
.bus-item[data-bus-type="gohome"] .bus-route dt::after{
    border: 3px solid #7876cb;
}
/***********************
 *       bus
 *   shuttle : 셔틀버스
 ***********************/
.bus-item[data-bus-type="shuttle"] .bus-title h4{
    background-color: #00aad2;
    color: #fff;
}
.bus-item[data-bus-type="shuttle"] .bus-route dl::before{
    background-color: #00aad2;
}
.bus-item[data-bus-type="shuttle"] .bus-route dl::after{
    border-color: #00aad2 #00aad2 transparent transparent;
}
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(6) dl::after,
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(16) dl::after,
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(26) dl::after{
    border-color: transparent #00aad2 #00aad2 transparent;
}
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(10) dl::after,
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(20) dl::after,
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(30) dl::after{
    border-color: #00aad2 transparent transparent #00aad2;
}
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(11) dl::after,
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(21) dl::after,
.bus-item[data-bus-type="shuttle"] .bus-route li:nth-child(31) dl::after{
    border-color: transparent transparent #00aad2 #00aad2;
}
.bus-item[data-bus-type="shuttle"] .bus-route dt::before,
.bus-item[data-bus-type="shuttle"] .bus-route dt::after{
    border: 3px solid #00aad2;
}