@CHARSET "UTF-8";

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 5px 10px;
	margin: 0 3px 3px 0;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 3px;
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media ( prefers-reduced-motion : reduce) {
	.btn {
		transition: none;
	}
}

.btn:hover {
	color: #212529;
	text-decoration: none;
}

.btn:focus, .btn.focus {
	outline: 0;
}

.btn.disabled, .btn:disabled {
	opacity: 0.65;
}

a.btn.disabled, fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-primary {
	color: #fff;
	background-color: #5f83f2;
	border-color: #5f83f2;
}

.btn-primary:hover {
	color: #fff;
	background-color: #416cef;
	border-color: #416cef;
}

.btn-primary:focus, .btn-primary.focus {
	color: #fff;
	background-color: #416cef;
	border-color: #416cef;
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #97aff7;
	border-color: #97aff7;
}

.btn-primary:not (:disabled ):not (.disabled ):active, .btn-primary:not
	 (:disabled ):not (.disabled ).active, .show>.btn-primary.dropdown-toggle
{
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.btn-primary:not (:disabled ):not (.disabled ):active:focus,
.btn-primary:not (:disabled ):not (.disabled ).active:focus, .show>.btn-primary.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:not (:disabled ):not (.disabled ):active, .btn-secondary:not
	 (:disabled ):not (.disabled ).active, .show>.btn-secondary.dropdown-toggle
{
	color: #fff;
	background-color: #545b62;
	border-color: #4e555b;
}

.btn-secondary:not (:disabled ):not (.disabled ):active:focus,
.btn-secondary:not (:disabled ):not (.disabled ).active:focus, .show>.btn-secondary.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:not (:disabled ):not (.disabled ):active, .btn-success:not
	 (:disabled ):not (.disabled ).active, .show>.btn-success.dropdown-toggle
{
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430;
}

.btn-success:not (:disabled ):not (.disabled ):active:focus,
.btn-success:not (:disabled ):not (.disabled ).active:focus, .show>.btn-success.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-info:hover {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-info:not (:disabled ):not (.disabled ):active, .btn-info:not (:disabled
	 ):not (.disabled ).active, .show>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #117a8b;
	border-color: #10707f;
}

.btn-info:not (:disabled ):not (.disabled ):active:focus, .btn-info:not
	 (:disabled ):not (.disabled ).active:focus, .show>.btn-info.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:not (:disabled ):not (.disabled ):active, .btn-warning:not
	 (:disabled ):not (.disabled ).active, .show>.btn-warning.dropdown-toggle
{
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500;
}

.btn-warning:not (:disabled ):not (.disabled ):active:focus,
.btn-warning:not (:disabled ):not (.disabled ).active:focus, .show>.btn-warning.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:not (:disabled ):not (.disabled ):active, .btn-danger:not (:disabled
	 ):not (.disabled ).active, .show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d;
}

.btn-danger:not (:disabled ):not (.disabled ):active:focus, .btn-danger:not
	 (:disabled ):not (.disabled ).active:focus, .show>.btn-danger.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:not (:disabled ):not (.disabled ):active, .btn-light:not (:disabled
	 ):not (.disabled ).active, .show>.btn-light.dropdown-toggle {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn-light:not (:disabled ):not (.disabled ):active:focus, .btn-light:not
	 (:disabled ):not (.disabled ).active:focus, .show>.btn-light.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-dark {
	color: #fff;
	background-color: #727071;
	border-color: #727071;
}

.btn-dark:hover {
	color: #fff;
	background-color: #676566;
	border-color: #676566;
}

.btn-dark:focus, .btn-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
	color: #fff;
	background-color: #c7c7c7;
	border-color: #c7c7c7;
}

.btn-dark:not (:disabled ):not (.disabled ):active, .btn-dark:not (:disabled
	 ):not (.disabled ).active, .show>.btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn-dark:not (:disabled ):not (.disabled ):active:focus, .btn-dark:not
	 (:disabled ):not (.disabled ).active:focus, .show>.btn-dark.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}


.btn-gray {
	color: #fff;
	background-color: #bbbbbb;
	border-color: #bbbbbb;
}

.btn-gray:hover {
	color: #fff;
	background-color: #aaaaaa;
	border-color: #aaaaaa;
}

.btn-gray:focus, .btn-gray.focus {
	box-shadow: 0 0 0 0.2rem rgba(153, 153, 153, 0.5);
}

.btn-gray.disabled, .btn-gray:disabled {
	color: #fff;
	background-color: #c7c7c7;
	border-color: #c7c7c7;
}

.btn-gray:not (:disabled ):not (.disabled ):active, .btn-gray:not (:disabled
	 ):not (.disabled ).active, .show>.btn-gray.dropdown-toggle {
	color: #fff;
	background-color: #aaaaaa;
	border-color: #aaaaaa;
}

.btn-gray:not (:disabled ):not (.disabled ):active:focus, .btn-gray:not
	 (:disabled ):not (.disabled ).active:focus, .show>.btn-gray.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(153, 153, 153, 0.5);
}

.btn-outline-primary {
	color: #5f83f2;
	border-color: #5f83f2;
}

.btn-outline-primary:hover {
	color: #113fc8;
	background-color: #fff;
	border-color: #113fc8;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
	color: #113fc8;
	background-color: #fff;
	border-color: #113fc8;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #97aff7;
	background-color: #fff;
	border-color: #97aff7;
}

.btn-outline-primary:not (:disabled ):not (.disabled ):active,
.btn-outline-primary:not (:disabled ):not (.disabled ).active, .show>.btn-outline-primary.dropdown-toggle
{
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-primary:not (:disabled ):not (.disabled ).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	color: #113fc8;
	background-color: #fff;
	border-color: #113fc8;
}

.btn-outline-secondary {
	color: #6c757d;
	border-color: #6c757d;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #6c757d;
	background-color: transparent;
}

.btn-outline-secondary:not (:disabled ):not (.disabled ):active,
.btn-outline-secondary:not (:disabled ):not (.disabled ).active, .show>.btn-outline-secondary.dropdown-toggle
{
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-outline-secondary:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-secondary:not (:disabled ):not (.disabled ).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success {
	color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:focus, .btn-outline-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
	color: #28a745;
	background-color: transparent;
}

.btn-outline-success:not (:disabled ):not (.disabled ):active,
.btn-outline-success:not (:disabled ):not (.disabled ).active, .show>.btn-outline-success.dropdown-toggle
{
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-success:not (:disabled ):not (.disabled ).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info {
	color: #17a2b8;
	border-color: #17a2b8;
}

.btn-outline-info:hover {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-outline-info:focus, .btn-outline-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
	color: #17a2b8;
	background-color: transparent;
}

.btn-outline-info:not (:disabled ):not (.disabled ):active,
.btn-outline-info:not (:disabled ):not (.disabled ).active, .show>.btn-outline-info.dropdown-toggle
{
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-outline-info:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-info:not (:disabled ):not (.disabled ).active:focus, .show>.btn-outline-info.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
	color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning:hover {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
	color: #ffc107;
	background-color: transparent;
}

.btn-outline-warning:not (:disabled ):not (.disabled ):active,
.btn-outline-warning:not (:disabled ):not (.disabled ).active, .show>.btn-outline-warning.dropdown-toggle
{
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-warning:not (:disabled ):not (.disabled ).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
	color: #dc3545;
	border-color: #dc3545;
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
	color: #dc3545;
	background-color: transparent;
}

.btn-outline-danger:not (:disabled ):not (.disabled ):active,
.btn-outline-danger:not (:disabled ):not (.disabled ).active, .show>.btn-outline-danger.dropdown-toggle
{
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-outline-danger:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-danger:not (:disabled ):not (.disabled ).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
	color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:hover {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:focus, .btn-outline-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
	color: #f8f9fa;
	background-color: transparent;
}

.btn-outline-light:not (:disabled ):not (.disabled ):active,
.btn-outline-light:not (:disabled ):not (.disabled ).active, .show>.btn-outline-light.dropdown-toggle
{
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-light:not (:disabled ):not (.disabled ).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
	color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:hover {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
	color: #343a40;
	background-color: transparent;
}

.btn-outline-dark:not (:disabled ):not (.disabled ):active,
.btn-outline-dark:not (:disabled ):not (.disabled ).active, .show>.btn-outline-dark.dropdown-toggle
{
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:not (:disabled ):not (.disabled ):active:focus,
.btn-outline-dark:not (:disabled ):not (.disabled ).active:focus, .show>.btn-outline-dark.dropdown-toggle:focus
{
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
	font-weight: 400;
	color: #007bff;
	text-decoration: none;
}

.btn-link:hover {
	color: #0056b3;
	text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
	text-decoration: underline;
	box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
	color: #6c757d;
	pointer-events: none;
}

.btn-lg, .btn-group-lg>.btn {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm>.btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.btn-min {
	min-width: 70px;
}

.btn-block {
	display: block;
}

.btn-radius {
	border-radius: 16px;
}

.btn-label{
	position: relative;
	padding-left: 45px;
}
.btn-label::before{
	font-family: 'Font Awesome 5 Free';
	content:"";
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 100%;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}
.btn-label.btn-label-external-link::before{
	font-weight: 900;
	content: "\f35d";
}
.btn-label.btn-label-window-restore::before{
	font-weight: 900;
	content: "\f2d2";
}
.btn-outline-primary.btn-label::before{
	color: #fff;
	background-color: #5f83f2;
}
.btn-outline-primary.btn-label:focus::before,
.btn-outline-primary.btn-label:hover::before{
	background-color: #113fc8;
}
.btn-image-link{
	display: block;
	width: 200px;
	padding-bottom: 56.26%;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}