@CHARSET "UTF-8";

.none{
    display: none;
}
.clearfix::before,
.clearfix::after{
    content:"";
    display: table !important;
}
.clearfix::after{
    clear: both !important;
}
.f-left{
    flaot: left !important;
}
.f-right{
    flaot: right !important;
}
.t-left{
    text-align: left !important;
}
.t-center{
    text-align: center !important;
}
.t-right{
    text-align: right !important;
}
.t-end{
    justify-content: flex-end !important;
}
.v-top{
    vertical-align: top !important;
}
.v-middle{
    vertical-align: middle !important;
}
.v-bottom{
    vertical-align: bottom !important;
}
.border-top{
    border-width-top: 1px !important;
}
.border-right{
    border-width-right: 1px !important;
}
.border-bottom{
    border-width-bottom: 1px !important;
}
.border-left{
    border-width-left: 1px !important;
}
.no-border-top{
    border-top-width: 0 !important;
}
.no-border-right{
    border-right-width: 0 !important;
}
.no-border-bottom{
    border-bottom-width: 0 !important;
}
.no-border-left{
    border-left-width: 0 !important;
}
.no-padding{
    padding: 0 !important;
}
.no-padding-top{
    padding-top: 0 !important;
}
.no-padding-right{
    padding-right: 0 !important;
}
.no-padding-bottom{
    padding-bottom: 0 !important;
}
.no-padding-left{
    padding-left: 0 !important;
}
.no-margin-top{
    margin-top: 0 !important;
}
.no-margin-right{
    margin-right: 0 !important;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}
.no-margin-left{
    margin-left: 0 !important;
}
/***********************
 *        color
 ***********************/
.color-point{
    color: #e03232;
}
.color-main{
    color: #5f83f2;
}
.color-sub1{
    color: #35ccd5;
}
.color-sub2{
    color: #233775;
}
/***********************
 *        icon
 ***********************/
.icon{
    display: inline-block;
    line-height: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-past-search{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 31.3 28.5' style='enable-background:new 0 0 31.3 28.5%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:none%3B%7D .st1%7Bfill:%23040000%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M18.9%2C19.1c0%2C0.5%2C0%2C0.9-0.1%2C1.4c0.5-0.2%2C1-0.5%2C1.5-0.8l1.5-1l1-1.5c1-1.5%2C1.5-3.2%2C1.5-5c0-5-4.1-9.1-9.1-9.1 c-4.4%2C0-8%2C3.1-8.9%2C7.2c1-0.4%2C2.1-0.6%2C3.2-0.6C14.7%2C9.6%2C18.9%2C13.9%2C18.9%2C19.1z'/%3E %3Cpath class='st1' d='M30.6%2C24.1l-5.3-5.3c1.3-1.9%2C2-4.2%2C2-6.7C27.3%2C5.4%2C21.9%2C0%2C15.2%2C0S3%2C5.4%2C3%2C12.1c0%2C0%2C0%2C0%2C0%2C0 c0.9-0.9%2C2-1.5%2C3.2-2C7.1%2C6.1%2C10.8%2C3%2C15.2%2C3c5%2C0%2C9.1%2C4.1%2C9.1%2C9.1c0%2C1.8-0.5%2C3.5-1.5%2C5l-1%2C1.5l-1.5%2C1c-0.5%2C0.3-1%2C0.6-1.5%2C0.8 c-0.2%2C1.3-0.6%2C2.5-1.3%2C3.5c1.6-0.3%2C3.1-1%2C4.4-1.8l5.2%2C5.2c0.5%2C0.5%2C1.1%2C0.7%2C1.7%2C0.7c0.6%2C0%2C1.2-0.2%2C1.7-0.7v0 C31.5%2C26.5%2C31.5%2C25%2C30.6%2C24.1z'/%3E %3C/g%3E %3Cg%3E %3Cpath class='st1' d='M9.5%2C9.6C4.2%2C9.6%2C0%2C13.9%2C0%2C19.1s4.2%2C9.5%2C9.5%2C9.5s9.5-4.2%2C9.5-9.5S14.7%2C9.6%2C9.5%2C9.6z M9.5%2C25.5 c-3.6%2C0-6.5-2.9-6.5-6.5s2.9-6.5%2C6.5-6.5c3.6%2C0%2C6.5%2C2.9%2C6.5%2C6.5S13%2C25.5%2C9.5%2C25.5z'/%3E %3Cpolygon class='st1' points='10%2C20.3 10%2C16.2 8.5%2C16.2 8.5%2C19.7 5.9%2C21.8 6.8%2C22.9 10%2C20.4 10%2C20.3 '/%3E %3C/g%3E %3C/svg%3E");
}
.icon-past-search.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 31.3 28.5' style='enable-background:new 0 0 31.3 28.5%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:none%3B%7D .st1%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M18.9%2C19.1c0%2C0.5%2C0%2C0.9-0.1%2C1.4c0.5-0.2%2C1-0.5%2C1.5-0.8l1.5-1l1-1.5c1-1.5%2C1.5-3.2%2C1.5-5c0-5-4.1-9.1-9.1-9.1 c-4.4%2C0-8%2C3.1-8.9%2C7.2c1-0.4%2C2.1-0.6%2C3.2-0.6C14.7%2C9.6%2C18.9%2C13.9%2C18.9%2C19.1z'/%3E %3Cpath class='st1' d='M30.6%2C24.1l-5.3-5.3c1.3-1.9%2C2-4.2%2C2-6.7C27.3%2C5.4%2C21.9%2C0%2C15.2%2C0S3%2C5.4%2C3%2C12.1c0%2C0%2C0%2C0%2C0%2C0 c0.9-0.9%2C2-1.5%2C3.2-2C7.1%2C6.1%2C10.8%2C3%2C15.2%2C3c5%2C0%2C9.1%2C4.1%2C9.1%2C9.1c0%2C1.8-0.5%2C3.5-1.5%2C5l-1%2C1.5l-1.5%2C1c-0.5%2C0.3-1%2C0.6-1.5%2C0.8 c-0.2%2C1.3-0.6%2C2.5-1.3%2C3.5c1.6-0.3%2C3.1-1%2C4.4-1.8l5.2%2C5.2c0.5%2C0.5%2C1.1%2C0.7%2C1.7%2C0.7c0.6%2C0%2C1.2-0.2%2C1.7-0.7v0 C31.5%2C26.5%2C31.5%2C25%2C30.6%2C24.1z'/%3E %3C/g%3E %3Cg%3E %3Cpath class='st1' d='M9.5%2C9.6C4.2%2C9.6%2C0%2C13.9%2C0%2C19.1s4.2%2C9.5%2C9.5%2C9.5s9.5-4.2%2C9.5-9.5S14.7%2C9.6%2C9.5%2C9.6z M9.5%2C25.5 c-3.6%2C0-6.5-2.9-6.5-6.5s2.9-6.5%2C6.5-6.5c3.6%2C0%2C6.5%2C2.9%2C6.5%2C6.5S13%2C25.5%2C9.5%2C25.5z'/%3E %3Cpolygon class='st1' points='10%2C20.3 10%2C16.2 8.5%2C16.2 8.5%2C19.7 5.9%2C21.8 6.8%2C22.9 10%2C20.4 10%2C20.3 '/%3E %3C/g%3E %3C/svg%3E");
}
.icon-past-search.blue{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 31.3 28.5' style='enable-background:new 0 0 31.3 28.5%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:none%3B%7D .st1%7Bfill:%235f83f2%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M18.9%2C19.1c0%2C0.5%2C0%2C0.9-0.1%2C1.4c0.5-0.2%2C1-0.5%2C1.5-0.8l1.5-1l1-1.5c1-1.5%2C1.5-3.2%2C1.5-5c0-5-4.1-9.1-9.1-9.1 c-4.4%2C0-8%2C3.1-8.9%2C7.2c1-0.4%2C2.1-0.6%2C3.2-0.6C14.7%2C9.6%2C18.9%2C13.9%2C18.9%2C19.1z'/%3E %3Cpath class='st1' d='M30.6%2C24.1l-5.3-5.3c1.3-1.9%2C2-4.2%2C2-6.7C27.3%2C5.4%2C21.9%2C0%2C15.2%2C0S3%2C5.4%2C3%2C12.1c0%2C0%2C0%2C0%2C0%2C0 c0.9-0.9%2C2-1.5%2C3.2-2C7.1%2C6.1%2C10.8%2C3%2C15.2%2C3c5%2C0%2C9.1%2C4.1%2C9.1%2C9.1c0%2C1.8-0.5%2C3.5-1.5%2C5l-1%2C1.5l-1.5%2C1c-0.5%2C0.3-1%2C0.6-1.5%2C0.8 c-0.2%2C1.3-0.6%2C2.5-1.3%2C3.5c1.6-0.3%2C3.1-1%2C4.4-1.8l5.2%2C5.2c0.5%2C0.5%2C1.1%2C0.7%2C1.7%2C0.7c0.6%2C0%2C1.2-0.2%2C1.7-0.7v0 C31.5%2C26.5%2C31.5%2C25%2C30.6%2C24.1z'/%3E %3C/g%3E %3Cg%3E %3Cpath class='st1' d='M9.5%2C9.6C4.2%2C9.6%2C0%2C13.9%2C0%2C19.1s4.2%2C9.5%2C9.5%2C9.5s9.5-4.2%2C9.5-9.5S14.7%2C9.6%2C9.5%2C9.6z M9.5%2C25.5 c-3.6%2C0-6.5-2.9-6.5-6.5s2.9-6.5%2C6.5-6.5c3.6%2C0%2C6.5%2C2.9%2C6.5%2C6.5S13%2C25.5%2C9.5%2C25.5z'/%3E %3Cpolygon class='st1' points='10%2C20.3 10%2C16.2 8.5%2C16.2 8.5%2C19.7 5.9%2C21.8 6.8%2C22.9 10%2C20.4 10%2C20.3 '/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-document{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 27.1 27.8' style='enable-background:new 0 0 27.1 27.8%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%233e3a39%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M22.5%2C24.8H3V3h18v2c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5S24%2C5.8%2C24%2C5V1.5C24%2C0.7%2C23.3%2C0%2C22.5%2C0h-21C0.7%2C0%2C0%2C0.7%2C0%2C1.5v24.8 c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5h21c0.8%2C0%2C1.5-0.7%2C1.5-1.5S23.3%2C24.8%2C22.5%2C24.8z'/%3E %3Cpath class='st0' d='M26.9%2C23.8L24%2C19.3c1.4-1.4%2C2.3-3.3%2C2.3-5.4c0-4.2-3.4-7.5-7.5-7.5c-0.8%2C0-1.6%2C0.1-2.3%2C0.4c-0.1%2C0-0.2%2C0-0.3%2C0 H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h6c-0.5%2C0.8-0.9%2C1.6-1.1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h4.9 c0.2%2C0.9%2C0.5%2C1.8%2C1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h8.9c0.1%2C0%2C0.2%2C0%2C0.3%2C0c0.9%2C0.4%2C2%2C0.7%2C3.1%2C0.7 c1%2C0%2C1.9-0.2%2C2.7-0.5l2.9%2C4.5c0.3%2C0.4%2C0.8%2C0.7%2C1.3%2C0.7c0.3%2C0%2C0.6-0.1%2C0.8-0.2C27.1%2C25.4%2C27.3%2C24.5%2C26.9%2C23.8z M14.2%2C13.9 c0-2.5%2C2-4.5%2C4.5-4.5s4.5%2C2%2C4.5%2C4.5c0%2C2.5-2%2C4.5-4.5%2C4.5S14.2%2C16.4%2C14.2%2C13.9z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-document.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 27.1 27.8' style='enable-background:new 0 0 27.1 27.8%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M22.5%2C24.8H3V3h18v2c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5S24%2C5.8%2C24%2C5V1.5C24%2C0.7%2C23.3%2C0%2C22.5%2C0h-21C0.7%2C0%2C0%2C0.7%2C0%2C1.5v24.8 c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5h21c0.8%2C0%2C1.5-0.7%2C1.5-1.5S23.3%2C24.8%2C22.5%2C24.8z'/%3E %3Cpath class='st0' d='M26.9%2C23.8L24%2C19.3c1.4-1.4%2C2.3-3.3%2C2.3-5.4c0-4.2-3.4-7.5-7.5-7.5c-0.8%2C0-1.6%2C0.1-2.3%2C0.4c-0.1%2C0-0.2%2C0-0.3%2C0 H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h6c-0.5%2C0.8-0.9%2C1.6-1.1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h4.9 c0.2%2C0.9%2C0.5%2C1.8%2C1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h8.9c0.1%2C0%2C0.2%2C0%2C0.3%2C0c0.9%2C0.4%2C2%2C0.7%2C3.1%2C0.7 c1%2C0%2C1.9-0.2%2C2.7-0.5l2.9%2C4.5c0.3%2C0.4%2C0.8%2C0.7%2C1.3%2C0.7c0.3%2C0%2C0.6-0.1%2C0.8-0.2C27.1%2C25.4%2C27.3%2C24.5%2C26.9%2C23.8z M14.2%2C13.9 c0-2.5%2C2-4.5%2C4.5-4.5s4.5%2C2%2C4.5%2C4.5c0%2C2.5-2%2C4.5-4.5%2C4.5S14.2%2C16.4%2C14.2%2C13.9z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-document.blue{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 27.1 27.8' style='enable-background:new 0 0 27.1 27.8%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%2370768A%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M22.5%2C24.8H3V3h18v2c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5S24%2C5.8%2C24%2C5V1.5C24%2C0.7%2C23.3%2C0%2C22.5%2C0h-21C0.7%2C0%2C0%2C0.7%2C0%2C1.5v24.8 c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5h21c0.8%2C0%2C1.5-0.7%2C1.5-1.5S23.3%2C24.8%2C22.5%2C24.8z'/%3E %3Cpath class='st0' d='M26.9%2C23.8L24%2C19.3c1.4-1.4%2C2.3-3.3%2C2.3-5.4c0-4.2-3.4-7.5-7.5-7.5c-0.8%2C0-1.6%2C0.1-2.3%2C0.4c-0.1%2C0-0.2%2C0-0.3%2C0 H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h6c-0.5%2C0.8-0.9%2C1.6-1.1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h4.9 c0.2%2C0.9%2C0.5%2C1.8%2C1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h8.9c0.1%2C0%2C0.2%2C0%2C0.3%2C0c0.9%2C0.4%2C2%2C0.7%2C3.1%2C0.7 c1%2C0%2C1.9-0.2%2C2.7-0.5l2.9%2C4.5c0.3%2C0.4%2C0.8%2C0.7%2C1.3%2C0.7c0.3%2C0%2C0.6-0.1%2C0.8-0.2C27.1%2C25.4%2C27.3%2C24.5%2C26.9%2C23.8z M14.2%2C13.9 c0-2.5%2C2-4.5%2C4.5-4.5s4.5%2C2%2C4.5%2C4.5c0%2C2.5-2%2C4.5-4.5%2C4.5S14.2%2C16.4%2C14.2%2C13.9z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-page{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 25.3 27.4' style='enable-background:new 0 0 25.3 27.4%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%233e3a39%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M24%2C5.6h-5.1V1.4c0-0.8-0.6-1.4-1.4-1.4H1.4C0.6%2C0%2C0%2C0.6%2C0%2C1.4v19c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4h5.1v4.2 c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4H24c0.8%2C0%2C1.4-0.6%2C1.4-1.4V7C25.3%2C6.2%2C24.7%2C5.6%2C24%2C5.6z M2.8%2C19V2.8h13.4v2.9H7.8c-0.7%2C0-1.3%2C0.5-1.4%2C1.2 H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9v3.2H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9V19H2.8z M22.6%2C24.7H9.2V8.4 h13.4V24.7z'/%3E %3Cpath class='st0' d='M11.6%2C15.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4 C10.2%2C14.6%2C10.9%2C15.2%2C11.6%2C15.2z'/%3E %3Cpath class='st0' d='M11.6%2C21.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4s-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4S10.9%2C21.2%2C11.6%2C21.2z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-page.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 25.3 27.4' style='enable-background:new 0 0 25.3 27.4%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M24%2C5.6h-5.1V1.4c0-0.8-0.6-1.4-1.4-1.4H1.4C0.6%2C0%2C0%2C0.6%2C0%2C1.4v19c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4h5.1v4.2 c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4H24c0.8%2C0%2C1.4-0.6%2C1.4-1.4V7C25.3%2C6.2%2C24.7%2C5.6%2C24%2C5.6z M2.8%2C19V2.8h13.4v2.9H7.8c-0.7%2C0-1.3%2C0.5-1.4%2C1.2 H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9v3.2H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9V19H2.8z M22.6%2C24.7H9.2V8.4 h13.4V24.7z'/%3E %3Cpath class='st0' d='M11.6%2C15.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4 C10.2%2C14.6%2C10.9%2C15.2%2C11.6%2C15.2z'/%3E %3Cpath class='st0' d='M11.6%2C21.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4s-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4S10.9%2C21.2%2C11.6%2C21.2z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-page.blue{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 25.3 27.4' style='enable-background:new 0 0 25.3 27.4%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%2372788d%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M24%2C5.6h-5.1V1.4c0-0.8-0.6-1.4-1.4-1.4H1.4C0.6%2C0%2C0%2C0.6%2C0%2C1.4v19c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4h5.1v4.2 c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4H24c0.8%2C0%2C1.4-0.6%2C1.4-1.4V7C25.3%2C6.2%2C24.7%2C5.6%2C24%2C5.6z M2.8%2C19V2.8h13.4v2.9H7.8c-0.7%2C0-1.3%2C0.5-1.4%2C1.2 H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9v3.2H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9V19H2.8z M22.6%2C24.7H9.2V8.4 h13.4V24.7z'/%3E %3Cpath class='st0' d='M11.6%2C15.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4 C10.2%2C14.6%2C10.9%2C15.2%2C11.6%2C15.2z'/%3E %3Cpath class='st0' d='M11.6%2C21.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4s-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4S10.9%2C21.2%2C11.6%2C21.2z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-similar{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='layer' x='0px' y='0px' viewBox='0 0 31.2 27.6' style='enable-background:new 0 0 31.2 27.6;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2370768A;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M22.4,22.4c-0.5,0.4-0.9,0.7-1.5,0.9v1.3H3V3h17.9v8.2c0.5-0.1,2.5-0.1,3-0.1V3c0-1.7-1.3-3-3-3H3 C1.3,0,0,1.3,0,3v21.6c0,1.7,1.3,3,3,3h17.9c1.7,0,3-1.3,3-3v-0.9C22.6,23.7,22.6,22.9,22.4,22.4z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,10.3h9.9c0.8,0,1.4-0.6,1.4-1.4s-0.6-1.4-1.4-1.4H7c-0.8,0-1.4,0.6-1.4,1.4S6.2,10.3,7,10.3z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M11,12.9H7c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4h2C9.2,14.7,10.2,13.2,11,12.9z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M8.9,18.2H7c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4h3.1C9.3,20.3,9.1,19.7,8.9,18.2z'/%3e%3c/g%3e%3c/g%3e%3cpath class='st0' d='M23.9,17.5c0,3.1-2.5,5.5-5.5,5.5c0,0,0,0,0,0h-3.5c-3.1,0-5.5-2.5-5.5-5.5c0-3.1,2.5-5.5,5.5-5.5h1.9 c0.5,0,0.8,0.6,0.4,1c-0.4,0.5-0.8,1-1.1,1.6c-0.1,0.2-0.3,0.3-0.5,0.3H15c-1.4,0-2.6,1.2-2.7,2.6c0,1.5,1.2,2.6,2.6,2.6l3.5,0 c1.5,0,2.6-1.2,2.6-2.6c0-0.2,0-0.4,0-0.5c0-0.2,0-0.4,0.1-0.5c0.3-0.3,0.6-0.5,1.1-0.5l1.1,0c0.3,0,0.5,0.2,0.6,0.5 C23.9,16.8,23.9,17.1,23.9,17.5L23.9,17.5z M31.2,17.5c0-3.1-2.5-5.5-5.5-5.5h-3.5c0,0,0,0,0,0c-3,0-5.5,2.5-5.5,5.5 c0,0.3,0,0.7,0.1,1c0,0.3,0.3,0.5,0.6,0.5l1.1,0c0.4,0,0.8-0.2,1.1-0.5c0.1-0.1,0.2-0.3,0.1-0.5c0-0.1,0-0.3,0-0.5 c0-1.4,1.2-2.6,2.6-2.6l3.5,0c1.5,0,2.6,1.2,2.6,2.6c0,1.4-1.2,2.6-2.7,2.6H25c-0.2,0-0.4,0.1-0.5,0.3c-0.3,0.6-0.7,1.1-1.1,1.6 c-0.3,0.4-0.1,1,0.4,1h1.9C28.7,23,31.2,20.5,31.2,17.5L31.2,17.5z'/%3e%3c/svg%3e");
}
.icon-view-similar.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='layer' x='0px' y='0px' viewBox='0 0 31.2 27.6' style='enable-background:new 0 0 31.2 27.6;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23ffffff;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M22.4,22.4c-0.5,0.4-0.9,0.7-1.5,0.9v1.3H3V3h17.9v8.2c0.5-0.1,2.5-0.1,3-0.1V3c0-1.7-1.3-3-3-3H3 C1.3,0,0,1.3,0,3v21.6c0,1.7,1.3,3,3,3h17.9c1.7,0,3-1.3,3-3v-0.9C22.6,23.7,22.6,22.9,22.4,22.4z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,10.3h9.9c0.8,0,1.4-0.6,1.4-1.4s-0.6-1.4-1.4-1.4H7c-0.8,0-1.4,0.6-1.4,1.4S6.2,10.3,7,10.3z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M11,12.9H7c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4h2C9.2,14.7,10.2,13.2,11,12.9z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M8.9,18.2H7c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4h3.1C9.3,20.3,9.1,19.7,8.9,18.2z'/%3e%3c/g%3e%3c/g%3e%3cpath class='st0' d='M23.9,17.5c0,3.1-2.5,5.5-5.5,5.5c0,0,0,0,0,0h-3.5c-3.1,0-5.5-2.5-5.5-5.5c0-3.1,2.5-5.5,5.5-5.5h1.9 c0.5,0,0.8,0.6,0.4,1c-0.4,0.5-0.8,1-1.1,1.6c-0.1,0.2-0.3,0.3-0.5,0.3H15c-1.4,0-2.6,1.2-2.7,2.6c0,1.5,1.2,2.6,2.6,2.6l3.5,0 c1.5,0,2.6-1.2,2.6-2.6c0-0.2,0-0.4,0-0.5c0-0.2,0-0.4,0.1-0.5c0.3-0.3,0.6-0.5,1.1-0.5l1.1,0c0.3,0,0.5,0.2,0.6,0.5 C23.9,16.8,23.9,17.1,23.9,17.5L23.9,17.5z M31.2,17.5c0-3.1-2.5-5.5-5.5-5.5h-3.5c0,0,0,0,0,0c-3,0-5.5,2.5-5.5,5.5 c0,0.3,0,0.7,0.1,1c0,0.3,0.3,0.5,0.6,0.5l1.1,0c0.4,0,0.8-0.2,1.1-0.5c0.1-0.1,0.2-0.3,0.1-0.5c0-0.1,0-0.3,0-0.5 c0-1.4,1.2-2.6,2.6-2.6l3.5,0c1.5,0,2.6,1.2,2.6,2.6c0,1.4-1.2,2.6-2.7,2.6H25c-0.2,0-0.4,0.1-0.5,0.3c-0.3,0.6-0.7,1.1-1.1,1.6 c-0.3,0.4-0.1,1,0.4,1h1.9C28.7,23,31.2,20.5,31.2,17.5L31.2,17.5z'/%3e%3c/svg%3e");
}
.icon-view-same{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='layer' x='0px' y='0px' viewBox='0 0 31.3 27.6' style='enable-background:new 0 0 31.3 27.6;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2370768A;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M22.2,4.7c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1s9.1-4.1,9.1-9.1S27.2,4.7,22.2,4.7z M27.5,14.8 c0,0.2-0.2,0.4-0.4,0.4h-3.4v3.4c0,0.2-0.2,0.4-0.4,0.4h-2c-0.2,0-0.4-0.2-0.4-0.4v-3.4h-3.4c-0.2,0-0.4-0.2-0.4-0.4v-2 c0-0.2,0.2-0.4,0.4-0.4h3.4V9c0-0.2,0.2-0.4,0.4-0.4h2c0.2,0,0.4,0.2,0.4,0.4v3.4H27c0.2,0,0.4,0.2,0.4,0.4V14.8z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M20.9,24.1v0.5H3V3h17.9v0.5c0.4-0.1,0.9-0.1,1.3-0.1c0.6,0,1.1,0.1,1.7,0.1V3c0-1.7-1.3-3-3-3H3 C1.3,0,0,1.3,0,3v21.6c0,1.7,1.3,3,3,3h17.9c1.7,0,3-1.3,3-3V24c-0.5,0.1-1.1,0.1-1.7,0.1C21.7,24.2,21.3,24.1,20.9,24.1z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,7C6.2,7,5.5,7.6,5.5,8.4S6.2,9.8,7,9.8h5.6c0.4-1,1-2,1.8-2.8H7z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,12.4c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4h5c-0.1-0.5-0.1-0.9-0.1-1.4s0-1,0.1-1.4H7z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,20.6h7.4c-0.7-0.8-1.3-1.8-1.8-2.8H7c-0.8,0-1.4,0.6-1.4,1.4S6.2,20.6,7,20.6z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
.icon-view-same.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='layer' x='0px' y='0px' viewBox='0 0 31.3 27.6' style='enable-background:new 0 0 31.3 27.6;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23ffffff;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M22.2,4.7c-5,0-9.1,4.1-9.1,9.1s4.1,9.1,9.1,9.1s9.1-4.1,9.1-9.1S27.2,4.7,22.2,4.7z M27.5,14.8 c0,0.2-0.2,0.4-0.4,0.4h-3.4v3.4c0,0.2-0.2,0.4-0.4,0.4h-2c-0.2,0-0.4-0.2-0.4-0.4v-3.4h-3.4c-0.2,0-0.4-0.2-0.4-0.4v-2 c0-0.2,0.2-0.4,0.4-0.4h3.4V9c0-0.2,0.2-0.4,0.4-0.4h2c0.2,0,0.4,0.2,0.4,0.4v3.4H27c0.2,0,0.4,0.2,0.4,0.4V14.8z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M20.9,24.1v0.5H3V3h17.9v0.5c0.4-0.1,0.9-0.1,1.3-0.1c0.6,0,1.1,0.1,1.7,0.1V3c0-1.7-1.3-3-3-3H3 C1.3,0,0,1.3,0,3v21.6c0,1.7,1.3,3,3,3h17.9c1.7,0,3-1.3,3-3V24c-0.5,0.1-1.1,0.1-1.7,0.1C21.7,24.2,21.3,24.1,20.9,24.1z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,7C6.2,7,5.5,7.6,5.5,8.4S6.2,9.8,7,9.8h5.6c0.4-1,1-2,1.8-2.8H7z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,12.4c-0.8,0-1.4,0.6-1.4,1.4s0.6,1.4,1.4,1.4h5c-0.1-0.5-0.1-0.9-0.1-1.4s0-1,0.1-1.4H7z'/%3e%3c/g%3e%3cg%3e%3cpath class='st0' d='M7,20.6h7.4c-0.7-0.8-1.3-1.8-1.8-2.8H7c-0.8,0-1.4,0.6-1.4,1.4S6.2,20.6,7,20.6z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
.icon-view-fave{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%233e3a39%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-fave.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-fave.gray{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23c5c6c9%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-fave.blue {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%2372788D%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}