@CHARSET "UTF-8";

.error-wrap{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.error-box-etc,
.error-box-code{
    min-width: 260px;
    text-align: center;
}
.error-box strong{
    display: block;
    padding-bottom: 15px;
    font-size: 22px;
    color: #5f83f2;
}
.error-code{
    font-size: 83px;
    color: #5f83f2;
    font-family: hh;
    line-height: 83px;
}