@CHARSET "UTF-8";
@font-face {
	font-family: 'hh';
	src: url('/MOBI_CHAT/font/HyundaiSansHeadKRLight.eot');
	src: url('/MOBI_CHAT/font/HyundaiSansHeadKRLight.eot?#iefix') format('embedded-opentype'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRLight.woff') format('woff'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRLight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'hh';
	src: url('/MOBI_CHAT/font/HyundaiSansHeadKRRegular.eot');
	src: url('/MOBI_CHAT/font/HyundaiSansHeadKRRegular.eot?#iefix') format('embedded-opentype'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRRegular.woff') format('woff'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'hh';
	src: url('/MOBI_CHAT/font//HyundaiSansHeadKRMedium.eot');
	src: url('/MOBI_CHAT/font/HyundaiSansHeadKRMedium.eot?#iefix') format('embedded-opentype'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRMedium.woff') format('woff'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRMedium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'hh';
	src: url('/MOBI_CHAT/font/HyundaiSansHeadKRBold.eot');
	src: url('/MOBI_CHAT/font/HyundaiSansHeadKRBold.eot?#iefix') format('embedded-opentype'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRBold.woff') format('woff'),
			 url('/MOBI_CHAT/font/HyundaiSansHeadKRBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'ht';
	src: url('/MOBI_CHAT/font/HyundaiSansTextKRRegular.eot');
	src: url('/MOBI_CHAT/font/HyundaiSansTextKRRegular.eot?#iefix') format('embedded-opentype'),
			 url('/MOBI_CHAT/font/HyundaiSansTextKRRegular.woff') format('woff'),
			 url('/MOBI_CHAT/font/HyundaiSansTextKRRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'ht';
	src: url('/MOBI_CHAT/font/HyundaiSansTextKRMedium.eot');
	src: url('/MOBI_CHAT/font/HyundaiSansTextKRMedium.eot?#iefix') format('embedded-opentype'),
			 url('/MOBI_CHAT/font/HyundaiSansTextKRMedium.woff') format('woff'),
			 url('/MOBI_CHAT/font/HyundaiSansTextKRMedium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'ht';
	src: url('/MOBI_CHAT/font/HyundaiSansTextKRBold.eot');
	src: url('/MOBI_CHAT/font/HyundaiSansTextKRBold.eot?#iefix') format('embedded-opentype'),
			 url('/MOBI_CHAT/font/HyundaiSansTextKRBold.woff') format('woff'),
			 url('/MOBI_CHAT/font/HyundaiSansTextKRBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}