@CHARSET "UTF-8";

@import './font.css';
@import './reset.css';
@import './common.css';
@import './input.css';
@import './button.css';
@import './popup.css';
@import '../vender/fontawesome/css/all.css';
@import '../vender/scrollbar/jquery.mCustomScrollbar.css';
@import '../vender/pagination/pagination2.css';

.tabs{
    position: relative;
    width: 100%;
    height: 100%;
}
.tabs .tab{
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.tab-inner{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.tab-header{
    position: relative;
    min-height: 80px;
    padding: 10px 0 10px 80px;
    margin: 0 10px;
    background-color: #5f83f2;
    border-radius: 0 0 10px 10px;
    color: #fff;
}
.tab-header-title{
    padding: 0;
    margin: 0;
    font-size: 22px;
}
.tab-header-title a{
    vertical-align: middle;
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
}
.tab-header-info{
    padding: 0;
    margin: 0;
}
.tab-header-img{
    position: absolute;
    left: 0;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: 0;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.tab-header-img img{
    width: 100%;
}
.tab-content{
    position: relative;
    flex: 1;
    height: 100%;
    margin-top: auto;
}
.tab-content-inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.help-block{
}
.help-block-title{
    position: relative;
    padding: 8px 15px;
    margin: 0 0 10px 0;
    border: 1px solid #5f83f2;
    color: #5f83f2;
    background-color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.help-block-title::after{
    content: "\f055";
    position: absolute;
    right: 15px;
    top: 50%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 18px;
    color: #cfd5eb;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transition: color .3s ease-in-out;
}
.help-block-inner{
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}
.help-block-title.on::after{
    content: "\f056";
    color: #5f83f2;
}
.help-block-title.on + .help-block-inner{
    max-height: 10000px;
}
.help-box{
    padding: 5px 10px 7px 10px;
    margin: 0 0 10px 0;
    background-color: #f3f4f9;
    border: 1px solid #cfd5eb;
    border-radius: 10px;
}
.help-box dt{
    padding: 5px 0 2px;
    font-size: 19px;
}
.help-box dt::before{
    display: inline-block;
    margin: 0 5px 0 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f00c";
    font-size: 16px;
    color: #5f83f2;
}
.help-box dd{
    display: inline-block;
    padding: 5px 15px 5px 10px;
    margin: 3px 0;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 15px;
    text-align: center;
}
.help-box dd::before{
    content: "ex)";
    display: inline-block;
    margin: 0 5px 0 0;
    font-weight: 900;
}
#intro .tab-inner{
    align-items: center;
    justify-content: center;
}
#intro h1{
    margin: 0;
}
#intro h1 .img{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #5f83f2;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#intro h1 .img img{
    /*width: 80px;*/
    width: 65px;
}
#intro h1 .text{
    font-size: 32px;
    color: #ccc
}
#intro h1 .text span{
    color: #5f83f2;
}
#intro h2{
    font-size: 16px;
}
#intro .tab-inner ul.intro-tip{
    list-style: none;
    background-color: #cfd5eb;
    width: 330px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 0 5px 0;
}
#intro .tab-inner ul.intro-tip li{
    border-top: 1px dashed #b7bce6;
    padding: 5px 0;
}
#intro .tab-inner ul.intro-tip li:first-child{
    border-top: 0 none;
}
#intro .tab-inner ul.intro-tip li i{
    color: #5f83f2;
    margin: 0 5px 0 0;
}
#intro .tab-inner ul.intro-link{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-flow: row wrap;
    flex-wrap: wrap;
    list-style: none;
    width: 340px;
    padding: 0;
    margin: 0 auto;
}
#intro .tab-inner ul.intro-link li{
    flex: 0 0 50%;
    position: relative;
}
#intro .tab-inner ul.intro-link li .img{
    display: block;
    margin: 0;
}
#intro .tab-inner ul.intro-link li .img img{
    height: 80px;
}
#intro .tab-inner ul.intro-link li dl,
#intro .tab-inner ul.intro-link li dt,
#intro .tab-inner ul.intro-link li dd{
    padding: 0;
    margin: 0;
}
#intro .tab-inner ul.intro-link li dl{
    position: relative;
    padding: 0 10px 10px;
    margin: 5px;
    background-color: #f3f4f9;
    border: 1px solid #cfd5eb;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
#intro .tab-inner ul.intro-link li dt{
    font-size: 18px;
}
#intro .tab-inner ul.intro-link li dd{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#intro .tab-inner ul.intro-link li dd a{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    word-break: keep-all;
    opacity: 0;
    transition: opacity .3s;
}
#intro .tab-inner ul.intro-link li dd a:hover,
#intro .tab-inner ul.intro-link li dd a:focus{
    opacity: 1;
}