@CHARSET "UTF-8";

@import './font.css';
@import './reset.css';
@import './common.css';
@import './input.css';
@import './button.css';
@import './popup.css';
@import '../vender/fontawesome/css/all.css';
@import '../vender/scrollbar/jquery.mCustomScrollbar.css';
@import '../vender/pagination/pagination2.css';

/***********************
 *        color
 ***********************/
.color-point{
    color: #e03232;
}
.color-main{
    color: #5f83f2;
}
.color-sub1{
    color: #35ccd5;
}
.color-sub2{
    color: #233775;
}
/***********************
 *        icon
 ***********************/
.icon{
    display: inline-block;
    line-height: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-past-search{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 31.3 28.5' style='enable-background:new 0 0 31.3 28.5%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:none%3B%7D .st1%7Bfill:%23040000%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M18.9%2C19.1c0%2C0.5%2C0%2C0.9-0.1%2C1.4c0.5-0.2%2C1-0.5%2C1.5-0.8l1.5-1l1-1.5c1-1.5%2C1.5-3.2%2C1.5-5c0-5-4.1-9.1-9.1-9.1 c-4.4%2C0-8%2C3.1-8.9%2C7.2c1-0.4%2C2.1-0.6%2C3.2-0.6C14.7%2C9.6%2C18.9%2C13.9%2C18.9%2C19.1z'/%3E %3Cpath class='st1' d='M30.6%2C24.1l-5.3-5.3c1.3-1.9%2C2-4.2%2C2-6.7C27.3%2C5.4%2C21.9%2C0%2C15.2%2C0S3%2C5.4%2C3%2C12.1c0%2C0%2C0%2C0%2C0%2C0 c0.9-0.9%2C2-1.5%2C3.2-2C7.1%2C6.1%2C10.8%2C3%2C15.2%2C3c5%2C0%2C9.1%2C4.1%2C9.1%2C9.1c0%2C1.8-0.5%2C3.5-1.5%2C5l-1%2C1.5l-1.5%2C1c-0.5%2C0.3-1%2C0.6-1.5%2C0.8 c-0.2%2C1.3-0.6%2C2.5-1.3%2C3.5c1.6-0.3%2C3.1-1%2C4.4-1.8l5.2%2C5.2c0.5%2C0.5%2C1.1%2C0.7%2C1.7%2C0.7c0.6%2C0%2C1.2-0.2%2C1.7-0.7v0 C31.5%2C26.5%2C31.5%2C25%2C30.6%2C24.1z'/%3E %3C/g%3E %3Cg%3E %3Cpath class='st1' d='M9.5%2C9.6C4.2%2C9.6%2C0%2C13.9%2C0%2C19.1s4.2%2C9.5%2C9.5%2C9.5s9.5-4.2%2C9.5-9.5S14.7%2C9.6%2C9.5%2C9.6z M9.5%2C25.5 c-3.6%2C0-6.5-2.9-6.5-6.5s2.9-6.5%2C6.5-6.5c3.6%2C0%2C6.5%2C2.9%2C6.5%2C6.5S13%2C25.5%2C9.5%2C25.5z'/%3E %3Cpolygon class='st1' points='10%2C20.3 10%2C16.2 8.5%2C16.2 8.5%2C19.7 5.9%2C21.8 6.8%2C22.9 10%2C20.4 10%2C20.3 '/%3E %3C/g%3E %3C/svg%3E");
}
.icon-past-search.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 31.3 28.5' style='enable-background:new 0 0 31.3 28.5%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:none%3B%7D .st1%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M18.9%2C19.1c0%2C0.5%2C0%2C0.9-0.1%2C1.4c0.5-0.2%2C1-0.5%2C1.5-0.8l1.5-1l1-1.5c1-1.5%2C1.5-3.2%2C1.5-5c0-5-4.1-9.1-9.1-9.1 c-4.4%2C0-8%2C3.1-8.9%2C7.2c1-0.4%2C2.1-0.6%2C3.2-0.6C14.7%2C9.6%2C18.9%2C13.9%2C18.9%2C19.1z'/%3E %3Cpath class='st1' d='M30.6%2C24.1l-5.3-5.3c1.3-1.9%2C2-4.2%2C2-6.7C27.3%2C5.4%2C21.9%2C0%2C15.2%2C0S3%2C5.4%2C3%2C12.1c0%2C0%2C0%2C0%2C0%2C0 c0.9-0.9%2C2-1.5%2C3.2-2C7.1%2C6.1%2C10.8%2C3%2C15.2%2C3c5%2C0%2C9.1%2C4.1%2C9.1%2C9.1c0%2C1.8-0.5%2C3.5-1.5%2C5l-1%2C1.5l-1.5%2C1c-0.5%2C0.3-1%2C0.6-1.5%2C0.8 c-0.2%2C1.3-0.6%2C2.5-1.3%2C3.5c1.6-0.3%2C3.1-1%2C4.4-1.8l5.2%2C5.2c0.5%2C0.5%2C1.1%2C0.7%2C1.7%2C0.7c0.6%2C0%2C1.2-0.2%2C1.7-0.7v0 C31.5%2C26.5%2C31.5%2C25%2C30.6%2C24.1z'/%3E %3C/g%3E %3Cg%3E %3Cpath class='st1' d='M9.5%2C9.6C4.2%2C9.6%2C0%2C13.9%2C0%2C19.1s4.2%2C9.5%2C9.5%2C9.5s9.5-4.2%2C9.5-9.5S14.7%2C9.6%2C9.5%2C9.6z M9.5%2C25.5 c-3.6%2C0-6.5-2.9-6.5-6.5s2.9-6.5%2C6.5-6.5c3.6%2C0%2C6.5%2C2.9%2C6.5%2C6.5S13%2C25.5%2C9.5%2C25.5z'/%3E %3Cpolygon class='st1' points='10%2C20.3 10%2C16.2 8.5%2C16.2 8.5%2C19.7 5.9%2C21.8 6.8%2C22.9 10%2C20.4 10%2C20.3 '/%3E %3C/g%3E %3C/svg%3E");
}
.icon-past-search.blue{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 31.3 28.5' style='enable-background:new 0 0 31.3 28.5%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:none%3B%7D .st1%7Bfill:%235f83f2%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M18.9%2C19.1c0%2C0.5%2C0%2C0.9-0.1%2C1.4c0.5-0.2%2C1-0.5%2C1.5-0.8l1.5-1l1-1.5c1-1.5%2C1.5-3.2%2C1.5-5c0-5-4.1-9.1-9.1-9.1 c-4.4%2C0-8%2C3.1-8.9%2C7.2c1-0.4%2C2.1-0.6%2C3.2-0.6C14.7%2C9.6%2C18.9%2C13.9%2C18.9%2C19.1z'/%3E %3Cpath class='st1' d='M30.6%2C24.1l-5.3-5.3c1.3-1.9%2C2-4.2%2C2-6.7C27.3%2C5.4%2C21.9%2C0%2C15.2%2C0S3%2C5.4%2C3%2C12.1c0%2C0%2C0%2C0%2C0%2C0 c0.9-0.9%2C2-1.5%2C3.2-2C7.1%2C6.1%2C10.8%2C3%2C15.2%2C3c5%2C0%2C9.1%2C4.1%2C9.1%2C9.1c0%2C1.8-0.5%2C3.5-1.5%2C5l-1%2C1.5l-1.5%2C1c-0.5%2C0.3-1%2C0.6-1.5%2C0.8 c-0.2%2C1.3-0.6%2C2.5-1.3%2C3.5c1.6-0.3%2C3.1-1%2C4.4-1.8l5.2%2C5.2c0.5%2C0.5%2C1.1%2C0.7%2C1.7%2C0.7c0.6%2C0%2C1.2-0.2%2C1.7-0.7v0 C31.5%2C26.5%2C31.5%2C25%2C30.6%2C24.1z'/%3E %3C/g%3E %3Cg%3E %3Cpath class='st1' d='M9.5%2C9.6C4.2%2C9.6%2C0%2C13.9%2C0%2C19.1s4.2%2C9.5%2C9.5%2C9.5s9.5-4.2%2C9.5-9.5S14.7%2C9.6%2C9.5%2C9.6z M9.5%2C25.5 c-3.6%2C0-6.5-2.9-6.5-6.5s2.9-6.5%2C6.5-6.5c3.6%2C0%2C6.5%2C2.9%2C6.5%2C6.5S13%2C25.5%2C9.5%2C25.5z'/%3E %3Cpolygon class='st1' points='10%2C20.3 10%2C16.2 8.5%2C16.2 8.5%2C19.7 5.9%2C21.8 6.8%2C22.9 10%2C20.4 10%2C20.3 '/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-document{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 27.1 27.8' style='enable-background:new 0 0 27.1 27.8%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%233e3a39%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M22.5%2C24.8H3V3h18v2c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5S24%2C5.8%2C24%2C5V1.5C24%2C0.7%2C23.3%2C0%2C22.5%2C0h-21C0.7%2C0%2C0%2C0.7%2C0%2C1.5v24.8 c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5h21c0.8%2C0%2C1.5-0.7%2C1.5-1.5S23.3%2C24.8%2C22.5%2C24.8z'/%3E %3Cpath class='st0' d='M26.9%2C23.8L24%2C19.3c1.4-1.4%2C2.3-3.3%2C2.3-5.4c0-4.2-3.4-7.5-7.5-7.5c-0.8%2C0-1.6%2C0.1-2.3%2C0.4c-0.1%2C0-0.2%2C0-0.3%2C0 H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h6c-0.5%2C0.8-0.9%2C1.6-1.1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h4.9 c0.2%2C0.9%2C0.5%2C1.8%2C1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h8.9c0.1%2C0%2C0.2%2C0%2C0.3%2C0c0.9%2C0.4%2C2%2C0.7%2C3.1%2C0.7 c1%2C0%2C1.9-0.2%2C2.7-0.5l2.9%2C4.5c0.3%2C0.4%2C0.8%2C0.7%2C1.3%2C0.7c0.3%2C0%2C0.6-0.1%2C0.8-0.2C27.1%2C25.4%2C27.3%2C24.5%2C26.9%2C23.8z M14.2%2C13.9 c0-2.5%2C2-4.5%2C4.5-4.5s4.5%2C2%2C4.5%2C4.5c0%2C2.5-2%2C4.5-4.5%2C4.5S14.2%2C16.4%2C14.2%2C13.9z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-document.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 27.1 27.8' style='enable-background:new 0 0 27.1 27.8%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M22.5%2C24.8H3V3h18v2c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5S24%2C5.8%2C24%2C5V1.5C24%2C0.7%2C23.3%2C0%2C22.5%2C0h-21C0.7%2C0%2C0%2C0.7%2C0%2C1.5v24.8 c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5h21c0.8%2C0%2C1.5-0.7%2C1.5-1.5S23.3%2C24.8%2C22.5%2C24.8z'/%3E %3Cpath class='st0' d='M26.9%2C23.8L24%2C19.3c1.4-1.4%2C2.3-3.3%2C2.3-5.4c0-4.2-3.4-7.5-7.5-7.5c-0.8%2C0-1.6%2C0.1-2.3%2C0.4c-0.1%2C0-0.2%2C0-0.3%2C0 H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h6c-0.5%2C0.8-0.9%2C1.6-1.1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h4.9 c0.2%2C0.9%2C0.5%2C1.8%2C1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h8.9c0.1%2C0%2C0.2%2C0%2C0.3%2C0c0.9%2C0.4%2C2%2C0.7%2C3.1%2C0.7 c1%2C0%2C1.9-0.2%2C2.7-0.5l2.9%2C4.5c0.3%2C0.4%2C0.8%2C0.7%2C1.3%2C0.7c0.3%2C0%2C0.6-0.1%2C0.8-0.2C27.1%2C25.4%2C27.3%2C24.5%2C26.9%2C23.8z M14.2%2C13.9 c0-2.5%2C2-4.5%2C4.5-4.5s4.5%2C2%2C4.5%2C4.5c0%2C2.5-2%2C4.5-4.5%2C4.5S14.2%2C16.4%2C14.2%2C13.9z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-document.blue{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 27.1 27.8' style='enable-background:new 0 0 27.1 27.8%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%2370768A%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M22.5%2C24.8H3V3h18v2c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5S24%2C5.8%2C24%2C5V1.5C24%2C0.7%2C23.3%2C0%2C22.5%2C0h-21C0.7%2C0%2C0%2C0.7%2C0%2C1.5v24.8 c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5h21c0.8%2C0%2C1.5-0.7%2C1.5-1.5S23.3%2C24.8%2C22.5%2C24.8z'/%3E %3Cpath class='st0' d='M26.9%2C23.8L24%2C19.3c1.4-1.4%2C2.3-3.3%2C2.3-5.4c0-4.2-3.4-7.5-7.5-7.5c-0.8%2C0-1.6%2C0.1-2.3%2C0.4c-0.1%2C0-0.2%2C0-0.3%2C0 H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h6c-0.5%2C0.8-0.9%2C1.6-1.1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h4.9 c0.2%2C0.9%2C0.5%2C1.8%2C1%2C2.6H6.4c-0.8%2C0-1.5%2C0.7-1.5%2C1.5s0.7%2C1.5%2C1.5%2C1.5h8.9c0.1%2C0%2C0.2%2C0%2C0.3%2C0c0.9%2C0.4%2C2%2C0.7%2C3.1%2C0.7 c1%2C0%2C1.9-0.2%2C2.7-0.5l2.9%2C4.5c0.3%2C0.4%2C0.8%2C0.7%2C1.3%2C0.7c0.3%2C0%2C0.6-0.1%2C0.8-0.2C27.1%2C25.4%2C27.3%2C24.5%2C26.9%2C23.8z M14.2%2C13.9 c0-2.5%2C2-4.5%2C4.5-4.5s4.5%2C2%2C4.5%2C4.5c0%2C2.5-2%2C4.5-4.5%2C4.5S14.2%2C16.4%2C14.2%2C13.9z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-page{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 25.3 27.4' style='enable-background:new 0 0 25.3 27.4%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%233e3a39%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M24%2C5.6h-5.1V1.4c0-0.8-0.6-1.4-1.4-1.4H1.4C0.6%2C0%2C0%2C0.6%2C0%2C1.4v19c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4h5.1v4.2 c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4H24c0.8%2C0%2C1.4-0.6%2C1.4-1.4V7C25.3%2C6.2%2C24.7%2C5.6%2C24%2C5.6z M2.8%2C19V2.8h13.4v2.9H7.8c-0.7%2C0-1.3%2C0.5-1.4%2C1.2 H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9v3.2H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9V19H2.8z M22.6%2C24.7H9.2V8.4 h13.4V24.7z'/%3E %3Cpath class='st0' d='M11.6%2C15.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4 C10.2%2C14.6%2C10.9%2C15.2%2C11.6%2C15.2z'/%3E %3Cpath class='st0' d='M11.6%2C21.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4s-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4S10.9%2C21.2%2C11.6%2C21.2z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-page.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 25.3 27.4' style='enable-background:new 0 0 25.3 27.4%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M24%2C5.6h-5.1V1.4c0-0.8-0.6-1.4-1.4-1.4H1.4C0.6%2C0%2C0%2C0.6%2C0%2C1.4v19c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4h5.1v4.2 c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4H24c0.8%2C0%2C1.4-0.6%2C1.4-1.4V7C25.3%2C6.2%2C24.7%2C5.6%2C24%2C5.6z M2.8%2C19V2.8h13.4v2.9H7.8c-0.7%2C0-1.3%2C0.5-1.4%2C1.2 H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9v3.2H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9V19H2.8z M22.6%2C24.7H9.2V8.4 h13.4V24.7z'/%3E %3Cpath class='st0' d='M11.6%2C15.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4 C10.2%2C14.6%2C10.9%2C15.2%2C11.6%2C15.2z'/%3E %3Cpath class='st0' d='M11.6%2C21.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4s-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4S10.9%2C21.2%2C11.6%2C21.2z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-page.blue{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 25.3 27.4' style='enable-background:new 0 0 25.3 27.4%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%2372788d%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M24%2C5.6h-5.1V1.4c0-0.8-0.6-1.4-1.4-1.4H1.4C0.6%2C0%2C0%2C0.6%2C0%2C1.4v19c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4h5.1v4.2 c0%2C0.8%2C0.6%2C1.4%2C1.4%2C1.4H24c0.8%2C0%2C1.4-0.6%2C1.4-1.4V7C25.3%2C6.2%2C24.7%2C5.6%2C24%2C5.6z M2.8%2C19V2.8h13.4v2.9H7.8c-0.7%2C0-1.3%2C0.5-1.4%2C1.2 H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9v3.2H5.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4s0.6%2C1.4%2C1.4%2C1.4h0.9V19H2.8z M22.6%2C24.7H9.2V8.4 h13.4V24.7z'/%3E %3Cpath class='st0' d='M11.6%2C15.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4c0-0.8-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4 C10.2%2C14.6%2C10.9%2C15.2%2C11.6%2C15.2z'/%3E %3Cpath class='st0' d='M11.6%2C21.2h8.6c0.8%2C0%2C1.4-0.6%2C1.4-1.4s-0.6-1.4-1.4-1.4h-8.6c-0.8%2C0-1.4%2C0.6-1.4%2C1.4S10.9%2C21.2%2C11.6%2C21.2z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-fave{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%233e3a39%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-fave.white{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-fave.gray{
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%23c5c6c9%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}
.icon-view-fave.blue {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='%EB%A0%88%EC%9D%B4%EC%96%B4_1' x='0px' y='0px' viewBox='0 0 35.3 34.6' style='enable-background:new 0 0 35.3 34.6%3B' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .st0%7Bfill:%2372788D%3B%7D %3C/style%3E %3Cg%3E %3Cpath class='st0' d='M34.8%2C14.6L30%2C10.5c0%2C0%2C0%2C0%2C0%2C0c-0.1-0.1-0.3-0.2-0.4-0.2c0%2C0%2C0%2C0%2C0%2C0l-4.8-1.7c-0.8-0.3-1.6%2C0.1-1.9%2C0.9 c-0.3%2C0.8%2C0.1%2C1.6%2C0.9%2C1.9l1.9%2C0.7L19%2C16.2L10%2C13.3l1.6-1.1c0.7-0.5%2C0.9-1.4%2C0.4-2.1c-0.5-0.7-1.4-0.9-2.1-0.4l-4.1%2C2.8 c0%2C0%2C0%2C0-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0%2C0%2C0l-5.2%2C4.5c0%2C0%2C0%2C0%2C0%2C0c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0.1-0.1%2C0.1 c0%2C0-0.1%2C0.1-0.1%2C0.1c0%2C0%2C0%2C0%2C0%2C0c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1-0.1%2C0.2c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0.1%2C0%2C0.1%2C0%2C0.1 c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1c0%2C0%2C0.1%2C0.1%2C0.1%2C0.1c0%2C0%2C0%2C0.1%2C0.1%2C0.1 c0%2C0%2C0%2C0%2C0%2C0c0.1%2C0.1%2C0.1%2C0.1%2C0.2%2C0.2c0%2C0%2C0%2C0%2C0.1%2C0c0.1%2C0.1%2C0.2%2C0.1%2C0.2%2C0.1c0%2C0%2C0%2C0%2C0%2C0l4.6%2C2.1c0%2C0.1-0.1%2C0.3-0.1%2C0.4v6.9 c0%2C0.7%2C0.4%2C1.2%2C1%2C1.4l12.5%2C4c0.4%2C0.1%2C0.9%2C0.1%2C1.3-0.2l9.9-6.2c0.4-0.3%2C0.7-0.8%2C0.7-1.3v-6.4c0-0.2-0.1-0.5-0.2-0.7l4.1-2.8 c0.4-0.3%2C0.6-0.7%2C0.6-1.2C35.3%2C15.4%2C35.1%2C14.9%2C34.8%2C14.6z M4.2%2C17.9L7%2C15.5l9.8%2C3.1l-3%2C3.6L4.2%2C17.9z M8.4%2C26.9v-3.8l5.3%2C2.4 c0.2%2C0.1%2C0.4%2C0.1%2C0.6%2C0.1c0.4%2C0%2C0.9-0.2%2C1.1-0.5l2.4-2.8l0.1%2C8.8l-8.4-2.7C8.8%2C28.1%2C8.4%2C27.5%2C8.4%2C26.9z M27.7%2C25.2 c0%2C0.5-0.3%2C1-0.7%2C1.3l-6.2%2C3.9l-0.1-8.9l2.7%2C2c0.5%2C0.4%2C1.2%2C0.4%2C1.8%2C0l2.5-1.7V25.2z M24.4%2C20.4l-3-2.2l7.5-4.7l2.5%2C2.1L24.4%2C20.4z'/%3E %3Cpath class='st0' d='M16.4%2C12.6c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l4.4-4.4c0.7-0.7%2C0.2-1.8-0.8-1.8h-2.1v-4c0-1.3-1-2.3-2.3-2.3 c-1.3%2C0-2.3%2C1-2.3%2C2.3v4h-2.1c-0.9%2C0-1.4%2C1.1-0.8%2C1.8L16.4%2C12.6z'/%3E %3C/g%3E %3C/svg%3E");
}
/***********************
 *       layout
 ***********************/
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
}

/***********************
 *       chat
 ***********************/
.chat-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 55px;
    padding-bottom: 75px;
    padding-left: 65px;
}

.chat-header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: 8px 10px;
    background-color: #5f83f2;
    border: 1px solid #5f83f2;
    border-radius: 10px 10px 0 10px;
}
.chat-header .logo{
    position: absolute;
    /*left: 15px;*/
    left: 10px;
    top: 0;
    height: 50px;
    line-height: 1;
    /*padding: 8px 0 0 50px;*/
    padding: 8px 0 0 43px;
    font-family: 'hh';
    font-size: 22px;
    /*background-image: url(../images/logo_bot.png);
    background-position: left center;
    background-repeat: no-repeat;*/
    background-image: url(../images/logo_mobis.svg);
    background-position: 0 6px;
    background-repeat: no-repeat;
    background-size: 36px 36px;
}
.chat-header .logo:after{
    content:"";
    display: block;
    position: absolute;
    /*left: 50px;*/
    left: 43px;
    bottom: 8px;
    font-size: 14px;
    color: #fff;
}
.chat-header .logo .font-mai,
.chat-header .logo .font-bot{
}
.chat-header .logo .font-mai{
    color: #fff;
}
.chat-header .logo .font-bot{
    color: #cfd5eb;
}

.chat-header .profile{
    float: right;
    color: #fff;
}
.chat-header .profile dl,
.chat-header .profile dt,
.chat-header .profile dd{
    padding: 0;
    margin: 0;
    text-align: right;
}
.chat-header .profile dl{
    position: relative;
    /*padding-right: 32px;*/
}
.chat-header .profile dt span,
.chat-header .profile dt b{
    display: block;
    padding: 2px 5px;
    line-height: 1;
}
.chat-header .profile dt span{
    font-weight: 400;
    font-size: 12px;
}
.chat-header .profile dd{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #5f83f2;
    border-radius: 50%;
    overflow: hidden;
}
.chat-header .profile dd img{
    width: 30px;
    height: 30px;
}

.chat-menu{
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 1;
    width: 60px;
    height: calc(100% - 55px);
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 10px 0 10px 10px;
    transition: width .3s;
}

.btn-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 55px;
    padding-left: 55px;
    background-size: 18px;
    white-space: pre;
    overflow: hidden;
    text-indent: 10px;
}
.btn-menu img{
    position: absolute;
    left: 19px;
    top: 50%;
    width: 18px;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-indent: 0;
}
.btn-menu.menu-close{
    display: none;
}
.btn-menu:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 1px;
    background: #cfd5eb;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
[data-menu="open"] .chat-wrap{
    padding-left: 125px;
}
[data-menu="open"] .chat-menu{
    width: 120px;
}
[data-menu="open"] .menu-bot li a{
    width: 108px;
}
[data-menu="open"] .menu-bot li a span{
    color: #9d9d9f;
}
[data-menu="open"] .menu-bot li a:hover span{
    color: #fff;
}
[data-menu="open"] .btn-menu{
    text-indent: -5px;
}
[data-menu="open"] .btn-menu.menu-open{
    display: none;
}
[data-menu="open"] .btn-menu.menu-close{
    display: block;
}
[data-menu="open"] .chat-menu .btn-menu:after{
    width: 100px;
}
.chat-menu ul,
.chat-menu li{
    list-style: none;
}
.menu-bot{
    padding: 5px 0;
    margin: 50px 5px 0;
}
.menu-bot li{
    margin: 10px 0;
}
.menu-bot li a{
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    padding-left: 44px;
    border-radius: 23px;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    overflow: hidden;
    transition: width .3s;
    box-shadow: #cfd5eb 0px 1px 3px 0px;
}
.menu-bot li a[data-bot]:after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;
}
.menu-bot li a span{
    display: block;
    line-height: 46px;
    color: #fff;
}

.menu-bot li a.on{
    background-color: #5f83f2;
    border: 1px solid #5f83f2;
}
.menu-bot li a.on span{
    color: #fff;
}
.menu-bot li a:hover{
    width: 108px;
    background-color: #5f83f2;
}

.menu-bot a[data-bot="bot-BK59"]:after,
.menu-bot a[data-bot="bot-BK59"]:hover:after,
.menu-bot a[data-bot="bot-BK59"].on:hover:after{
    background-image: url(../images/menu/menu_1_off.svg);
}
/* .menu-bot a[data-bot="bot-BK59"].on:after{
	background-image: url(../images/menu/menu_1_on.svg);
} */

.menu-bot a[data-bot="bot-BK56"]:after,
.menu-bot a[data-bot="bot-BK56"]:hover:after,
.menu-bot a[data-bot="bot-BK56"].on:hover:after{
    background-image: url(../images/menu/menu_2_off.svg);
}
/* .menu-bot a[data-bot="bot-BK56"].on:after{
	background-image: url(../images/menu/menu_2_on.svg);
} */

.menu-bot a[data-bot="bot-BK58"]:after,
.menu-bot a[data-bot="bot-BK58"]:hover:after,
.menu-bot a[data-bot="bot-BK58"].on:hover:after{
    background-image: url(../images/menu/menu_3_off.svg);
}
/* .menu-bot a[data-bot="bot-BK58"].on:after{
	background-image: url(../images/menu/menu_3_on.svg);
} */

.menu-bot a[data-bot="bot-BK57"]:after,
.menu-bot a[data-bot="bot-BK57"]:hover:after,
.menu-bot a[data-bot="bot-BK57"].on:hover:after{
    background-image: url(../images/menu/menu_4_off.svg);
}
/* .menu-bot a[data-bot="bot-BK57"].on:after{
	background-image: url(../images/menu/menu_4_on.svg);
} */

.menu-bot a[data-bot="bot-BK62"]:after,
.menu-bot a[data-bot="bot-BK62"]:hover:after,
.menu-bot a[data-bot="bot-BK62"].on:hover:after{
    background-image: url(../images/menu/menu_5_off.svg);
}
/* .menu-bot a[data-bot="bot-BK62"].on:after{
	background-image: url(../images/menu/menu_5_on.svg);
} */

.menu-etc{
    list-style: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    margin: 0;
}
.menu-etc li.line:after{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    margin: 10px auto;
    background: #cfd5eb;
}
[data-menu="open"] .menu-etc li.line:after{
    width: 100px;
}

.menu-etc a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 55px;
    white-space: pre;
    overflow: hidden;
    text-indent: 10px;
}
.menu-etc a i{
    position: absolute;
    left: 15px;
    top: 50%;
    color: #5f83f2;
    font-size: 24px;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-indent: 0;
}

[data-menu="open"] .menu-etc a{
    text-indent: -5px;
}

.chat-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: calc(100% - 65px);
}

[data-menu="open"] .chat-footer{
    width: calc(100% - 125px);
}

.chat-active{
    height: 35px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
}
.chat-active::before{
    color: #5f83f2;
}
.chat-input{
    position: relative;
    height: 40px;
    padding: 8px 40px;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 10px;
    overflow: hidden;
}
.chat-input textarea{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0 none;
    background-color: transparent;
    vertical-align: top;
}
.chat-input a{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 100%;
    padding: 7px 0;
    text-align: center;
    font-size: 22px;
}
.chat-input a i{
    vertical-align: top;
}
.chat-input .btn-msg{
    left: 0;
    top: 0;
    color: #ccc;
}
.chat-input .btn-send{
    right: 0;
    top: 0;
    color: #5f83f2;
}

.chat-body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: width .3s;
}
.chat-body ul,
.chat-body li{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.chat-body li{
    margin: 0 0 5px 0;
}
.comment-list li:not(.bot-loading) .comment-block{
    animation: opacity-active 0.5s ease;
}
@keyframes opacity-active {
    0% {
        opacity: 0;
    } 100% {
          opacity: 1;
      }
}
.comment-list .comment-block{
    max-width: 90%;
}
[data-menu="open"] .comment-list .comment-block{
    max-width: calc(100% - 5px)
}
.comment-list .comment-box{
    padding: 8px 12px 1px 12px;
    margin: 0 0 10px 0;
    border-radius: 3px;
}
.comment-list p{
    margin: 0 0 8px 0;
    word-break: break-word;
}
.comment-list .comment-answer{
    position: relative;
    padding-left: 45px;
}
.comment-list .comment-answer:before{
    content: '';
    display: block;
    height: 15px;
    line-height: 1;
    font-size: 12px;
}
.comment-list .comment-answer:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    /*background: #5f83f2 url(../images/logo_bot.png) no-repeat center;*/
    background: #5f83f2 url(../images/logo_mobis.svg) no-repeat center;
    background-size: 28px 28px;
    border-radius: 50%;
}
.comment-list .comment-answer .comment-time{
    position: absolute;
    left: 0;
    top: 40px;
    width: 40px;
    text-align: center;
    font-size: 12px;
}
.comment-list .comment-answer .comment-feedback{
    display: flex;
    margin: -5px 0 10px 0;
    justify-content: flex-end;
}
.comment-list .comment-answer .comment-feedback a{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-indent: -9999px;
}
.comment-list .comment-answer .comment-feedback a::after{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: 0;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.comment-list .comment-answer .comment-feedback a.btn-like{
    background-color: #6773d1;
}
.comment-list .comment-answer .comment-feedback a.btn-like::after{
    content: "\f164";
}
.comment-list .comment-answer .comment-feedback a.btn-dislike{
    background-color: #ff6378;
}
.comment-list .comment-answer .comment-feedback a.btn-dislike::after{
    content: "\f165";
}
.comment-list .comment-answer .comment-block{
    float: left;
}
.comment-list .comment-answer .comment-header{
    height: 34px;
    line-height: 34px;
    padding: 0 12px;
    color: #fff;
    background-color: #233775;
    border-radius: 3px 3px 0 0;
}
.comment-list .comment-answer .comment-header + .comment-box{
    border-radius: 0 0 3px 3px !important;
}
.comment-list .comment-answer .comment-box{
    background-color: #fff;
    border: 1px solid #cfd5eb;
}
.comment-list .comment-answer .comment-box.comment-eorr-box{
    background-color: #cfd5eb;
}
.comment-list .comment-answer .buttons{
    margin-right: -3px;
    overflow: hidden;
}
.comment-list .comment-message{
    position: relative;
    padding: 0 5px 8px 0;
}
.comment-list .comment-message .comment-time{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 5px;
    margin: 0;
    font-size: 12px;
}
.comment-list .comment-message .comment-block{
    float: right;
}
.comment-list .comment-message .comment-box{
    color: #fff;
    background-color: #72788d;
}
[data-active-bot="bot-BK59"] .chat-active::before,
[data-active-bot="bot-BK59"] .chat-header .logo:after,
[data-active-bot="bot-BK59"] .comment-list .comment-answer:before{
    content: '회사생활봇';
}
[data-active-bot="bot-BK56"] .chat-active::before,
[data-active-bot="bot-BK56"] .chat-header .logo:after,
[data-active-bot="bot-BK56"] .comment-list .comment-answer:before{
    content: '해결봇';
}
[data-active-bot="bot-BK58"] .chat-active::before,
[data-active-bot="bot-BK58"] .chat-header .logo:after,
[data-active-bot="bot-BK58"] .comment-list .comment-answer:before{
    content: '도우봇';
}
[data-active-bot="bot-BK57"] .chat-active::before,
[data-active-bot="bot-BK57"] .chat-header .logo:after,
[data-active-bot="bot-BK57"] .comment-list .comment-answer:before{
    content: '품질';
}
[data-active-bot="bot-BK62"] .chat-active::before,
[data-active-bot="bot-BK62"] .chat-header .logo:after,
[data-active-bot="bot-BK62"] .comment-list .comment-answer:before{
    content: '지능봇';
}
/***********************
 *       search
 ***********************/
[data-search="open"] .wrap{
    padding-left: 435px
}
[data-search="open"] .chat-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 420px;
    height: calc(100% - 10px);
    margin: 5px;
}
[data-search="open"] .search-wrap{
    display: block;
}
.search-wrap{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}
.search-wrap-inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.search-tabs{
    position: relative;
    height: calc(100% - 45px);
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #cfd5eb;
    border-radius: 0 0 10px 10px;
}
.tab{
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.search-header{
    position: relative;
    height: 45px;
    padding: 0 85px 9px 15px;
}
.search-header::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #cfd5eb;
    border-radius: 10px 10px 0 0;
}
.search-header .tabbar{
    position: relative;
    z-index: 1;
}
.search-header .tabbar ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.search-header .tabbar ul li{
    position: relative;
    max-width: 150px;
    padding-right: 30px;
    margin: 0 0 0 1px;
    overflow: hidden;
    white-space: nowrap;
}
.search-header .tabbar ul li::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 1px;
    height: 15px;
    background-color: #7d7b7d;
}
.search-header .tabbar ul li:first-child::before,
.search-header .tabbar ul li.on::before,
.search-header .tabbar ul li.on + ::before{
    display: none;
}
.search-header .tabbar ul li a{
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 10px;
    color: #727071;
    font-size: 12px;
    white-space: nowrap;
}
.search-header .tabbar ul li.on{
    background-color: #fff;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #cfd5eb;
    border-radius: 10px 10px 0 0;
}
.search-header .tabbar ul li.tab-add{
    width: 40px;
    padding: 0;
}
.search-header .tabbar ul li.tab-add a{
    padding: 1px 10px;
    font-size: 18px;
}
.search-header .tabbar ul li.on a{
    font-weight: 600;
    color: #3e3a39;
}
.search-header .tabbar ul li a.btn-tab-delete{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(245,245,245,0.3) 11%, rgba(245,245,245,1) 36%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(245,245,245,0.3) 11%,rgba(245,245,245,1) 36%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(245,245,245,0.3) 11%,rgba(245,245,245,1) 36%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6f5f5f5',GradientType=1 );
}
.search-header .tabbar ul li.on a.btn-tab-delete{
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 11%, rgba(255,255,255,1) 36%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 11%,rgba(255,255,255,1) 36%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 11%,rgba(255,255,255,1) 36%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffffff',GradientType=1 );
}
.search-header .buttons{
    position: absolute;
    right: 0;
    top: -5px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #cfd5eb;
    overflow: hidden;
}
.search-header .buttons a{
    display: block;
    position: relative;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 12px;
    color: #c5c6c9;
}
.search-header .buttons a::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 1px;
    height: 15px;
    background-color: #cfd5eb;
}
.search-header .buttons a:first-child::before{
    display: none;
}
.search-header .buttons a .icon.icon-view-fave{
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}
.header-group{
    position: relative;
    z-index: 0;
    display: table-header-group;
}
.row-group{
    position: relative;
    z-index: 0;
    display: table-row-group;
}
.row{
    position: relative;
    z-index: 0;
    display: table-row;
}
.cell{
    display: table-cell;
    padding: 5px 15px;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: #cfd5eb;
    vertical-align: top;
}

.main-input-box{
    height: 100%;
    text-align: center;
    vertical-align: middle !important;
}
.main-input-box .label{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #5f83f2 url(../images/menu/menu_5_off.svg) center;
    border-radius: 25px;
    font-size: 18px;
    font-family: hh;
    font-weight: 600;
    color: #727071;
    text-indent: -9999px;
    vertical-align: middle;
}
.search-main-input .input{
    display: inline-block;
    width: calc(100% - 100px);
    height: 40px;
    line-height: 40px;
    background-color: #f3f4f9;
    border-radius: 20px;
    vertical-align: middle;
}
.search-main-input .input input{
    float: left;
    width: calc(100% - 50px);
    height: 100%;
    padding-left: 20px;
    border: 0 none;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}
.search-main-input .input a{
    display: block;
    float: right;
    width: 40px;
    text-align: left;
    font-size: 18px;
    color: #757a8f;
}

.main-summary-box{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: bottom !important;
}
.main-summary-box .summary{
    margin: 5px 0;
    border: 1px solid #cfd5eb;
    border-radius: 10px;
    overflow: hidden;
}
.main-summary-box .summary .title{
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 15px;
    background-color: #f3f4f9;
    border-bottom: 1px solid #cfd5eb;
    color: #72788d;
    font-family: hh;
    font-weight: 600;
    overflow: hidden;
}
.main-summary-box .summary .title a.btn-reflesh{
    display: block;
    float: right;
    padding: 0 15px;
    color: #72788d;
    opacity: 0.7;
    transition: opacity .3s;
}
.main-summary-box .summary .title a.btn-reflesh:hover{
    opacity: 1;
}
.main-summary-box .summary .empty{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-summary-box .summary .list{
    padding: 0 15px;
    list-style: none;
    margin: 0;
}
.main-summary-box .summary .list li{
    position: relative;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #cfd5eb;
}
.main-summary-box .summary .list li:nth-child(4),
.main-summary-box .summary .list li:nth-child(5){
    display: none;
}
.main-summary-box .summary .list li:nth-child(5){
    border-bottom: 0 none;
}
.main-summary-box .summary .list li .text{
    display: block;
    width: calc(100% - 50px);
    height: 100%;
    color: #5e6065;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*주간 인기 검색어*/
.main-summary-box .summary.num-summary .list li .text::before{
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: 0 8px 0 0;
    text-align: center;
    background-color: #35ccd5;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    vertical-align: 1px;
}
.main-summary-box .summary.num-summary .list li:nth-child(1) .text::before{
    content:"1";
}
.main-summary-box .summary.num-summary .list li:nth-child(2) .text::before{
    content:"2";
}
.main-summary-box .summary.num-summary .list li:nth-child(3) .text::before{
    content:"3";
}
.main-summary-box .summary.num-summary .list li:nth-child(4) .text::before{
    content:"4";
}
.main-summary-box .summary.num-summary .list li:nth-child(5) .text::before{
    content:"5";
}
.main-summary-box .summary.num-summary .list li .label i{
    margin-right: 3px;
    font-size: 18px;
    vertical-align: -1px;
}
.main-summary-box .summary.num-summary .list li .label i.fa-long-arrow-alt-up{
    color: red;
}
.main-summary-box .summary.num-summary .list li .label i.fa-long-arrow-alt-down{
    color: blue;
}
/*최근 검색한 목록*/
.main-summary-box .summary.date-summary .list li .btn-search{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width:100%;
    padding: 0 10px;
    text-align: right;
    color: #5e6065;
    opacity: 0.6;
    transition: opacity .3s;
}
.main-summary-box .summary.date-summary .list li:hover .btn-search{
    opacity: 1;
}
/*즐겨찾기 문서*/
.main-summary-box .summary.fave-summary .list li .text::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f005";
    color: #ff9c00;
    font-size: 16px;
    margin-right: 5px;
}
.main-summary-box .summary .list .btn-delete,
.main-summary-box .summary .list .label{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    color: #5e6065;
    font-weight: 600;
    text-align: right;
}
.main-summary-box .summary .list .btn-delete{
    opacity: 0.6;
    width: 36px;
    text-align: center;
    transition: opacity .3s;
}
.main-summary-box .summary .list li:hover .btn-delete{
    opacity: 1;
}
.main-summary-box .summary .list .label.new{
    font-weight: 600;
    font-family: hh;
    font-size: 12px;
    color: #ff3a33;
}
@media only screen and (max-width: 1024px) {
    .main-summary-box .summary .list li:nth-child(3){
        border-bottom: 0 none;
    }
}
@media only screen and (min-width: 1025px) {
    .main-input-box .label{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        font-size: 18px;
    }
    .search-main-input .input{
        height: 50px;
        line-height: 50px;
        max-width: 600px;
        border-radius: 25px;
    }
    .search-main-input .input input{
        padding-left: 25px;
        font-size: 16px;
    }
    .main-summary-box{
        text-align: center;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .main-summary-box .summary{
        float: left;
        width: calc(33.3% - 10px);
        height: 235px;
        margin: 10px 5px;
        text-align: left;
    }
    .main-summary-box .summary .title{
        height: 45px;
        line-height: 45px;
    }
    .main-summary-box .summary .empty{
        height: calc(100% - 45px);
    }
    .main-summary-box .summary .list{
        padding-top: 5px;
    }
    .main-summary-box .summary .list li{
        height: 36px;
        line-height: 36px;
    }
    .main-summary-box .summary .list li:nth-child(4),
    .main-summary-box .summary .list li:nth-child(5){
        display: block;
    }
}

.main-notice-box{
    text-align: center;
    vertical-align: bottom !important;
}
.main-notice-box img{
    height: 100%;
}

.search-input{

}
.search-input .input-box{
    line-height: 50px;
    padding-bottom: 2px;
}
.search-input .input-box .label{
    display: inline-block;
    width: 80px;
    height: 100%;
    font-size: 18px;
    font-family: hh;
    font-weight: 600;
    color: #727071;
}
.search-input .input-box .input{
    display: inline-block;
    width: calc(100% - 100px);
    height: 40px;
    background-color: #f3f4f9;
    border-radius: 20px;
    vertical-align: middle;
}
.search-input .input-box .input input{
    float: left;
    width: calc(100% - 40px);
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin: 0;
    border: 0 none;
    background-color: transparent;
    outline: none;
}
.search-input .input-box .input a{
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
    color: #757a8f;
}

.search-keyword .keyword-box{
    line-height: 28px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0 0 1px 0;
}
.search-keyword .keyword-box .label{
    display: inline-block;
    width: 90px;
    height: 28px;
    padding: 0 15px 0 0 ;
    font-family: hh;
    font-weight: 600;
    color: #727071;
    vertical-align: top;
}
.search-keyword .keyword-box .list{
    display: inline-block;
    width: calc(100% - 100px);
    list-style: none;
    padding: 0;
    margin: 0 -2px;
    overflow: hidden;
}
.search-keyword .keyword-box .list li{
    position: relative;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    margin: 2px;
    border-radius: 14px;
    background-color: #cfd5eb;
    color: #72788d;
    font-size: 12px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}
.search-keyword .keyword-box .list li.on{
    padding-right: 25px;
    background-color: #5f83f2;
    color: #fff;
}
.search-keyword .keyword-box .list li.on::after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f057";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.search-sort .sort-box{
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0 0 1px 0;
}
.search-sort .sort-box .sort,
.search-sort .sort-box .filter,
.search-sort .sort-box .cate{
    display: table;
    float: left;
    height: 49px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.search-sort .sort-box .sort,
.search-sort .sort-box .filter{
    margin-right: 30px;
}
.search-sort .sort-box .sort li,
.search-sort .sort-box .filter li,
.search-sort .sort-box .cate li{
    display: table-cell;
    position: relative;
    height: 50px;
}
.search-sort .sort-box .sort li::after,
.search-sort .sort-box .filter li::after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #5f83f2;
    -webkit-transition: .3s;
    transition: .3s;
}
.search-sort .sort-box .sort li a,
.search-sort .sort-box .filter li a{
    display: flex;
    height: 100%;
    padding: 0 15px;
    color: #72788d;
    align-items: center;
}
.search-sort .sort-box .sort li.on::after,
.search-sort .sort-box .filter li.on::after{
    width: 100%;
}
.search-sort .sort-box .sort li.on a,
.search-sort .sort-box .filter li.on a{
    font-family: hh;
    font-weight: 600;
    color: #5f83f2;
}
.search-sort .sort-box .cate{
    float: right;
}
.search-sort .sort-box .cate li{
    vertical-align: middle;
    padding-left: 4px;
}
.search-sort .sort-box .cate li a{
    position: relative;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 28px;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 14px;
    color: #72788d;
}
.search-sort .sort-box .cate li a::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px;
    width: 22px;
    height: 22px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.search-sort .sort-box .cate li.on a{
    border: 1px solid #5f83f2;
    background-color: #5f83f2;
    color: #fff;
}
.search-sort .sort-box .cate li.on a::before{
    line-height: 22px;
    border: 1px solid #fff;
}

.search-option{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 0;
}
.search-option .option-box{
    position: relative;
}
.search-option .option-box .buttons{
    position: absolute;
    right: 15px;
    bottom: -33px;
    z-index: 1;
    overflow: hidden;
}
.search-option .option-box .btn-option{
    display: block;
    float: right;
    width: 120px;
    height: 36px;
    line-height: 36px;
    margin-left: 3px;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 10px;
    color: #727071;
    text-align: center;
}
.search-option .option-box .btn-option i{
    font-size: 12px;
    margin-left: 5px;
}


.search-option[data-active="close"] .option-box .option{
    display: none;
}
.search-option[data-active="close"] .option-box .buttons{
    bottom: -33px;
}
.search-option[data-active="close"] .option-box .btn-option.btn-option-close{
    display: none;
}


.search-option[data-active="open"] .option{
    position: absolute;
    right: 15px;
    top: 42px;
    z-index: 1;
    max-width: 450px;
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #a2aac8;
    border-radius: 10px 0 10px 10px;
    box-shadow: 1px 4px 8px 0px #ccc;
}
.search-option[data-active="open"] .option .block{
    position: relative;
    display: flex;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #cfd5eb;
    align-items: center;
}
.search-option[data-active="open"] .option .block .input{
    width: 100%
}
.search-option[data-active="open"] .option .block .label{
    width: 120px;
    font-family: hh;
    font-weight: 600;
}
.search-option[data-active="open"] .option .block.date-block .input-group{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.search-option[data-active="open"] .option .block.date-block .input-group .input{
    padding: 0 3px;
}
.search-option[data-active="open"] .option .block.date-block .input-group .input.bar{
    width: 30px;
    text-align: center;
}
.search-option[data-active="open"] .btn-option{
    background-color: #f3f4f9;
    border-radius: 10px 10px 0 0;
    border-color: #a2aac8;
}
.search-option[data-active="open"] .btn-option.btn-option-close{
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.search-option[data-active="open"] .btn-option-open{
    display: none;
}



.search-option[data-active="fixed"] .option-box{
    float: left;
    width: 100%;
    height: 51px;
    border-width: 0 0 1px 0;
}
.search-option[data-active="fixed"] .option{
    display: flex;
}
.search-option[data-active="fixed"] .option .block{
    position: relative;
    padding: 0 5px;
}

.search-option[data-active="fixed"] .option .block.input-block .label{
    display: none;
}

.search-option[data-active="fixed"] .option .block.date-block .label{
    display: none;
}
.search-option[data-active="fixed"] .option .block.date-block .input-group{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.search-option[data-active="fixed"] .option .block.date-block .input-group .input{
    padding: 0 3px;
}
.search-option[data-active="fixed"] .option .block.date-block .input-group .input.bar{
    width: 20px;
    text-align: center;
}
.search-option[data-active="fixed"] .option .block.date-block .input-group .input select{
    width: 80px;
}
.search-option[data-active="fixed"] .option .block.date-block .input-group .input input[type="text"]{
    width: 80px;
}
.search-option[data-active="fixed"] .option .block.checkbox-block{
    overflow: hidden;
    min-width: 100px;
    height: 32px;
}
.search-option[data-active="fixed"] .option .block.checkbox-block .label{
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #cfd5eb;
    border-radius: 3px;
}
.search-option[data-active="fixed"] .option .block.checkbox-block .input{
    position: relative;
    z-index: 3;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 0 0 3px 3px;
}
.search-option[data-active="fixed"] .option .block.checkbox-block.on{
    height: auto;
}
.search-option[data-active="fixed"] .option .block.checkbox-block.on .label{
    border-bottom: 0 none;
    border-radius: 3px 3px 0 0;
}
.search-option[data-active="fixed"] .option .block.checkbox-block .input .checkbox{
    display: block;
    padding: 2px 0;
    margin: 3px 0;
    word-break: keep-all;
    white-space: nowrap;
}
.search-option[data-active="fixed"] .btn-option{
    border-radius: 0 0 10px 10px;
}
.search-option[data-active="fixed"] .btn-option:not(.btn-option-fixed) {
    background-color: #f3f4f9;
}
.search-option[data-active="fixed"] .btn-option.btn-option-fixed{
    border-top: 1px solid #fff;
}
.search-option[data-active="fixed"] .btn-option.btn-option-open {
    display: none;
}

.search-option[data-active="fixed"] + .search-total .total-box{
    padding-top: 15px;
}


.search-total .total-box{
    font-size: 16px;
}
.search-total i{
    margin: 0 5px 0 0;
}
.search-total .color-point{
    font-weight: 600;
}
.search-total b{
    color: #3e3a39;
}

.search-list{
    padding: 0 15px;
}
.search-list .list-box{
    position: relative;
    height: 100%;
}
.search-list .list-box .list{
    position: relative;
    width: 100%;
    height: 100%;
}
.search-list .list-box .inner{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.search-list table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.search-list table thead{
    background-color: #cfd5eb;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #a2aac8;
}
.search-list table thead th,
.search-list table tbody td{
    position: relative;
}
.search-list table thead th::before,
.search-list table tbody td::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 22px;
    background-color: #cfd5eb;
}
.search-list table thead th::before{
    background-color: #a2aac8;
}
.search-list table thead th:first-child::before,
.search-list table tbody td:first-child::before,
.search-list table thead th.title::before{
    display: none;
}

.search-list table thead th{
    height: 48px;
    font-family: ht;
    font-weight: 600;
    color: #797f94;
    text-align: center;
}
.search-list table thead th.fave{
    width: 45px;
    text-indent: -9999px;
}
.search-list table thead th.writer{
    width: 80px;
}
.search-list table thead th.team{
    width: 120px;
}
.search-list table thead th.date{
    width: 170px;
}
.search-list table thead th.edit{
    width: 170px;
}

.search-list table tbody td{
    height: 49px;
    padding: 0 12px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #cfd5eb;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.search-list table tbody td,
.search-list table tbody td a{
    text-align: center;
    color: #727071;
}
.search-list table tbody td a{
    position: relative;
    display: inline-block;
    max-width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}
.search-list table tbody td a.add-same-file{
    padding-right: 35px;
}
.search-list table tbody td a .same-file{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    color: #35ccd5;
}
.search-list table tbody td.title{
    text-align: left;
}

.search-list table tbody tr:hover{
    background-color: #f3f4f9;
}
.search-list table tbody tr:hover td,
.search-list table tbody tr:hover td a{
    color: #3e3a39;
    font-weight: 600;
}

@media only screen and (max-width: 1280px) {
    .search-list table thead th.date,
    .search-list table tbody td.date{
        display: none;
    }
}

.search-list .label{
    display: inline-block;
    margin: 0 3px 0 0;
    font-size: 12px;
    text-align: center;
    color: #fff;
    vertical-align: 1px;
}
.search-list .label::before{
    display: block;
    width: 15px;
    height: 15px;
    line-height: 16px;
}
.search-list .label-MCLOUD::before,
.search-sort .sort-box .cate li[data-source-system-type="MCLOUD"] a::before{
    background-color: #486a00;
    content: "M"
}
.search-list .label-QUALIFY::before,
.search-sort .sort-box .cate li[data-source-system-type="QUALIFY"] a::before{
    background-color: #486a00;
    content: "M"
}
.search-list .label-APPROVE::before,
.search-sort .sort-box .cate li[data-source-system-type="APPROVE"] a::before{
    background-color: #9e7f4d;
    content: "C"
}
.search-list .label-WIKI::before,
.search-sort .sort-box .cate li[data-source-system-type="WIKI"] a::before{
    background-color: #ecb574;
    content: "A"
}
.search-list .label-INTEGRITY::before,
.search-sort .sort-box .cate li[data-source-system-type="INTEGRITY"] a::before{
    background-color: #8957a1;content: "I"
}
.search-list .label-QMS::before,
.search-sort .sort-box .cate li[data-source-system-type="QMS"] a::before{
    background-color: #f76f1d;content: "Q"
}

.search-paging .paging{
    height: 86px;
}

.list-buttons{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 0 10px 10px;
    display: none;
    box-shadow: 1px 1px 1px #ccc;
}
.list-buttons::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #cfd5eb transparent transparent #cfd5eb;
}
.list-buttons.bottom{
    border-radius: 10px 10px 10px 0;
}
.list-buttons.bottom::after{
    top: initial;
    bottom: 0;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #cfd5eb #cfd5eb;
}
.list-buttons ul{
    list-style: none;
    padding: 5px 10px;
    margin: 0;
}
.list-buttons ul li{
    border-top: 1px solid #cfd5eb;
}
.list-buttons ul li:first-child{
    border-top: 0 none;
}
.list-buttons ul li a{
    display: block;
    padding: 3px 0;
    color: #72788d;
}
.list-buttons ul li a::before{
    content: "";
    display: inline-block;
    width: 18px;
    height : 15px;
    margin-right: 5px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}
.list-buttons ul li a.btn-view-document::before{
    background-image: url('../images/icon/icon_view_document.svg')
}
.list-buttons ul li a.btn-view-page::before{
    background-image: url('../images/icon/icon_view_page.svg')
}
.list-buttons ul li a.btn-view-similar::before{
    background-image: url('../images/icon/icon_view_similar.svg')
}
.list-buttons ul li a.btn-view-same::before{
    background-image: url('../images/icon/icon_view_same.svg')
}
.list-buttons ul li a.btn-view-fave::before{
    height: 20px;
    background-image: url('../images/icon/icon_view_fave.svg');
}

/***********************
 *      settings
 ***********************/
#settingsPopup{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    filter: alpha(opacity=0);
}
.settings-wrap{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}
.settings-content{
    position: absolute;
    left: 50%;
    top: calc(50% + 25px);
    width: 300px;
    height: 80%;
    max-height: 520px;
    padding: 0 5px 15px;
    background: #fff;
    border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.settings-top{
    position: relative;
    margin: -55px auto 0;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
}
.settings-top::before{
    content:"";
    display: block;
    position: relative;
    left: 5px;
    top: 5px;
    width: 100px;
    height: 100px;
    background: #5f83f2 url(../images/logo_bot.svg) center 5px no-repeat;
    background-size: 60px;
    border-radius: 50%;
}
.settings-top span{
    position: absolute;
    left: 0;
    bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.settings-block-group{
    height: calc(100% - 50px);
    overflow-y: auto;
}
.settings-block{
    padding: 0 10px;
    margin: 10px 0;
}
.settings-title{
    margin: 0 0 3px 0;
}
.settings-title i{
    margin-right: 5px;
    color: #cfd5eb;
    font-size: 16px;
    vertical-align: -1px;
}
.settings-info{
    padding-left: 20px;
    margin: 0 0 5px 0;
    color: #999;
    font-size: 12px;
    font-weight: 400;
}
.settings-list,
.settings-list li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.settings-list li{
    padding: 2px 0;
}
.settings-list li.disabled dl{
    background-color: #efefef;
}
.settings-list li.disabled dl dt,
.settings-list li.disabled dl dd{
    opacity: 0.7;
}
.settings-list dl,
.settings-list dt,
.settings-list dd{
    padding: 0;
    margin: 0;
}
.settings-list dl{
    position: relative;
    padding: 0 100px 0 15px;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 15px;
}
.settings-list dt{
    height: 30px;
    line-height: 30px;
    cursor: move;
}
.settings-list dt i{
    margin: 0 10px 0 0;
    font-size: 16px;
}
.settings-list li.disabled dt{
    cursor: no-drop;
}
.settings-list dd{
    position: absolute;
    right: 10px;
    top: 5px;
}

.settings-content .buttons{
    width: 100%;
    padding: 0 12px;
    margin: 10px 0 0;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
.settings-content .buttons .btn{
    width: 100%;
    margin: 3px;
}
/***********************
 *      pagiation
 ***********************/
.paging-box{
    padding: 15px 0 15px 0;
    vertical-align: bottom;
    text-align: center;
}
.paginationjs{
    display: inline-block;
    vertical-align: middle;
}
.paginationjs .paginationjs-pages li,
.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:last-child{
    position: relative;
    border-color: #cfd5eb;
}
.paginationjs .paginationjs-pages li>a{
    color: #7e8396;
    font-family: ht;
    cursor: pointer;
}
.paginationjs .paginationjs-pages li.active>a{
    background: #5f83f2;
    color: #fff;
}
.paginationjs .paginationjs-pages li:first-child a,
.paginationjs .paginationjs-pages li:last-child a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: transparent;
}
.paginationjs .paginationjs-pages li:first-child::after,
.paginationjs .paginationjs-pages li:last-child::after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: block;
    width: 28px;
    line-height: 28px;
}
.paginationjs .paginationjs-pages li:first-child::after{
    content: "\f100";
}
.paginationjs .paginationjs-pages li:last-child::after{
    content: "\f101";
}
/***********************
 *       loader
 ***********************/
.loader-box{
    width: 60px;
    height: 18px;
}
.loader {
    display: block;
    position: relative;
    top: -9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: loader-uba7e1836 0.8s ease alternate infinite;
    animation-delay: 0.18s;
    margin: 0 auto 0;
}
.loader::after, .loader::before {
    display: block;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation: loader-uba7e1836 0.8s ease alternate infinite;
}
.loader::before {
    left: -20px;
    box-shadow: 0 12px 0 -6px #9ab7f2;
}
.loader::after {
    right: -20px;
    animation-delay: 0.36s;
}
@keyframes loader-uba7e1836 {
    0% {
        box-shadow: 0 12px 0 -6px #9ab7f2;
    } 100% {
          box-shadow: 0 12px 0 #5f83f2;
      }

}