@CHARSET "UTF-8";

/***********************
 *       switch
 ***********************/
.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 18px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch input:checked+.slider {
	background-color: #5f83f2;
}
.switch input:checked+.slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}
.slider.round {
	border-radius: 9px;
}
.slider.round:before {
	border-radius: 50%;
}
/***********************
 * input[text] & textara
 ***********************/
input[type="text"]{
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding: 0 7px;
	margin: 3px 0;
	background-color: #f3f4f9;
	border: 1px solid #cfd5eb;
	border-radius: 3px;
	vertical-align: top;
}
textarea{
	width: 100%;
	padding: 5px 7px;
	margin: 0;
	background-color: #f3f4f9;
	border: 1px solid #cfd5eb;
	border-radius: 3px;
	vertical-align: top;
}
input[type="text"]:focus,
textarea:focus{
	border: 1px solid #5f83f2;
	outline: none;
}
input[type="text"]:disabled,
textarea:disabled{
	background-color: #cfd5eb;
}
input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder{
	opacity:0.5;
}
input[type="text"]::placeholder,
textarea::placeholder{
	opacity:0.5;
}
input[type="text"]:not(.datepicker):focus::placeholder,
textarea:focus:-ms-input-placeholder{
	opacity:0;
}
input[type="text"]:not(.datepicker):focus::placeholder,
textarea:focus::placeholder{
	opacity:0;
}
/***********************
 *  checkbox & radio
 ***********************/
label.checkbox ,
label.radio {
	position: relative;
	cursor: pointer;
	margin: 3px 10px 3px 0;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"] {
	position: absolute;
	left: -999em;
}

.checkbox input[type="checkbox"]:focus + span:before,
.radio input[type="radio"]:focus + span:before{
	border: 1px solid #5f83f2;
}

.checkbox input[type="checkbox"] + span:before {
	content: "\f00c";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	vertical-align: 0px;
	border: 1px solid #999;
	border-radius: 3px;
	color: #fff;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
}
.checkbox input[type="checkbox"]:checked + span{
	color: #5f83f2;
}
.checkbox input[type="checkbox"]:checked + span:before {
	background-color: #5f83f2;
	border-color: #5f83f2;
	color: #fff;
}
.radio input[type="radio"] + span:before  {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 8px 0 0;
	vertical-align: middle;
	border: 1px solid silver;
	border-radius: 100%;
}
.radio input[type="radio"]:checked + span{
	color: #5f83f2;
}
.radio input[type="radio"]:checked + span:before  {
	content: "";
	background: #339;
	border-color: #336;
	box-shadow: inset 0 0 1px 2px white;
}
.checkbox-lg input[type="checkbox"] + span{
	font-size: 16px;
}
.checkbox-lg input[type="checkbox"] + span:before{
	width: 20px;
	height: 20px;
	font-size: 16px;
}
/***********************
 *       select
 ***********************/
.select {
	position: relative;
	display: block;
	width: 100%;
	height: 32px;
	background-color: #f3f4f9;
	border: 1px solid #cfd5eb;
	border-radius: 3px;
	vertical-align: top;
	color: #72788d;
}
.select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-color: #f3f4f9;
	background-image: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 7px;
	color: #72788d;
	cursor: pointer;
}
.select select::-ms-expand {
	display: none;
}
.select::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f0dd";
	position: absolute;
	top: 0;
	right: 7px;
	bottom: 0;
	pointer-events: none;
}



.combobox{
	width: 100%;
	position: relative;
	margin: 3px 0;
}
.combobox > a{
	position: relative;
	z-index: 3;
	display: block;
	padding: 0 7px;
	background-color: #f3f4f9;
	border: 1px solid #cfd5eb;
	border-radius: 3px;
	color: inherit;
	height: 32px;
	line-height: 32px;
}
.combobox > a::after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f0dd";
	position: absolute;
	top: 0;
	right: 7px;
	bottom: 0;
}
.combobox > ul{
	display: none;
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	width: 100%;
	max-height: 150px;
	padding: 0 7px;
	margin: 0;
	overflow-y: hidden;
	overflow-y: auto;
	background-color: #fff;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #cfd5eb;
	border-radius: 0 0 3px 3px;
	box-shadow: 1px 1px 1px #ccc;
}
.combobox > ul > li{
	padding: 3px 0;
	border-top: 1px solid #ccc;
}
.combobox > ul > li:first-child{
	border-top: 0 none;
}
.combobox > ul > li > label.checkbox{
	display: block;
	padding: 0;
	margin: 0;
}
.combobox > a.on + ul{
	display: block;
}