@CHARSET "UTF-8";
.preloader,
.body-popup-wrap,
.tab-popup-wrap{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9997;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    filter: alpha(opacity=0);
}
.preloader,
.tab-popup-wrap,
.tab-popup-wrap .popup-wrap-inner{
    border-radius: 10px;
}
.popup-wrap-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 420px;
    height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.popup-wrap:not(.max) .popup-wrap-inner{
    max-width: 90%;
    max-height: 90%;
}
.popup-wrap.max .popup-wrap-inner{
    width: calc(100% - 10px) !important;
    height: calc(100% - 10px) !important;
}
.popup-body{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-color: #fff;
    border-radius: 10px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.popup-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 100px 0 15px;
    background-color: #5f83f2;
}
.popup-header .title{
    font-family: hh;
    font-size: 20px;
    color: #fff;
}
.popup-header .title i{
    margin: 0 3px 0 0;
    vertical-align: -2px;
}
.popup-header .title i.icon{
    vertical-align: -6px;
}
.popup-header .buttons{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
}
.popup-header .buttons a{
    color: #fff;
}
.popup-content{
    height: 100%;
    padding: 10px;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #cfd5eb;
    overflow-y: auto;
}
.popup-content-inner{
    height: 100%;
    padding: 0 5px;
}
.popup-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #cfd5eb;
}
.popup-bottom .buttons{
    padding: 7px 0;
    margin: 0 -3px;
}
.lately-list .total{
    padding: 7px 0;
}
.lately-list .list{
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #233775;
}
.lately-list .list li{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #cfd5eb;
}
.lately-list .list li:first-child{
    border-top: 0 none;
}
.lately-list .list li a{
    display: block;
    position: relative;
    padding-left: 120px;
    color: #72788d;
}
.lately-list .list li a .date{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    color: #e03232;
}
.lately-list .list li a .text{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.basic-form table{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
.basic-form table th,
.basic-form table td{
    border-bottom: 1px solid #cfd5eb;
}
.basic-form table th{
    padding: 10px 0;
}
.basic-form table td{
    padding: 7px 0;
}

.info-box{
    display: flex;
    position: relative;
    padding: 7px 7px 6px 25px;
    background-color: #cfd5eb;
    border-radius: 3px;
    font-size: 12px;
    align-items: center;
}
.info-box::before{
    content: "\f05a";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    margin: 7px 7px;
}

.popup-wrap-inner[data-popup="popup-opinion"]{
    height: 430px;
}
.popup-wrap-inner[data-popup="popup-lately"]{
    height: 565px;
}
.popup-wrap-inner[data-popup="popup-mrc"],
.popup-wrap-inner[data-popup="popup-page"]{
    width: 100%;
    max-width: calc(100% - 20px);
    height: 672px;
}
.popup-wrap-inner[data-popup="popup-mrc"] .page-list .empty p{
    min-width: 485px;
}
.popup-wrap-inner[data-popup="popup-similar"]{
    width: calc(100% - 20px);
    height: 725px;
}
.popup-wrap-inner[data-popup="popup-fave"]{
    width: calc(100% - 20px);
    height: 725px;
}
.popup-wrap-inner[data-popup="popup-same"]{
    width: calc(100% - 20px);
    height: 725px;
}
.popup-wrap-inner[data-popup="popup-security"]{
    width: 550px;
    height: 550px;
}
.popup-wrap-inner[data-popup] .search-list{
    padding: 0;
}
[data-scale="min"] .popup-wrap-inner[data-popup] .search-list table tbody td{
    padding: 0 6px;
}
[data-scale="min"] .popup-wrap-inner[data-popup] .search-list table thead th.edit,
[data-scale="min"] .popup-wrap-inner[data-popup] .search-list table tbody td.edit,
[data-scale="min"] .popup-wrap-inner[data-popup] .search-list table tbody td.date .time{
    display: none;
}
.popup-wrap-inner[data-popup="popup-similar"] .popup-content,
.popup-wrap-inner[data-popup="popup-same"] .popup-content,
.popup-wrap-inner[data-popup="popup-fave"] .popup-content,
.popup-wrap-inner[data-popup="popup-page"] .popup-content,
.popup-wrap-inner[data-popup="popup-security"] .popup-content{
    height: calc(100% - 50px);
}
.popup-wrap-inner[data-popup] .popup-paging{
    height: 50px;
    text-align: center;
}
.popup-wrap-inner[data-popup] .popup-paging .paginationjs{
    padding: 0;
}

[data-search='open'] .body-popup-wrap{
    width: 420px;
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 10px;
}
[data-search='open'] .body-popup-wrap .popup-wrap-inner[data-popup="popup-opinion"],
[data-search='open'] .body-popup-wrap .popup-wrap-inner[data-popup="popup-lately"]{
    width: 400px;
}
.popup-loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    animation: popup-loader-active 1s linear infinite;
    top: 50%;
    margin: -8px auto 0;
}

@keyframes popup-loader-active {
    0% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.05), 19px -19px 0 0 rgba(0, 82, 236, 0.1), 27px 0 0 0 rgba(0, 82, 236, 0.2), 19px 19px 0 0 rgba(0, 82, 236, 0.3), 0 27px 0 0 rgba(0, 82, 236, 0.4), -19px 19px 0 0 rgba(0, 82, 236, 0.6), -27px 0 0 0 rgba(0, 82, 236, 0.8), -19px -19px 0 0 #0052ec; }
    12.5% {
        box-shadow: 0 -27px 0 0 #0052ec, 19px -19px 0 0 rgba(0, 82, 236, 0.05), 27px 0 0 0 rgba(0, 82, 236, 0.1), 19px 19px 0 0 rgba(0, 82, 236, 0.2), 0 27px 0 0 rgba(0, 82, 236, 0.3), -19px 19px 0 0 rgba(0, 82, 236, 0.4), -27px 0 0 0 rgba(0, 82, 236, 0.6), -19px -19px 0 0 rgba(0, 82, 236, 0.8); }
    25% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.8), 19px -19px 0 0 #0052ec, 27px 0 0 0 rgba(0, 82, 236, 0.05), 19px 19px 0 0 rgba(0, 82, 236, 0.1), 0 27px 0 0 rgba(0, 82, 236, 0.2), -19px 19px 0 0 rgba(0, 82, 236, 0.3), -27px 0 0 0 rgba(0, 82, 236, 0.4), -19px -19px 0 0 rgba(0, 82, 236, 0.6); }
    37.5% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.6), 19px -19px 0 0 rgba(0, 82, 236, 0.8), 27px 0 0 0 #0052ec, 19px 19px 0 0 rgba(0, 82, 236, 0.05), 0 27px 0 0 rgba(0, 82, 236, 0.1), -19px 19px 0 0 rgba(0, 82, 236, 0.2), -27px 0 0 0 rgba(0, 82, 236, 0.3), -19px -19px 0 0 rgba(0, 82, 236, 0.4); }
    50% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.4), 19px -19px 0 0 rgba(0, 82, 236, 0.6), 27px 0 0 0 rgba(0, 82, 236, 0.8), 19px 19px 0 0 #0052ec, 0 27px 0 0 rgba(0, 82, 236, 0.05), -19px 19px 0 0 rgba(0, 82, 236, 0.1), -27px 0 0 0 rgba(0, 82, 236, 0.2), -19px -19px 0 0 rgba(0, 82, 236, 0.3); }
    62.5% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.3), 19px -19px 0 0 rgba(0, 82, 236, 0.4), 27px 0 0 0 rgba(0, 82, 236, 0.6), 19px 19px 0 0 rgba(0, 82, 236, 0.8), 0 27px 0 0 #0052ec, -19px 19px 0 0 rgba(0, 82, 236, 0.05), -27px 0 0 0 rgba(0, 82, 236, 0.1), -19px -19px 0 0 rgba(0, 82, 236, 0.2); }
    75% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.2), 19px -19px 0 0 rgba(0, 82, 236, 0.3), 27px 0 0 0 rgba(0, 82, 236, 0.4), 19px 19px 0 0 rgba(0, 82, 236, 0.6), 0 27px 0 0 rgba(0, 82, 236, 0.8), -19px 19px 0 0 #0052ec, -27px 0 0 0 rgba(0, 82, 236, 0.05), -19px -19px 0 0 rgba(0, 82, 236, 0.1); }
    87.5% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.1), 19px -19px 0 0 rgba(0, 82, 236, 0.2), 27px 0 0 0 rgba(0, 82, 236, 0.3), 19px 19px 0 0 rgba(0, 82, 236, 0.4), 0 27px 0 0 rgba(0, 82, 236, 0.6), -19px 19px 0 0 rgba(0, 82, 236, 0.8), -27px 0 0 0 #0052ec, -19px -19px 0 0 rgba(0, 82, 236, 0.05); }
    100% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.05), 19px -19px 0 0 rgba(0, 82, 236, 0.1), 27px 0 0 0 rgba(0, 82, 236, 0.2), 19px 19px 0 0 rgba(0, 82, 236, 0.3), 0 27px 0 0 rgba(0, 82, 236, 0.4), -19px 19px 0 0 rgba(0, 82, 236, 0.6), -27px 0 0 0 rgba(0, 82, 236, 0.8), -19px -19px 0 0 #0052ec; }
}