@CHARSET "UTF-8";

@import './font.css';
@import './reset.css';
@import './common.css';
@import './input.css';
@import './button.css';
@import './popup.css';
@import './bus.css';
@import '../vender/fontawesome/css/all.css';
@import '../vender/scrollbar/jquery.mCustomScrollbar.css';
@import '../vender/jquery-ui/jquery-ui.css';



/***********************
 *       layout
 ***********************/
.wrap{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	position: relative;
	min-width: 440px;
	min-height: 768px;
	height: 100%;
	padding: 5px;
}
.chat-wrap{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	height: 100%;
	padding-top: 55px;
}
.chat-footer{
	margin-top: auto;
}
.chat-body,
.chat-footer{
	padding-left: 65px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.search-wrap{
	display: none;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	height: 100%;
}
[data-search="open"] .wrap{
	min-width: 1024px;
}
[data-search="open"] .chat-wrap{
	-webkit-box-flex: 0 1 430px;
	-moz-box-flex: 0 1 430px;
	-webkit-flex: 0 1 430px;
	-ms-flex: 0 1 430px;
	flex: 0 1 430px;
}
[data-search="open"] .search-wrap{
	display: block;
	margin-left: 10px;
}
[data-search='open'] .body-popup-wrap {
	width: 430px;
	height: calc(100% - 10px);
	margin: 5px;
	border-radius: 10px;
}
[data-search='open'] .body-popup-wrap.full-popup{
	width: calc(100% - 10px);
}
/***********************
 *       chat
 ***********************/


 .chat-header{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 50px;
	padding: 8px 10px;
	background-color: #5f83f2;
	border: 1px solid #5f83f2;
	border-radius: 10px 10px 0 10px;
}
.chat-header .logo{
	position: absolute;
	/*left: 15px;*/
    left: 0;
	top: 0;
	height: 50px;
	line-height: 1;
	/*padding: 8px 0 0 50px;*/
    padding: 8px 0 0 58px;
	font-family: 'hh';
	font-size: 22px;

}
.chat-header .logo:before{
	content:"";
	display: block;
	position: absolute;
	left: 12px;
	top: 5px;
	width: 38px;
	height: 38px;
	/*background-image: url(../images/logo_bot.png);
	background-position: left center;
	background-repeat: no-repeat;
    background-image: url(../images/logo_mobis.svg);*/
	background-image: url(../images/logo_mobis_color.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-color: #fff;
	border-radius: 50%;
}
.chat-header .logo:after{
	content:"";
	display: block;
	position: absolute;
	/*left: 50px;*/
    left: 59px;
	bottom: 8px;
	font-size: 14px;
	color: #fff;
}
.chat-header .logo .font-mai,
.chat-header .logo .font-bot{
}
.chat-header .logo .font-mai{
	color: #fff;
}
.chat-header .logo .font-bot{
	color: #cfd5eb;
}

.chat-header .profile{
	float: right;
	color: #fff;
}
.chat-header .profile dl,
.chat-header .profile dt,
.chat-header .profile dd{
	padding: 0;
	margin: 0;
	text-align: right;
}
.chat-header .profile dl{
	position: relative;
	/*padding-right: 32px;*/
}
.chat-header .profile dt span,
.chat-header .profile dt b{
	display: block;
	padding: 2px 5px;
	line-height: 1;
}
.chat-header .profile dt span{
	font-weight: 400;
	font-size: 12px;
}
.chat-header .profile dd{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	border: 1px solid #5f83f2;
	border-radius: 50%;
	overflow: hidden;
}
.chat-header .profile dd img{
	width: 30px;
	height: 30px;
}

.chat-menu{
	position: absolute;
	left: 0;
	top: 55px;
	z-index: 1;
	width: 60px;
	height: calc(100% - 55px);
	background-color: #fff;
	border: 1px solid #cfd5eb;
	border-radius: 10px 0 10px 10px;
	transition: width .3s;
}

.btn-menu{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 55px;
	padding-left: 55px;
	background-size: 18px;
	white-space: pre;
	overflow: hidden;
	text-indent: 10px;
}
.btn-menu img{
	position: absolute;
	left: 19px;
	top: 50%;
	width: 18px;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-indent: 0;
}
.btn-menu.menu-close{
	display: none;
}
.btn-menu:after{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 30px;
	height: 1px;
	background: #cfd5eb;
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
[data-menu="open"] .chat-body,
[data-menu="open"] .chat-footer{
	padding-left: 130px;
}
[data-menu="open"] .chat-menu{
	width: 125px;
}
[data-menu="open"] .menu-bot li a{
	width: 113px;
}
[data-menu="open"] .menu-bot li a span{
	color: #9d9d9f;
}
[data-menu="open"] .menu-bot li a:hover span{
	color: #fff;
}
[data-menu="open"] .btn-menu{
	text-indent: -5px;
}
[data-menu="open"] .btn-menu.menu-open{
	display: none;
}
[data-menu="open"] .btn-menu.menu-close{
	display: block;
}
[data-menu="open"] .chat-menu .btn-menu:after{
	width: 100px;
}
.chat-menu ul,
.chat-menu li{
	list-style: none;
}
.menu-bot{
	padding: 5px 0;
	margin: 50px 5px 0;
}
.menu-bot li{
	margin: 10px 0;
}
.menu-bot li a{
	position: relative;
	display: block;
	width: 46px;
	height: 46px;
	padding-left: 44px;
	border-radius: 23px;
	background-color: #fff;
	border: 1px solid #cfd5eb;
	overflow: hidden;
	transition: width .3s;
	box-shadow: #cfd5eb 0px 1px 3px 0px;
}
.menu-bot li a[data-bot]:after{
	content:"";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 44px;
	height: 44px;
}
.menu-bot li a span{
	display: block;
	line-height: 46px;
	color: #fff;
	letter-spacing: -1px;
}

.menu-bot li a.on{
	background-color: #5f83f2;
	border: 1px solid #5f83f2;
}
.menu-bot li a.on span{
	color: #fff;
}
.menu-bot li a:hover{
	width: 113px;
	background-color: #5f83f2;
}

.menu-bot a[data-bot="bot-BK59"]:after,
.menu-bot a[data-bot="bot-BK59"]:hover:after,
.menu-bot a[data-bot="bot-BK59"].on:hover:after{
	background-image: url(../images/menu/menu_1_off.svg);
}
/* .menu-bot a[data-bot="bot-BK59"].on:after{
	background-image: url(../images/menu/menu_1_on.svg);
} */

.menu-bot a[data-bot="bot-BK56"]:after,
.menu-bot a[data-bot="bot-BK56"]:hover:after,
.menu-bot a[data-bot="bot-BK56"].on:hover:after{
	background-image: url(../images/menu/menu_2_off.svg);
}
/* .menu-bot a[data-bot="bot-BK56"].on:after{
	background-image: url(../images/menu/menu_2_on.svg);
} */

.menu-bot a[data-bot="bot-BK58"]:after,
.menu-bot a[data-bot="bot-BK58"]:hover:after,
.menu-bot a[data-bot="bot-BK58"].on:hover:after{
	background-image: url(../images/menu/menu_3_off.svg);
}
/* .menu-bot a[data-bot="bot-BK58"].on:after{
	background-image: url(../images/menu/menu_3_on.svg);
} */

.menu-bot a[data-bot="bot-BK57"]:after,
.menu-bot a[data-bot="bot-BK57"]:hover:after,
.menu-bot a[data-bot="bot-BK57"].on:hover:after{
	background-image: url(../images/menu/menu_4_off.svg);
}
/* .menu-bot a[data-bot="bot-BK57"].on:after{
	background-image: url(../images/menu/menu_4_on.svg);
} */

.menu-bot a[data-bot="bot-BK62"]:after,
.menu-bot a[data-bot="bot-BK62"]:hover:after,
.menu-bot a[data-bot="bot-BK62"].on:hover:after{
	background-image: url(../images/menu/menu_5_off.svg);
}
/* .menu-bot a[data-bot="bot-BK62"].on:after{
	background-image: url(../images/menu/menu_5_on.svg);
} */

.menu-bot a[data-bot="bot-BK99"]:after,
.menu-bot a[data-bot="bot-BK99"]:hover:after,
.menu-bot a[data-bot="bot-BK99"].on:hover:after{
	background-image: url(../images/menu/menu_99_off.svg);
}
/* .menu-bot a[data-bot="bot-BK99"].on:after{
	background-image: url(../images/menu/menu_99_on.svg);
} */
.menu-etc{
	list-style: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	margin: 0;
}
.menu-etc li.line:after{
	content: "";
	display: block;
	width: 30px;
	height: 1px;
	margin: 10px auto;
	background: #cfd5eb;
}
[data-menu="open"] .menu-etc li.line:after{
	width: 100px;
}

.menu-etc a{
	position: relative;
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 55px;
	white-space: pre;
	overflow: hidden;
	text-indent: 10px;
}
.menu-etc a i{
	position: absolute;
	left: 15px;
	top: 50%;
	color: #5f83f2;
	font-size: 24px;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-indent: 0;
}

[data-menu="open"] .menu-etc a{
	text-indent: -5px;
}


.chat-active{
	height: 35px;
	line-height: 40px;
	font-size: 12px;
	text-align: center;
}
.chat-active::before{
	color: #5f83f2;
}
.chat-input{
	display: flex;
	position: relative;
	padding: 0;
	background-color: #fff;
	border: 1px solid #cfd5eb;
	border-radius: 10px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
.chat-input textarea{
	width: 100%;
	padding: 0 60px 0 0;
	margin: 13px 0 13px;
	border: 0 none;
	background-color: transparent;
	resize: none;
	overflow-y: hidden; /* prevents scroll bar flash */
	height: 16px;
	line-height: 16px;
}
.chat-input a{
	display: block;
	padding: 0 10px;
	font-size: 20px;
	color: #ccc;
}
.chat-input .btn-msg{
	font-size: 24px;
}
.chat-input .btn-send{
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 4px;
	width: 34px;
	height: 34px;
    line-height: 34px;
	padding: 0;
	text-align: center;
	background-color: #35ccd5;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
}

.chat-body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.chat-body ul,
.chat-body li{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.chat-body li{
	margin: 0 0 5px 0;
}
.comment-list li:not(.bot-loading) .comment-block{
	animation: opacity-active 0.5s ease;
}
@keyframes opacity-active {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}
.comment-list .comment-block{
	max-width: 90%;
}
.comment-list .comment-block img{
	/*width: 100%;*/
    display: block;
    margin: 0 auto;
	max-width: 260px;
}
[data-menu="open"] .comment-list .comment-block{
	max-width: calc(100% - 5px)
}
.comment-list .comment-box{
	padding: 4px 12px;
	margin: 0 0 10px 0;
	border-radius: 3px;
}
.comment-list p{
	margin: 4px 0;
	word-break: break-word;
}
.comment-list p > mark{
    background-color: transparent;
    color: #e03232;
    font-weight: 600;
}
.comment-list .comment-answer{
	position: relative;
	padding-left: 45px;
}
.comment-list .comment-answer:before{
	content: '';
	display: block;
	height: 15px;
	line-height: 1;
	font-size: 12px;
}
.comment-list .comment-answer:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	/*background: #5f83f2 url(../images/logo_bot.png) no-repeat center;*/
    background: #fff url(../images/logo_mobis_color.svg) no-repeat center;
	background-size: 28px 28px;
	border-radius: 50%;
    border: 1px solid #cfd5eb;
}
.comment-list .comment-answer .comment-time{
	position: absolute;
	left: 0;
	top: 40px;
	width: 40px;
	text-align: center;
	font-size: 12px;
}
.comment-list .comment-answer .comment-feedback{
    display: flex;
    margin: -5px 0 10px 0;
    justify-content: flex-end;
}
.comment-list .comment-answer .comment-feedback a,
.comment-list .comment-answer .comment-feedback button{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-indent: -9999px;
	cursor: pointer;
	outline: none;
}
.comment-list .comment-answer .comment-feedback ::after{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: 0;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.comment-list .comment-answer .comment-feedback .btn-like{
    background-color: #6773d1;
}
.comment-list .comment-answer .comment-feedback .btn-like::after{
    content: "\f164";
}
.comment-list .comment-answer .comment-feedback .btn-dislike{
    background-color: #ff6378;
}
.comment-list .comment-answer .comment-feedback .btn-dislike::after{
    content: "\f165";
}
.comment-list .comment-answer .comment-feedback .btn-like.disabled,
.comment-list .comment-answer .comment-feedback .btn-like:disabled,
.comment-list .comment-answer .comment-feedback .btn-dislike.disabled,
.comment-list .comment-answer .comment-feedback .btn-dislike:disabled{
	opacity: 0.6;
	background-color: #ccc;
	cursor: none;
}
.comment-list .comment-answer .comment-block{
	float: left;
}
.comment-list .comment-answer .comment-header{
	height: 34px;
	line-height: 34px;
	padding: 0 12px;
	color: #fff;
	background-color: #233775;
	border-radius: 3px 3px 0 0;
}
.comment-list .comment-answer .comment-header + .comment-box{
	border-radius: 0 0 3px 3px !important;
}
.comment-list .comment-answer .comment-box{
	background-color: #fff;
	border: 1px solid #cfd5eb;
}
.comment-list .comment-answer .comment-box.comment-error-box{
	background-color: #cfd5eb;
}
.comment-list .comment-answer .comment-box.comment-waring-box{
	background-color: deeppink;
	border: 1px solid deeppink;
	color: #fff;
}

.comment-list .comment-answer .buttons{
	margin-right: -3px;
	overflow: hidden;
}
.comment-list .comment-answer .buttons .btn-block{
	width: calc(100% - 3px);
}
.comment-list .comment-message{
	position: relative;
	padding: 0 5px 8px 0;
}
.comment-list .comment-message .comment-time{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 5px;
	margin: 0;
	font-size: 12px;
}
.comment-list .comment-message .comment-block{
	float: right;
}
.comment-list .comment-message .comment-box{
	color: #fff;
	background-color: #72788d;
}
[data-active-bot="bot-BK59"] .chat-active::before,
[data-active-bot="bot-BK59"] .chat-header .logo:after,
[data-active-bot="bot-BK59"] .comment-list .comment-answer:before{
	content: '회사생활봇';
}
[data-active-bot="bot-BK56"] .chat-active::before,
[data-active-bot="bot-BK56"] .chat-header .logo:after,
[data-active-bot="bot-BK56"] .comment-list .comment-answer:before{
	content: '경영지원봇';
}
[data-active-bot="bot-BK58"] .chat-active::before,
[data-active-bot="bot-BK58"] .chat-header .logo:after,
[data-active-bot="bot-BK58"] .comment-list .comment-answer:before{
	content: 'IT지원봇';
}
[data-active-bot="bot-BK57"] .chat-active::before,
[data-active-bot="bot-BK57"] .chat-header .logo:after,
[data-active-bot="bot-BK57"] .comment-list .comment-answer:before{
	content: '품질봇';
}
[data-active-bot="bot-BK62"] .chat-active::before,
[data-active-bot="bot-BK62"] .chat-header .logo:after,
[data-active-bot="bot-BK62"] .comment-list .comment-answer:before{
	content: '문서검색봇';
}
[data-active-bot="bot-BK99"] .chat-active::before,
[data-active-bot="bot-BK99"] .chat-header .logo:after,
[data-active-bot="bot-BK99"] .comment-list .comment-answer:before{
	content: '재미봇';
}
/***********************
 *       search
 ***********************/


.search-wrap-inner{
	position: relative;
	width: 100%;
	height: 100%;
}
.search-header{
	position: relative;
	height: 45px;
	padding: 0 85px 9px 15px;
}
.search-header::after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
	width: 100%;
	height: 10px;
	background-color: #fff;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #cfd5eb;
	border-radius: 10px 10px 0 0;
}
.search-header .tabbar{
	position: relative;
	z-index: 1;
}
.search-header .tabbar ul{
	list-style: none;
    display: flex;
	padding: 0;
	margin: 0;
    overflow: hidden;
	flex-wrap: wrap;
}
.search-header .tabbar ul li{
	position: relative;
	max-width: 150px;
	padding-right: 30px;
	margin: 0 0 0 1px;
    overflow: hidden;
    white-space: nowrap;
	flex: 1;
}
.search-header .tabbar ul li::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	width: 1px;
	height: 15px;
	background-color: #7d7b7d;
}
.search-header .tabbar ul li:first-child::before,
.search-header .tabbar ul li.on::before,
.search-header .tabbar ul li.on + ::before{
	display: none;
}
.search-header .tabbar ul li a{
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 10px;
	color: #727071;
	font-size: 12px;
	white-space: nowrap;
}
.search-header .tabbar ul li a mark{
    background-color: transparent;
    font-weight: 600;
    font-family: hh;
}
.search-header .tabbar ul li.on{
	background-color: #fff;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #cfd5eb;
	border-radius: 10px 10px 0 0;
}
.search-header .tabbar ul li.tab-add{
    width: 40px;
    padding: 0;
}
.search-header .tabbar ul li.tab-add a{
	padding: 1px 10px;
	font-size: 18px;
}
.search-header .tabbar ul li.on a{
	font-weight: 600;
	color: #3e3a39;
}
.search-header .tabbar ul li a.btn-tab-delete{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
    text-align: center;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(245,245,245,0.3) 11%, rgba(245,245,245,1) 36%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(245,245,245,0.3) 11%,rgba(245,245,245,1) 36%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(245,245,245,0.3) 11%,rgba(245,245,245,1) 36%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6f5f5f5',GradientType=1 );
}
.search-header .tabbar ul li.on a.btn-tab-delete{
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 11%, rgba(255,255,255,1) 36%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 11%,rgba(255,255,255,1) 36%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.3) 11%,rgba(255,255,255,1) 36%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffffff',GradientType=1 );
}
.search-header .buttons{
	position: absolute;
	right: 0;
	top: -5px;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #cfd5eb;
	overflow: hidden;
}
.search-header .buttons a{
	display: block;
	position: relative;
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 12px;
	color: #c5c6c9;
}
.search-header .buttons a::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	width: 1px;
	height: 15px;
	background-color: #cfd5eb;
}
.search-header .buttons a:first-child::before{
	display: none;
}
.search-header .buttons a .icon.icon-view-fave{
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}

body[data-scale="max"] .search-header .buttons a.btn-resize-max{
	display: none;
}
body[data-scale="min"] .search-header .buttons a.btn-resize-min{
	display: none;
}

.search-tabs{
	position: relative;
	height: calc(100% - 45px);
	background-color: #fff;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #cfd5eb;
	border-radius: 0 0 10px 10px;
}
.tab{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
.tab .header-group{
	position: relative;
	z-index: 0;
}
.tab .row-group{
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.row{
	position: relative;
	z-index: 0;
}
.cell{
	padding: 5px 15px;
	border-width: 0 0 0 0;
	border-style: solid;
	border-color: #cfd5eb;
	vertical-align: top;
}

.main-input-box{
	height: 100%;
	text-align: center;
	vertical-align: middle !important;
}
.main-input-box .label{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #5f83f2 url(../images/menu/menu_5_off.svg) center;
	border-radius: 25px;
	font-size: 18px;
	font-family: hh;
	font-weight: 600;
	color: #727071;
	text-indent: -9999px;
	vertical-align: middle;
}
.search-main-input .input{
	display: inline-block;
	width: calc(100% - 100px);
	height: 40px;
	line-height: 40px;
	background-color: #f3f4f9;
	border-radius: 20px;
	vertical-align: middle;
}
.search-main-input .input input{
	float: left;
	width: calc(100% - 50px);
	height: 100%;
	padding-left: 20px;
	border: 0 none;
	background-color: transparent;
	font-size: 14px;
	outline: none;
}
.search-main-input .input a{
	display: block;
	float: right;
	width: 40px;
	text-align: left;
	font-size: 18px;
	color: #757a8f;
}

.main-summary-box{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	vertical-align: bottom !important;
}
.main-summary-box .summary{
	margin: 5px 0;
	border: 1px solid #cfd5eb;
	border-radius: 10px;
	overflow: hidden;
}
.main-summary-box .summary .title{
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 15px;
	background-color: #f3f4f9;
	border-bottom: 1px solid #cfd5eb;
	color: #72788d;
	font-family: hh;
	font-weight: 600;
	overflow: hidden;
}
.main-summary-box .summary .title a.btn-reflesh{
	display: block;
	float: right;
	padding: 0 15px;
	color: #72788d;
	opacity: 0.7;
	transition: opacity .3s;
}
.main-summary-box .summary .title a.btn-reflesh:hover{
	opacity: 1;
}
.main-summary-box .summary .empty{
	display: flex;
	padding: 15px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.main-summary-box .summary .list{
    list-style: none;
	padding: 0 15px;
	margin: 0;
    min-height: 90px;
}
.main-summary-box .summary .list li{
	position: relative;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #cfd5eb;
}
.main-summary-box .summary .list li:nth-child(4),
.main-summary-box .summary .list li:nth-child(5){
	display: none;
}
.main-summary-box .summary .list li:nth-child(5){
	border-bottom: 0 none;
}
.main-summary-box .summary .list li .text{
	display: block;
	width: calc(100% - 50px);
	height: 100%;
	color: #5e6065;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*주간 인기 검색어*/
.main-summary-box .summary.num-summary .list li .text::before{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin: 0 8px 0 0;
	text-align: center;
	background-color: #35ccd5;
	border-radius: 3px;
	color: #fff;
	font-size: 12px;
	vertical-align: 1px;
}
.main-summary-box .summary.num-summary .list li:nth-child(1) .text::before{
	content:"1";
}
.main-summary-box .summary.num-summary .list li:nth-child(2) .text::before{
	content:"2";
}
.main-summary-box .summary.num-summary .list li:nth-child(3) .text::before{
	content:"3";
}
.main-summary-box .summary.num-summary .list li:nth-child(4) .text::before{
	content:"4";
}
.main-summary-box .summary.num-summary .list li:nth-child(5) .text::before{
	content:"5";
}
.main-summary-box .summary.num-summary .list li .label i{
	margin-right: 3px;
	font-size: 18px;
	vertical-align: -1px;
}
.main-summary-box .summary.num-summary .list li .label i.fa-long-arrow-alt-up{
	color: red;
}
.main-summary-box .summary.num-summary .list li .label i.fa-long-arrow-alt-down{
	color: blue;
}
/*최근 검색한 목록*/
.main-summary-box .summary.date-summary .list li .btn-search{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width:100%;
	padding: 0 10px;
	text-align: right;
	color: #5e6065;
	opacity: 0.6;
	transition: opacity .3s;
}
.main-summary-box .summary.date-summary .list li:hover .btn-search{
	opacity: 1;
}
/*즐겨찾기 문서*/
.main-summary-box .summary.fave-summary .list li .text::before{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f005";
	color: #ff9c00;
	font-size: 16px;
	margin-right: 5px;
}
.main-summary-box .summary .list .btn-delete,
.main-summary-box .summary .list .label{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	color: #5e6065;
	font-weight: 600;
	text-align: right;
}
.main-summary-box .summary .list .btn-delete{
	opacity: 0.6;
	width: 36px;
	text-align: center;
	transition: opacity .3s;
}
.main-summary-box .summary .list li:hover .btn-delete{
	opacity: 1;
}
.main-summary-box .summary .list .label.new{
	font-weight: 600;
	font-family: hh;
	font-size: 12px;
	color: #ff3a33;
}
@media only screen and (max-width: 1024px) {
	.main-summary-box .summary .list li:nth-child(3){
		border-bottom: 0 none;
	}
}
@media only screen and (min-width: 1025px) {
	.main-input-box .label{
		width: 50px;
		height: 50px;
		border-radius: 25px;
		font-size: 18px;
	}
	.search-main-input .input{
		height: 50px;
		line-height: 50px;
		max-width: 600px;
		border-radius: 25px;
	}
	.search-main-input .input input{
		padding-left: 25px;
		font-size: 16px;
	}
	.main-summary-box{
		text-align: center;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.main-summary-box .summary{
		float: left;
		width: calc(33.3% - 10px);
		height: 235px;
		margin: 10px 5px;
		text-align: left;
	}
	.main-summary-box .summary .title{
		height: 45px;
		line-height: 45px;
	}
	.main-summary-box .summary .empty{
		height: calc(100% - 45px);
	}
	.main-summary-box .summary .list{
		padding-top: 5px;
	}
	.main-summary-box .summary .list li{
		height: 36px;
		line-height: 36px;
	}
	.main-summary-box .summary .list li:nth-child(4),
	.main-summary-box .summary .list li:nth-child(5){
		display: block;
	}
}
.search-main-notice{
	flex: 1;
	height: 100%;
	padding: 5px 15px 15px;
	overflow: hidden;
}
.main-notice-box{
    position: relative;
	height: 100%;
	overflow: hidden;
	vertical-align: bottom !important;
	border-radius: 10px;
	background-color: #efefef;
}
.main-notice-box img{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
	max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-input{

}
.search-input .input-box{
	height: 55px;
	padding-bottom: 2px;
}
.search-input .input-box .label{
	display: inline-block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-family: hh;
	font-weight: 600;
	color: #5f83f2;
}
.search-input .input-box .input{
	display: inline-block;
	width: calc(100% - 100px);
	height: 45px;
	background-color: #f3f4f9;
	border-radius: 23px;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
}
.search-input .input-box .input input{
	float: left;
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0 70px 0 20px;
	margin: 0;
	font-size: 16px;
	border: 2px solid #5f83f2;
	border-radius: 23px;
	outline: none;
}
.search-input .input-box .input a{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 45px;
	line-height: 45px;
	background-color: #5f83f2;
	text-indent: 8px;
	font-size: 22px;
	color: #fff;
}

.search-keyword .keyword-box{
	line-height: 28px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-width: 0 0 1px 0;
}
.search-keyword .keyword-box .label{
	display: inline-block;
	width: 90px;
	height: 28px;
	padding: 0 15px 0 0 ;
	font-family: hh;
	font-weight: 600;
	color: #727071;
	vertical-align: top;
}
.search-keyword .keyword-box .list{
	position: relative;
	display: inline-block;
	width: calc(100% - 100px);
	height: 32px;
	list-style: none;
	padding: 0;
	margin: 0 -2px;
}
.search-keyword .keyword-box .list ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.search-keyword .keyword-box .list li{
	position: relative;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	margin: 0 2px;
	border-radius: 14px;
	background-color: #cfd5eb;
	color: #72788d;
	font-size: 12px;
	-webkit-transition: .3s;
	transition: .3s;
	cursor: pointer;
}
.search-keyword .keyword-box .list li.on{
	padding-right: 25px;
	background-color: #5f83f2;
	color: #fff;
}
.search-keyword .keyword-box .list li.on::after{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f057";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.search-sort .sort-box{
	display: flex;
	flex-wrap: wrap;
	padding: 0 15px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #cfd5eb;
}
.search-sort .sort-box .sort,
.search-sort .sort-box .filter,
.search-sort .sort-box .cate{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.search-sort .sort-box .sort,
.search-sort .sort-box .filter{
	padding-right: 15px;
}
.search-sort .sort-box .sort li,
.search-sort .sort-box .filter li,
.search-sort .sort-box .cate li{
	position: relative;
}
.search-sort .sort-box .sort li,
.search-sort .sort-box .filter li{
	height: 46px;
}
.search-sort .sort-box .sort li::after,
.search-sort .sort-box .filter li::after{
	content:"";
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 1px;
	background-color: #5f83f2;
	-webkit-transition: .3s;
	transition: .3s;
}
.search-sort .sort-box .sort li a,
.search-sort .sort-box .filter li a{
	display: flex;
	height: 100%;
	padding: 0 12px;
	color: #72788d;
	align-items: center;
}
.search-sort .sort-box .sort li.on::after,
.search-sort .sort-box .filter li.on::after{
	width: 100%;
}
.search-sort .sort-box .sort li.on a,
.search-sort .sort-box .filter li.on a{
	font-family: hh;
	font-weight: 600;
	color: #5f83f2;
}
.search-sort .sort-box .cate{
	flex: 1;
	justify-content: flex-end;
}
.search-sort .sort-box .cate li{
	vertical-align: middle;
	padding: 5px 0 5px 3px;
}
.search-sort .sort-box .cate li a{
	position: relative;
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 34px;
	background-color: #fff;
	border: 1px solid #cfd5eb;
	border-radius: 18px;
	color: #72788d;
}
.search-sort .sort-box .cate li a::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 2px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.search-sort .sort-box .cate li.on a{
	border: 1px solid #5f83f2;
	background-color: #5f83f2;
	color: #fff;
}
.search-sort .sort-box .cate li.on a::before{
	line-height: 29px;
	border: 1px solid #fff;
}
.search-sort .sort-box .cate li a span{
	display: block;
	overflow: hidden;
	padding: 0 5px 0 5px;
}
.search-sort .sort-box .cate li a span i{
	font-style: normal;
}

@media only screen and (max-width: 1024px) {
	.search-sort .sort-box .sort li a,
	.search-sort .sort-box .filter li a{
		padding: 0 12px;
	}
	.search-sort .sort-box .cate li a{
		paddingt: 0;
	}
	.search-sort .sort-box .cate li a span{
		display: none;
	}
}




.search-total{
	padding: 8px 15px;
	font-size: 16px;
}
.search-total i{
	margin: 0 5px 0 0;
}
.search-total .color-point{
	font-weight: 600;
}
.search-total b{
	color: #3e3a39;
}

.search-list {
	padding: 0 15px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.search-list .list{
	overflow-x: hidden;
	overflow-x: auto;
}
.search-list table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.search-list table thead{
	background-color: #cfd5eb;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #a2aac8;
}
.search-list table thead th,
.search-list table tbody td{
	position: relative;
}
.search-list table thead th::before,
.search-list table tbody td::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 16px;
	width: 1px;
	height: 16px;
	background-color: #cfd5eb;
}
.search-list table thead th::before{
	background-color: #a2aac8;
}
.search-list table thead th:first-child::before,
.search-list table tbody td:first-child::before,
.search-list table thead th.title::before{
	display: none;
}

.search-list table thead th{
	height: 52px;
	font-family: ht;
	font-weight: 600;
	color: #797f94;
	text-align: center;
}
.search-list table thead th.fave{
	width: 45px;
	text-indent: -9999px;
}
.search-list table thead th.writer{
	width: 80px;
}
.search-list table thead th.team{
	width: 120px;
}
.search-list table thead th.date{
	width: 170px;
}
.search-list table thead th.edit{
	width: 170px;
}

.search-list table tbody td{
	height: 50px;
	padding: 0 6px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #cfd5eb;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.search-list table tbody td,
.search-list table tbody td a{
	text-align: center;
	color: #727071;
}
.search-list table tbody td a{
	display: flex;
	align-items: center;
}
.search-list table tbody td a span{
	display: block;
	text-align: left;
}
.search-list table tbody td a span.label{
	/*display: flex;
	flex: 0 1 15px;*/
}
.search-list table tbody td a span.file-name{
	padding: 0 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	flex: 0 1 auto;
}
.search-list table tbody td a span.file-same{
	color: #35ccd5;
}
.search-list table tbody td.title{
	text-align: left;
}

.search-list table tbody tr:hover{
	background-color: #f3f4f9;
}
.search-list table tbody tr:hover td,
.search-list table tbody tr:hover td a{
	color: #3e3a39;
	font-weight: 600;
	font-family: hh;
}

.search-list mark{
	background-color: transparent;
	color: #e03232;
	font-weight: 600;
}

.search-list .search-empty{
	display: none;
}
.search-list .search-empty .empty {
	display: flex;
	width: 100%;
	height: 300px;
	padding: 200px 30px 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../images/icon/icon_not_find.svg);
	background-size: 300px 300px;
	background-position: center -50px;
	background-repeat: no-repeat;
	font-size: 20px;
}
@media only screen and (max-width: 1280px) {
	.search-list table tbody td{
		padding: 0 6px;
	}
	.search-list table thead th.writer{
		width: 65px;
	}
	.search-list table thead th.date,
	.search-list table tbody td.date{
		display: none;
	}
	.search-list table thead th.edit {
		width: 100px;
	}
	.search-list table tbody td .time{
		display: none;
	}
	.search-list table thead th::before,
	.search-list table tbody td::before{
		top: 12px;
		height: 12px;
	}
}
@media only screen and (max-height: 899px) {
	.search-list table thead th{
		height: 41px;
	}
	.search-list table tbody td{
		height: 39px;
	}
}
.page-list{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page-list .page-detail-info .title{
	position: relative;
    font-size: 16px;
	padding-bottom: 5px;
	padding-right: 30px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #a2aac8;
}
.page-list .page-detail-info .title a{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.page-list .page-detail-info .title a .icon{
	width: 20px;
	height: 20px;
}
.page-list .page-detail-info .info{
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    overflow: hidden;
}
.page-list .page-detail-info .info li{
    float: left;
    position: relative;
    margin: 0 10px 0 0;
}
.page-list .page-detail-info .info li::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 5px 0 0;
    background-color: #72788d;
    border-radius: 50%;
    vertical-align: 2px;
}
.page-list .page-detail-info .info li b::after{
    content: ":";
    display: inline-block;
    margin: 0 5px;
}

.page-list .page-detail-list{
    list-style: none;
	display: flex;
	flex-direction: column;
	min-height: 100%;
    padding: 0;
    margin: 0;
}
.page-list .page-detail-list li{
	display: flex;
    position: relative;
    padding: 0;
    margin: 5px 0;
}
.page-list .page-detail-list li::before {
    content: "";
    /*display: flex;*/
	display: none;
    background-image: url(../images/icon/arrow_page.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
	background-size: 15px 17px;
	flex: 0 1 35px;
}
.page-list .page-detail-list li p{
    position: relative;
    margin: 0;
}
.page-list .page-detail-list li .number{
    display: flex;
    background: #a2aac8;
    color: #fff;
	align-items: center;
	justify-content: center;
	flex: 0 1 65px;
}
.page-list .page-detail-list li .text{
    padding: 5px 8px;
    background-color: #f3f4f9;
    font-size: 12px;
	flex: 1;
}
.page-list .page-detail-list li .text mark{
	background-color: transparent;
	color: #e03232;
}
/*.page-list .page-detail-list li:hover .text::after,
.page-list .page-detail-list li.active .text::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-width: 2px 2px 2px 0;
    border-style: solid;
    border-color: #a2aac8;
}*/
.page-list .page-list-item{
	padding: 15px 15px 10px;
	margin: 5px 0;
	border: 1px solid #cfd5eb;
	border-radius: 10px;
}
.page-list .page-list-item .page-detail-list li::before{
	display: none;
}
.page-list .page-detail-list li.empty,
.page-list .empty{
	display: flex;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	padding: 200px 30px 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../images/icon/icon_not_find.svg);
	background-size: 300px 300px;
	background-position: center -50px;
	background-repeat: no-repeat;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.page-list .empty p{
	min-width: 270px;
	padding: 3px;
}
.page-list .empty .empty-title{
	margin: 0 0 15px 0;
	font-size: 18px;
	color: #5f83f2;
	text-align: center;
	font-family: hh;
}
.page-list .label{
    display: inline-block;
    margin: 0 3px 0 0;
    vertical-align: 1px;
}
.search-list .label::before,
.page-list .label::before{
	display: block;
	width: 15px;
	height: 15px;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
.page-list .label-MCLOUD::before,
.search-list .label-MCLOUD::before,
.search-sort .sort-box .cate li[data-source-system-type="MCLOUD"] a::before{
	background-color: #486a00;
	content: "M"
}
.page-list .label-QUALIFY::before,
.search-list .label-QUALIFY::before,
.search-sort .sort-box .cate li[data-source-system-type="QUALIFY"] a::before{
	background-color: #486a00;
	content: "M"
}
.page-list .label-APPROVE::before,
.search-list .label-APPROVE::before,
.search-sort .sort-box .cate li[data-source-system-type="APPROVE"] a::before{
	background-color: #9e7f4d;
	content: "C"
}
.page-list .label-WIKI::before,
.search-list .label-WIKI::before,
.search-sort .sort-box .cate li[data-source-system-type="WIKI"] a::before{
	background-color: #ecb574;
	content: "A"
}
.page-list .label-INTEGRITY::before,
.search-list .label-INTEGRITY::before,
.search-sort .sort-box .cate li[data-source-system-type="INTEGRITY"] a::before{
	background-color: #8957a1;content: "I"
}
.page-list .label-QMS::before,
.search-list .label-QMS::before,
.search-sort .sort-box .cate li[data-source-system-type="QMS"] a::before{
	background-color: #f76f1d;content: "Q"
}

.paginationjs,
.search-list .paging{
	padding: 15px;
	text-align: center;
}
.paginationjs-pages,
.search-pagination{
	display: inline-block;
}
.paginationjs-pages ul,
.pagination{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}
.paginationjs-pages ul li,
.page-item{
	position: relative;
	min-width: 36px;
	height: 36px;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #ccc;
	align-items: center;
}
.paginationjs-pages ul li::before,
.paginationjs-pages ul li a,
.page-item::before,
.page-item a{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0 5px;
	color: #7e8396;
	align-items: center;
	justify-content: center;
}
.paginationjs-pages ul li:hover a,
.paginationjs-pages ul li:focus a,
.page-item:hover a,
.page-item:focus a{
	text-decoration: underline;
}
.paginationjs-pages ul li.active,
.page-item.active{
	border-width: 1px;
	border-color: #5f83f2;
	background-color: #5f83f2;
}
.paginationjs-pages ul li.active a,
.page-item.active a{
	color: #fff;
}
.paginationjs-pages ul li.active + li,
.page-item.active + .page-item{
	border-left-width: 0;
}
.paginationjs-pages ul li:first-child,
.page-item:first-child{
	border-radius: 3px 0 0 3px;
}
.paginationjs-pages ul li:last-child,
.page-item:last-child{
	border-radius: 0 3px 3px 0;
	border-right-width: 1px;
}
.paginationjs-pages ul li.paginationjs-prev::before,
.paginationjs-pages ul li.paginationjs-next::before,
.page-item.first::before,
.page-item.prev::before,
.page-item.next::before,
.page-item.last::before{
	content: "";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.page-item.first::before{
	content: "\f100";
}
.paginationjs-pages ul li.paginationjs-prev::before,
.page-item.prev::before{
	content: "\f104";
}
.paginationjs-pages ul li.paginationjs-next::before,
.page-item.next::before{
	content: "\f105";
}
.page-item.last::before{
	content: "\f101";
}
.paginationjs-pages ul li.paginationjs-prev a,
.paginationjs-pages ul li.paginationjs-next a,
.page-item.first a,
.page-item.prev a,
.page-item.next a,
.page-item.last a{
	position: absolute;
	left: 0;
	top: 0;
	text-indent: -9999px;
}
.paginationjs-pages ul li.disabled:hover,
.paginationjs-pages ul li.disabled a:hover,
.page-item.disabled:hover,
.page-item.disabled a:hover{
	cursor: no-drop;
}
.paginationjs-pages ul li.disabled::before,
.page-item.disabled::before{
	opacity: 0.7;
}

.list-buttons{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9998;
	background: #fff;
	border: 1px solid #cfd5eb;
	border-radius: 0 10px 10px;
	display: none;
	box-shadow: 1px 1px 1px #ccc;
}
.list-buttons::after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color: #cfd5eb transparent transparent #cfd5eb;
}
.list-buttons.bottom{
	border-radius: 10px 10px 10px 0;
}
.list-buttons.bottom::after{
	top: auto;
	bottom: 0;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #cfd5eb #cfd5eb;
}
.list-buttons ul{
	list-style: none;
	padding: 5px 10px;
	margin: 0;
}
.list-buttons ul li{
	border-top: 1px solid #cfd5eb;
}
.list-buttons ul li:first-child{
	border-top: 0 none;
}
.list-buttons ul li a{
	display: block;
	padding: 3px 0;
	color: #72788d;
}
.list-buttons ul li a:hover,
.list-buttons ul li a:focus{
	color: #5f83f2;
}
.list-buttons ul li a::before{
	content: "";
	display: inline-block;
	width: 18px;
	height : 15px;
	margin-right: 5px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}
.list-buttons ul li a.btn-view-document::before{
	background-image: url('../images/icon/icon_view_document.svg')
}
.list-buttons ul li a.btn-view-copy::before{
    background-image: url('../images/icon/icon_view_copy.svg')
}
.list-buttons ul li a.btn-view-page::before{
	background-image: url('../images/icon/icon_view_page.svg')
}
.list-buttons ul li a.btn-view-similar::before{
	background-image: url('../images/icon/icon_view_similar.svg')
}
.list-buttons ul li a.btn-view-same::before{
	background-image: url('../images/icon/icon_view_same.svg')
}
.list-buttons ul li a.btn-view-fave::before{
	height: 20px;
	background-image: url('../images/icon/icon_view_fave.svg');
}


/***********************
 *      settings
 ***********************/
#settingsPopup{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	filter: alpha(opacity=0);
}
.settings-wrap{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
}
.settings-content{
	position: absolute;
	left: 50%;
	top: calc(50% + 25px);
	width: 300px;
	padding: 0 5px 15px;
	background: #fff;
	border-radius: 10px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.settings-top{
	position: relative;
	margin: -55px auto 0;
	width: 110px;
	height: 110px;
	background-color: #fff;
	border-radius: 50%;
	z-index: 2;
}
.settings-top::before{
	content:"";
	display: block;
	position: relative;
	left: 5px;
	top: 5px;
	width: 100px;
	height: 100px;
	/* background: #5f83f2 url(../images/logo_bot.svg) center 5px no-repeat;
	background-size: 60px; */
	background: #5f83f2 url(../images/logo_mobis.svg) center 5px no-repeat;
	background-size: 50px;
	border-radius: 50%;
}
.settings-top span{
	position: absolute;
	left: 0;
	bottom: 20px;
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.settings-block-group{
	height: calc(100% - 50px);
	max-height: 480px;
	overflow-y: auto;
}
.settings-block{
	padding: 0 10px;
	margin: 10px 0;
}
.settings-title{
	margin: 0 0 3px 0;
}
.settings-title i{
	margin-right: 5px;
	color: #cfd5eb;
	font-size: 16px;
	vertical-align: -1px;
}
.settings-info{
	padding-left: 20px;
	margin: 0 0 5px 0;
	color: #999;
	font-size: 12px;
	font-weight: 400;
}
.settings-list,
.settings-list li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.settings-list li{
	padding: 2px 0;
}
.settings-list li.disabled dl{
	background-color: #efefef;
}
.settings-list li.disabled dl dt,
.settings-list li.disabled dl dd{
	opacity: 0.7;
}
.settings-list dl,
.settings-list dt,
.settings-list dd{
	padding: 0;
	margin: 0;
}
.settings-list dl{
	position: relative;
	padding: 0 100px 0 15px;
	background-color: #fff;
	border: 1px solid #cfd5eb;
	border-radius: 15px;
}
.settings-list dt{
	height: 30px;
	line-height: 30px;
	cursor: move;
}
.settings-list dt i{
	margin: 0 10px 0 0;
	font-size: 16px;
}
.settings-list li.disabled dt{
	cursor: no-drop;
}
.settings-list dd{
	position: absolute;
	right: 10px;
	top: 5px;
}

.settings-content .buttons{
	width: 100%;
	padding: 0 12px;
	margin: 10px 0 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.settings-content .buttons .btn{
	width: 100%;
	margin: 3px;
}

/***********************
 *       loader
 ***********************/
.loader-box{
	width: 60px;
	height: 18px;
}
.loader {
	display: block;
	position: relative;
	top: -9px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	animation: loader-uba7e1836 0.8s ease alternate infinite;
	animation-delay: 0.18s;
	margin: 0 auto 0;
}
.loader::after, .loader::before {
	display: block;
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	animation: loader-uba7e1836 0.8s ease alternate infinite;
}
.loader::before {
	left: -20px;
	box-shadow: 0 12px 0 -6px #9ab7f2;
}
.loader::after {
	right: -20px;
	animation-delay: 0.36s;
}
@keyframes loader-uba7e1836 {
	0% {
		box-shadow: 0 12px 0 -6px #9ab7f2;
	} 100% {
		box-shadow: 0 12px 0 #5f83f2;
	}

}


/***********************
 *       help
 ***********************/
.popup-help-header .help-header-title{
    position: relative;
    height: 68px;
    line-height: 80px;
    padding: 0 46px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.popup-help-header a.btn-popup-close{
    display: flex;
    position: absolute;
    right: 0;
    top: 14px;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
}
.popup-help-content ul,
.popup-help-content li{
    list-style: none;
    padding: 5px 0;
    margin: 0;
    color: #fff;
}
.popup-help-content dl,
.popup-help-content dt,
.popup-help-content dd{
    padding: 0;
    margin: 0;
}
.popup-help-content dl{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.popup-help-content dt{
    flex: 0 1 110px;
    height: 46px;
    line-height: 46px;
    background-color: #fff;
    border: 1px solid #cfd5eb;
    border-radius: 23px;
    color: #9d9d9f;
    overflow: hidden;
}
.popup-help-content dt img{
    height: 100%;
}
.popup-help-content dt i,
.popup-help-content dt .icon{
    font-size: 24px;
    vertical-align: middle;
}
.popup-help-content dd{
    flex: 1;
    padding-left: 15px;
    word-break: keep-all;
}
.popup-help-content .help-opener dt{
    flex: 0 1 46px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.popup-help-content .help-opener dt img{
    width: 24px;
}
.popup-help-content .help-feedback dt{
    flex: 0 1 34px;
	height: 34px;
	line-height: 34px;
    text-align: center;
    border: 3px solid #fff;
    color: #fff;
}
.popup-help-content .help-feedback .like dt{
    background-color: #6773d1;
}
.popup-help-content .help-feedback .like dt i{
    vertical-align: -2px;
}
.popup-help-content .help-feedback .dislike dt{
    background-color: #ff6378;
}

.popup-help-content .help-buttons dt{
    flex: 0 1 120px;
    border-radius: 10px;
    color: #5f83f2;
}
.popup-help-content .help-buttons dt i{
    margin: 0 7px 0 10px;
}

.popup-help-content .help-other dt{
    flex: 0 1 46px;
    text-align: center;
}

.help-img-2{
	position: absolute;
	bottom: 15px;
	left: 0;
}



/*상세검색*/
.search-option{
	position: relative;
	z-index: 1;
	width: 100%;
}
.search-option .search-option-inner{
	position: relative;
}
.search-option .search-option-inner .buttons{
	position: absolute;
	right: 15px;
	bottom: -33px;
	z-index: 1;
	overflow: hidden;
}
.search-option .search-option-inner .btn-option{
	display: block;
	float: right;
	width: 120px;
	height: 36px;
	line-height: 36px;
	margin-left: 3px;
	background-color: #fff;
	border: 1px solid #cfd5eb;
	border-radius: 10px;
	color: #727071;
	text-align: center;
}
.search-option .search-option-inner .btn-option i{
	font-size: 12px;
	margin-left: 5px;
}
.search-option .option-block-inner .input.input-date{
	display: flex;
	align-items: center;
}
.search-option .option-block-inner .input-inner .select{
	width: 76px;
	margin-right: 10px;
}
.search-option .option-block-inner .input-inner.bar{
	width: 30px;
	text-align: center;
}


.search-option[data-active="close"] .option-block{
	display: none;
}
.search-option[data-active="close"] .buttons{
	bottom: -33px;
}
.search-option[data-active="close"] .btn-option.btn-option-close{
	display: none;
}


.search-option[data-active="open"] .option-block{
	position: absolute;
	right: 15px;
	top: 42px;
	z-index: 1;
	width: 100%;
	max-width: 450px;
	padding: 5px 15px;
	background-color: #fff;
	border: 1px solid #a2aac8;
	border-radius: 10px 0 10px 10px;
	box-shadow: 1px 4px 8px 0px #ccc;
}
.search-option[data-active="open"] .option-block-inner{
	position: relative;
	display: flex;
	padding: 7px 0 7px 0;
	border-bottom: 1px solid #cfd5eb;
	align-items: center;
}
.search-option[data-active="open"] .option-block-inner .label{
	flex: 0 1 100px;
	font-family: hh;
	font-weight: 600;
}
.search-option[data-active="open"] .option-block-inner .input{
	flex: 1;
}
.search-option[data-active="open"] .btn-option{
	background-color: #f3f4f9;
	border-radius: 10px 10px 0 0;
	border-color: #a2aac8;
}
.search-option[data-active="open"] .btn-option.btn-option-close{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.search-option[data-active="open"] .btn-option-open{
	display: none;
}

.search-option[data-active="open"] .combobox.combobox-inline{

}
.search-option[data-active="open"] .combobox.combobox-inline > a{
	display: none;
}
.search-option[data-active="open"] .combobox.combobox-inline > ul{
	display: block;
	position: relative;
	max-height: initial;
	padding: 0;
	box-shadow: 0 0 0 transparent;
	border: 0 none;
}
.search-option[data-active="open"] .combobox.combobox-inline > ul > li{
	display: inline-block;
	border: 0 none;
	vertical-align: middle;
	min-width: 70px;
}
.search-option[data-active="open"] .btn-option-open{
	display: none;
}

@media only screen and (max-height: 899px) {
	body[data-scale="min"] .search-option-inner .btn-option-fixed{
		display: none;
	}
}
@media only screen and (max-width: 1359px) {

	.search-option[data-active="fixed"] .search-option-inner{
		padding-left: 12px;
		padding-right: 12px;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #cfd5eb;
	}
	.search-option[data-active="fixed"] .option-block{
		display: flex;
		flex-flow: wrap;
		align-items: baseline;
	}
	.search-option[data-active="fixed"] .option-block-inner{
		flex: 0 1 25%;
		padding: 0 2px;
	}
	.search-option[data-active="fixed"] .option-block-inner:nth-child(3){
		flex: 0 1 50%;
	}
	.search-option[data-active="fixed"] .option-block-inner .label{
		display: none;
	}
	.search-option[data-active="fixed"] .option-block-inner .input-date{
		display: flex;
		align-items: center;
	}
	.search-option[data-active="fixed"] .option-block-inner .input-date .input-inner:nth-child(1){
		flex: 0 1 100px;
		padding-right: 4px;
	}
	.search-option[data-active="fixed"] .search-option-inner .buttons{
		bottom: -36px
	}
	.search-option[data-active="fixed"] .search-option-inner .btn-option{
		float: left;
		border-radius: 0 0 10px 10px;
	}
	.search-option[data-active="fixed"] .search-option-inner .btn-option-open{
		background-color: #f3f4f9;
	}
	.search-option[data-active="fixed"] .search-option-inner .btn-option-close{
		border-top-color: #fff;
	}

}
@media only screen and (min-width: 1360px) {
	.search-option[data-active="fixed"] + .search-total,
	.search-option[data-active="fixed"] + .search-total + .search-list {
		margin-right: 320px;
	}

	.search-option[data-active="fixed"] + .search-total {
		padding-top: 18px;
	}

	.search-option[data-active="fixed"] + .search-total + .search-list table thead th.date,
	.search-option[data-active="fixed"] + .search-total + .search-list table thead th.edit {
		width: 100px;
	}

	.search-option[data-active="fixed"] + .search-total + .search-list table tbody td {
		padding: 0 6px;
	}

	.search-option[data-active="fixed"] + .search-total + .search-list table tbody td .time {
		display: none;
	}

	.search-option[data-active="fixed"] {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
		width: 320px;
		height: calc(100% - 47px);
		border-left: 1px solid #cfd5eb;
		overflow: hidden;
	}

	.search-option[data-active="fixed"] .search-option-inner {
		height: 100%;
		padding: 50px 0 0;
	}

	.search-option[data-active="fixed"] .search-option-inner .option-block {
		height: 100%;
        padding: 10px 15px;
        overflow-x: hidden;
        overflow-y: auto;
	}

	.search-option[data-active="fixed"] .search-option-inner .option-block-inner {
		padding: 7px 0 7px 0;
		border-bottom: 1px solid #cfd5eb;
	}

	.search-option[data-active="fixed"] .search-option-inner .buttons {
		display: flex;
		right: 0;
		bottom: calc(100% - 50px);
		width: 100%;
	}

	.search-option[data-active="fixed"] .search-option-inner .btn-option {
		float: none;
		width: 50%;
		height: 50px;
		line-height: 50px;
		margin: 0;
		border-radius: 0;
		border-width: 0 1px 1px 0;
	}

	.search-option[data-active="fixed"] .search-option-inner .btn-option-fixed {
		display: none;
	}

	.search-option[data-active="fixed"] .search-option-inner .btn-option-open {
		background-color: #f3f4f9;
	}

	.search-option[data-active="fixed"] .search-option-inner .btn-option-close {
		border-right-color: #fff;
		border-bottom-color: #fff;
	}
}

.security-list{
	list-style: none;
	padding: 0 10px;
	margin: 0;
}
.security-list li{
	position: relative;
	height: 70px;
	padding: 10px 0 10px 65px;
	margin: 0 0 0 0;
	font-size: 16px;
	border-bottom: 1px dashed #7e8396;
	display: flex;
	align-items: center;
	word-break: keep-all;
}
.security-list li span.num{
	position: absolute;
	left: 0;
	top: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: -25px 0 0 0;
	background-color: #35ccd5;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	word-break: keep-all;
}