<div class="common-section chatbot-log-section">
    <div class="common-container">
        <div class="common-header-title">
            <span>{{title}} 조회</span>
            <!-- debug [s] -->
            <!-- <div>
              {{startDate | date: 'yy-MM-dd HH:mm:ss'}}<br>{{endDate | date: 'yy-MM-dd HH:mm:ss'}}
            </div> -->
            <!-- debug [e] -->
        </div>
        <common-table>
            <div class="header-wrap-filter common-table">
                <div class="common-input table-input">
                    <div class="table-header-calendar">
                        <p-calendar [(ngModel)]="startDate" [maxDate]="endDate" placeholder="from"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                        <span class="term-bar">-</span>
                        <p-calendar [(ngModel)]="endDate" [minDate]="startDate" placeholder="to"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                    </div>
                    <div class="filter-wrap">
                        <p-dropdown
                                styleClass="custom-dropdown gray-dropdown"
                                [style]="{'width':'100px','border-right':'0'}"
                                [options]="optionList"
                                [(ngModel)]="selectOption"
                        ><ng-template let-item pTemplate="Option">
                            <div>{{item.label}}</div>
                        </ng-template>
                        </p-dropdown>
                        <input type="text" class="filter-input" placeholder="검색어를 입력해주세요." style="border: 1px solid #E2E2E2;" [(ngModel)]="searchStr" (keyup)="search($event)">
                    </div>
                    <app-page-size-sellector (pageSize)="onChangePageSize($event)"></app-page-size-sellector>
                </div>
                <div class="button-wrap">
                    <button class="btn-normal-box" (click)="search()">조건 검색</button>
                    <button class="btn-positive-line" (click)="downloadFile()">엑셀 다운로드</button>
                </div>
            </div>
            <div class="table-wrap-rowgroup" [hidden]="isWorking">
                <p-dataTable [value]="items" styleClass="custom-row-table">
                    <!--
                       [sortable]="true"
                       을 추가하면 페이지 내에서 정렬 함. 전체에서 정렬 기능을 넣으려면 전체 리스트를 쿼리해서 끊어야 함.
                     -->
                    <p-column [header]="header[0].id" field="utter_id"
                              [style]="header[0].style">
                        <ng-template let-col let-session="rowData" pTemplate="body">
                                {{session[col.field]}}
                        </ng-template>
                    </p-column>
                    <p-column [header]="header[1].id" field="botName"
                              [style]="header[1].style">
                        <ng-template let-col let-session="rowData" pTemplate="body">
                            {{session[col.field]}}
                        </ng-template>
                    </p-column>
                    <p-column [header]="header[2].id" field="sentence"
                              [style]="header[2].style">
                        <ng-template let-col let-session="rowData" pTemplate="body">
                            {{session[col.field] }}
                        </ng-template>
                    </p-column>
                    <p-column [header]="header[3].id" field="user_id"
                              [style]="header[3].style">
                        <ng-template let-col let-session="rowData" pTemplate="body">
                            {{session[col.field] }}
                        </ng-template>
                    </p-column>
                    <p-column [header]="header[4].id" field="dlgTime"
                              [style]="header[4].style">
                        <ng-template let-col let-session="rowData" pTemplate="body">
                            {{session[col.field] | dateTimeFormat: 'YY.MM.DD HH:mm:ss'}}
                        </ng-template>
                    </p-column>
                   <!-- <p-column [header]="header[5].id" field="dlgTime"
                              [style]="header[5].style">
                        <ng-template let-col let-session="rowData" pTemplate="body">
                            {{session[col.field]}}
                        </ng-template>
                    </p-column>-->
                    <ng-template pTemplate="emptymessage">
                        <div *ngIf="!isWorking" class="no-data">조회할 데이터가 없습니다</div>
                        <!-- <app-progress-spinner *ngIf="isWorking" [style]="{height:'200px'}"></app-progress-spinner> -->
                    </ng-template>
                </p-dataTable>
            </div>
            <div class="table-wrap-rowgroup" [hidden]="!isWorking">
                <pcholder-table [header]="header" [listLength]="paginator.pageSize" ></pcholder-table>
            </div>
            <div class="common-table-footer">
                <div [hidden]="isWorking" class="footer-wrap text-center">
                    <app-paginator (page)="onPaginator($event)"
                                   [totalCount]="paginator.totalCount"
                                   [pageSize]="paginator.pageSize"
                    ></app-paginator>
                </div>
            </div>
        </common-table>
    </div>
</div>
