@import "../../../../../css/style.common";

.select-name{
  text-decoration: underline;
  color:$link-color;
  cursor: pointer;
}

.btn-normal-list{
  background-color: $C7;
  color:$C0; 
  border: 1px $C7 solid;
  // height: 20px;
  // line-height: 18px;
  // padding: 0 5px;
  // vertical-align: top;
  // margin-left: 5px;
}
.common-header-bottom {
  padding-bottom: 10px;
}

ul.text-content {
  li{
    font-size: $font-04;
    line-height: 23px;
    list-style: inside disc;
  }
}