<div class="common-section chatbot-log-section">
  <div class="common-container">
    <div class="common-header-title">
      <span
          style="float: left;"
        >{{title}} 목록</span
      ><span
          style="float: right; padding-right: 10px"
        ><button class="btn-normal-list" type="button" (click)="goToList()">목록으로 이동</button></span
      >
    </div>
    <!-- <ul class="text-content">
      <li *ngFor="let v of vm">{{v.key | convertCase}}: {{v.value}}</li>
    </ul> -->
    <div class="common-content" [ngStyle]="{width: '560px', padding: '5px'}" >
      <div class="common-input modal-input ui-g" *ngFor="let v of vm">
        <div class="modal-content-title"
          style="float: left;
            border-right: solid 1px #dae1f4;
            width: 95px;
            margin-right: 5px"
        >{{v.key | convertCase}}</div>
        <p>{{((v.key == 'open_dtm' || v.key == 'close_dtm') && (v.value | isDateStr)) ? (v.value | dateTimeFormat: 'YY.MM.DD HH:mm:ss') : v.value}}</p>
      </div>
    </div>
    <div class="common-header-bottom">
    </div>
    <common-table>
      <div class="table-wrap-rowgroup">
        <p-dataTable [value]="items" styleClass="custom-row-table"
        >
          <p-column header="순서" field="dialog_seq"
              [style]="{'width':'42px'}"
            ><ng-template let-col let-item="rowData" pTemplate="body"
              >{{item[col.field]}}</ng-template
            ></p-column
          >
          <p-column header="시간" field="timestamp"
              [style]="{'width':'121px'}"
            ><ng-template let-col let-item="rowData" pTemplate="body"
              >{{item[col.field] | dateTimeFormat: 'YY.MM.DD HH:mm:ss'}}</ng-template
            ></p-column
          >
          <p-column header="사용자 ID" field="user_id"
              [style]="{'width':'85px'}"
            ><ng-template let-col let-session="rowData" pTemplate="body"
              >{{session[col.field]}}</ng-template
            ></p-column
          >
          <!-- <p-column header="화자" field="speaker"
              [style]="{'width':'85px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column> -->
          <p-column header="질문" field="question"
              [style]="{'width':'256px'}"
              [bodyStyle]="{'word-break': 'break-word',
                'text-align': 'left',
                'white-space': 'normal'
              }"
            ><ng-template let-col let-item="rowData" pTemplate="body"
              >{{item[col.field]}}</ng-template
            ></p-column
          >
          <p-column header="답변" field="answer"
              [style]="{'width':'256px'}"
              [bodyStyle]="{'word-break': 'break-word',
                'text-align': 'left',
                'white-space': 'normal'
              }"
            ><ng-template let-col let-item="rowData" pTemplate="body"
              ><span *ngIf="!(item.content_json | isEmpty)"
                  class="select-name"
                ><i class="icon-detail"
                  (click)="viewAnswerDetail(item)"
                ></i> </span
              ><span
                >{{item[col.field]}}</span
              ></ng-template
            ></p-column
          >
          <p-column header="엔진" field="dlg_step"
              [style]="{'width':'85px'}"
            ><ng-template let-col let-item="rowData" pTemplate="body"
              >{{item[col.field]}}</ng-template
            ></p-column
          >
          <p-column header="도메인" field="domain_name"
              [style]="{'width':'85px'}"
            ><ng-template let-col let-item="rowData" pTemplate="body"
              >{{item[col.field]}}</ng-template
            ></p-column
          >
          <p-column header="미답변" field="msg_type_cd"
              [style]="{'width':'87px'}"
            ><ng-template let-col let-item="rowData" pTemplate="body"
              >{{item[col.field] == cc.MSG_TYPE_UNKNOWN ? '답변못찾음': item[col.field]}}</ng-template
            ></p-column
          >
          <ng-template pTemplate="emptymessage">
            <div class="no-data">조회할 데이터가 없습니다</div>
          </ng-template>
        </p-dataTable>
      </div>
      <div class="common-table-footer">
        <div class="footer-wrap text-center">
          <app-paginator (page)="onPaginator($event)"
                [totalCount]="paginator.totalCount"
                [pageSize]="paginator.pageSize"
          ></app-paginator>
        </div>
      </div>
    </common-table>
  </div>
</div>

<!--upsert dialog model-->
<common-modal class="modal-add-wrap" #dialogDetailModal>
  <div class="common-modal-header">
    <div class="modal-title">대화 이력 상세</div>
    <div class="modal-close" (click)="modalClose()">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="modal-content-wrap">
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="chatbotWrap">
          <div class="chatbot_hd">
            <h3>버튼, 이미지, 캐로셀 등</h3>
          </div>
          <div class="chatbot_bd">
            <ul class="talkLst" *ngFor="let message of messages">

          <app-chatting-default
            [entity]="message.data"
            *ngIf="message.type === Type.SERVER" [message]="message.message"></app-chatting-default>
          <app-chatting-button
            [entity]="message.data"
            *ngIf="message.type === Type.SERVER && message.msgType === MessageType.BUTTON" [message]="message.message"></app-chatting-button>
          <app-chatting-image
            [entity]="message.data"
            *ngIf="message.type === Type.SERVER && message.msgType === MessageType.IMAGE" [message]="message.message"></app-chatting-image>
          <app-chatting-carousel
            [entity]="message.data"
            *ngIf="message.type === Type.SERVER && message.msgType === MessageType.CAROUSEL" [message]="message.message"></app-chatting-carousel>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="common-modal-footer">
    <!-- <div class="button-wrap float-right">
      <button class="btn-alert btn-cancel" type="button" (click)="modalClose()">취소</button>
    </div> -->
  </div>
</common-modal>
