<div id="container">
	<div id="contents">
		<div class="contents">
			<div class="titleBox tabWrap">
				<h3>Q&amp;A 관리 ({{domain_name}})</h3>
				<div class="common-sub-menu">
					<ul class="tab_nav">
						<p-tabMenu #menu [model]="items" [activeItem]="activeItem" (click)=menuClick(menu)></p-tabMenu>
					</ul>
				</div>
			</div>
			<div [ngSwitch]="select">
				<div *ngSwitchCase="'list'" class="tabWrap_container">
					<div class="titleBoxLine">
						<h4>Q&amp;A 목록</h4>
						<ul class="btnBox">
							<li *ngIf="domain_id > 0">
								<button type="button" (click)="addModalOpen()">
									<img src="../../../../../assets/images/ico_add_g.png">추가하기</button>
							</li>
							<li *ngIf="domain_id > 0">
								<button type="button" (click)="domainIndexing()">
									<img src="../../../../../assets/images/ico_indexing_g.png">도메인 인덱스</button>
							</li>
							<li *ngIf="domain_id > 0">
								<button type="button" (click)="openExcelUpload()">
									<img src="../../../../../assets/images/ico_upload_g.png"> 엑셀 업로드
								</button>
								<input id="upload" #fileView type="file" class="btn-upload-input"  (click)="initValue(fileView)"  (change)="uploadExcel($event)" multiple="false"/>
							</li>
							<li *ngIf="domain_id > 0" >
								<button type="button" (click)="downloadExcel()">
									<img src="../../../../../assets/images/ico_download_g.png">엑셀 다운로드
								</button>
							</li>
							<li *ngIf="domain_id > 0 && role_id === 'ADMIN'">
								<button type="button" (click)="openRichExcelUpload()">
									<img src="../../../../../assets/images/ico_upload_g.png"> RICH CONTENT 엑셀 업로드
								</button>
								<input id="uploadRich" #fileView2 type="file" class="btn-upload-input"  (click)="initValue(fileView2)"  (change)="uploadRichExcel($event)" multiple="false"/>
							</li>
						</ul>
					</div>
					<div class="tbl_lot_pdNone02">
						<div class="tbl_tree">
							<div class="RICH CONTENTtree" style="height: 637px; overflow-y: auto">
								<app-prime-tree [trees]="filesTree" [key]="'domain_name'" (outer)="onTreeSelect($event)"></app-prime-tree>
							</div>
						</div>
						<div class="tbl_tree_cont">
							<app-bqa-list  #listChild ></app-bqa-list>
						</div>
					</div>
				</div>
				<app-bqa-index *ngSwitchCase="'index'"></app-bqa-index>
				<app-bqa-domain *ngSwitchCase="'domain'"></app-bqa-domain>
			</div>
		</div>
	</div>
</div>
