
#frameProjectList {
    height:100%;
}

dd {
    padding:10px 10px 10px 30px; 
    font-size:14px; 
    display:inline-block; 
    color:#585858; 
    width:70%; 
    line-height:20px; 
    height:21px;
}