<div class="if_container">
  <div #frameWrapper *ngIf="!(urlDomainlist | isEmpty)">
    <iframe #frameScenario id="frameProjectList" style="border-width: 0px;width:100%;" [src]="urlDomainlist"></iframe>
  </div>
  <!--<button type="button" class="btn_refresh" (click)="initIframe()">재로딩</button>-->
</div>
