<div class="common-section chatbot-log-section">
    <div class="common-container">
        <div class="common-header-title">
            <span>인기검색어 통계</span>
        </div>
        <common-table>
            <div class="header-wrap-filter common-table">
                <div class="common-input table-input">
                    <div class="table-header-calendar">
                        <p-calendar [(ngModel)]="startDate" [maxDate]="endDate" placeholder="from"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true"
                                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                        <span class="term-bar">-</span>
                        <p-calendar [(ngModel)]="endDate" [minDate]="startDate" placeholder="to"
                                    dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true"
                                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                        ></p-calendar>
                    </div>
                    <div class="filter-wrap">
                        <p-dropdown styleClass="custom-dropdown gray-dropdown"
                                    [style]="{'width':'200px'}"
                                    [options]="option"
                                    [(ngModel)]="selectOption"
                                    (onChange)="onTeamListSelect($event)"
                        ><ng-template let-item pTemplate="Srch_static">
                            <div>{{item.label}}</div>
                        </ng-template></p-dropdown>
                        <input type="text" class="filter-input" placeholder="검색어를 입력해주세요." style="border: 1px solid #E2E2E2;" [(ngModel)]="searchStr" (keyup)="selectText">
                    </div>
                </div>
                <div class="button-wrap">
                    <button class="btn-normal-box" (click)="onSearchKey($event)">조건 검색</button>
                </div>
            </div>
            <div class="table-wrap-rowgroup">
                <p-dataTable [value]="statPopulars" styleClass="custom-row-table">
                    <p-column header="순위" field="order_id" [style]="{'width':'20%'}">
                        <ng-template let-col let-item="rowIndex" pTemplate="body">
                            {{item}}
                        </ng-template>
                    </p-column>
                    <p-column header="키워드" field="key"
                              [style]="{'text-align':'left', 'padding':'0 20px', 'width':'30%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>
                    <p-column header="클릭수" field="doc_count"
                              [style]="{'text-align':'left', 'padding':'0 20px', 'width':'30%'}">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div> {{item[col.field]}}</div>
                        </ng-template>
                    </p-column>

                    <ng-template pTemplate="emptymessage">
                        <div class="no-data">조회할 데이터가 없습니다</div>
                    </ng-template>
                </p-dataTable>
            </div>
            <div class="common-table-footer">
                <div class="footer-wrap text-center">
                    <div class="pagination">
                        <span class="btn-first btn-page" [class.disabled]="pg === 1" (click)="pageChanged(1)"></span>
                        <span class="btn-prev btn-page" [class.disabled]="pg === 1" (click)="pageChanged(pg - 1)"></span>
                        <span class="page-number"><span class="now-page">{{pg}}</span>/<span>{{totalPage}}</span></span>
                        <span class="btn-next btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(pg + 1)"></span>
                        <span class="btn-last btn-page" [class.disabled]="pg === totalPage" (click)="pageChanged(totalPage)"></span>
                    </div>
                </div>
            </div>
        </common-table>
    </div>
</div>
