/* START Create Chatbot */
@import "../../../../../css/style.common";
@import "./../chatbot-container.component";

/* custom chat-base */
.left-column-ex {
  float: left;
  width:30%;
  height: $common-wrapper-height;
  border: 0;
}
.right-column-ex {
  float: right;
  width:70%;
  height: 190px;
  border: 0;
}
.sub-block > .border-wrapper {
  width: 100%;
}

// chat-base ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.input-messages-wrapper {
  width: 100%;
  overflow-y: scroll;
  height: 228px;
  padding: 1px 0;
  margin-bottom: 5px;
  border: 1px solid $C3;
}
.input-message {
  float: left;
  height: 36px;
  border: 0;
  padding: 0;
}
.input-message-wrapper {
  width: 100%;
  height: 38px;
  border: 1px solid $C2;
  // border-top: 1px solid $C2;
  // border-bottom: 1px solid $C2;
  border-radius: 2px;
  margin-top: -1px;
}
.input-message-wrapper.textarea-message-wrapper {
  height: 74px;
}
.input-message-wrapper.textarea-message-wrapper .input-message {
  float: left;
  width: 550px;
  height: 72px;
  border: 0;
  padding: 0;
}
.input-message-wrapper.add-wrapper {
  height: 74px;
  min-width: 694px;
}
.input-message-wrapper.add-wrapper .input-message {
  padding: 0;
}
.input-message input {
  width: 550px;
  height: $common-wrapper-height;
  border: 0;
}
.input-message textarea {
  width: 595px;
  height: 72px;
  border: 0;
}
.input-message-btn-wrapper {
  float: right;
  text-align: center;
  border: 0;
  // border-left: 1px solid $C2;
}

.input-message-btn-wrapper.add-wrapper {
  height: 72px;
}
.input-message-btn-wrapper.add-wrapper .input-message-btn {
  top: 25%;
  position: relative;
}
.textarea-message-wrapper .input-message-btn-wrapper {
  height: 72px;
}
.textarea-message-wrapper .input-message-btn-wrapper .input-message-btn {
  top: 25%;
  position: relative;
}
.btn-add-button {
  height: 36px;
}

.input-buttons-wrapper {
  overflow-y: scroll;
  height: 76px;
  padding: 1px 0;
  margin-bottom: 5px;
  border: 1px solid $C3;
  border-top: 0;
  border-left: 0;
}
.input-button-order {
  width: 40px;
  display: inline-block;
  text-align: center;
  // cursor: pointer;
}
.input-button {
  float: left;
  width: 80%;
  height: $common-wrapper-height;
  border: 0;
}
.input-button input {
  border: 0;
  border-left: 1px solid $C2;
  border-radius: 0;
}
.input-button-title {
  width: 165px;
  height: 36px;
}
.input-button-content {
  width: 218px;
  height: 36px;
}
.no-data{
  padding-top: 31px;
  text-align: center;
}
.imgInput{
  max-width: 110px;
  max-height: 110px;
}



.open {
  animation: open 0.15s forwards;
  overflow: hidden;
}
@keyframes open {
  from{ height: 0; }
  to  { height: auto; }
}
.close {
  animation: close 0.15s forwards;
  overflow: hidden;
  padding-bottom: 0;
  height: 0;
  border: 0;
  padding-bottom: 0;
}
@keyframes close {
  from{ height: auto; }
  to  { height: 0; border: 0; padding-bottom: 0; }
}

#greetingMessage {
  background-color: rgb(234, 239, 249);
}
#unknownMessage {
  background-color: rgb(234, 239, 249);
}

/* END Create Chatbot */
