<div class="common-input modal-input ui-g">
  <div class="common-wrapper ui-g-12">
    <div class="left-column-ex">
      <!-- <form [formGroup]="form">
      </form> -->
      <form>
        <div class="block">
          <img [src]="img_path" class="imgInput" #img_input alt="original image" onerror="this.src = '../../../../../assets/images/chatbot-default.png';"/>
          <img style="display:none" [src]="thumb_img_path" class="thumbImgInput" #thumb_img_input alt="thumbnail image">
        </div>
        <div class="block" style="padding-top: 4px;">
          <label for="upload" class="btn-positive-line btn-upload-label">사진 변경</label>
          <input #fileInput id="upload" type="file" accept="image/*" class="btn-upload-input" (change)="onFileChange($event, fileInput)" multiple="false"/>
        </div>
        <div>이미지 파일(png,jpg)을 {{maxSize + '*' + maxSize}} 이내로<br>업로드해주십시오.</div>
      </form>
    </div>
    <div class="right-column-ex">
      <div class="common-input modal-input">
        <div class="section-title modal-content-title">챗봇 설명</div>
        <textarea pInputTextarea [(ngModel)]="description" style="height: 160px; max-height: 100%;"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="common-input ui-g border-wrapper">
  <div class="ui-g-12">
    <div class="section-title modal-content-title" style="height: 43px;">
      <span style="float:left;margin-top: 8px;">Greeting message <!--<i class="icon-question"></i>--></span>
      <span style="float:right;">
        <button type="button" class="btn-normal-box" (click)="previewGreeting($event)">미리보기</button>
      </span>
    </div>
    <div #greetingMessagesEle class="input-messages-wrapper no-data" *ngIf="greetingMessages | isEmpty">
      등록된 메시지가 없음.
    </div>
    <div #greetingMessagesEle class="input-messages-wrapper" *ngIf="!(greetingMessages | isEmpty)">
      <div class="input-message-wrapper textarea-message-wrapper" *ngFor="let item of greetingMessages">
        <div class="input-message">
          <textarea [(ngModel)]="item.msg" (change)="isChangeGreeting($event)"></textarea>
          <!-- [value]="item.msg | newline" -->
        </div>
        <div class="input-message-btn-wrapper">
          <button type="button" class="input-message-btn btn-simple" (click)="updateGreeting($event,item)"><i class="icon-edit"></i></button>
          <button type="button" class="input-message-btn btn-simple" (click)="removeGreeting($event,item)"><i class="icon-remove2"></i></button>
        </div>
      </div>
    </div>
    <div class="input-message-wrapper add-wrapper">
      <div class="input-message">
        <textarea id="greetingMessage" placeholder="메시지 추가(랜덤)" [(ngModel)]="greetingMessage" (keyup)="enterGreeting($event)"></textarea>
      </div>
      <div class="input-message-btn-wrapper add-wrapper">
        <button type="button" class="input-message-btn btn-primary btn-simple" (click)="addGreeting()">메시지 추가</button>
      </div>
    </div>
  </div>
  <div class="sub-block">
    <div class="block clickable" (click)="toggleGreetingButton()">Button 추가 <i [ngClass]="{'icon-down': !getGreetingButtonState(), 'icon-up': getGreetingButtonState()}"></i></div>
    <div class="border-wrapper common-input modal-input ui-g" [ngClass]="{'open': !getGreetingButtonState(), 'close': getGreetingButtonState()}">
      <div class="ui-g-12">
        <div #greetingButtonsEle class="input-buttons-wrapper no-data" *ngIf="greetingButtons | isEmpty">
          등록된 버튼이 없음.
        </div>
        <div #greetingButtonsEle class="input-buttons-wrapper" *ngIf="!(greetingButtons | isEmpty)">
          <div class="input-message-wrapper" *ngFor="let item of greetingButtons">
            <div class="input-button">
              <div class="input-button-order">
                <i class="icon-menu_3line"></i>
              </div>
              <input class="input-button-title" type="text" placeholder="버튼명" [(ngModel)]="item.title" (change)="isChangeGreetingBtn($event)">
              <input class="input-button-content" type="text" placeholder="전송값" [(ngModel)]="item.user_utter" (change)="isChangeGreetingBtn($event)">
            </div>
            <div class="input-message-btn-wrapper">
              <button type="button" class="btn-simple" (click)="updateGreetingButton($event,item)"><i class="icon-edit"></i></button>
              <button type="button" class="btn-simple" (click)="removeGreetingButton($event,item)"><i class="icon-remove2"></i></button>
            </div>
          </div>
        </div>
        <div class="input-message-wrapper">
          <div class="input-button">
            <div class="input-button-order">&nbsp;</div>
            <input id="greetingButtonTitle" class="input-button-title" type="text" placeholder="버튼명" [(ngModel)]="greetingButton">
            <input id="greetingButtonContent" class="input-button-content" type="text" placeholder="전송값" [(ngModel)]="greetingButtonContent" (keyup)="enterGreetingButton($event)">
          </div>
          <div class="input-message-btn-wrapper">
            <button type="button" class="btn-add-button btn-primary btn-simple" (click)="addGreetingButton()">버튼 추가</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<div class="common-input ui-g border-wrapper">
  <div class="ui-g-12">
    <div class="section-title modal-content-title" style="height: 43px;">
      <span style="float:left;margin-top: 8px;">Unknown message <!--<i class="icon-question"></i>--></span>
      <span style="float:right;">
        <button type="button" class="btn-normal-box" (click)="previewUnknown($event)">미리보기</button>
      </span>
    </div>
    <div #unknownMessagesEle class="input-messages-wrapper no-data" *ngIf="unknownMessages | isEmpty">
      등록된 메시지가 없음.
    </div>
    <div #unknownMessagesEle class="input-messages-wrapper" *ngIf="!(unknownMessages | isEmpty)">
      <div class="input-message-wrapper textarea-message-wrapper" *ngFor="let item of unknownMessages">
        <div class="input-message">
          <textarea [(ngModel)]="item.msg" (change)="isChangeUnknown($event)"></textarea>
        </div>
        <div class="input-message-btn-wrapper">
          <button type="button" class="input-message-btn btn-simple" (click)="updateUnknown($event,item)"><i class="icon-edit"></i></button>
          <button type="button" class="input-message-btn btn-simple" (click)="removeUnknown($event,item)"><i class="icon-remove2"></i></button>
        </div>
      </div>
    </div>
    <div class="input-message-wrapper add-wrapper">
      <div class="input-message">
        <textarea id="unknownMessage" placeholder="메시지 추가(랜덤)" [(ngModel)]="unknownMessage" (keyup)="enterUnknown($event)"></textarea>
      </div>
      <div class="input-message-btn-wrapper add-wrapper">
        <button type="button" class="input-message-btn btn-primary btn-simple" (click)="addUnknown()">메시지 추가</button>
      </div>
    </div>
  </div>
  <div class="sub-block">
    <div class="block clickable" (click)="toggleUnknownButton()">Button 추가 <i [ngClass]="{'icon-down': !getUnknownButtonState(), 'icon-up': getUnknownButtonState()}"></i></div>
    <div class="border-wrapper common-input modal-input ui-g" [ngClass]="{'open': !getUnknownButtonState(), 'close': getUnknownButtonState()}">
      <div class="ui-g-12">
        <div #unknownButtonsEle class="input-buttons-wrapper no-data" *ngIf="unknownButtons | isEmpty">
          등록된 버튼이 없음.
        </div>
        <div #unknownButtonsEle class="input-buttons-wrapper" *ngIf="!(unknownButtons | isEmpty)">
          <div class="input-message-wrapper" *ngFor="let item of unknownButtons">
            <div class="input-button">
              <div class="input-button-order">
                <i class="icon-menu_3line"></i>
              </div>
              <input class="input-button-title" type="text" placeholder="버튼명" [(ngModel)]="item.title" (change)="isChangeUnknownBtn($event)">
              <input class="input-button-content" type="text" placeholder="전송값" [(ngModel)]="item.user_utter" (change)="isChangeUnknownBtn($event)">
            </div>
            <div class="input-message-btn-wrapper">
              <button type="button" class="btn-simple" (click)="updateUnknownButton($event,item)"><i class="icon-edit"></i></button>
              <button type="button" class="btn-simple" (click)="removeUnknownButton($event,item)"><i class="icon-remove2"></i></button>
            </div>
          </div>
        </div>
        <div class="input-message-wrapper">
          <div class="input-button">
            <div class="input-button-order"></div>
            <input id="unknownButtonTitle" class="input-button-title" type="text" placeholder="버튼명" [(ngModel)]="unknownButton">
            <input id="unknownButtonContent" class="input-button-content" type="text" placeholder="전송값" [(ngModel)]="unknownButtonContent" (keyup)="enterUnknownButton($event)">
          </div>
          <div class="input-message-btn-wrapper">
            <button type="button" class="btn-add-button btn-primary btn-simple" (click)="addUnknownButton()">버튼 추가</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<div class="common-input ui-g border-wrapper">
  <div class="ui-g-12">
    <div class="section-title modal-content-title" style="height: 43px;">
      <span style="float:left;margin-top: 8px;">
        Notification Images <!--<i class="icon-question"></i>-->
      </span>
      <!--
      <span style="float:right;">
        <button type="button" class="btn-normal-box" (click)="previewNotificationImage($event)">미리보기</button>
      </span>
      -->
    </div>
  </div>
  <div class="sub-block">
    <div class="block clickable" (click)="toggleNotice1Image()">
      챗봇 공지사항1 이미지 추가 <i [ngClass]="{'icon-down': !getNotice1Image(), 'icon-up': getNotice1Image()}"></i>
    </div>
    <div class="border-wrapper common-input modal-input ui-g" [ngClass]="{'open': !getNotice1Image(), 'close': getNotice1Image()}">
      <div style="width:320px; padding:10px;">
        <img style="width:300px; height:200px;" [src]="notice1_img_path" onerror="this.src='../../../../../assets/images/noimage.png';" alt="chatbot notification image">
      </div>
      <div style="width:240px; padding: 10px 10px 10px 0;">
        <p-checkbox [style]="{'border': '1px solid #dae1f4','border-radius': '2px'}"
                    label="사용여부" [(ngModel)]="notice1UseYn" binary="false">
        </p-checkbox> <br><br>
        <input style="width:230px;" type="text" placeholder="텍스트를 입력해 주세요" [(ngModel)]="notice1Img.image_text" /> <br><br>
        <input style="width:230px;" type="text" placeholder="연결할 url을 입력해 주세요" [(ngModel)]="notice1Img.link_url" /> <br><br>
        <input #notice1_img_input type="file" accept="image/*" (change)="onFileChangeNotice(1)" /> <br><br>
        <button type="button" class="btn-normal-box" (click)="saveNoticeImg(1)">저장</button>
      </div>
    </div>

    <br/><br/>
    <div class="block clickable" (click)="toggleNotice2Image()">
      챗봇 공지사항2 이미지 추가 <i [ngClass]="{'icon-down': !getNotice2Image(), 'icon-up': getNotice2Image()}"></i>
    </div>
    <div class="border-wrapper common-input modal-input ui-g" [ngClass]="{'open': !getNotice2Image(), 'close': getNotice2Image()}">
      <div style="width:320px;padding:10px;">
        <img style="width:300px;height:200px;" [src]="notice2_img_path" onerror="this.src='../../../../../assets/images/noimage.png';" alt="chatbot notification image">
      </div>
      <div style="width:240px; padding: 10px 10px 10px 0;">
        <p-checkbox [style]="{'border': '1px solid #dae1f4','border-radius': '2px'}"
                    label="사용여부" [(ngModel)]="notice2UseYn" binary="false">
        </p-checkbox> <br><br>
        <input style="width:230px;" type="text" placeholder="텍스트를 입력해 주세요" [(ngModel)]="notice2Img.image_text" /> <br><br>
        <input style="width:230px;" type="text" placeholder="연결할 url을 입력해 주세요" [(ngModel)]="notice2Img.link_url" /> <br><br>
        <input #notice2_img_input type="file" accept="image/*" (change)="onFileChangeNotice(2)" /> <br><br>
        <button type="button" class="btn-normal-box" (click)="saveNoticeImg(2)">저장</button>
      </div>
    </div>

    <br/><br/>
    <div class="block clickable" (click)="toggleNotice3Image()">
      챗봇 공지사항3 이미지 추가 <i [ngClass]="{'icon-down': !getNotice3Image(), 'icon-up': getNotice3Image()}"></i>
    </div>
    <div class="border-wrapper common-input modal-input ui-g" [ngClass]="{'open': !getNotice3Image(), 'close': getNotice3Image()}">
      <div style="width:320px;padding:10px;">
        <img style="width:300px;height:200px;" [src]="notice3_img_path" onerror="this.src='../../../../../assets/images/noimage.png';" alt="chatbot notification image">
      </div>
      <div style="width:240px; padding: 10px 10px 10px 0;">
        <p-checkbox [style]="{'border': '1px solid #dae1f4','border-radius': '2px'}"
                    label="사용여부" [(ngModel)]="notice3UseYn" binary="false">
        </p-checkbox> <br><br>
        <input style="width:230px;" type="text" placeholder="텍스트를 입력해 주세요" [(ngModel)]="notice3Img.image_text" /> <br><br>
        <input style="width:230px;" type="text" placeholder="연결할 url을 입력해 주세요" [(ngModel)]="notice3Img.link_url" /> <br><br>
        <input #notice3_img_input type="file" accept="image/*" (change)="onFileChangeNotice(3)" /> <br><br>
        <button type="button" class="btn-normal-box" (click)="saveNoticeImg(3)">저장</button>
      </div>
    </div>

    <br/><br/>
    <div class="block clickable" (click)="toggleNotice4Image()">
      검색 공지사항 이미지 추가 <i [ngClass]="{'icon-down': !getNotice4Image(), 'icon-up': getNotice4Image()}"></i>
    </div>
    <div class="border-wrapper common-input modal-input ui-g" [ngClass]="{'open': !getNotice4Image(), 'close': getNotice4Image()}">
      <div style="width:320px;padding:10px;">
        <img style="width:300px;height:200px;" [src]="notice4_img_path" onerror="this.src='../../../../../assets/images/noimage.png';" alt="search notification image">
      </div>
      <div style="width:240px; padding: 10px 10px 10px 0;">
        <p-checkbox [style]="{'border': '1px solid #dae1f4','border-radius': '2px'}"
                    label="사용여부" [(ngModel)]="notice4UseYn" binary="false">
        </p-checkbox> <br><br>
        <input style="width:230px;" type="text" placeholder="텍스트를 입력해 주세요" [(ngModel)]="notice4Img.image_text" /> <br><br>
        <input style="width:230px;" type="text" placeholder="연결할 url을 입력해 주세요" [(ngModel)]="notice4Img.link_url" /> <br><br>
        <input #notice4_img_input type="file" accept="image/*" (change)="onFileChangeNotice(4)" /> <br><br>
        <button type="button" class="btn-normal-box" (click)="saveNoticeImg(4)">저장</button>
      </div>
    </div>
  </div>
</div>

<div class="common-input ui-g border-wrapper">
  <div class="ui-g-12">
    <div class="section-title modal-content-title" style="height: 43px;">
    <span style="float:left;margin-top: 8px;">동의어 사전 활용여부
     <!-- <i class="icon-question"></i>-->
    </span>
    </div>
    <div style="float:right;">
      <p-inputSwitch onLabel="ON" [style]="{'float':'right'}" offLabel="OFF" (click)="isChangeSynonymFlag()" binary="false" [(ngModel)]="synonymFlag"></p-inputSwitch>
    </div>
  </div>
</div>


<!-- <div>
debug:<br>
{{greetingButtons | isEmpty}}<br>
{{unknownButtons | isEmpty}}
</div> -->
