//colors
$white: #fff;
$color_ebony_clay_approx: #222c46;
$black: #000;
$color_mine_shaft_approx: #333;

//fonts
$font_0: Noto Sans KR;
$font_1: sans-serif;

//urls
$url_0: url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
$url_1: url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);

//@extend-elements
//original selectors
//html, body
%extend_1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: $font_0, $font_1;
	background: $white;
	font-size: 12px;
	color: $color_ebony_clay_approx;
	line-height: 18px;
}

//original selectors
//div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, legend, em, span
%extend_2 {
	margin: 0;
	padding: 0;
	font-family: $font_0, $font_1;
}


* {
	font-family: $font_0, $font_1;
	word-breka: keep-all;
}
html {
	@extend %extend_1;
	&:first-child select {
		padding-right: 6px;
		height: 20px;
	}
}
body {
	@extend %extend_1;
}
div {
	@extend %extend_2;
}
dl {
	@extend %extend_2;
}
dt {
	@extend %extend_2;
}
dd {
	@extend %extend_2;
}
ul {
	@extend %extend_2;
	list-style: none;
}
ol {
	@extend %extend_2;
	list-style: none;
}
li {
	@extend %extend_2;
	list-style: none;
}
h1 {
	@extend %extend_2;
	font-family: $font_0, $font_1;
}
h2 {
	@extend %extend_2;
	font-family: $font_0, $font_1;
}
h3 {
	@extend %extend_2;
	font-family: $font_0, $font_1;
}
h4 {
	@extend %extend_2;
	font-family: $font_0, $font_1;
}
h5 {
	@extend %extend_2;
	font-family: $font_0, $font_1;
}
h6 {
	@extend %extend_2;
	font-family: $font_0, $font_1;
}
pre {
	@extend %extend_2;
	word-wrap: break-word;
}
form {
	@extend %extend_2;
	display: block;
	border: none;
}
fieldset {
	@extend %extend_2;
	display: block;
	border: none;
}
input {
	@extend %extend_2;
	&:focus {
		outline: none !important;
	}
}
textarea {
	@extend %extend_2;
	overflow: auto;
	resize: none;
	&:focus {
		outline: none !important;
	}
}
p {
	@extend %extend_2;
}
blockquote {
	@extend %extend_2;
}
th {
	@extend %extend_2;
	//Instead of the line below you could use @include word-break($value)
	word-break: break-all;
	font-style: normal;
	font-weight: normal;
}
td {
	@extend %extend_2;
	//Instead of the line below you could use @include word-break($value)
	word-break: break-all;
}
legend {
	@extend %extend_2;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
em {
	@extend %extend_2;
	font-style: normal;
	font-weight: normal;
}
span {
	@extend %extend_2;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	font-family: $font_0, $font_1;
}
img {
	border: none;
	vertical-align: top;
}
address {
	font-style: normal;
	font-weight: normal;
}
caption {
	font-style: normal;
	font-weight: normal;
}
cite {
	font-style: normal;
	font-weight: normal;
}
code {
	font-style: normal;
	font-weight: normal;
}
dfn {
	font-style: normal;
	font-weight: normal;
}
var {
	font-style: normal;
	font-weight: normal;
}
abbr {
	border: none;
}
acronym {
	border: none;
}
hr {
	display: none;
}
a {
	text-decoration: none;
	color: $black;
	cursor: pointer;
	font-family: $font_0, $font_1;
	&:link {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:hover {
		color: $color_mine_shaft_approx;
		text-decoration: none;
	}
	&:active {
		color: $color_mine_shaft_approx;
		text-decoration: none;
	}
	&:focus {
		color: $color_mine_shaft_approx;
		text-decoration: none;
		outline: none !important;
	}
}
option {
	padding-right: 6px;
}
label {
	font-family: $font_0, $font_1;
}
br {
	background: none !important;
}
button:focus {
	outline: none !important;
}



/* MINDsLab. UX/UI Team. YMJ. 20180825 */ 

/* Loading */ 
.page_loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#02112e; z-index:9999;}
.loading_itemBox {display:block; position:absolute; top:50%; left:50%; width:80px; height:80px; margin:-40px 0 0 -40px;}
.loading_itemBox span {position:absolute; top:33px; width:13px; height:13px; border-radius:50%; background:#0dd3d3; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.loading_itemBox span:nth-child(1) {left:8px;  animation:loading_item1 0.6s infinite;}
.loading_itemBox span:nth-child(2) {left:8px;  animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(3) {left:32px; animation:loading_item2 0.6s infinite;}
.loading_itemBox span:nth-child(4) {left:56px; animation:loading_item3 0.6s infinite;}

@keyframes loading_item1 {
  0% {transform:scale(0);}
100% {transform:scale(1);}
}
@keyframes loading_item3 {
  0% {transform:scale(1);}
100% {transform:scale(0);}
}
@keyframes loading_item2 {
  0% {transform:translate(0, 0);}
100% {transform:translate(24px, 0);}
}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}

@-webkit-keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

@keyframes pageldg_hide {
0% {opacity:1;}
100% {opacity:0;}
}

body {background:url('../../../assets/images/bg_login.png') 50% 50% no-repeat; background-size: cover;}

.login-content-container{
  width: 100%;
  height: 100%;
  background: url('../../../assets/images/bg_login.png') 50% 50% no-repeat; background-size: cover;
  position: relative;
  min-width: 400px;
}
/* IE 지원 브리우저 안내메세지 */ 
// .legacy_browser {position:fixed; top:0; left:0; width:100%; height:100%; background:url('../../../assets/images/bg_legacy_browser.png') 0 0 repeat; z-index:9999;}
// .legacy_browser .legacyBox {overflow:hidden; position:absolute; top:50px; left:50%; width:400px; margin:0 0 0 -200px; border-radius:5px; box-shadow:0 0 30px rgba(0,0,0,0.5); background:#fff;}
// .legacy_browser .legacyBox .tit {clear:both; overflow:hidden; padding:10px 20px; background:#183554;}
// .legacy_browser .legacyBox .tit h1 {float:left;}
// .legacy_browser .legacyBox .tit h1 img {width:120px;}
// // .legacy_browser .legacyBox .tit .btn_legacy_close {overflow:hidden; float:right; width:30px; height:30px; text-indent:-999px; border:none; background:url('../../../assets/images/btn_legacy_close_w.png') 50% 50% no-repeat; opacity:0.3; cursor:pointer;}
// .legacy_browser .legacyBox .txt {display:block; padding:20px; color:#333; font-size:15px; line-height:24px; word-break:keep-all;}
// .legacy_browser .legacyBox .txt a {color:#0dd3d3;}
// .legacy_browser .legacyBox .txt a:hover, .legacy_browser .legacyBox .txt a:focus {text-decoration:underline;}

.main_tit {position: absolute; top: 50%; left: 50%; margin: -250px 0 0 -180px; ;color:#fff; font-size: 20px; font-weight: bold;}
.main_tit span {font-size: 18px; font-weight: 300;}
/* Login */ 
.loginWrap {overflow:hidden; position:absolute; top:50%; left:50%; width:853px; height:416px; margin:-208px 0 0 -426px; border-radius:5px; box-shadow:0 0 30px rgba(0,0,0,0.1); background:#fff;}
.loginWrap fieldset {display:block; float:left; width:100%; height:100%;}
.loginWrap .loginBox {display:table; width:100%; height:100%;}
.loginWrap .fl {display:table-cell;  width:50%; height:100%; text-align:center; vertical-align:middle;}
.loginWrap .fr {display:table-cell; position:relative; width:50%; padding:0 55px; text-align:center; vertical-align:middle;}
.loginWrap .fr:before {content: "";position: absolute; left: -1px; bottom: 90px; width: 1px ; height: 240px; background: #d8e2fa; }

.loginWrap .fl .sub_logo {margin: 10px 0 0 0;}
.loginWrap .fr span {display:block; position:relative; margin:0 0 5px 0;}
// .loginWrap .fr span .ipt_txt {display:block; width:calc(100% - 47px); height:36px; padding:0 5px 0 40px; line-height:36px; border:2px solid #fff; border-radius:5px; box-shadow:inset 2px 2px 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.loginWrap .fr span .ipt_txt {display:block; width:calc(100% ); height:36px; padding:0 5px 0 40px; line-height:36px; border:2px solid #fff; border-radius:5px; box-shadow:inset 2px 2px 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.loginWrap .fr span #ipt_id {background:#e0e9f6 url('../../../assets/images/ico_email.png') 10px 50% no-repeat;}
.loginWrap .fr span #ipt_pw {background:#e0e9f6 url('../../../assets/images/ico_pw.png') 10px 50% no-repeat;}
.loginWrap .fr span .ipt_txt:focus {border:2px solid #0dd3d3; box-shadow:none; background-color: #fff !important; transition:all 0.3s ease-out;}
.loginWrap .fr span .ipt_txt.error { border:2px solid #f00;  transition:all 0.3s ease-out;}
.loginWrap .fr span .rta_txt:focus{border:2px solid #ff8415;}
.loginWrap .fr span .chatbot_txt:focus{border:2px solid #6d98fa;}
.loginWrap .fr span .voc_txt:focus{border:2px solid #654ccc;}

.loginWrap .fr span .txt_error { position:absolute; top:-23px; left:0; color: #f00; text-align:left;}
.loginWrap .fr span .disbBox {position:absolute; top:0; left:0; width:100%; height:100%; cursor: pointer;}
.loginWrap .fr span .btn_login {display:block; width:100%; height:46px; margin: 27px 0 0 0; color:#fff; font-size:14px; line-height:46px; border:none; border-radius:3px; background:#0dd3d3; cursor:pointer; transition:all 0.3s ease-out;}
.loginWrap .fr span .btn_login_rta{background:#ff8415;}
.loginWrap .fr span .btn_login_chatbot{background:#6d98fa;}
.loginWrap .fr span .btn_login_voc{background:#654ccc;}
.loginWrap .fr span .btn_login.disabled {height: 46px; background:#3b445b;}
.loginWrap .fr .btn_forgot {margin: 10px 0 0 0; color:#363a44;  text-align: center; background-color: transparent; border: none;}

.checks { padding:0 0 5px 2px; text-align:left;}
.checks input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0} 
.checks input[type="checkbox"] + label {display:inline-block; position:relative; color:#363a44; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;} 
.checks input[type="checkbox"] + label:before {content:''; display:inline-block; overflow:hidden; width:15px; height:15px; font-size:12px; line-height:14px; margin:-2px 5px 0 0; text-align:center; vertical-align:middle; border:none; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e0e9f6; transition:all 0.3s ease-out;} 
.checks input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#0dd3d3; transition:all 0.3s ease-out;}
.checks input[type="checkbox"]:checked + .check_rta:before {background:#ff8415;}
.checks input[type="checkbox"]:checked + .check_chatbot:before {background:#6d98fa;}
.checks input[type="checkbox"]:checked + .check_voc:before {background:#654ccc;}

.copyRight {position:absolute; bottom:20px; width:100%; color:#fff; text-align:center;}













