<!-- .page loading -->
<div *ngIf="pageFlag" id="page_ldWrap"  class="page_loading">
	<div class="loading_itemBox">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- //.page loading -->

<div class="login-content-container" >
<div class="main_tit">
	<h1>MAIBOT<span> HYUNDAI MOBIS AI BOT</span></h1>
</div>	
	

<form class="loginWrap" method="get" action="">
    <fieldset>
        <legend>Login</legend>
        <div class="loginBox">
            <div class="fl"><img src="../../../assets/images/logo_chatbot.png" alt="Main logo"><br><img class="sub_logo" src="../../../assets/images/sublogo_chatbot.png" alt="Sub logo"></div>
			
            <div class="fr">
                <span>
					<!-- [D] ID값 에러일 경우 input에 클래스 error를 선언해주세요. -->
					<input type="text" [(ngModel)]="ipt_id" name="ipt_id" id="ipt_id" (ngModelChange)="changeRequestData()" class="ipt_txt chatbot_txt" title="User Name" placeholder="User ID" (keyup)="enterLogin($event)">
				</span>
                <span>
					<!-- [D] pw값 에러일 경우 input에 클래스 error를 선언해주세요. -->
					<input type="password"  [(ngModel)]="ipt_pw" name="ipt_pw" id="ipt_pw" (ngModelChange)="changeRequestData()" class="ipt_txt chatbot_txt" title="Password" placeholder="Password"  (keyup)="enterLogin($event)">
				</span>
                <span class="checks">
                	<input type="checkbox" [(ngModel)]="ipt_check" name="ipt_check" id="ipt_check" class="ipt_check">
                    <label for="ipt_check" class="check_chatbot">Remember me</label>
                </span>
                <span>
					<!-- [D] 에러일 경우 .txt_error 스크립트로 구현 -->
					        <span *ngIf="errFlag" class="txt_error">ID나 Password를 다시 입력해 주세요.</span>
                	<!-- <em class="disbBox"></em> -->
                  <input type="button" name="btn_login" id="btn_login" [ngClass]="{'disabled': disableFlag}" class="btn_login btn_login_chatbot" title="Login" value="Login" (click)="login()"/>
                </span>
        <!-- <a class="btn_forgot">Forgot your password?</a> -->
            </div>
        </div>
    </fieldset>
</form>

<!-- //loginBox -->
<div class="copyRight"><span>HYUNDAI MOBIS Big Data & AI Team @ 2019</span></div>

 <!--alert modal-->
 <common-modal #alertModal class="alert-modal">
  <div class="common-modal-header">
    <div class="modal-title">{{alertModalTitle}}</div>
    <div class="modal-close" (click)="alertModal.modalClose();onCloseAlertModal(false);">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="modal-content-wrap">
    <p>{{alertModalText}}</p>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right">
      <button *ngIf="alertModalHasCancel" class="btn-alert btn-cancel" (click)="alertModal.modalClose();onCloseAlertModal(false);">취소</button>
      <button class="btn-alert" (click)="alertModal.modalClose();onCloseAlertModal(true);">확인</button>
    </div>
  </div>
</common-modal>

</div>
