<div  *ngIf="viewFlag" [ngClass]="{'common-modal-section':true, 'modal-section':viewFlag}">
    <div  class="common-modal-container">
        <div class="modal_top">
            <h3>최근 로그 이력</h3>
            <div class="modal-close" (click)="closePop()">
                <i class="icon-close"></i>
            </div>
        </div>
        <div class="modal_mid">
            <div class="modal_stn">
                <div class="cont">
                    <ul>
                        <li>최근 접속 : {{lastAccess | dateTimeFormat: 'YY.MM.DD HH:mm:ss' }}</li>
                        <li>접속 IP : {{accessIp}}</li>
                        <li>로그인 성공여부 : {{signedYn}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal_btm">
            <button (click)="closePop()">닫기</button>
        </div>
   </div>
</div>
