<div class="common-section">
  <!-- api interface start -->
  <div class="common-container">
    <div class="common-header-title">
      <span>API 정의</span>
    </div>

    <div class="common-content" [ngStyle]="{width: '90%'}">
      <div [formGroup]="updateForm">
        <div class="common-input">
          <div class="api-content-title">API 이름</div>
          <input type="text" formControlName="api_name" placeholder="API를 입력하세요" [(ngModel)]="updateItem.api_name" required>
        </div>
        <div class="common-input">
          <div class="api-content-title">API 설명</div>
          <input type="text" formControlName="description" placeholder="설명을 입력하세요" [(ngModel)]="updateItem.description"
            required>
        </div>
        <div class="common-input">
          <div class="api-content-title">End Point
          </div>
          <input type="text" formControlName="endpoint" placeholder="URL을 입력하세요" (keyup)="changeRequestData()" [(ngModel)]="updateItem.endpoint" required>
        </div>

        <div class="common-input">
          <div class="api-content-title">Method</div>
          <p-dropdown styleClass="custom-dropdown gray-dropdown" [style]="{'width':'300px'}" (onChange)="changeRequestData()" formControlName="method" [options]="methodList"
            [(ngModel)]="updateItem.method">
            <ng-template let-item>
              <div>{{item.label}}</div>
            </ng-template>
          </p-dropdown>
          <button class="btn-normal-line float-right" *ngIf="!apiSuccessFlag" (click)="requestApi()">Request API</button>
          <button class="btn-negative float-right" *ngIf="apiSuccessFlag" (click)="changeRequestData()">API 재정의</button>
        </div>

        <div class="common-input" *ngIf="updateItem.method == 'POST'">
          <div class="api-content-title">Content Type</div>
          <p-dropdown styleClass="custom-dropdown gray-dropdown" [style]="{'width':'300px'}" (onChange)="changeRequestData()" formControlName="content_type" [options]="typeList"
            [(ngModel)]="updateItem.content_type">
            <ng-template let-item>
              <div>{{item.label}}</div>
            </ng-template>
          </p-dropdown>
        </div>

      </div>
      <p-checkbox
      [style]="{'border': '1px solid #dae1f4','border-radius': '2px'}"
      label="Request 파라미터 사용" [(ngModel)]="useRequestFlag" binary="false" (click)="changeRequestData()" (click)="changeUseRequest(useRequestFlag, useJsonRequestFlag)"></p-checkbox>
    </div>
  </div>

  <!-- api params start -->
  <div class="common-container" *ngIf="useRequestFlag">
    <div class="common-header-title">
      <span>API Request 정의</span>
    </div>
    
    <div class="common-content" [ngStyle]="{width: '90%'}">
      <p-checkbox 
      [style]="{'border': '1px solid #dae1f4','border-radius': '2px'}"
      *ngIf="updateItem.method == 'POST' && updateItem.content_type == 'application/json'" label="JSON request body 사용" (click)="changeUseRequest(true, useJsonRequestFlag)" [(ngModel)]="useJsonRequestFlag"
        binary="false"></p-checkbox>

      <div class="common-input" *ngIf="updateItem.content_type == 'application/json' && useJsonRequestFlag">

        <div class="api-content-title">Request Json format
          <span *ngIf="invalidJsonFlag" style="color: red">(Json Format error)</span>
        </div>
        <textarea id="json_string" placeholder="내용을 입력해주세요." [(ngModel)]="jsonTemplate.json_string" (ngModelChange)=valid(jsonTemplate.json_string)
          style="width: 100%;height:300px;overflow-y: scroll;"></textarea>
      </div>

      <div [formGroup]="paramForm">

        <div *ngIf="updateItem.method == 'POST' && useJsonRequestFlag">
          <button class="btn-normal-line float-right" (click)="addParamItem('PT0001')">
            ADD JSON MAPPING
          </button>
          <div formArrayName="jsonList" *ngFor="let param of paramForm.get('jsonList')['controls']; let i = index;">
            <div [formGroupName]="i">
              <div class="common-input">
                <div class="ui-g-12">
                  <!-- <input type="text" formControlName="param_type" style="width:15%"> -->
                  &nbsp;JSON Mapping&nbsp;
                  <input type="hidden" formControlName="param_type"> 
                   &nbsp;KEY&nbsp;:
                  <input type="text" formControlName="param_name" style="width:15%"> 
                  
                <input type="hidden" formControlName="param_test_value" style="width:15%">
                  &nbsp;VALUE&nbsp;:
                  <input type="text" formControlName="param_value" style="width:15%">
                  &nbsp;description&nbsp;:
                  <input type="text" formControlName="description" style="width:30%">
                  <span style="margin-left: 10px;
                                  background-color: #FFFFFF;
                                  border: 1px solid #E2E2E2;">
                    <i class="icon-remove2" (click)="removeJsonParam(i)"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!useJsonRequestFlag">
        <button class="btn-normal-line float-right" (click)="addParamItem('PT0001')">
          ADD PARAMETER
        </button>
        <div formArrayName="paramList" *ngFor="let param of paramForm.get('paramList')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="common-input">
              <div class="ui-g-12">
                <!-- <input type="text" formControlName="param_type" style="width:15%"> -->
                &nbsp;Parameter&nbsp;
                <input type="hidden" formControlName="param_type"> 
                 &nbsp;KEY&nbsp;:
                <input type="text" formControlName="param_name" style="width:15%"> 
                &nbsp;TEST 값&nbsp;:
                <input type="text" formControlName="param_test_value" style="width:15%">
                &nbsp;VALUE&nbsp;:
                <input type="text" formControlName="param_value" style="width:15%">
                &nbsp;description&nbsp;:
                <input type="text" formControlName="description" style="width:30%">
                <span style="margin-left: 10px;
                                background-color: #FFFFFF;
                                border: 1px solid #E2E2E2;">
                  <i class="icon-remove2" (click)="removeParam(i)"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
        
        <button class="btn-normal-line float-right" (click)="addParamItem('PT0002')">
            ADD HEADER
          </button>
        <div formArrayName="headerList" *ngFor="let param of paramForm.get('headerList')['controls']; let i = index;">
            <div [formGroupName]="i">
              <div class="common-input">
                <div class="ui-g-12">
                    &nbsp;Header&nbsp;
                    <input type="hidden" formControlName="param_type"> 
                  &nbsp;KEY&nbsp;:
                  <input type="text" formControlName="param_name"  style="width:15%"> 
                  &nbsp;TEST 값&nbsp;:
                <input type="text" formControlName="param_test_value" style="width:15%">
                  &nbsp;VALUE&nbsp;:
                  <input type="text" formControlName="param_value" style="width:15%">
                  &nbsp;description&nbsp;:
                  <input type="text" formControlName="description" style="width:30%">
                  <span style="margin-left: 10px;
                                  background-color: #FFFFFF;
                                  border: 1px solid #E2E2E2;">
                    <i class="icon-remove2" (click)="removeHeader(i)"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


  <!-- api res start -->
  <div class="common-container">
      <div class="common-header-title">
        <span>API Response 정의</span>
      </div>
      <div class="common-content" [ngStyle]="{width: '90%', height: '126px'}" *ngIf="!apiSuccessFlag">
        성공한 API Request 없음
      </div>
      <div class="common-content" [ngStyle]="{width: '90%'}" *ngIf="apiSuccessFlag">

      <div class="common-input" *ngIf="data">
        <json-editor [options]="editorOptions" [data]="data" style="width: 100%;" (click)="editorClick()"></json-editor>
      </div>
      <div [formGroup]="resForm">
        <div class="common-input">
          <button class="btn-normal-line float-right" (click)="addResItem()">
            ADD RESPONSE
          </button>
          <button class="btn-normal-line float-right" (click)="jsonpathOpen(data)">
              HELP JSONPATH
            </button>
        </div>
        <div formArrayName="resList" *ngFor="let res of resForm.get('resList')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="common-input">
              <div class="ui-g-12">
                &nbsp;Json path&nbsp;:
                <input type="text" formControlName="json_path" style="width:30%"> &nbsp;Mapping parameter&nbsp;:
                <input type="text" formControlName="disp_name" style="width:30%">
                <span style="margin-left: 10px;
                            background-color: #FFFFFF;
                            border: 1px solid #E2E2E2;">
                  <i class="icon-remove2" (click)="removeRes(i)"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- api bottom start -->
  <div class="common-container">
    <div class="api-content-bottom">

      <div class="api-content-title" *ngIf="apiSuccessFlag">
      </div>
      <div class="api-content-title" *ngIf="updateForm.invalid" style="color: red"> API 정의 모든 항목을 입력해 주세요
      </div>
      <div class="api-content-title" *ngIf="!updateForm.invalid && resForm.invalid" style="color: red"> API를 요청하여, Response 값을 입력해 주세요
      </div>
      <div class="api-content-title" *ngIf="(!updateForm.invalid && !resForm.invalid && useRequestFlag ) && (!useJsonRequestFlag && paramForm.invalid ) && (useJsonRequestFlag && jsonTemplate.json_string =='' )" style="color: red">Request 값을 입력해 주세요, Request 불필요시 사용 여부 체크박스를 해지해 주세요
      </div>  
      <div class="button-wrap float-right">
        <button class="btn-alert btn-cancel" (click)="cancel()">취소</button>
        
        <button class="btn-alert" type="button" *ngIf="!updateForm.invalid && !resForm.invalid && (!useRequestFlag || (useRequestFlag && !paramForm.invalid) || ( useRequestFlag && useJsonRequestFlag && jsonTemplate.json_string ==''))"  (click)="save()">저장</button>
        <!-- [disabled]="(updateForm.invalid && resForm.invalid && (!useRequestFlag || paramForm.invalid))" -->
      </div>
    </div>
  </div>
</div>

<app-jsonpath #jsonpathChild (jsonpathInput)="getJsonpathInput($event)"></app-jsonpath>
