<div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}">
	<div class="common-modal-container">
		<form [formGroup]="addForm">
			<!-- .modal_top -->
			<div class="modal_top">
				<h3>Domain 생성</h3>
				<div class="modal-close" (click)="addRemove.emit(false)">
					<i class="icon-close"></i>
				</div>
			</div>	
			<!-- //.modal_top -->
			<!-- .modal_mid -->
			<div class="modal_mid">
				<div class="modal_stn">
					<div class="tit">
						<h4>도메인 이름</h4>
					</div>
					<input type="text" class="ipt_txt" [(ngModel)]="domain.domain_name"  formControlName="domain_name" placeholder="입력하세요" />
				</div>
				<div class="modal_stn">
					<div class="tit">
						<h4>도메인 설명</h4>
					</div>
					<div class="cont">
						<input type="text" class="ipt_txt" [(ngModel)]="domain.descript"  formControlName="descript" placeholder="입력하세요" />
					</div>
				</div>
				<div class="modal_stn">
					<div class="tit">
						<h4>레벨</h4>
					</div>
					<div class="cont">
						<input type="number" class="ipt_txt" [(ngModel)]="domain.depth"  formControlName="depth"/>
					</div>
				</div>
				
			</div>
			<!-- //.modal_mid -->
			<!-- .modal_btm -->
			<div class="modal_btm">			
				<button class="point" [disabled]="addForm.invalid" (click)="onAddSubmit()">저장</button>
				<button (click)="addRemove.emit(false)">취소</button>
			</div>
			<!-- //.modal_btm -->
  
      </form>
    </div>
  </div>
  
  
  <!--END add Question and Answer-->