<div *ngIf="editFlag" [ngClass]="{'common-modal-section':true, 'modal-section':editFlag}">
  
    <div class="common-modal-container">
      <form [formGroup]="editForm">
        <div class="common-modal-header">
          <div class="modal-title">[Domain 생성]</div>
          <div class="modal-close" (click)="editRemove.emit(false)">
            <i class="icon-close"></i>
          </div>
        </div>
        <div class="common-modal-content">
          <div class="modal-content-container">
            <div class="modal-content-wrap">
              <div class="common-input modal-input ui-g">
                <div class="ui-g-12">
                  <div class="modal-content-title">도메인 이름</div>
                  <input type="text" [(ngModel)]="domain.domain_name"  formControlName="domain_name" placeholder="입력하세요" />
                </div>
              </div>
        
              <div class="common-input modal-input ui-g">
                <div class="ui-g-12">
                  <div class="modal-content-title">도메인 설명</div>
                  <input type="text" [(ngModel)]="domain.descript"  formControlName="descript" placeholder="입력하세요" />
                </div>
              </div>
              <div class="common-input modal-input ui-g">
                  <div class="ui-g-12">
                    <div class="modal-content-title">레벨</div>
                    <input type="number" [value]="domain.depth" formControlName="depth" />
                  </div>
                </div>
                
            </div>
          </div>
        </div>
          <span *ngIf="editForm.invalid"> 모든 항목을 입력해 주세요 </span>
  
        <div class="common-modal-footer">
          <div class="button-wrap float-right">
            <button class="btn-alert btn-cancel" (click)="editRemove.emit(false)">취소</button>
            <button class="btn-alert" [disabled]="editForm.invalid" (click)="onEditSubmit(editForm)">저장</button>
            
          </div>
        </div>
      </form>
    </div>
  </div>
  