<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-widthh, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>모비스 봇</title>
    <link rel="stylesheet" href="/MOBI_CHAT/css/style.css">
</head>
<body data-search="" data-scale="max" data-menu="" data-active-bot="bot-BK59">
<div class="wrap">
    <!-- Left Bot Area -->
    <div class="chat-wrap">
        <!-- chat-header -->
        <div class="chat-header">
            <div class="logo">
                <b class="font-mai">Mai</b><span class="font-bot">bot</span>
            </div>
            <div class="profile">
                <dl>
                    <dt>
                        <span th:text="${botSessionInfo.deptNm}"></span>
                        <b th:text="${botSessionInfo.userNm}"></b>
                    </dt>
                    <!--<dd class="img"><img th:src="${botUser.thumbnail}" /></dd>-->
                </dl>
            </div>
        </div>
        <!-- //chat-header -->
        <!-- chat-menu -->
        <div class="chat-menu">
            <a href="#" class="btn-menu menu-open" title="메뉴 펼치기"><img src="./images/icon/icon_menu_close.svg" alt="메뉴 펼치기"/>메뉴 펼치기</a>
            <ul class="menu-bot">
                <li th:each="settingBot : ${bots}">
                    <th:block th:if="${settingBot.showYn.equals('Y')}">
                        <a href="#" th:data-bot="${'bot-' + settingBot.type}" th:class="${settingBot.type.equals(activeBotType)} ? 'on'">
                            <span th:text="${settingBot.name}">봇</span>
                        </a>
                    </th:block>
                </li>
                <!--<li><a href="#" data-bot="bot-BK59" title="회사생활봇 활성화 하기" class="on"><span>회사생활봇</span></a></li>-->
                <!--<li><a href="#" data-bot="bot-BK56" title="경영지원 활성화 하기"><span>경영지원</span></a></li>-->
                <!--<li><a href="#" data-bot="bot-BK58" title="IT지원 활성화 하기"><span>IT지원</span></a></li>-->
                <!--<li><a href="#" data-bot="bot-BK57" title="품질 활성화 하기"><span>품질</span></a></li>-->
                <!--<li><a href="#" data-bot="bot-BK62" title="지능검색 활성화 하기"><span>지능검색</span></a></li>-->
                <!--<li><a href="#" data-bot="bot-BK99" title="핑퐁 활성화 하기"><span>핑퐁</span></a></li>-->
            </ul>
            <ul class="menu-etc">
                <!--<li><a href="#" id="btnBusOpen" title="버스 임시 열기"><i class="fas fa-bus-alt"></i>버스 임시</a></li>-->
                <li><a href="#" id="btnHistoryPopupOpen" title="최근 대화 목록 열기" data-tooltip='{"my": "left middle", "at": "right middle", "arrow": "left middle"}'><i class="icon icon-past-search blue"></i>최근 대화</a></li>
                <li class="line"><a href="#" id="btnOpinionPopupOpen" title="의견 제안" data-tooltip='{"my": "left middle", "at": "right middle", "arrow": "left middle"}'><i class="fas fa-user-edit"></i>의견 제안</a></li>
                <li><a href="#" id="btnBookOpen" title="기능 소개" data-tooltip='{"my": "left middle", "at": "right middle", "arrow": "left middle"}'><i class="fas fa-book"></i>기능 소개</a></li>
                <li><a href="#" id="btnHelpPopupOpen" title="도움말 보기" data-tooltip='{"my": "left middle", "at": "right middle", "arrow": "left middle"}'><i class="fa fa-question-circle"></i>도움말</a></li>
                <li><a href="#" id="btnSettingsOpen" title="챗봇 설정 열기" data-tooltip='{"my": "left middle", "at": "right middle", "arrow": "left middle"}'><i class="fa fa-cog"></i>챗봇 설정</a></li>
            </ul>
            <a href="#" class="btn-menu menu-close" title="메뉴 접기"><img src="./images/icon/icon_menu_open.svg" alt="메뉴 접기"/>메뉴 접기</a>
        </div>
        <!-- //chat-menu -->
        <!-- chat-body -->
        <div class="chat-body">
            <!-- comment-list -->
            <ul class="comment-list" id="bot-messages-area">
            </ul>
            <!-- //comment-list -->
        </div>
        <!-- //chat-body -->
        <!-- chat-footer -->
        <div class="chat-footer">
            <div class="chat-active">이 활성화되어 있습니다.</div>
            <div class="chat-input">
                <a href="#" id="btnMsg" class="btn-msg" title="말풍선"><i class="fa fa-comment-dots"></i></a>
                <textarea id="input-message" placeholder="메세지를 입력하세요."></textarea>
                <a href="#" id="btnSend" class="btn-send" title="채팅글 쓰기"><i class="fa fa-arrow-up"></i></a>
            </div>
        </div>
        <!-- //chat-footer -->
    </div>
    <!-- //Left Bot Area -->
    <!-- Right Search Area -->
    <div class="search-wrap" id="bot_search_results">
    </div>
    <!-- //Right Search Area -->

    <!-- list buttons -->
    <div class="list-buttons" id="search_pop_menu_buttons"></div>
    <!-- //list buttons -->
</div>

<!-- bodyPopup :: wrap 밖의 팝업  -->
<div id="bodyPopup" class="body-popup-wrap layer-popup">
    <div class="popup-loader"></div>
</div>

<!-- JavaScript -->
<script src="/MOBI_CHAT/vender/jquery/jquery.min.js"></script>
<script src="/MOBI_CHAT/vender/jquery/jquery.cookie.js"></script>
<script src="/MOBI_CHAT/vender/jquery/jquery-dateformat.js"></script>
<script src="/MOBI_CHAT/vender/jquery-ui/jquery-ui.min.js"></script>
<script src="/MOBI_CHAT/vender/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/MOBI_CHAT/vender/pagination/pagination.min.js"></script>
<script src="/MOBI_CHAT/vender/pagination/jquery.twbsPagination.min.js"></script>
<script src="/MOBI_CHAT/js/bot.common.js"></script>
<script src="/MOBI_CHAT/js/bot.template.view.js"></script>
<script src="/MOBI_CHAT/js/stack.js"></script>
<script src="/MOBI_CHAT/js/bot.chat.js"></script>
<script src="/MOBI_CHAT/js/bot.search.js"></script>
<script src="/MOBI_CHAT/js/bot.ui.js"></script>
<script th:inline="javascript">

    $(function () {
        openWindow();

        // if (window.popup) {
        //     window.popup.onbeforeunload = function () {
        //         window.console && console.log("popup window closed...");
        //         botClose();
        //     }
        // }

        $('.chat-body').mCustomScrollbar({
            advanced: {
                updateOnContentResize: false,
                updateOnImageLoad: false
            }
        });
        $(".settings-block-group").mCustomScrollbar({
            advanced: {
                updateOnContentResize: false,
                updateOnImageLoad: false
            }
        });
        //메뉴 펼치기
        $('.menu-open').on('click', function () {
            $('body').attr('data-menu', 'open');
        });
        //메뉴 접기
        $('.menu-close').on('click', function () {
            $('body').attr('data-menu', '');
        });
        //메뉴 선택
        $('.menu-bot a').on('click', function (e) {
            var activeBot = $('body').attr('data-active-bot');
            var clickBot = $(this).data('bot');
            if (activeBot == clickBot) {
                window.console && console.log('bot click activeBot: ', activeBot);
                return;
            }
            $('body').attr('data-active-bot', clickBot);
            $('.menu-bot a').removeClass('on');
            $(this).addClass('on');

            window.console && console.log('bot click activeBot: ', activeBot.substring(4));
            window.console && console.log('bot click clickBot: ', clickBot.substring(4));
            //지능 검색 클릭시 팝업창 사이즈 수정

            if (clickBot.substring(4) == CONST_SEARCHBOT_TYPE) {
                $('body').attr('data-search', 'open');
                resizeWindow('open');
            } else {
                $('body').attr('data-search', '');
                resizeWindow('');
            }
            e.preventDefault();

            var botType = clickBot.substring(4);
            startBot(botType);
        });
        //설정 열기
        $('#btnSettingsOpen').on('click', function (e) {
            openStting();
            popupOpen('#bodyPopup');
            e.preventDefault();
        });
        //최근대화 열기
        $('#btnHistoryPopupOpen').on('click', function (e) {
            openConversationHistoryView();
            popupOpen('#bodyPopup');
            e.preventDefault();
        });
        //의견제안 열기
        $('#btnOpinionPopupOpen').on('click', function (e) {
            openOpinionView();
            popupOpen('#bodyPopup');
            e.preventDefault();
        });
        //도움말 열기
        $('#btnHelpPopupOpen').on('click', function (e) {
            openHelpView();
            popupOpen('#bodyPopup');
            e.preventDefault();
        });
        //팝업 닫기
        $(document).on('click', '.btn-popup-close', function (e) {
            var popup = $(this).attr('data-popup-id');
            popupClose(popup);
            e.preventDefault();
        });

        $(document).on('click', function (e) {
            var clickItem = $(e.target).is('.search-list td.title, .search-list td.title *');
            if (clickItem == false) {
                $('.list-buttons').hide().empty();
            }
        });

        //기능소개 열기
        $('#btnBookOpen').on('click', function () {
            var activeBot = $('body').attr('data-active-bot');

            var windowHelpPopupName = 'mobi-chat-help-window';
            window.open("about:blank", windowHelpPopupName, 'width=440,height=800');

            var form = document.createElement("form");
            form.method = 'GET';
            form.target = windowHelpPopupName;
            form.action = '/MOBI_CHAT/page/help';
            document.body.appendChild(form);

            var i = document.createElement("input");
            i.type = "hidden";
            i.name = "activeBotPopup";
            i.value = activeBot;
            form.appendChild(i);
            form.submit();
        });

        //버스 노선 닫기 임시 버튼
        $(document).on('click','.btn-search-close',function(){
            $('#bot_search_results').empty();
            $('body').attr('data-search','');
            resizeWindow('');
        });

        // 말풍선 봇 "도움안내"
        $("#btnMsg").click(function () {
            speechBubble();
        });
        //봇 질문 요청
        $("#btnSend").click(function () {
            var message = $("#input-message").val();
            botQuestion(message);
        });
        $("#input-message").on('keydown', function (e) {
            if (event.keyCode == 13) {
                if (!event.shiftKey) {
                    e.preventDefault();
                    var button = document.getElementById('btnSend');
                    button.click();
                }
            }
        });

        $("#input-message").on('keyup', function (e) {
            $(this).css('height', '16px');
            $(this).height(this.scrollHeight);
        });
        $("#input-message").keyup();
        var botType = [[${activeBotType}]]; // 회사생활봇
        startBot(botType);
    });

</script>
</body>
</html>
