<div class="common-section model-section nlp-section">
  <div class="common-container">
    <div class="common-header-title">
      <span>Profile</span>
    </div>
    <div class="common-content" [ngStyle]="{width: '560px'}" >
    <!-- <div [ngStyle]="{width: '560px'}"> -->
      <div class="button-wrap float-right">
        <button class="btn-alert" type="button" (click)="update($event)">저장</button>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">Team</div>
          <p-dropdown styleClass="custom-dropdown gray-dropdown"
              [style]="{'width':'200px'}"
              [options]="teamList"
              [(ngModel)]="selectedTeamId"
              (onChange)="onTeamListSelect($event)"
              placeholder="Team 선택"
              [disabled]="true"
              ><ng-template let-item pTemplate="selectedTeam">
                <div>{{item.label}}</div>
              </ng-template></p-dropdown>
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">Role</div>
          <p-dropdown styleClass="custom-dropdown gray-dropdown"
              [style]="{'width':'200px'}"
              [options]="groupList"
              [(ngModel)]="selectedGroupId"
              (onChange)="onGroupListSelect($event)"
              placeholder="Role 선택"
              [disabled]="true"
              ><ng-template let-item pTemplate="selectedGroup">
                <div>{{item.label}}</div>
              </ng-template></p-dropdown>
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">User Id</div>
          <input #upsertDialogUserId type="text" placeholder="입력하세요" required [disabled]="true" [readOnly]="true">
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">Email</div>
          <input #upsertDialogEmail type="email" placeholder="입력하세요" required>
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">User Name</div>
          <input #upsertDialogName type="text" placeholder="입력하세요" required>
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">Password</div>
          <input #upsertDialogPassword type="password">
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">Password Confirm</div>
          <input #upsertDialogPasswordConfirm type="password">
        </div>
      </div>
      <div class="common-input modal-input ui-g">
        <div class="ui-g-12">
          <div class="modal-content-title">Activated</div>
          <p-checkbox #upsertDialogActivatedYn label="사용" [disabled]="true" [(ngModel)]="activatedYn" binary="true"></p-checkbox>
        </div>
      </div>
    <!-- </div> -->
    </div>
  </div>
</div>
