
<div class="common-section model-section nlp-section"style="min-width: 800px;">
<div class="common-container">
  <div class="common-header-title">
    <span>NLP 테스트</span>
  </div>
  <div class="common-content">
    <!-- <div >
      <div > -->
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="main_left" >
          <textarea  #nlpText id="editAnswer"  placeholder="내용을 입력해주세요."
              style="width: 100%;
              "
          ></textarea>
        </div>
        <div class="main_right">
          <button class="btn-normal-box" (click)="nlp(nlpText.value)" >실행하기</button>
        </div>
      </div>
    </div>
      <!-- </div>
    </div> -->
    <div class="nlp-wrap">
      <div class="nlp-container">
        <div class="nlp-title">NLP 결과</div>


        <common-table>

             
    
          <div class="table-wrap-rowgroup">
            <p-dataTable [value]="nlpItems" styleClass="custom-row-table" dataKey="textSeq" >
    
              <p-column header="text" field="text" [style]="{'width':'65px'}">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  {{item.text}}
                </ng-template>
              </p-column>
    
              <p-column header="textSeq" field="textSeq" [style]="{'width':'65px'}">
    
                <ng-template let-col let-item="rowData" pTemplate="body">
                    {{item.textSeq}}
                </ng-template>
              </p-column>
    
              <p-column header="morpList" field="morpList" [style]="{'width':'400px'}">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <li *ngFor="let morp of item.morpList; index as i;">
                    {{i+1}}/{{morp.lemma}}. {{morp.lemmaTypeDesc}}
                  </li>
                </ng-template>
              </p-column>
    
              <p-column header="nesList" field="nesList" [style]="{'width':'400px'}">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  <li *ngFor="let nes of item.nesList; index as i;">
                    {{i+1}}/{{nes.nes}}. {{nes.nesDesc}}
                  </li>
                </ng-template>
              </p-column>
         
              <ng-template pTemplate="emptymessage">
                <div class="no-data">조회할 데이터가 없습니다</div>
              </ng-template>
    
            </p-dataTable>
    
          </div>
    
        </common-table>



       
      </div>
    </div>
  </div>
</div>
</div>