/* START Select Model*/
@import "../../../../../css/style.common";

.select-name{
  text-decoration: underline;
  color:$link-color;
  cursor: pointer;
}
.radio-exist{
  margin-right: 10px;
}
.radio-exist-input,.radio-upload-input{
  display: none;
  padding:5px 0 0;
}
.radio-upload-input{
  input{
    width: 90%;
    margin-left:5px;
  }
  .icon-upload{
    width: 36px;
    height: 36px;
    font-size: 17px;
    line-height: 33px;
    background: $main-color;
    color: $C0;
    border-radius: 2px;
    vertical-align: top;
    padding: 0 10px;

  }
}
/* END Select Model */
