<div class="common-section text-center">
  <div class="common-container">
    <div class="common-header-title">
      <span>사용자 관리</span>
    </div>
    <common-table>
      <!--filter-->
      <div class="header-wrap-filter common-table">
        <div class="common-input table-input">
          <div class="filter-wrap">
            <input #filterName type="text" class="filter-input" placeholder="검색어를 입력해 주세요" [(ngModel)]="searchStr"
                (keyup)="onSearchKey($event)"
            >
            <button (click)="onSearch()"></button><!-- 이 버튼요소가 input 요소의 돋보기 아이콘을 덮음 -->
          </div>
          <div class="dropdown-text">사용 :</div>
          <div style="display: inline-block;
              width: 16px;
              margin: 0 20px 0 5px;"
          ><input type="checkbox" #useOnly (change)="onFilterYn($event)"/></div>
          <!-- <p-dropdown
            styleClass="custom-dropdown gray-dropdown"
            [style]="{'width':'60px'}"
            [options]="optionList2"
            [(ngModel)]="selectLists2"
            (onChange)="onOptionListSelect($event.value)"
            ><ng-template let-item pTemplate="Option">
                <div>{{item.label}}</div>
            </ng-template></p-dropdown>
          <div class="dropdown-text">
            <span>개의 행 보기</span>
          </div> -->
          <app-page-size-sellector (pageSize)="onChangePageSize($event)"></app-page-size-sellector>
        </div>
        <div class="button-wrap">
          <button class="btn-normal-line" type="button" (click)="addOpen()"
            >추가하기</button>
          <button class="btn-negative" type="button" (click)="removesOpen($event)"
              [ngClass]="{'btn-disabled': selectedItems === null || selectedItems.length === 0}"
            >삭제하기</button>
        </div>
      </div>
      <div class="table-wrap-rowgroup">
        <p-dataTable [value]="items" styleClass="custom-row-table"
                      [(selection)]="selectedItems"
                      dataKey="user_id"
                      [globalFilter]="filterName" >
          <p-column selectionMode="multiple"
                    [style]="{'width':'40px'}">
          </p-column>
          <p-column header="User Id" field="user_id"
                    [style]="{'width':'85px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              <div class="select-name" (click)="updateOpen(item)">{{item[col.field]}}</div>
            </ng-template>
          </p-column>
          <p-column header="Team" field="team"
                    [style]="{'width':'108px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]['team_name']}}
            </ng-template>
          </p-column>
          <p-column header="Role" field="role"
                    [style]="{'width':'112px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]['role_name']}}
            </ng-template>
          </p-column>
          <p-column header="Email" field="email"
                    [style]="{'width':'200px', 'text-align':'left', 'padding':'0 20px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="Name" field="user_name"
                    [style]="{'width':'120px', 'text-align':'left', 'padding':'0 20px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field]}}
            </ng-template>
          </p-column>
          <p-column header="Activate" field="activated_yn"
                    [style]="{'width':'85px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field] == 'Y' ? '사용' : '미사용'}}
            </ng-template>
          </p-column>
          <p-column header="생성일" field="created_dtm" [style]="{'width':'97px'}">
            <ng-template let-col let-item="rowData" pTemplate="body">
              {{item[col.field] | dateTimeFormat: 'YY.MM.DD HH:mm' | emptyValue}}
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'100px'}">
            <ng-template pTemplate="header">
              <div>Action</div>
            </ng-template>
            <ng-template let-entity="rowData" pTemplate="body">
              <div class="table-button">
                <span style="margin: 0 1px">
                  <i class="icon-edit" (click)="updateOpen(entity)"></i>
                </span>
                <!--<span style="margin: 0 1px" >
                  <i class="icon-refresh" (click)="resetPassword(entity)"></i>
                </span>-->
                <span style="margin: 0 1px">
                  <i class="icon-remove2" (click)="removeOpen(entity)"></i>
                </span>
              </div
              >
            </ng-template>
          </p-column>
          <ng-template pTemplate="emptymessage">
            <div class="no-data">조회할 데이터가 없습니다</div>
          </ng-template>
        </p-dataTable>
      </div>
      <div class="common-table-footer">
        <div class="footer-wrap text-center">
          <app-paginator (page)="onPaginator($event)"
                [totalCount]="paginator.totalCount"
                [pageSize]="paginator.pageSize"
          ></app-paginator>
        </div>
      </div>
    </common-table>
  </div>
</div>


<!--upsert dialog model-->
<common-modal class="modal-add-wrap" #upsertDialogModal>
  <div class="common-modal-header">
    <div class="modal-title">사용자 {{isUpdate?'수정':'생성'}}</div>
    <div class="modal-close" (click)="upsertDialogModal.modalClose()">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="modal-content-wrap">
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Team</div>
        <p-dropdown styleClass="custom-dropdown gray-dropdown"
            [style]="{'width':'200px'}"
            [options]="teamList"
            [(ngModel)]="selectedTeamId"
            (onChange)="onTeamListSelect($event)"
            placeholder="Team 선택"
            [disabled]="!isAdmin"
            ><ng-template let-item pTemplate="selectedTeam">
              <div>{{item.label}}</div>
            </ng-template></p-dropdown>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Role</div>
        <p-dropdown styleClass="custom-dropdown gray-dropdown"
            [style]="{'width':'200px'}"
            [options]="groupList"
            [(ngModel)]="selectedGroupId"
            (onChange)="onGroupListSelect($event)"
            placeholder="Role 선택"
            [disabled]="!isAdmin"
            ><ng-template let-item pTemplate="selectedGroup">
              <div>{{item.label}}</div>
            </ng-template></p-dropdown>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">User Id</div>
        <input #upsertDialogUserId type="text" placeholder="입력하세요" required [disabled]="isUpdate" [readOnly]="isUpdate">
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Email</div>
        <input #upsertDialogEmail type="email" placeholder="입력하세요" required>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">User Name</div>
        <input #upsertDialogName type="text" placeholder="입력하세요" required>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="ui-g-8 ui-g-nopad">
          <div class="ui-g-12">Password</div>
          <div class="ui-g-12 ">password 는 {{adminDefaultPassword}} 으로 세팅 됩니다.</div>
        </div>
        <div *ngIf="isUpdate" class="ui-g-4">
          <button class="btn-normal-line float-right" type="button" (click)="initUserPassword();">비밀번호 초기화</button>
        </div>
        <!--<div class="ui-g-6">
          <div class="modal-content-title">Password</div>
          password 는 {{adminDefaultPassword}} 으로 세팅 됩니다.
        </div>
        <div class="ui-g-6">
          1
        </div>-->
       <!-- <div class="modal-content-title">
          <p-checkbox #upsertDialogResetPassword label="Password 초기화" [(ngModel)]="isreSetPassword"  binary="true"></p-checkbox>
        </div>
         password 는 {{adminDefaultPassword}} 으로 세팅 됩니다.-->
      </div>
    </div>
    <!-- <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Password</div>
        <input #upsertDialogPassword type="password" placeholder="{{ isUpdate ? '' : '입력하세요' }}" >
        <input #upsertDialogPasswordOrigin type="hidden" >
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Password Confirm</div>
        <input #upsertDialogPasswordConfirm type="password" placeholder="{{ isUpdate ? '' : '입력하세요' }}" >
      </div>
    </div> -->
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Activated</div>
        <p-checkbox #upsertDialogActivatedYn label="사용" [(ngModel)]="activatedYn" binary="true"></p-checkbox>
      </div>
    </div>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right">
      <button class="btn-alert btn-cancel" type="button" (click)="upsertDialogModal.modalClose()">취소</button>
      <button *ngIf="!isUpdate" class="btn-alert" type="button" (click)="add($event)">등록</button>
      <button *ngIf="isUpdate" class="btn-alert" type="button" (click)="update($event)">저장</button>
    </div>
  </div>
</common-modal>

<!--remove dialog model -->
<common-modal class="modal-remove-wrap" #removeDialogModal>
  <div class="common-modal-header">
    <div class="modal-title">사용자 삭제</div>
    <div class="modal-close" (click)="removeDialogModal.modalClose()">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="modal-content-wrap">
    <p>선택하신 사용자를 삭제하시겠습니까?</p>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right">
      <button class="btn-alert btn-cancel" type="button" (click)="removeDialogModal.modalClose()">취소</button>
      <button class="btn-alert" type="button" (click)="remove($event)">삭제</button>
    </div>
  </div>
</common-modal>
