<common-modal #modal>
    <div class="common-modal-header">
        <div class="modal-title">나가시겠습니까?</div>
        <div class="modal-close" (click)="modalClose()">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="modal-content-wrap">
        <p>아직 저장되지 않은 데이터들이 있습니다. 저장이 필요하다면 저장해주세요.</p>
    </div>
    <div class="common-modal-footer">
        <div class="button-wrap float-right">
            <button class="btn-alert" (click)="save()">저장하기</button>
            <button class="btn-alert btn-cancel" (click)="exit()">나가기</button>
        </div>
    </div>
</common-modal>
