/* START Header */
@import "../../../../css/style.common";
.header-section{
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 100;
  height: $header-height;
  padding: 0 20px;
  background-color: $sub-color-1;
  min-width: 840px;
  border-bottom: 1px $C4 solid;
  .header-logo{
    margin: 5px 0;
    height: 40px;
    width: 500px;
    img{
      height: 100%;
    }
  }
  .header-user-info{
    height: 50px;
    position: relative;
    >div{
      height: 20px;
      margin: 15px 0;
    }
    img{
      width: 20px;
      height: 20px;
      vertical-align: top;
      margin-right: 6px;
    }
    .user-info-id{
      color: $C0;
    }
    ul{
      position: absolute;
      background-color: $C0;
      top: $header-height;
      display: none;
      width: 100%;
      height: auto;
      border: 1px $C3 solid;
      li{
        height: 40px;
        line-height: 40px;
        img{
          margin-top: 10px;
        }
      }

    }
    &:hover {
      ul{
        display: block;
      }
    }
  }
}
.clickable{
  cursor: pointer;
}

/* END Header */
