<header class="header-section" [ngStyle]="headerStyle">
	<div class="header-content">
		<!-- .sta -->
		<div class="sta">
			<!-- h1 -->
			<a href="javascript:void(0);" (click)="goDefaultPage();"><h1>MAIBOT</h1></a>
			<!-- //h1 -->
			<!-- .path -->
			<div class="path">
				<p-breadcrumb [model]="items"></p-breadcrumb>
			</div>
			<!-- //.path -->
			<!-- .fr -->
			<div class="fr">
				<!-- Workspace 선택 -->
				<div class="fl" *ngIf="workspaceList.length != 0">
					<p-dropdown styleClass="custom-dropdown gray-dropdown dark-dropdown"
								panelStyleClass="dark-dropdown"
								[style]="{'width': '150px'}"
								[options]="workspaceList"
								[(ngModel)]="selectedWorkspaceId"
								(onChange)="onWorkspaceSelect($event)"
								placeholder="Workspace 선택"
								[disabled]="!isSupervisor">
						<ng-template let-item pTemplate="body">
							<div>{{item.label}}</div>
						</ng-template>
					</p-dropdown>
				</div>
				<!-- //Workspace 선택 -->
				<!-- Team -->

				<div class="fl" *ngIf="teamList.length != 0">
					<p-dropdown styleClass="custom-dropdown gray-dropdown dark-dropdown"
								panelStyleClass="dark-dropdown"
								[style]="{'width': '150px', 'margin-left': '10px'}"
								[options]="teamList"
								[(ngModel)]="selectedTeamId"
								(onChange)="onTeamSelect($event)"
								placeholder="Workspace 선택"
								[disabled]="!isServiceAdmin">
						<ng-template let-item pTemplate="body">
							<div>{{item.label}}</div>
						</ng-template>
					</p-dropdown>
				</div>

				<!--<dl class="bgBox_b">
					<dt>Team</dt>
					<dd>{{(isSupervisor || (user.team | isEmpty)) ? superTeamName : user.team.team_name}}</dd>
				</dl>-->
				<!-- //Team -->
				<div class="header-user-info bgBox_b" style=" height: 36px;">
					<div style="margin: 0;">
						<img src="./assets/images/icon_user.svg" alt="사람모양">
						<div style="word-break: break-word; min-width: 70px;" class="user-info-id inline-block">{{user.email}}</div>
					</div>
					<ul class="user-info-detail">
						<li class="clickable" (click)="onGetUser($event)">
							<img src="./assets/images/icon_my.svg" alt="">
							<span>계정 정보</span>
						</li>
						<li class="clickable" (click)="onLogout($event)">
							<img src="./assets/images/icon_logout.svg" alt="">
							<span>로그아웃</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- //.fr -->
		</div>
		<!-- //.sta -->

    </div>
    <!-- <div class="header-user-info inline-block float-right">
      <div>
        <div class="user-info-id inline-block">||</div>
      </div>
    </div>
    <div class="header-user-info inline-block float-right">
      <div>
        <div class="user-info-id inline-block">Team:</div>
        <div class="user-info-id inline-block">{{user.team.team_name}}</div>
      </div>
    </div> -->
  <!-- <div id="userInfo" style="display:none;">
    <p>id: {{user.user_id}}</p>
    <p>권한: {{user.role.role_name}}</p>
    <p>이름: {{user.user_name}}</p>
    <p>가입일: {{user.created_dtm | date: 'yyyy.MM.dd' }}</p>
  </div> -->
</header>


<!--upsert dialog model-->
<common-modal class="modal-add-wrap" #changePasstDialogModal>
  <div class="common-modal-header">
    <div class="modal-title">비밀번호 변경 </div>
    <!--<div class="modal-close" (click)="changePasstDialogModal.modalClose()">
      <i class="icon-close"></i>
    </div>-->
  </div>
  <div class="modal-content-wrap">
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Password</div>
        <input #inputPass type="password" required>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="modal-content-title">Password Confirm</div>
        <input #confirmPass type="password"  required>
      </div>
    </div>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right">
      <button class="btn-alert" type="button" (click)="onChangePassword();">등록</button>
    </div>
  </div>
</common-modal>



 <app-popup #loginInfoPop [viewFlag]="viewFlag" (closePopUp)="closePopup($event);"></app-popup>

