
<p-dataTable [value]="list" >
  <p-column *ngFor="let item of header" [header]="item.id"
      [style]="item.style">
    <ng-template pTemplate="body">
      <pcholder></pcholder>
    </ng-template>
  </p-column>
</p-dataTable>