<div class="search-wrap-inner" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- tabs header -->
    <div class="search-header">
        <div class="tabbar">
            <ul>
            </ul>
        </div>
        <div class="buttons">
            <a href="#" title="즐겨찾기 문서" onclick="faveDocumentClick()"
               data-tooltip='{"my": "right top", "at": "right-5 bottom+5", "arrow":"top right"}'><i class="icon icon-view-fave gray"></i><span
                    class="none">즐겨찾기 문서</span></a>
            <a href="#" class="btn-resize-min" title="최소화" onclick="searchBoxResizeClick()"
               data-tooltip='{"my": "right top", "at": "right-6 bottom+5", "arrow":"top right"}'><i class="fas fa-compress"></i><span
                    class="none">최소화</span></a>
            <a href="#" class="btn-resize-max" title="최대화" onclick="searchBoxResizeClick()"
               data-tooltip='{"my": "right top", "at": "right-6 bottom+5", "arrow":"top right"}'><i class="fas fa-expand"></i><span
                    class="none">최대화</span></a>
            <!--<a href="#" title="검색창 닫기"><i class="fas fa-times"></i><span class="none">검색창 닫기</span></a>-->
        </div>
    </div>
    <!-- tabs body -->
    <div class="search-tabs">
    </div>

    <!-- search popup -->
    <div id="searchPopup" class="tab-popup-wrap layer-popup">
        <div class="popup-loader"></div>
    </div>

    <!-- preloader -->
    <div class="preloader">
        <div class="popup-loader"></div>
    </div>

    <script th:inline="javascript">
        var initTab = function () {
            window.console && console.log("initTab start");

            GIStabs.init();
            appendNewTab();
            var activeTab = GIStabs.getActiveTab();
            openSisMainView(activeTab);
        }
        var newTabView = function (activeTab) {
            var $newTab = $("\
                <li class='on' id='" + activeTab.tabButtonId + "' data-tab-index='" + activeTab.tabIndex + "'>\
                    <a href='#' class='title' onclick='tabClick(this)'>" + activeTab.tabHeader.title + "</a>\
                    <a href='#' class='btn-tab-delete' title='탭 삭제' onclick='removeTabClick(this)'>\
                        <i class='fas fa-times'></i>\
                    </a>\
                </li>\
            ");
            return $newTab;
        }
        var newAddTabView = function () {
            var $addTab = $("\
                <li id='btn_tab_add' class='tab-add'>\
                    <a href='#' class='btn-tab-add' onclick='addTabClick(this)'>\
                        <i class='fas fa-plus-circle'></i>\
                    </a>\
                </li>\
            ");
            return $addTab;
        }
        var newTabBodyView = function (activeTab) {
            var $newTabBody = $("\
                <div class='tab' id='" + activeTab.tabId + "'>\
                    <div class='search-input header-group'>\
                        <div class='input-box cell'>\
                            <div class='label'>지능검색</div>\
                            <div class='input'>\
                                <input type='text' id='" + activeTab.tabInputId + "' placeholder='검색어를 입력하세요.'>\
                                <a href='#' onclick='integrateSearchClick(this)'>\
                                    <i class='fas fa-search'></i>\
                                </a>\
                            </div>\
                        </div>\
                    </div>\
                    <div class='search-keyword row'>\
                        <div class='keyword-box cell'>\
                            <div class='label'>추천 키워드</div>\
                            <div class='list'>문서를 검색해주세요.\
                            </div>\
                        </div>\
                    </div>\
                </div>\
            ");
            return $newTabBody;
        }
        var appendNewTab = function () {
            window.console && console.log("appendNewTab start");

            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("appendNewTab activeTab: ", activeTab.tabIndex);

            var $newTab = newTabView(activeTab);
            var $addTab = newAddTabView();
            var $newTabBody = newTabBodyView(activeTab);

            $('div.tabbar ul').append($newTab);
            if (activeTab.tabSize < 5) {
                $('div.tabbar ul').append($addTab);
            }
            $('div.search-tabs').append($newTabBody);

            applyAutocomplete(activeTab);
        }
        var changeActiveTab = function (tabIndex) {
            window.console && console.log("changeActiveTab tabIndex: ", tabIndex);

            var activeTab = GIStabs.activeTab(tabIndex);
            window.console && console.log("changeActiveTab activeTabIndex: ", activeTab.tabIndex);

            $("div.tabbar ul").children().removeClass("on off");
            $("div.tabbar ul").children("#" + activeTab.tabButtonId).addClass("on");
            $("div.search-tabs").children().each(function () {
                // window.console && console.log("class tab this: ", this);
                if ($(this).hasClass("tab")) {
                    if ($(this).attr("id") === activeTab.tabId) {
                        window.console && console.log("changeActiveTab class show(): ", $(this).attr("id"));
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                }
            });
        }
        var tabClick = function (__this) {
            window.console && console.log("tabClick start");
            clearSearchPopMenuView();

            var tabIndex = Number($(__this).parent().attr("data-tab-index"));
            window.console && console.log("tabClick tabIndex: ", tabIndex);

            var activeTab = GIStabs.getActiveTab();
            // window.console && console.log("tabClick activeTab: ", activeTab.tabIndex);
            if (activeTab.tabIndex === tabIndex) {
                return;
            }
            changeActiveTab(tabIndex);
        }
        var addTabClick = function (__this) {
            window.console && console.log("addTabClick start");
            clearSearchPopMenuView();

            var activeTab = GIStabs.getActiveTab();
            // window.console && console.log("addTabClick activeTab: ", activeTab.tabIndex);
            if (activeTab.tabSize >= 5) {
                window.console && console.log("addTabClick tab Not more than 5");
                return;
            }

            $('div.tabbar ul').children('#btn_tab_add').remove();
            $('div.tabbar ul').children().removeClass('on off');
            $('div.search-tabs').children().each(function () {
                // window.console && console.log("addTabClick tab this: ", this);
                if ($(this).hasClass('tab')) {
                    $(this).hide();
                }
            });

            GIStabs.newTab();
            appendNewTab();
            var activeTab = GIStabs.getActiveTab();
            openSisMainView(activeTab);
        }
        var removeTabClick = function (__this) {
            window.console && console.log("removeTabClick start");
            clearSearchPopMenuView();

            var tabIndex = Number($(__this).parent().attr("data-tab-index"));
            window.console && console.log("removeTabClick tabIndex: ", tabIndex);

            var choiceTab = GIStabs.getTab(tabIndex);
            // window.console && console.log("removeTabClick choiceTab: ", JSON.stringify(choiceTab));
            if (choiceTab.tabSize <= 1) {
                window.console && console.log("removeTabClick tab Less than 1");
                return;
            }

            $("div.tabbar ul").children("#" + choiceTab.tabButtonId).remove();
            $('#' + choiceTab.tabId).remove();

            var resetActiveTabIndex = GIStabs.removeTab(tabIndex);
            if (resetActiveTabIndex > 0) {
                changeActiveTab(resetActiveTabIndex);
            }
            if ($("div.tabbar ul").children('#btn_tab_add').hasClass("tab-add") == false) {
                window.console && console.log("removeTabClick append addTabView");
                var $addTab = newAddTabView();
                $("div.tabbar ul").append($addTab);
            }
        }
        var searchBoxResizeClick = function () {
            window.console && console.log("searchBoxResizeClick start");
            clearSearchPopMenuView();

            var scale = $("body").attr("data-scale");
            if (scale == "max") {
                resizeWindow("min");
            } else {
                resizeWindow("max");
            }
            $(document).find('.search-option').attr('data-active', 'close');

            //키워드 스크롤 수정
            $(document).find(".search-keyword ul").mCustomScrollbar();
        }
        var faveDocumentClick = function () {
            window.console && console.log("faveDocumentClick start");
            clearSearchPopMenuView();

            modalFaveDocument();
        }
        var integrateSearchClick = function (__this) {
            window.console && console.log("integrateSearchClick start");

            clearSearchPopMenuView();
            sisSearch();
        }
        var applyAutocomplete = function (activeTab) {
            window.console && console.log("applyAutocomplete start...");
            $("#" + activeTab.tabInputId)
                .keydown(function (event) {
                    var isOpen = $(this).autocomplete("widget").is(":visible");
                    var keyCode = $.ui.keyCode;
                    if (!isOpen && (event.keyCode == keyCode.UP || event.keyCode == keyCode.DOWN)) {
                        event.stopImmediatePropagation();
                    }
                    if (event.keyCode === keyCode.ENTER) {
                        window.console && console.log("applyAutocomplete ENTER key down");
                        $( this ).blur();
                        //$( this ).autocomplete( "close" );
                        integrateSearchClick();
                    }
                })
                .autocomplete({
                    source: function (request, response) {
                        window.console && console.log("applyAutocomplete term:", request.term);
                        $.ajax({
                            url: BOT_API.SIS_AUTOCOMPLETE_LIST,
                            data: {
                                q: request.term
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 2,
                    selectFirst: false,
                    focus: function (event, ui) {
                        $(this).val(ui.item.value);
                        return false;
                    },
                    select: function (event, ui) {
                        window.console && console.log("applyAutocomplete selected: " + ui.item.value);
                        // this.value = ui.item.value;
                        autocompleteClick(ui.item.value);
                        return false;
                    }
                });
        }
        var autocompleteClick = function (value) {
            if (U.isEmpty(value)) {
                return;
            }
            // var activeTab = GIStabs.getActiveTab();
            // window.console && console.log("changeActiveTab activeTabIndex: ", activeTab.tabIndex);
            // $("#" + activeTab.tabId).find("#" + activeTab.tabInputId).val(value);
            integrateSearchClick();
        }
        var sisSearch = function () {
            window.console && console.log("sisSearch  Start");

            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("sisSearch activeTab: ", activeTab.tabIndex);
            var keywords = $("#" + activeTab.tabInputId).val();
            $("#" + activeTab.tabInputId).focus();  // autocomplete 2번 실행되는 제어하기 위해서
            window.console && console.log("sisSearch keywords: ", keywords);

            if (U.isEmpty(keywords)) {
                return;
            }
            // 검색 키워드는 botId+S 구분한다.
            setConverSationTopN(GMaiBot.get().botType + "S", keywords);

            var optionFixed = 0;
            if ($("#" + activeTab.tabId).find(".search-option").length > 0) {
                optionFixed = sis_optionFixed(activeTab);
            }

            GISquery.putQ(keywords);
            GISquery.addView(activeTab.tabIndex, activeTab.tabId, 0, 0, optionFixed, 1);
            openSisListView(GISquery.get());
        }
        var relatedKeySearch = function (tabIndex, keywords) {
            window.console && console.log("relatedKeySearch  Start");
            window.console && console.log("relatedKeySearch  tabIndex:", tabIndex, " keywords:", keywords);

            clearSearchPopMenuView();

            // 검색 tab을 삭제후 bug로 인해 무조건 활성화된 Tab으로 적용
            var activeTab = GIStabs.getActiveTab();
            $("#" + activeTab.tabInputId).val(keywords);
            sisSearch();
        }

        var appendObjectPopMenusView = function (event, enableMenuArray, objectItem) {
            window.console && console.log("appendObjectPopMenusView  start...");
            window.console && console.log("appendObjectPopMenusView  objectItem: ", objectItem);

            if (U.isEmpty(enableMenuArray) || enableMenuArray.length <= 0) {
                return;
            }

            var $searchPopMenuButtons = $("#search_pop_menu_buttons");
            if ($searchPopMenuButtons.children("ul").length > 0) {
                window.console && console.log("appendObjectPopMenusView  문서 팝업메뉴 활성");
                var popObjectId = $searchPopMenuButtons.attr("data-object-id");
                window.console && console.log("appendObjectPopMenusView  문서 팝업메뉴 활성 popObjectId:", popObjectId);
                if (objectItem.objectId == popObjectId) {
                    clearSearchPopMenuView();
                    return;
                }
            }

            // 검색 Click Log 저장
            saveClickLog(objectItem);

            var xPos = event.pageX;
            var yPos = event.pageY;
            window.console && console.log("appendObjectPopMenusView  xPos: ", xPos, " yPos: ", yPos);
            if (!xPos || !yPos) {
                return;
            }

            var $ul_popmenu = $("<ul></ul>");
            // 문서로 이동
            if ($.inArray(CONST_POP_MENU_DOCUMENT, enableMenuArray) != -1) {
                var $li_document = $("<li></li>").click(function () {
                    objectPopMenuClick(CONST_POP_MENU_DOCUMENT, objectItem);
                }).append("<a href='#' class='btn-view-document'>문서로 이동</a>");
                $ul_popmenu.append($li_document);
            }
            // 클립보드 복사
            if ($.inArray(CONST_POP_MENU_COPY_CLIPBOARD, enableMenuArray) != -1) {
                var $li_copy_clipboard = $("<li></li>").click(function () {
                    objectPopMenuClick(CONST_POP_MENU_COPY_CLIPBOARD, objectItem);
                }).append("<a href='#' class='btn-view-copy'>문서경로 복사</a>");
                $ul_popmenu.append($li_copy_clipboard);
            }
            // 페이지별 보기
            if ($.inArray(CONST_POP_MENU_PAGE, enableMenuArray) != -1) {
                var $li_page = $("<li></li>").click(function () {
                    objectPopMenuClick(CONST_POP_MENU_PAGE, objectItem);
                }).append("<a href='#' class='btn-view-page'>페이지별 보기</a>");
                $ul_popmenu.append($li_page);
            }
            // 유사문서 보기
            if ($.inArray(CONST_POP_MENU_SIMILAR, enableMenuArray) != -1) {
                var $li_similar = $("<li></li>").click(function () {
                    objectPopMenuClick(CONST_POP_MENU_SIMILAR, objectItem);
                }).append("<a href='#' class='btn-view-similar'>유사문서 보기</a>");
                $ul_popmenu.append($li_similar);
            }
            // 중복문서 보기
            if ($.inArray(CONST_POP_MENU_SAME, enableMenuArray) != -1) {
                var $li_same = $("<li></li>").click(function () {
                    objectPopMenuClick(CONST_POP_MENU_SAME, objectItem);
                }).append("<a href='#' class='btn-view-same'>중복 문서 보기</a>");
                $ul_popmenu.append($li_same);
            }
            // 즐겨찾기
            if ($.inArray(CONST_POP_MENU_FAVE, enableMenuArray) != -1) {
                var $li_fave = $("<li></li>").click(function () {
                    objectPopMenuClick(CONST_POP_MENU_FAVE, objectItem);
                }).append("<a href='#' class='btn-view-fave'>즐겨찾기 추가</a>");
                $ul_popmenu.append($li_fave);
            }
            // 즐겨찾기 삭제
            if ($.inArray(CONST_POP_MENU_FAVE_REMOVE, enableMenuArray) != -1) {
                var $li_fave_remove = $("<li></li>").click(function () {
                    objectPopMenuClick(CONST_POP_MENU_FAVE_REMOVE, objectItem);
                }).append("<a href='#' class='btn-view-fave'>즐겨찾기 삭제</a>");
                $ul_popmenu.append($li_fave_remove);
            }

            var winHeight = $('body').height();

            // TODO Lee.s.h 20190514 검색 팝업메뉴 임시로 막음
            // $searchPopMenuButtons.html($ul_popmenu).show();

            var btnHeight = $searchPopMenuButtons.height();
            if (winHeight <= (btnHeight + yPos)) {
                yPos = yPos - btnHeight;
                $searchPopMenuButtons.addClass('bottom');
            } else {
                $searchPopMenuButtons.removeClass('bottom');
            }
            $searchPopMenuButtons.css({
                'left': xPos + 'px',
                'top': yPos + 'px'
            });
            $searchPopMenuButtons.attr("data-object-id", objectItem.objectId);
        }

        /**
         * 팝업메뉴 선택
         */
        var objectPopMenuClick = function (objectMenuType, objectItem) {
            window.console && console.log("objectPopMenuClick  start...");
            window.console && console.log("objectPopMenuClick  objectMenuType:", objectMenuType);
            window.console && console.log("objectPopMenuClick  objectItem:", objectItem);

            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("integrateSearchListView activeTab: ", activeTab.tabIndex);

            if (objectMenuType == CONST_POP_MENU_DOCUMENT) { // 문서보기
                documentPreview(objectItem);
            } else if (objectMenuType == CONST_POP_MENU_PAGE) { // 페이지별 보기
                objectItem.q = $("#" + activeTab.tabId).find("#" + activeTab.tabInputId).val();
                modalSisPageView(objectItem);
            } else if (objectMenuType == CONST_POP_MENU_SIMILAR) { // 유사문서
                modalSisSimilarView(objectItem);
            } else if (objectMenuType == CONST_POP_MENU_SAME) { // 중복문서
                modalSisSameView(objectItem);
            } else if (objectMenuType == CONST_POP_MENU_FAVE) { // 즐겨찾기
                saveFaveDocument(objectItem);
            } else if (objectMenuType == CONST_POP_MENU_FAVE_REMOVE) { // 즐겨찾기 삭제
                removeFaveDocument(objectItem);
            } else if (objectMenuType == CONST_POP_MENU_COPY_CLIPBOARD) { // 클립보드 복사
                copyToClipboard(objectItem.objectUrl);
            }

            clearSearchPopMenuView();
        }
        // 검색 문서 보안 동의
        var securityAgreeView = function () {
            window.console && console.log("securityAgreeView  start...");

            var botSessionInfo = [[${session.botSessionInfo}]]; // 세션정보
            if (botSessionInfo.confirmYn == "N") {
                getJSON(BOT_API.SIS_SECURITY_AGREE_VIEW)
                    .done(function (domHtml) {
                        window.console && console.log("BOT_API.BOT_SECURITY_AGREE_VIEW responce success ");
                        // window.console && console.log("BOT_API.SIS_SECURITY_AGREE_VIEW domHtml: ", domHtml);
                        $("#searchPopup").html(domHtml);
                    })
                    .fail(function () {
                        window.console && console.log("BOT_API.BOT_SECURITY_AGREE_VIEW responce error ");
                    });
            }
        }

        // 검색 최초 화면 초기화
        initTab();
        // 2019-05-13일 오픈날 반영
        securityAgreeView();
    </script>
</div>