<div class="row-group" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="search-main-summary row">
        <div class="main-summary-box cell">
            <div class="summary num-summary">
                <div class="title">
                    주간 인기 검색어
                    <a href="#" class="btn-reflesh" onclick="refreshPopulersClick()"><i class="fas fa-sync-alt"></i></a>
                </div>
                <ul class="list search-populer-list">
                    <!--<li>-->
                    <!--<a href="#" class="text">후방추돌 센서 사양서</a>-->
                    <!--<span class="label"><i class="fas fa-long-arrow-alt-up"></i>3</span>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#" class="text">후방추돌 센서 사양서</a>-->
                    <!--<span class="label"><i class="fas fa-long-arrow-alt-down"></i>3</span>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#" class="text">후방추돌 센서 사양서</a>-->
                    <!--<span class="label">-</span>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#" class="text">후방추돌 센서 사양서</a>-->
                    <!--<span class="label new">NEW</span>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#" class="text">후방추돌 센서 사양서</a>-->
                    <!--<span class="label new">NEW</span>-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="summary date-summary">
                <div class="title">
                    최근 검색한 목록
                    <a href="#" class="btn-reflesh" onclick="refreshMainConversationHistoryClick()"><i class="fas fa-sync-alt"></i></a>
                </div>
                <ul class="list search-conversationHistory-list">
                    <!--<li>-->
                    <!--<span class="text">후방추돌 센서 사양서</span>-->
                    <!--<a href="#" class="btn-search"><i class="fas fa-chevron-right"></i></a>-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="summary fave-summary">
                <div class="title">
                    즐겨찾기 문서
                    <a href="#" class="btn-reflesh" onclick="refreshMainFaveClick()"><i class="fas fa-sync-alt"></i></a>
                </div>
                <ul class="list search-fave-list">
                    <!--<li>-->
                    <!--<a href="#" class="text">후방추돌 센서 사양서</a>-->
                    <!--<a href="#" class="btn-delete"><i class="fas fa-times"></i></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="search-main-notice">
        <div class="main-notice-box">
            <!-- 이미지가 있을경우 :: size (1102 x 445) -->

            <!--이미지가 없을 경우 -->
            <span class="no-image">이미지가 없습니다.</span>
        </div>
    </div>

    <script th:inline="javascript">
        var searchPopulerClick = function (itemNode) {
            window.console && console.log("searchPopulerClick start");
            // window.console && console.log("searchPopulerClick itemNode: ", itemNode);

            clearSearchPopMenuView();
            if (!U.isEmpty(itemNode.keyword)) {
                var activeTab = GIStabs.getActiveTab();
                $("#" + activeTab.tabInputId).val(itemNode.keyword);
                sisSearch();
            }
        }
        var searchPopulersRowView = function (index, itemNode) {
            // window.console && console.log("searchPopulersRowView start");
            // window.console && console.log("searchPopulersRowView index:", index, " itemNode:", itemNode);

            var $li_item = $("<li></li>");
            var $a_title = $("<a href='#' class='text'></a>");
            $a_title.html(itemNode.keyword);
            $a_title.click(function () {
                searchPopulerClick(itemNode);
            });
            $li_item.append($a_title);
            if (itemNode.status == "plus") {
                $li_item.append("<span class='label'><i class='fas fa-long-arrow-alt-up'></i>" + itemNode.width + "</span>");
            } else if (itemNode.status == "minus") {
                $li_item.append("<span class='label'><i class='fas fa-long-arrow-alt-down'></i>" + itemNode.width + "</span>");
            } else if (itemNode.status == "new") {
                $li_item.append("<span class='label new'>NEW</span>");
            } else {
                $li_item.append("<span class='label'>-</span>");
            }
            return $li_item;
        }
        var searchPopulersView = function (workingTab, populersNode) {
            window.console && console.log("searchPopulersView start");
            // window.console && console.log("searchPopulersView populersNode:", populersNode);

            $("#" + workingTab.tabId).find(".search-populer-list").empty();
            if (U.isEmpty(populersNode) || populersNode.length <= 0) {
                return;
            }
            for (var i = 0; i < populersNode.length; i++) {
                var populerItemNode = populersNode[i];
                if (U.isEmpty(populerItemNode)) {
                    continue;
                }
                $("#" + workingTab.tabId).find(".search-populer-list").append(searchPopulersRowView(i, populerItemNode));
            }
        }
        var refreshPopulersClick = function () {
            window.console && console.log("refreshPopulersClick start");
            var activeTab = GIStabs.getActiveTab();
            getJSON(BOT_API.SIS_POPULER_LIST)
                .done(function (responce) {
                    window.console && console.log("BOT_API.SIS_POPULER_LIST responce success");
                    window.console && console.log("BOT_API.SIS_POPULER_LIST responce: ", responce);
                    if (responce && responce.code == 0) {
                        searchPopulersView(activeTab, responce.data);
                    }
                })
                .fail(function () {
                    window.console && console.log("BOT_API.SIS_POPULER_LIST responce error ");
                });
        }
        var searchMainFaveClick = function (objectItem) {
            window.console && console.log("searchMainFaveClick start");
            window.console && console.log("searchMainFaveClick objectItem: ", objectItem);

            clearSearchPopMenuView();
            documentPreview(objectItem);
        }
        var searchMainFaveRowView = function (index, itemNode, botSessionInfo) {
            // window.console && console.log("searchMainFaveRowView start");
            // window.console && console.log("searchMainFaveRowView index:", index, " itemNode:", itemNode);

            // 소스 시스템 타입
            var sourceSystemType = itemNode._source && itemNode._source.source_system && itemNode._source.source_system.toUpperCase();
            if (U.isEmpty(sourceSystemType)) {
                sourceSystemType = 'null';
            }
            // 문서ID
            var objectId = itemNode._source && itemNode._source.r_object_id;
            if (U.isEmpty(objectId)) {
                objectId = '';
            }
            // 문서명
            var objectName = itemNode._source && itemNode._source.r_object_name;
            if (U.isEmpty(objectName)) {
                objectName = '';
            }
            // 문서URL
            var objectUrl = itemNode._source && itemNode._source.url;
            if (U.isEmpty(objectUrl)) {
                objectUrl = '';
            }

            var objectItem = {};
            objectItem.objectOrder = -1;
            objectItem.sourceSystemType = sourceSystemType;
            objectItem.objectId = objectId;
            objectItem.objectName = objectName;
            objectItem.objectUrl = objectUrl;
            objectItem.objectDedupe = "";
            objectItem.wikiSID = botSessionInfo.wikiSID;

            var $li_row = $("<li></li>");
            var $a_title = $("<a href='#' class='text'></a>");
            $a_title.html(objectName);
            $a_title.click(function () {
                searchMainFaveClick(objectItem);
            });
            $li_row.append($a_title);
            return $li_row;
        }
        var searchMainFavesView = function (workingTab, favesNode, botSessionInfo) {
            window.console && console.log("searchMainFavesView start");
            // window.console && console.log("searchMainFavesView favesNode:", favesNode);

            $("#" + workingTab.tabId).find(".search-fave-list").empty();
            if (U.isEmpty(favesNode) || favesNode.length <= 0) {
                return;
            }
            var favCount = favesNode.length > 5 ? 5 : favesNode.length;
            for (var i = 0; i < favCount; i++) {
                var faveItemNode = favesNode[i];
                if (U.isEmpty(faveItemNode)) {
                    continue;
                }
                $("#" + workingTab.tabId).find(".search-fave-list").append(searchMainFaveRowView(i, faveItemNode, botSessionInfo));
            }
        }
        var refreshMainFaveClick = function () {
            window.console && console.log("refreshMainFaveClick start");
            var activeTab = GIStabs.getActiveTab();
            getJSON(BOT_API.SIS_FAVE_DOCUMENT_LIST)
                .done(function (responce) {
                    window.console && console.log("BOT_API.SIS_FAVE_DOCUMENT_LIST responce success");
                    // window.console && console.log("BOT_API.SIS_FAVE_DOCUMENT_LIST responce: ", responce);
                    if (responce && responce.code == 0) {
                        searchMainFavesView(activeTab, responce.data);
                    }
                })
                .fail(function () {
                    window.console && console.log("BOT_API.SIS_FAVE_DOCUMENT_LIST responce error ");
                });
        }
        var searchMainNoticeView = function (workingTab, noticeNode) {
            window.console && console.log("searchMainNoticeView start");
            // window.console && console.log("searchMainNoticeView noticeNode:", noticeNode);
            if (U.isEmpty(noticeNode)) {
                return;
            }
            $("#" + workingTab.tabId).find(".main-notice-box").empty();
            if (noticeNode.useYn && noticeNode.useYn == "Y") {
                // var $p_title = $("<p></p>").html(noticeNode.imageText);
                var $noticeImage = $("<img src='" + noticeNode.imagePath + "'>");
                // $("#"+workingTab.tabId).find(".main-notice-box").html($p_title);
                $("#" + workingTab.tabId).find(".main-notice-box").html($noticeImage);
            } else {
                var $noticeImage = $("<span class='no-image'>이미지가 없습니다.</span>");
                $("#" + workingTab.tabId).find(".main-notice-box").html($noticeImage);
            }
        }
        var refreshMainConversationHistoryClick = function () {
            window.console && console.log("refreshMainConversationHistoryClick start");
            var activeTab = GIStabs.getActiveTab();
            searchMainConversationHistoryView(activeTab);
        }
        // 최근검색목록10개 Display
        var searchMainConversationHistoryView = function (workingTab) {
            window.console && console.log("searchMainConversationHistoryView start");
            // window.console && console.log("searchMainConversationHistoryView workingTab:",workingTab);

            var $ul_history = $("#" + workingTab.tabId).find(".search-conversationHistory-list");
            $ul_history.empty();

            var historyNode = getConverSationTopN(GMaiBot.get().botType + "S");
            window.console && console.log("searchMainConversationHistoryView historyNode:", historyNode);
            if (U.isEmpty(historyNode) || historyNode.length <= 0) {
                window.console && console.log("searchMainConversationHistoryView historyNode is null");
                return;
            }
            Stack.setArray(historyNode);
            $.each(historyNode, function (index) {
                // window.console && console.log("searchMainConversationHistoryView index:", index);
                if (index >= 5) {
                    return;
                }
                var itemNode =  Stack.peek(index);
                // window.console && console.log("searchMainConversationHistoryView message:", itemNode.message);
                var $li_row = $("<li></li>");
                var $a_title = $("<a href='#' class='text'></a>");
                $a_title.html(itemNode.message);
                $a_title.click(function () {
                    searchMainConversationHistoryClick(itemNode.message);
                });
                $li_row.html($a_title);
                $ul_history.append($li_row);
                // window.console && console.log("searchMainConversationHistoryView End..");
            });
        }
        var searchMainConversationHistoryClick = function (keywords) {
            window.console && console.log("searchMainConversationHistoryClick start");
            window.console && console.log("searchMainConversationHistoryClick keywords:", keywords);

            clearSearchPopMenuView();
            var activeTab = GIStabs.getActiveTab();
            changeActiveTab(activeTab.tabIndex);
            $("#" + activeTab.tabInputId).val(keywords);
            sisSearch();
        }

        var botSessionInfo = [[${session.botSessionInfo}]]; // 세션정보
        var viewTabsNode = [[${viewTabsNode}]];
        var workingTab = GIStabs.getTab(viewTabsNode.viewTabIndex);

        var populersNode = [[${populersNode}]];
        var favesNode = [[${favesNode}]];
        var noticeNode = [[${noticeNode}]];
        searchPopulersView(workingTab, populersNode);
        searchMainFavesView(workingTab, favesNode, botSessionInfo);
        searchMainNoticeView(workingTab, noticeNode);
        searchMainConversationHistoryView(workingTab);
    </script>
</div>