<div class="row-group" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- search sort | filter -->
    <div class="search-sort row">
        <div class="sort-box cell">
            <!-- 0.SORT_ACCURACY | 1.SORT_LATEST -->
            <ul class="sort" th:data-sort-type="${sisQuery.viewSortType}">
                <li th:class="${sisQuery.viewSortType == 0} ? 'on'">
                    <a href="#" onclick="sortTypeClick(this, 0)">정확도순</a>
                </li>
                <li th:class="${sisQuery.viewSortType == 1} ? 'on'">
                    <a href="#" onclick="sortTypeClick(this, 1)">최근순</a>
                </li>
            </ul>
            <!-- 0.OWNING_FILTER_ALL | 1.OWNING_FILTER_TEAM | 2.OWNING_FILTER_MY -->
            <ul class="filter" th:data-owning-filter-type="${sisQuery.viewOwningType}">
                <li th:class="${sisQuery.viewOwningType == 0} ? 'on'">
                    <a href="#" onclick="owningFilterClick(this, 0)">전체</a>
                </li>
                <li th:class="${sisQuery.viewOwningType == 1} ? 'on'">
                    <a href="#" onclick="owningFilterClick(this, 1)">팀문서</a>
                </li>
                <li th:class="${sisQuery.viewOwningType == 2} ? 'on'">
                    <a href="#" onclick="owningFilterClick(this, 2)">내문서</a>
                </li>
            </ul>
            <ul class="cate">
                <th:block th:if="${aggregations != null}">
                    <li th:each="ssType : ${aggregations.sourceSystemTypes}"
                        th:class="${ssType.yn} ? 'on'"
                        th:data-cate="${ssType.type.name()}"
                        th:data-source-system-type="${ssType.type.name()}">
                        <a href="#" onclick="categoryTypeClick(this)">
                            <span>
                                <strong th:utext="${ssType.type.sourceSystemName}"></strong>
                                <i th:if="${ssType.docCount > 0}" th:utext="'(' + ${#numbers.formatInteger(ssType.docCount,0,'COMMA')} + ')'"></i>
                            </span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

    <!-- search option -->
    <div class="search-option row" th:data-active="${sisQuery.viewOptionFixed == 1} ? 'fixed' : 'close'">
        <div class="search-option-inner cell">
            <div class="option-block">
                <div class="option-block-inner">
                    <div class="label">결과내 재검색</div>
                    <div class="input">
                        <input type="text" name="sisoFq" th:value="${sisQuery.getFq()}" placeholder="검색어를 입력하세요."/>
                    </div>
                </div>
                <div class="option-block-inner">
                    <div class="label">프로젝트 검색</div>
                    <div class="input">
                        <input type="text" name="sisoProject" placeholder="프로젝트 명을 입력하세요." title="Integrity 프로젝트 이름을 검색합니다."
                               data-tooltip='{"my": "left top", "at": "left+15 bottom+5", "arrow":"top left"}'/>
                    </div>
                </div>
                <div class="option-block-inner">
                    <div class="label">기간 검색</div>
                    <div class="input input-date">
                        <div class="input-inner">
                            <div class="select">
                                <select name="sisoBetweenDate" onchange="sisoBetweenDateChange(this)">
                                    <option value="1">1개월</option>
                                    <option value="3">3개월</option>
                                    <option value="6">6개월</option>
                                    <option value="auto" selected="selected">직접설정</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-inner">
                            <input type="text" name="sisoStartDate" th:value="${sisQuery.getFrom()}" class="datepicker readonly" readonly="readonly"
                                   placeholder="시작일"/>
                        </div>
                        <div class="input-inner bar">~</div>
                        <div class="input-inner">
                            <input type="text" name="sisoEndDate" th:value="${sisQuery.getTo()}" class="datepicker readonly" readonly="readonly"
                                   placeholder="종료일"/>
                        </div>
                    </div>
                </div>
                <div class="option-block-inner">
                    <div class="label">작성자</div>
                    <div class="input">
                        <input type="text" name="sisoOwnerName" th:value="${sisQuery.getOwnerName()}" placeholder="작성자를 입력하세요."
                               title="작성자는 1명만 결과내 재검색이 가능합니다."
                               data-tooltip='{"my": "left top", "at": "left+15 bottom+5", "arrow":"top left"}'/>
                    </div>
                </div>
                <div class="option-block-inner">
                    <div class="label">작성 부서</div>
                    <div class="input" name="sisoGroupIds">
                        <th:block th:if="${aggregations != null}">
                            <div class="combobox combobox-block">
                                <a href="#" onclick="groupComboOpenClick(this)">작성부서를 선택하세요.</a>
                                <ul>
                                    <li th:each="groupIdCodeName : ${aggregations.groupIds}">
                                        <label class="checkbox">
                                            <th:block th:if="${sisQuery.getGroupId() == null}">
                                                <input type="checkbox" name="sisoGroupId" th:value="${groupIdCodeName.getCode()}"/>
                                            </th:block>
                                            <th:block th:if="${sisQuery.getGroupId() != null}">
                                                <input type="checkbox" name="sisoGroupId" th:value="${groupIdCodeName.getCode()}" checked="checked"/>
                                            </th:block>
                                            <span th:text="${groupIdCodeName.getName()}"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="option-block-inner">
                    <div class="label" title="인공지능이 문서의 내용에 따라 분류해주는 기능입니다." data-tooltip='{"my": "left top", "at": "left+15 bottom+5", "arrow":"top left"}' >문서유형 <i class="fas fa-question-circle"></i></div>
                    <div class="input" name="sisoXdcCategorys">
                        <th:block th:if="${aggregations != null}">
                            <div class="combobox combobox-block">
                                <a href="#" onclick="groupComboOpenClick(this)">문서유형를 선택하세요.</a>
                                <ul>
                                    <li th:each="xdcCategory : ${aggregations.xdcCategorys}">
                                        <label class="checkbox">
                                            <th:block th:if="${sisQuery.xdcCategory == null}">
                                                <input type="checkbox" name="sisoXdcCategory" th:value="${xdcCategory}"/>
                                            </th:block>
                                            <th:block th:if="${sisQuery.xdcCategory != null}">
                                                <input type="checkbox" name="sisoXdcCategory" th:value="${xdcCategory}" checked="checked"/>
                                            </th:block>
                                            <span th:text="${xdcCategory}"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="option-block-inner">
                    <div class="label">파일 타입</div>
                    <div class="input" name="sisoExtensions">
                        <th:block th:if="${aggregations != null}">
                            <div class="combobox combobox-inline">
                                <a href="#" onclick="groupComboOpenClick(this)">파일 타입을 선택하세요.</a>
                                <ul>
                                    <li th:each="extension : ${aggregations.extensions}">
                                        <label class="checkbox comment-inline">
                                            <th:block th:if="${sisQuery.getExtension() == null}">
                                                <input type="checkbox" name="sisoExtension" th:value="${extension}"/>
                                            </th:block>
                                            <th:block th:if="${sisQuery.getExtension() != null}">
                                                <input type="checkbox" name="sisoExtension" th:value="${extension}" checked="checked"/>
                                            </th:block>
                                            <span th:text="${extension}"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="option-block-inner t-right t-end no-border-bottom">
                    <a href="#" class="btn btn-dark" onclick="sisoReSetClick(this)">초기화</a>
                    <a href="#" class="btn btn-primary" onclick="sisoReSearchClick(this)">재검색</a>
                </div>
            </div>
            <div class="buttons">
                <a href="#" class="btn-option btn-option-open" onclick="sisoOpenClick(this)">상세 검색 열기 <i class="fas fa-plus"></i></a>
                <a href="#" class="btn-option btn-option-close" onclick="sisoCloseClick(this)">상세 검색 닫기 <i class="fas fa-times"></i></a>
                <a href="#" class="btn-option btn-option-fixed" onclick="sisoFixedClick(this)">상세 검색 고정 <i class="fas fa-thumbtack"></i></a>
            </div>
        </div>
    </div>

    <!-- search total -->
    <div class="search-total">
        <i class="far fa-file-alt"></i>
        <span class="color-point" th:text="${keywords}"></span> 로 검색한 문서 검색결과 :
        <b th:text="'총 ' + ${#numbers.formatInteger(totCount,0,'COMMA')} + '건'"></b>
    </div>

    <!-- saerch list -->
    <div class="search-list">
        <div class="list">
            <table>
                <thead>
                <tr>
                    <th class="title">문서 제목</th>
                    <th class="writer">작성자</th>
                    <th class="team">작성 부서</th>
                    <th class="date">작성일</th>
                    <th class="edit">최근 수정일</th>
                </tr>
                </thead>
                <tbody class="search-data-container">
                </tbody>
            </table>
        </div>
        <div class="paging">
            <div class="search-pagination"></div>
        </div>
        <div class="search-empty">
            <div class="empty">
                <p class='empty-title'><span class="color-point" th:text="${keywords}"></span>에 대한 검색 결과가 없습니다.</p>
                <p style="font-size: 14px;">
                    다른 검색어를 사용하거나 간단하게 검색해 보세요.<br>
                    개인정보 및 민감정보를 포함한 문서는 검색에서 제외될 수 있습니다.<br>
                    현재는 EE연구소, 샤시/의장연구소, 연구기획사업부, 품질본부, IT기획실만 MCloud 검색이 가능합니다.
                </p>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var recommendedKeywordClick = function (__this) {
            window.console && console.log("recommendedKeywordClick start");
            window.console && console.log("recommendedKeywordClick __this:", __this);

            clearSearchPopMenuView();

            if ($(__this).hasClass("on")) {
                $(__this).removeClass("on");
            } else {
                $(__this).addClass("on");
            }

            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("recommendedKeywordClick activeTab:", activeTab.tabIndex);

            var iipp = {};
            iipp.q = sis_Q(activeTab);
            iipp.addq = sis_addQ(activeTab);

            var optionFixed = sis_optionFixed(activeTab);

            if (U.isEmpty(iipp.addq) || iipp.addq.length <= 0) {
                iipp.addq = null;
            }

            window.console && console.log("recommendedKeywordClick iipp:", iipp);
            GISquery.putQQ(iipp.q, iipp.addq);
            GISquery.addView(activeTab.tabIndex, activeTab.tabId, 0, 0, optionFixed, 1);
            openSisListView(GISquery.get());
        }
        var categoryTypeClick = function (__this) {
            window.console && console.log("categoryTypeClick start");

            clearSearchPopMenuView();

            var sourceSystemType = $(__this).parent().attr("data-source-system-type");
            window.console && console.log("categoryTypeClick sourceSystemType: ", sourceSystemType);
            if ($(__this).parent().hasClass("on")) {
                var choiceCount = $(__this).parent().parent().children('li.on').length;
                window.console && console.log("categoryTypeClick choiceCount: ", choiceCount);
                if (choiceCount <= 1) {
                    return;
                }
                $(__this).parent().removeClass("on");
            } else {
                $(__this).parent().addClass("on");
            }

            sisReSearch(CONST_QUERY_DEPTH_THREE, 1);
        }
        var sortTypeClick = function (__this, sortType) {
            window.console && console.log("sortTypeClick start");
            window.console && console.log("sortTypeClick sortType: ", sortType);

            clearSearchPopMenuView();

            // 0.SORT_DEFAULT | 1.SORT_ACCURACY | 2.SORT_LATEST
            var oldSortType = $(__this).parent().parent().attr("data-sort-type");
            window.console && console.log("sortTypeClick oldSortType: ", oldSortType);

            if (oldSortType == sortType) {
                window.console && console.log("owningFilterClick sort old==new");
                return;
            }

            $(__this).parent().parent().attr("data-sort-type", sortType);
            $(__this).parent().parent().children().removeClass("on");
            $(__this).parent().addClass("on");

            sisReSearch(CONST_QUERY_DEPTH_TWO, 1);
        }
        var owningFilterClick = function (__this, filterType) {
            window.console && console.log("owningFilterClick start");
            window.console && console.log("owningFilterClick filterType: ", filterType);

            clearSearchPopMenuView();

            // 0.OWNING_FILTER_ALL | 1.OWNING_FILTER_TEAM | 2.OWNING_FILTER_MY
            var oldFilterType = $(__this).parent().parent().attr("data-owning-filter-type");
            window.console && console.log("owningFilterClick oldFilterType: ", oldFilterType);

            if (oldFilterType == filterType) {
                window.console && console.log("owningFilterClick filter old==new");
                return;
            }

            $(__this).parent().parent().attr("data-owning-filter-type", filterType);
            $(__this).parent().parent().children().removeClass("on");
            $(__this).parent().addClass("on");

            sisReSearch(CONST_QUERY_DEPTH_TWO, 1);
        }

        var groupComboOpenClick = function (__this) {
            window.console && console.log("groupComboOpenClick start");
            window.console && console.log("groupComboOpenClick __this:", __this);

            if ($(__this).hasClass("on")) {
                $(__this).removeClass("on");
                $(__this).parent(".combobox-block").attr("style", "");
            } else {
                $(__this).addClass("on");
                $(__this).parent(".combobox-block").css({
                    "z-index": "4"
                });
            }
        }

        var sisoOpenClick = function (__this) {
            window.console && console.log("sisoOpenClick  start...");
            clearSearchPopMenuView();
            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("sisoOpenClick activeTab: ", activeTab.tabIndex);
            $("#" + activeTab.tabId).find('.search-option').attr('data-active', 'open');
        }
        var sisoCloseClick = function (__this) {
            window.console && console.log("sisoCloseClick  start...");
            clearSearchPopMenuView();
            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("sisoCloseClick activeTab:", activeTab.tabIndex);
            $("#" + activeTab.tabId).find('.search-option').attr('data-active', 'close');
        }
        var sisoFixedClick = function (__this) {
            window.console && console.log("sisoFixedClick  start...");
            clearSearchPopMenuView();
            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("sisoFixedClick activeTab:", activeTab.tabIndex);
            $("#" + activeTab.tabId).find('.search-option').attr('data-active', 'fixed');
        }

        var sisoBetweenDateChange = function (__this) {
            window.console && console.log("sisoBetweenDateChange  start...");

            var selectValue = $(__this).val();
            window.console && console.log("sisoBetweenDateChange  selectValue:", selectValue);

            var $sisoBetweenDate = $(__this).parent().parent().parent();
            var $startDate = $sisoBetweenDate.find("input[name='sisoStartDate']");
            var $endDate = $sisoBetweenDate.find("input[name='sisoEndDate']");

            // $startDate.removeClass('datepicker');
            // $endDate.removeClass('datepicker');

            var today = new Date();
            if (selectValue == "1") {
                $endDate.val($.format.date(today, "yyyy-MM-dd"));
                today.setMonth(today.getMonth() - 1);
                today.setDate(today.getDate() + 1);
                $startDate.val($.format.date(today, "yyyy-MM-dd"));
            } else if (selectValue == "3") {
                $endDate.val($.format.date(today, "yyyy-MM-dd"));
                today.setMonth(today.getMonth() - 3);
                today.setDate(today.getDate() + 1);
                $startDate.val($.format.date(today, "yyyy-MM-dd"));
            } else if (selectValue == "6") {
                $endDate.val($.format.date(today, "yyyy-MM-dd"));
                today.setMonth(today.getMonth() - 6);
                today.setDate(today.getDate() + 1);
                $startDate.val($.format.date(today, "yyyy-MM-dd"));
            } else {
                // $startDate.addClass('datepicker');
                // $endDate.addClass('datepicker');
                $startDate.val("").focus();
                $endDate.val("");
            }
        }
        var sisoReSetClick = function (__this) {
            window.console && console.log("sisoReSetClick start");
            clearSearchPopMenuView();

            var activeTab = GIStabs.getActiveTab();
            var $sisOption = $("#" + activeTab.tabId).find(".option-block");
            $sisOption.find("input[name='sisoFq']").val("");
            $sisOption.find("input[name='sisoProject']").val("");
            $sisOption.find("select[name='sisoBetweenDate']").val("auto");
            $sisOption.find("input[name='sisoStartDate']").val("");
            $sisOption.find("input[name='sisoEndDate']").val("");
            $sisOption.find("input[name='sisoOwnerName']").val("");
            $sisOption.find("div[name='sisoGroupIds']").find("input[name='sisoGroupId']:checked").map(function (_, element) {
                window.console && console.log("sisoReSetClick sisoGroupIds element:", element);
                $(element).prop("checked", false);
            });
            $sisOption.find("div[name='sisoExtensions']").find("input[name='sisoExtension']:checked").map(function (_, element) {
                window.console && console.log("sisoReSetClick sisoExtensions element:", element);
                $(element).prop("checked", false);
            });
            $sisOption.find("div[name='sisoXdcCategorys']").find("input[name='sisoXdcCategory']:checked").map(function (_, element) {
                window.console && console.log("sisoReSetClick sisoXdcCategorys element:", element);
                $(element).prop("checked", false);
            });
            window.console && console.log("sisoReSetClick end.");
        }
        var sisoReSearchClick = function (__this) {
            window.console && console.log("sisoReSearchClick start");

            clearSearchPopMenuView();
            sisReSearch(CONST_QUERY_DEPTH_FOUR, 1);
        }

        // 검색키워드
        var sis_Q = function (activeTab) {
            return $("#" + activeTab.tabInputId).val();
        }
        // 추천키워드
        var sis_addQ = function (activeTab) {
            var addq = [];
            $("#" + activeTab.tabId).find(".search-keyword .keyword-box .list ul li").each(function () {
                // window.console && console.log("sisReSearch search-keyword: ", $(this));
                if ($(this).hasClass("on")) {
                    var aqKeyword = $(this).attr("data-filter-keyword");
                    // window.console && console.log("sisReSearch aqKeyword: ", aqKeyword);
                    addq.push(aqKeyword);
                }
            });
            return addq;
        }
        // 정렬타입
        // 0.SORT_ACCURACY | 1.SORT_LATEST
        var sis_sortType = function (activeTab) {
            var sortType = $("#" + activeTab.tabId).find(".search-sort .sort-box ul.sort").attr("data-sort-type");
            return Number(sortType);
        }
        // 팀/내문서 filterType
        // 0.OWNING_FILTER_ALL | 1.OWNING_FILTER_TEAM | 2.OWNING_FILTER_MY
        var sis_filterType = function (activeTab) {
            var filterType = $("#" + activeTab.tabId).find(".search-sort .sort-box ul.filter").attr("data-owning-filter-type");
            return Number(filterType);
        }
        // 시스템소스
        var sis_sources = function (activeTab) {
            var sources = [];
            $("#" + activeTab.tabId).find(".search-sort .sort-box ul.cate li").each(function () {
                if ($(this).hasClass("on")) {
                    var sourceSystemType = $(this).attr("data-source-system-type");
                    // window.console && console.log("sisReSearch sourceSystemType: ", sourceSystemType);
                    sources.push(sourceSystemType);
                }
            });
            return sources;
        }
        // 상세검색 BOX 고정타입
        var sis_optionFixed = function (activeTab) {
            window.console && console.log("sis_optionFixed start...");
            var optionFixed = $("#" + activeTab.tabId).find(".search-option").attr("data-active");
            window.console && console.log("sis_optionFixed optionFixed:", optionFixed);
            if (U.isEmpty(optionFixed)) {
                return 0;
            }
            if (optionFixed == "fixed") {
                return 1;
            } else {
                return 0;
            }
        }
        var sisReSearch = function (depth, choicePage) {
            window.console && console.log("sisReSearch start");
            window.console && console.log("sisReSearch depth:", depth, " choicePage:", choicePage);

            var activeTab = GIStabs.getActiveTab();
            window.console && console.log("sisReSearch activeTab: ", activeTab.tabIndex);

            var iipp = {};
            iipp.q = sis_Q(activeTab);
            iipp.addq = sis_addQ(activeTab);
            iipp.sources = sis_sources(activeTab);
            var filterType = sis_filterType(activeTab);
            if (filterType == 1) {
                iipp.myDeptDoc = true;
                iipp.myDoc = false;
            } else if (filterType == 2) {
                iipp.myDeptDoc = false;
                iipp.myDoc = true;
            } else {
                iipp.myDeptDoc = false;
                iipp.myDoc = false;
            }
            var optionFixed = sis_optionFixed(activeTab);

            var $sisOption = $("#" + activeTab.tabId).find(".option-block");
            iipp.fq = $sisOption.find("input[name='sisoFq']").val();
            iipp.projectName = $sisOption.find("input[name='sisoProject']").val();
            iipp.from = $sisOption.find("input[name='sisoStartDate']").val();
            iipp.to = $sisOption.find("input[name='sisoEndDate']").val();
            iipp.ownerName = $sisOption.find("input[name='sisoOwnerName']").val();
            iipp.groupIds = $sisOption.find("div[name='sisoGroupIds']").find("input[name='sisoGroupId']:checked").map(function (_, element) {
                return $(element).val();
            }).get();
            iipp.extensions = $sisOption.find("div[name='sisoExtensions']").find("input[name='sisoExtension']:checked").map(function (_, element) {
                return $(element).val();
            }).get();
            iipp.xdcCategorys = $sisOption.find("div[name='sisoXdcCategorys']").find("input[name='sisoXdcCategory']:checked").map(function (_, element) {
                return $(element).val();
            }).get();

            // 0.SORT_ACCURACY | 1.SORT_LATEST
            var sortType = sis_sortType(activeTab);
            window.console && console.log("sisReSearch sortType: ", sortType);
            iipp.sort = "";
            if (sortType == 1) {
                iipp.sort = "recent";
            }
            var pageOffset = (choicePage * 10) - 10;


            if (U.isEmpty(iipp.addq) || iipp.addq.length <= 0) {
                iipp.addq = null;
            }
            if (U.isEmpty(iipp.sources) || iipp.sources.length <= 0) {
                iipp.sources = null;
            }
            if (U.isEmpty(iipp.groupIds) || iipp.groupIds.length <= 0) {
                iipp.groupIds = null;
            }
            if (U.isEmpty(iipp.extensions) || iipp.extensions.length <= 0) {
                iipp.extensions = null;
            }
            if (U.isEmpty(iipp.xdcCategorys) || iipp.xdcCategorys.length <= 0) {
                iipp.xdcCategorys = null;
            }

            window.console && console.log("sisReSearch iipp:", iipp);
            GISquery.putQQQ(depth, iipp.q, iipp.addq, iipp.sources, iipp.myDeptDoc, iipp.myDoc, iipp.groupIds, iipp.ownerName, iipp.from, iipp.to, iipp.extensions, iipp.fq, iipp.projectName, iipp.xdcCategorys, pageOffset, iipp.sort);
            GISquery.addView(activeTab.tabIndex, activeTab.tabId, filterType, sortType, optionFixed, choicePage);
            openSisListView(GISquery.get());
        }

        /**
         * 페이지네이션 처리
         */
        var paginationRowView = function (index, itemNode, botSessionInfo, sisQuery) {
            // window.console && console.log("paginationRowView  index: ", index);
            // window.console && console.log("paginationRowView  itemNode: ", itemNode);

            // 소스 시스템 타입
            var sourceSystemType = itemNode._source && itemNode._source.source_system && itemNode._source.source_system.toUpperCase();
            if (U.isEmpty(sourceSystemType)) {
                sourceSystemType = 'null';
            }
            // 문서ID
            var objectId = itemNode._source && itemNode._source.r_object_id;
            if (U.isEmpty(objectId)) {
                objectId = '';
            }
            // 문서명
            var objectName = itemNode.highlight && itemNode.highlight.r_object_name && itemNode.highlight.r_object_name[0];
            if (U.isEmpty(objectName)) {
                objectName = itemNode._source && itemNode._source.r_object_name;
            }
            if (U.isEmpty(objectName)) {
                objectName = '';
            }
            // 문서URL
            var objectUrl = itemNode._source && itemNode._source.url;
            if (U.isEmpty(objectUrl)) {
                objectUrl = '';
            }

            // 중복문서 관련
            var sameFileCount = itemNode.inner_hits && itemNode.inner_hits.dedupe_document && itemNode.inner_hits.dedupe_document.hits && itemNode.inner_hits.dedupe_document.hits.total;
            if (U.isEmpty(sameFileCount)) {
                sameFileCount = "0";
            }
            sameFileCount = Number(sameFileCount);
            if (sameFileCount > 0) {
                sameFileCount = sameFileCount - 1;
            }
            var objectDedupe = itemNode._source && itemNode._source.dedupe;
            if (U.isEmpty(objectDedupe)) {
                objectDedupe = "";
            }
            // 소유자
            var sourceOwnerName = itemNode._source && itemNode._source.owner_info && itemNode._source.owner_info.user_nm;
            if (U.isEmpty(sourceOwnerName)) {
                sourceOwnerName = '';
            }
            // 소유자 부서
            var sourceDeptName = itemNode._source && itemNode._source.owner_info && itemNode._source.owner_info.dept_nm;
            if (U.isEmpty(sourceDeptName)) {
                sourceDeptName = '';
            }
            // 문서 생성/수정일시
            var sourceCreationDate = "";
            var sourceCreationTime = "";
            var sourceModifyDate = "";
            var sourceModifyTime = "";
            if (itemNode._source && !U.isEmpty(itemNode._source.creation_date)) {
                sourceCreationDate = $.format.date(itemNode._source.creation_date, "yyyy-MM-dd");
                sourceCreationTime = $.format.date(itemNode._source.creation_date, "HH:mm:ss");
            }
            if (itemNode._source && !U.isEmpty(itemNode._source.modify_date)) {
                sourceModifyDate = $.format.date(itemNode._source.modify_date, "yyyy-MM-dd");
                sourceModifyTime = $.format.date(itemNode._source.modify_date, "HH:mm:ss");
            }

            var objectItem = {};
            objectItem.objectOrder = (U.isEmpty(sisQuery.offset) ? 0 : Number(sisQuery.offset)) + Number(index);
            objectItem.sourceSystemType = sourceSystemType;
            objectItem.objectId = objectId;
            objectItem.objectName = objectName;
            objectItem.objectUrl = objectUrl;
            objectItem.objectDedupe = objectDedupe;
            objectItem.q = sisQuery.q;
            objectItem.wikiSID = botSessionInfo.wikiSID;

            var enableMenuArray = [];
            if (!U.isEmpty(objectItem.objectUrl)) {
                enableMenuArray.push(CONST_POP_MENU_DOCUMENT);
                enableMenuArray.push(CONST_POP_MENU_COPY_CLIPBOARD);
            }
            enableMenuArray.push(CONST_POP_MENU_PAGE);
            enableMenuArray.push(CONST_POP_MENU_SIMILAR);
            if (sameFileCount > 0) {
                enableMenuArray.push(CONST_POP_MENU_SAME);
            }
            enableMenuArray.push(CONST_POP_MENU_FAVE);


            var $tr = $("<tr></tr>");
            var $td_title = $("<td class='title'></td>");
            $td_title.html("\
                <a href='#'>\
                    <span class='label label-" + sourceSystemType + "'></span>\
                    <span class='file-name'>" + objectName + "</span>\
                    <span class='file-same'>(+" + sameFileCount + ")</span>\
                </a>\
            ");
            $td_title.click(function (event) {
                appendObjectPopMenusView(event, enableMenuArray, objectItem);
            });
            $tr.append($td_title);
            $tr.append("<td class='writer'>" + sourceOwnerName + "</td>");
            $tr.append("<td class='team'>" + sourceDeptName + "</td>");
            $tr.append("<td class='date'>" + sourceCreationDate + " <span class='time'>" + sourceCreationTime + "</span></td>");
            $tr.append("<td class='edit'>" + sourceModifyDate + " <span class='time'>" + sourceModifyTime + "</span></td>");
            return $tr;
        }
        var paginationView = function (botSessionInfo, sisQuery, viewTabsNode) {
            window.console && console.log("integrateSearchListView paginationView  start...");

            window.console && console.log("integrateSearchListView paginationView q:", sisQuery.q, " viewTabIndex:", viewTabsNode.viewTabIndex);
            var workingTabs = GIStabs.getTab(viewTabsNode.viewTabIndex);
            var dataNode = workingTabs.tabBodyDataNode;
            var paginationCount = [[${paginationCount}]];
            var $dataContainer = $("#" + workingTabs.tabId).find(".search-data-container");
            var $pagination = $("#" + workingTabs.tabId).find(".search-pagination");
            var $dataEmpty = $("#" + workingTabs.tabId).find(".search-empty");
            window.console && console.log("integrateSearchListView paginationView dataNode count:", dataNode && dataNode.length);
            $dataContainer.empty();
            $pagination.empty();
            $dataEmpty.hide();
            if (U.isEmpty(dataNode) || dataNode.length <= 0) {
                $dataEmpty.show();
                return;
            }
            var loopCount = dataNode.length > 10 ? 10 : dataNode.length;
            for (var i = 0; i < loopCount; i++) {
                var itemNode = dataNode[i];
                $dataContainer.append(paginationRowView(i, itemNode, botSessionInfo, sisQuery));
            }

            window.console && console.log("pagination paginationCount:", paginationCount);
            var totalPages = Number(paginationCount) / 10;
            if (totalPages <= 0) {
                totalPages = 1;
            }
            totalPages = Math.ceil(totalPages);
            var startPage = Number(viewTabsNode.viewStartPage);
            window.console && console.log("pagination totalPages:", totalPages, " startPage:", startPage);
            $pagination.twbsPagination({
                totalPages: totalPages,
                startPage: startPage,
                visiblePages: 10,
                first: null,
                last: null,
                onPageClick: function (event, page) {

                }
            }).on('page', function (event, page) {
                // window.console && console.log("pagination twbsPagination  page:", page);
                changePageReSearch(page);
            });
        }

        var changePageReSearch = function (page) {
            window.console && console.log("changePageReSearch page:", page);

            clearSearchPopMenuView();
            sisReSearch(CONST_QUERY_DEPTH_FIVE, page);
        }

        var recommendedView = function (sisQuery, viewTabsNode, recommendedKeywords) {
            window.console && console.log("integrateSearchListView recommendedView  start...");
            window.console && console.log("integrateSearchListView recommendedView  recommendedKeywords:", recommendedKeywords);

            var workingTabs = GIStabs.getTab(viewTabsNode.viewTabIndex);
            // Tab Title 대입
            $("#" + workingTabs.tabButtonId).find("a[class='title']").html(workingTabs.tabHeader.title);

            if (sisQuery.depth > 0) {
                return;
            }
            $("#" + workingTabs.tabId).find(".search-keyword .keyword-box .list").empty();

            if (U.isEmpty(recommendedKeywords) || recommendedKeywords.length <= 0) {
                return;
            }

            var $ul = $("<ul></ul>");
            for (var i = 0; i < recommendedKeywords.length; i++) {
                var recommended = recommendedKeywords[i];
                // window.console && console.log("integrateSearchListView recommendedView  recommended:", recommended);
                var $li_row = $("\
                    <li data-filter-keyword='" + recommended + "' onclick='recommendedKeywordClick(this)'>" + recommended + "</li>\
                ");
                $ul.append($li_row);
            }
            $("#" + workingTabs.tabId).find(".search-keyword .keyword-box .list").html($ul);

            //키워드 스크롤 만들기
            $("#" + workingTabs.tabId).find(".search-keyword ul").mCustomScrollbar({axis: "x"});
        }

        var $datepicker = $(document).find(".datepicker");
        $datepicker.datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: 0,
            showOtherMonths: true,
            selectOtherMonths: true
        });

        // var $dataContainer = $("#" + workingTabs.tabId).find(".search-data-container");
        // var $pagination = $("#" + workingTabs.tabId).find(".search-pagination");
        // $dataContainer.empty();
        // $pagination.empty();

        var botSessionInfo = [[${session.botSessionInfo}]]; // 세션정보
        var viewTabsNode = [[${viewTabsNode}]];
        var sisQuery = [[${sisQuery}]];
        var dataNode = [[${dataNode}]];
        window.console && console.log("integrateSearchListView q:", sisQuery.q, " viewTabIndex:", viewTabsNode.viewTabIndex);
        window.console && console.log("integrateSearchListView sisQuery:", sisQuery);
        window.console && console.log("integrateSearchListView dataNode:", dataNode);
        if (!U.isEmpty(sisQuery)) {
            var tabTitle = "<mark>" + sisQuery.q + "</mark> 검색결과";
            GIStabs.putTabBody(viewTabsNode.viewTabIndex, tabTitle, dataNode);
            var recommendedKeywords = [[${recommendedKeywords}]];
            recommendedView(sisQuery, viewTabsNode, recommendedKeywords);
            paginationView(botSessionInfo, sisQuery, viewTabsNode);

            if (sisQuery.depth == 0) {
                var relatedKeywords = [[${relatedKeywords}]];
                if (relatedKeywords && relatedKeywords.length > 0) {
                    var relatedNode = {};
                    relatedNode.tabIndex = viewTabsNode.viewTabIndex;
                    relatedNode.q = sisQuery.q;
                    relatedNode.keywords = relatedKeywords;
                    templateSisRelatedKeywordsView(sisQuery.q, relatedNode);
                    scrollBottomBotMessages();
                }
            }
        }

    </script>
</div>