<header-section [items]="headerBreadcrumb"></header-section>
<main class="main-section">
  <div class="contents-container">
    <div class="menu-section">
      <main-menu [currentMenuId]="currentMenuId" [currentMenuIds]="currentMenuIds" ></main-menu>
    </div>
    <div class="contents-section">

      <router-outlet (activate)="onActivate($event)"></router-outlet>

      <footer-section></footer-section>
    </div>
  </div>
</main>

<!-- <common-modal #dialogModelTrainingModal class="modal-train-wrap ">
  <div class="common-modal-header">
    <div class="modal-title">모델 학습</div>
    <div class="modal-close" (click)="dialogModelTrainingModal.modalClose(); onCloseDialogModelTrainingModal(false, null, null);">
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="modal-content-wrap text-center">
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="train-text">
          Indri_Threshold
          <i class="icon-question"></i>
          <div class="train-help">
            <p>
              Indri_Threshold help
            </p>
          </div>
        </div>
        <input #indriThresholdInput type="text" value="0.5" disabled>
      </div>
    </div>
    <div class="common-input modal-input ui-g">
      <div class="ui-g-12">
        <div class="train-text">
          SVM_Threshold
          <i class="icon-question"></i>
          <div class="train-help">
            <p>
              SVM_Threshold help
            </p>
          </div>
        </div>
        <input #svmThresholdInput type="text" value="0.0" disabled>
      </div>
    </div>
  </div>
  <div class="common-modal-footer">
    <div class="button-wrap float-right">
      <button class="btn-alert btn-cancel"
              (click)="dialogModelTrainingModal.modalClose();
                       onCloseDialogModelTrainingModal(false, null, null);">취소</button>
      <button class="btn-alert"
              (click)="dialogModelTrainingModal.modalClose();
                       onCloseDialogModelTrainingModal(true, indriThresholdInput.value, svmThresholdInput.value)">학습</button>
    </div>
  </div>
</common-modal> -->

<!--alert modal-->
<common-modal #alertModal class="alert-modal"
    [sectionStyle]="alertModalSectionStyle">
  <div class="common-modal-header">
    <div class="modal-title">{{alertModalTitle}}</div>
    <div class="modal-close" *ngIf="alertModalHasUserAction" (click)="alertModal.modalClose();onCloseAlertModal(false);">
      <i class="icon-close"></i>
    </div>
  </div>
  <div *ngIf="alertModalText && (contentsIsHtml == false)" class="modal-content-wrap">
    <p>{{alertModalText}}</p>
  </div>
  <div *ngIf="contentsIsHtml" class="modal-content-wrap" [innerHTML]="alertModalText">
  </div>
  <div class="common-modal-footer" *ngIf="alertModalHasUserAction">
    <div class="button-wrap float-right">
      <button *ngIf="alertModalHasCancel" class="btn-alert btn-cancel" (click)="alertModal.modalClose();onCloseAlertModal(false);">취소</button>
      <button class="btn-alert" (click)="alertModal.callback($event);alertModal.modalClose();onCloseAlertModal(true);">확인</button>
    </div>
  </div>
</common-modal>

<common-modal #progressSpinnerModal
    [sectionStyle]="progressSpinnerSectionStyle" [style]="{background: 'none'}">
  <div class="modal-content-wrap">
    <app-progress-spinner [style]="{display: 'block', height:'100%'}"></app-progress-spinner>
  </div>
</common-modal>

<app-close #close [url]="pauseUrl" (outer)="onCloser($event)"></app-close>