<div *ngIf="addFlag" [ngClass]="{'common-modal-section':true, 'modal-section':addFlag}">
	<div class="common-modal-container">
		<form [formGroup]="addForm">
			<!-- .modal_top -->
			<div class="modal_top">
				<h3>학습 데이터 생성</h3>
				<div class="modal-close" (click)="addClose()">
					<i class="icon-close"></i>
				</div>
			</div>
			<!-- //.modal_top -->
			<!-- .modal_mid -->
			<div class="modal_mid">
				<div class="modal_stn">
					<div class="tit">
						<h4>도메인 이름</h4>
					</div>
					<div class="cont">
						<div class="pickerBox">
							<p class="domainPicker">{{itf_corpus_category.sds_domain}}</p>
						</div>
					</div>
				</div>
				<!-- <div class="modal_stn">
					<div class="tit">
						<h4>intent_name</h4>
						<span>prefix : "{{itf_corpus_category.sds_domain}}-" 를 꼭 넣어주세요 </span>
					</div>
					<div class="cont">
						<input type="text" formControlName="intent_name" class="textarea" (keypress)="_keyPress($event)" [value]="itf_corpus_category.sds_domain+'-'" placeholder="인텐트 이름을 입력해주세요.">
					</div>
				</div> -->

				<div class="modal_stn">
					<div class="tit">
						<h4>question</h4>
					</div>
					<div class="cont">
						<input #dnnInput type="text" formControlName="question" class="textarea" placeholder="학습 데이터 입력해주세요.">
					</div>
				</div>
			</div>
			<!-- //.modal_mid -->
			<!-- .modal_btm -->
			<div class="modal_btm">			
				<button class="point" *ngIf="!addForm.invalid" (click)="onAddSubmit(addForm.value)">저장</button>
				<button (click)="addClose()">취소</button>
			</div>
			<!-- //.modal_btm -->
      	</form>
	</div>
</div>
