<common-table [style]="{padding: '3px', width: '100%'}"
    [bodyStyle]="{'height': '152px', 'overflow-y': 'auto'}"
    *ngIf="dnnFlag"
>

  <div class="table-wrap-rowgroup">
    <!-- [style]="{width: '471px'}" -->
    <p-dataTable [value]="items" styleClass="custom-row-table" dataKey="questionId"
      [tableStyle]="{'max-width': '100%'}"
    >

      <p-column header="sds_domain" field="sds_domain" [style]="{}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.sds_domain}}
        </ng-template>
      </p-column>
     
      <p-column header="question" field="question" [style]="{'text-align':'left'}">
        <ng-template let-col let-item="rowData" pTemplate="body">
          {{item.question}}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'80px'}">
        <ng-template pTemplate="header">
          <div>Action</div>
        </ng-template>
        <ng-template let-entity="rowData" pTemplate="body">
          <div class="table-button">
            <button type="button" class="btn_tbl" (click)="editModalOpen(entity)">
              <img src="../../../../../../assets/images/ico_btn_edit.png" alt="수정">
            </button>
            <button type="button" class="btn_tbl" (click)="removeOpen(entity)">
              <img src="../../../../../../assets/images/ico_btn_remove.png" alt="삭제">
            </button>

          </div>
        </ng-template>
      </p-column>

      <ng-template pTemplate="emptymessage">
        <div class="no-data">조회할 데이터가 없습니다</div>
      </ng-template>

    </p-dataTable>

  </div>

  <div class="common-table-footer">
    <div class="footer-wrap text-center"
      style="margin-top: 0"
    >
      <app-paginator
          (page)="onPaginator($event)"
          [totalCount]="paginator.totalCount"
          [pageSize]="paginator.pageSize"
          [style]="{margin: '5px 0'}"
      ></app-paginator>
    </div>
  </div>
</common-table>

<app-dnn-add #addModal (addRemove)="addModalClose($event)"> </app-dnn-add>
<app-dnn-edit #editModal (editRemove)="editModalClose($event)"> </app-dnn-edit>
<!-- <app-dnn-order #orderModal > </app-dnn-order> -->
