<!-- 나중에 사용 -->


<div *ngIf="orderFlag" [ngClass]="{'common-modal-section':true, 'modal-section':orderFlag}">
	<div class="common-modal-container">
		<!-- .modal_top -->
		<div class="modal_top">
			<h3>인텐트 순서 변경</h3>
			<div class="modal-close" (click)="addClose()">
				<i class="icon-close"></i>
			</div>
		</div>

		<div class="modal_mid">
			<ng-template ngFor let-item [ngForOf]="arraySds" let-i="index">
				<div class="modal_stn">
					<div class="tit">
						<h4> {{i}} </h4>
					</div>
					<div class="cont">
						<input type="text" [value]="item.project_name" class="textarea">
					</div>
				</div>

				<div class="table-button">
					<button type="button" class="btn_tbl" (click)="moveDown(item)">
						Down <img src="../../../../../../assets/images/ico_pageBtn_prev.png" alt="다운">
					</button>
					<button type="button" class="btn_tbl" (click)="moveUp(item)">
						up <img src="../../../../../../assets/images/ico_pageBtn_next.png" alt="업">
					</button>
				</div>
			</ng-template>
		</div>

		<div class="modal_btm">
			<button class="point" (click)="onOrderSubmit()">저장</button>
			<button (click)="orderClose()">취소</button>
		</div>
		<!-- //.modal_btm -->
	</div>
</div>