
<!-- .debugBox -->
<div *ngIf="isDebug" class="debugBox">
  <div class="debugSection">
    <!-- .titBox -->
    <div class="titBox">
      <h3>Debug</h3>
      <ul class="btnBox">
        <li>
          <button type="button"
              (click)="togglePublishView()"
          >.</button>
        </li>
        <li>
          <button class="btn_close" type="button"
              (click)="toggleDebug($event)"
          >Debug 닫기</button>
        </li>
      </ul>
    </div>
    <!-- //.titBox -->
    <!-- .contBox (Q&A Debug Layer Popup) -->
    <div *ngIf="publishView" class="contBox" [style.display]="chatbotStepGroupIsInit(currStep) ? 'block' : 'none'">
      greeting message
    </div>
    <div *ngIf="publishView" class="contBox" [style.display]="chatbotStepGroupIsBqa(currStep) ? 'block' : 'none'">
      <div class="lot_tbl">
        <div class="h4Box">
          <div class="tit">
            <h4>답변처리엔진</h4>
          </div>
          <div class="cont">
            <p>Q&amp;A</p>
          </div>
        </div>
        <div class="h4Box">
          <div class="tit">
            <h4>도메인</h4>
          </div>
          <div class="cont">
            <ul class="treeDepth">
              <li>보험</li>
              <li>연금</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lot_tbl">
        <div class="h4Box">
          <div class="tit">
            <h4>요청</h4>
          </div>
          <div class="cont">
            <dl class="dlStyle01">
              <dt>질문</dt>
              <dd>대출 얼마나 받을 수 있나요?</dd>
            </dl>
            <dl class="dlStyle01">
              <dt>키워드</dt>
              <dd>
                <ul class="keywordLst">
                  <li>
                    <span>연금</span>명사</li>
                  <li>
                    <span>전환</span>명사</li>
                  <li>
                    <span>금액</span>명사</li>
                  <li>
                    <span>확인</span>명사</li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="lot_tbl">
        <div class="h4Box">
          <div class="tit">
            <h4>응답</h4>
          </div>
          <div class="cont">
            <ul class="gaugeBox">
              <!-- 해당 결과값 li에만 active 클래스 선언  -->
              <li class="active">
                <span>Exact Matching</span>
              </li>
              <li>
                <span>1차 형태소 매칭</span>
              </li>
              <li>
                <span>2차 형태소 매칭</span>
              </li>
            </ul>
            <div style="display:none;">
              <!-- Exact Matching 결과값 -->
              <dl class="dlStyle01">
                <dt>답변</dt>
                <dd>300만원 가능합니다.</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>Meta</dt>
                <dd>버튼/이미지/api 등 정보?</dd>
              </dl>
              <!-- // Exact Matching 결과값 -->
            </div>
            <div style="display:none;">
              <!-- 1차 형태소 매칭 결과값 -->
              <dl class="dlStyle01">
                <dt>답변</dt>
                <dd>
                  <ol>
                    <li>
                      <div class="txt">300만원 가능합니다.</div>
                      <div class="gaugeBox_s">
                        <span class="gauge_bg">
                          <em class="gauge_bar" style="width:80%"></em>
                        </span>
                        <b>80%</b>
                      </div>
                      <!-- 정확도 <em>width값 과 <b>%값은 동일합니다 -->
                    </li>
                  </ol>
                </dd>
              </dl>
              <dl class="dlStyle01">
                <dt>Meta</dt>
                <dd>버튼/이미지/api 등 정보?</dd>
              </dl>
              <!-- // 1차 형태소 매칭 결과값 -->
            </div>
            <div style="display:block;">
              <!-- 2차 형태소 매칭 결과값 -->
              <dl class="dlStyle01">
                <dt>답변</dt>
                <dd>
                  <ol>
                    <li>
                      <div class="num">01.</div>
                      <div class="txt">300만원 가능합니다.</div>
                      <div class="gaugeBox_s">
                        <span class="gauge_bg">
                          <em class="gauge_bar" style="width:80%"></em>
                        </span>
                      </div>
                      <!-- 정확도 <em>width값 과 <b>%값은 동일합니다 -->
                    </li>
                    <li>
                      <div class="num">02.</div>
                      <div class="txt">300만원 가능합니다.</div>
                      <div class="gaugeBox_s">
                        <span class="gauge_bg">
                          <em class="gauge_bar" style="width:64%"></em>
                        </span>
                      </div>
                      <!-- 정확도 <em>width값 과 <b>%값은 동일합니다 -->
                    </li>
                    <li>
                      <div class="num">03.</div>
                      <div class="txt">300만원 가능합니다.</div>
                      <div class="gaugeBox_s">
                        <span class="gauge_bg">
                          <em class="gauge_bar" style="width:26.5%"></em>
                        </span>
                      </div>
                      <!-- 정확도 <em>width값 과 <b>%값은 동일합니다 -->
                    </li>
                  </ol>
                </dd>
              </dl>
              <!-- 2차 형태소 매칭 결과값 -->
            </div>

          </div>	
        </div>
      </div>
    </div>
    <!-- //.contBox (Q&A Debug Layer Popup) -->
    <!-- .contBox (시나리오 Debug Layer Popup) -->
    <div *ngIf="publishView" class="contBox" [style.display]="chatbotStepGroupIsSds(currStep) ? 'block' : 'none'">
      <div class="lot_tbl">
        <div class="h4Box bro04">
          <div class="tit">
            <h4>답변처리엔진</h4>
          </div>
          <div class="cont">
            <p>시나리오</p>
          </div>
        </div>
        <div class="h4Box bro04">
          <div class="tit">
            <h4>도메인</h4>
          </div>
          <div class="cont">
            <ul class="treeDepth">
              <li>날씨</li>
            </ul>
          </div>
        </div>
        <div class="h4Box bro04">
          <div class="tit">
            <h4>Previous Task</h4>
          </div>
          <div class="cont">
            <p>Weather_Info</p>
          </div>
        </div>
        <div class="h4Box bro04">
          <div class="tit">
            <h4>Current Task</h4>
          </div>
          <div class="cont">
            <p>Weather_Info</p>
          </div>
        </div>
      </div>
      <div class="lot_tbl">
        <div class="h4Box">
          <div class="tit">
            <h4>Entities</h4>
          </div>
          <div class="cont">
            <div class="tblBox">
              <table class="tblStyle01">
                <colgroup>
                  <col width="50%">
                  <col>
                </colgroup>
                <thead>
                  <tr class="row02">
                    <th scope="col">Entity</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="row02">
                    <td scope="row">Weather.date</td>
                    <td>내일</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.city</td>
                    <td>대구</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.date</td>
                    <td>내일</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.city</td>
                    <td>대구</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.date</td>
                    <td>내일</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.city</td>
                    <td>대구</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.date</td>
                    <td>내일</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.city</td>
                    <td>대구</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.date</td>
                    <td>내일</td>
                  </tr>
                  <tr class="row02">
                    <td scope="row">Weather.city</td>
                    <td>대구</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="lot_tbl">
        <div class="h4Box bro02">
          <div class="tit">
            <h4>User Intents</h4>
          </div>
          <div class="cont">
            <div class="resultBox">
              <dl class="dlStyle01">
                <dt>utterance</dt>
                <dd>&quot;대구 내일 날씨는 &quot;</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>DA</dt>
                <dd>request(Weather.info, Weather.city=&quot;대구&quot;, Weather.date=&quot;내일&quot;)</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>Confidence</dt>
                <dd>0.83576</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>utterance</dt>
                <dd>&quot;대구 내일 날씨는 &quot;</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>DA</dt>
                <dd>request(Weather.info, Weather.city=&quot;대구&quot;, Weather.date=&quot;내일&quot;)</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>Confidence</dt>
                <dd>0.83576</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>utterance</dt>
                <dd>&quot;대구 내일 날씨는 &quot;</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>DA</dt>
                <dd>request(Weather.info, Weather.city=&quot;대구&quot;, Weather.date=&quot;내일&quot;)</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>Confidence</dt>
                <dd>0.83576</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="h4Box bro02">
          <div class="tit">
            <h4>System Intents</h4>
          </div>
          <div class="cont">
            <div class="resultBox">
              <dl class="dlStyle01">
                <dt>utterance</dt>
                <dd>&quot;&lt;Weather.city&gt;의 &lt;Weather.date&gt; 날씨는 &lt;Weather.info&gt;입니다.&quot;</dd>
              </dl>
              <dl class="dlStyle01">
                <dt>DA</dt>
                <dd>inform()</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="lot_tbl">
        <div class="h4Box bro02">
          <div class="tit">
            <h4>Error</h4>
          </div>
          <div class="cont">
            <div class="errorBox">
              에러메세지 넣어주세요.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //.contBox (시나리오 Debug Layer Popup) -->
  </div>
</div>