<div class="common-header-title">
  <span
      style="float: left;"
    ><input id="chatbotName" (keyup)="onChangeTitle($event)" [(ngModel)]='title' placeholder="챗봇 이름" style="border-bottom: solid 2px blue;"/></span
  ><span
      style="float: right; padding-right: 10px"
    ><button class="btn-normal-list" (click)="goToList()">목록으로 이동</button>
    <!-- <button class="btn-normal-cancel" type="button" (click)="previous($event)">Previous</button>
    <button class="btn-normal-cancel" type="button" (click)="next($event)">Next</button> -->
    <button class="btn-normal-box" type="button" (click)="save($event)">저장</button></span
  >
</div>
<div class="common-header-bottom">
</div>
<!-- <div>debug: isQna: {{isQna}} / isScenario: {{isScenario}}</div> -->
<div class="titleBox">
<div class="common-sub-menu tabStyle01">
  <p-tabMenu #menu [model]="chatbotTopMenu" [activeItem]="activeMenu" (click)='menuClick($event, menu)' ></p-tabMenu>
</div>
</div>
