<!-- .contBox (Q&A Debug Layer Popup) -->
<div class="contBox">
    <div class="lot_tbl">
      <div class="h4Box">
        <div class="tit">
          <h4>답변처리엔진</h4>
        </div>
        <div class="cont">
          <p>Q&amp;A</p>
        </div>
      </div>
      <div class="h4Box">
        <div class="tit">
          <h4>도메인</h4>
        </div>
        <div class="cont">
          <ul class="treeDepth">
            <li *ngFor="let item of vm.domains">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="lot_tbl">
      <div class="h4Box">
        <div class="tit">
          <h4>요청</h4>
        </div>
        <div class="cont">
          <dl class="dlStyle01">
            <dt>질문</dt>
            <dd>{{vm.question}}</dd>
          </dl>
          <dl class="dlStyle01" *ngIf="!(vm.keywords | isEmpty)">
            <dt>키워드</dt>
            <dd>
              <ul class="keywordLst">
                <li *ngFor="let item of vm.keywords"><span>{{item}}</span></li>
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="lot_tbl">
      <div class="h4Box">
        <div class="tit">
          <h4>응답</h4>
        </div>
        <div class="cont">
          <ul class="gaugeBox">
            <!-- 해당 결과값 li에만 active 클래스 선언  -->
            <li [ngClass]="{'active':isExactMatching()}">
              <span>Exact Matching</span>
            </li>
            <li [ngClass]="{'active':isPrimaryMorphemeMatching()}">
              <span>1차 형태소 매칭</span>
            </li>
            <li [ngClass]="{'active':isSecondaryMorphemeMatching()}">
              <span>2차 형태소 매칭</span>
            </li>
          </ul>
          <div *ngIf="isInvalid()">
            <dl class="dlStyle01">
              <dt>답변</dt>
              <dd [innerHTML]='vm.answers.answer | lnToBr'></dd>
            </dl>
          </div>
          <div *ngIf="isExactMatching()">
            <!-- Exact Matching 결과값 -->
            <dl class="dlStyle01">
              <dt>답변</dt>
              <dd [innerHTML]='vm.answers.answer | lnToBr'></dd>
            </dl>
            <!-- <dl class="dlStyle01">
              <dt>Meta</dt>
              <dd>버튼/이미지/api 등 정보?</dd>
            </dl> -->
            <!-- // Exact Matching 결과값 -->
          </div>
          <div *ngIf="isPrimaryMorphemeMatching()">
            <!-- 1차 형태소 매칭 결과값 -->
            <dl class="dlStyle01">
              <dt>답변</dt>
              <dd>
                <ol>
                  <li *ngFor="let item of vm.answers">
                    <div class="txt" [innerHTML]='item.answer | lnToBr'></div>
                    <div class="gaugeBox_s">
                      <!-- <span class="gauge_bg">
                        <em class="gauge_bar" [ngStyle]="{'width':(item.score * 5)+'%'}"></em>
                      </span> -->
                      <b [innerHTML]='item.score'></b>
                    </div>
                    <!-- 정확도 <em>width값 과 <b>%값은 동일합니다 -->
                  </li>
                </ol>
              </dd>
            </dl>
            <!-- <dl class="dlStyle01">
              <dt>Meta</dt>
              <dd>버튼/이미지/api 등 정보?</dd>
            </dl> -->
            <!-- // 1차 형태소 매칭 결과값 -->
          </div>
          <div *ngIf="isSecondaryMorphemeMatching()">
            <!-- 2차 형태소 매칭 결과값 -->
            <dl class="dlStyle01">
              <dt>질문 후보</dt>
              <dd>
                <ol>
                  <li *ngFor="let item of vm.answers; let idx = index">
                    <div class="num">0{{idx}}.</div>
                    <div class="txt" [innerHTML]='item.questionCandidate'></div>
                    <div class="gaugeBox_s">
                      <!-- <span class="gauge_bg">
                        <em class="gauge_bar" [ngStyle]="{'width':(item.score * 5)+'%'}"></em>
                      </span> -->
                      <b [innerHTML]='item.score'></b>
                    </div>
                    <!-- 정확도 <em>width값 과 <b>%값은 동일합니다 -->
                  </li>
                </ol>
              </dd>
            </dl>
            <!-- 2차 형태소 매칭 결과값 -->
          </div>

        </div>	
      </div>
    </div>
  </div>
  <!-- //.contBox (Q&A Debug Layer Popup) -->