
@import "../../../../../css/style.common";
.btn-normal-list{
  background-color: $C7;
  color:$C0; 
  border: 1px $C7 solid;
  // height: 20px;
  // line-height: 18px;
  // padding: 0 5px;
  // vertical-align: top;
  // margin-left: 5px;
}
.common-header-bottom {
  padding-bottom: 10px;
}
// .ui-menu .ui-menuitem .ui-menuitem-link{
// }
p-menubar a {
  color:$C8;
  background: $C0;
  width: 150px;
  // border-bottom: 2px solid rgba(70, 136, 232, 0.7);
  border-bottom: 2px solid $link-color;
}

a:focus {
  box-shadow: inset 0 0 1px 0 $CI_color;
}
input:focus {
  box-shadow: inset 0 0 1px 0 $CI_color;
}
button:focus {
  box-shadow: inset 0 0 1px 0 $CI_color;
}