<!-- .contBox (시나리오 Debug Layer Popup) -->
<div class="contBox">
  <div class="lot_tbl">
    <div class="h4Box bro04">
      <div class="tit">
        <h4>답변처리엔진</h4>
      </div>
      <div class="cont">
        <p>시나리오</p>
      </div>
    </div>
    <div class="h4Box bro04">
      <div class="tit">
        <h4>도메인</h4>
      </div>
      <div class="cont">
        <ul class="treeDepth">
          <li>{{vm.domain}}</li>
        </ul>
      </div>
    </div>
    <!-- <div class="h4Box bro04">
      <div class="tit">
        <h4>Previous Task</h4>
      </div>
      <div class="cont">
        <p>{{vm.prevTask}}</p>
      </div>
    </div>
    <div class="h4Box bro04">
      <div class="tit">
        <h4>Current Task</h4>
      </div>
      <div class="cont">
        <p>{{vm.currTask}}</p>
      </div>
    </div> -->
  </div>
  <div class="lot_tbl">
    <div class="h4Box">
      <div class="tit">
        <h4>Entities</h4>
      </div>
      <div class="cont">
        <div class="tblBox">
          <table class="tblStyle01">
            <colgroup>
              <col width="50%">
              <col>
            </colgroup>
            <thead>
              <tr class="row02">
                <th scope="col">Entity</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row02" *ngFor="let item of vm.entities">
                <td scope="row">{{item.entity}}</td><td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="lot_tbl">
    <div class="h4Box bro02">
      <div class="tit">
        <h4>User Intents</h4>
      </div>
      <div class="cont">
        <div class="resultBox">
          <dl class="dlStyle01" *ngFor="let item of vm.userIntents">
            <dt>{{item.intent}}</dt>
            <dd>{{item.type}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="h4Box bro02">
      <div class="tit">
        <h4>System Intents</h4>
      </div>
      <div class="cont">
        <div class="resultBox">
          <dl class="dlStyle01" *ngFor="let item of vm.systemIntents">
            <dt>{{item.intent}}</dt>
            <dd>{{item.type}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="lot_tbl">
    <div class="h4Box bro02">
      <div class="tit">
        <h4>Error</h4>
      </div>
      <div class="cont">
        <div class="errorBox">
          {{vm.err}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //.contBox (시나리오 Debug Layer Popup) -->