
<!-- .debugBox -->
<div *ngIf="isDebug || alwaysOn" class="debugBox">
  <div class="debugSection">
    <!-- .titBox -->
    <div class="titBox">
      <h3>Debug</h3>
      <ul class="btnBox">
        <li>
          <button class="btn_close" type="button"
              (click)="toggleDebug($event)"
          >Debug 닫기</button>
        </li>
      </ul>
    </div>
    <!-- //.titBox -->
    <!-- .contBox -->
    <div *ngIf="chatbotStepGroupIsInvalid(currStep)"
        style="text-align: center;
        color: #9f9f9f;
        font-weight: bold;
        font-size: large"
    >
        <img src="../../../../../assets/images/icon_info.png"
            style="width: 300px"
        />
        <br>Start 버튼을 눌러
        <br>대화를 시작해 주세요
    </div>
    <app-chatbot-debug-init-greet
      *ngIf="chatbotStepGroupIsInit(currStep)"
      [currUtterData]="currUtterData"
    ></app-chatbot-debug-init-greet>
    <app-chatbot-debug-bqa
      *ngIf="chatbotStepGroupIsBqa(currStep)"
      [currUtterData]="currUtterData"
    ></app-chatbot-debug-bqa>
    <app-chatbot-debug-sds
      *ngIf="chatbotStepGroupIsSds(currStep)"
      [currUtterData]="currUtterData"
    ></app-chatbot-debug-sds>
    <!-- //.contBox -->
  </div>
</div>