<div id="container">
    <div id="contents">
        <div class="contents">
            <div class="titleBox">
                <h3>기간별 쿼리량 통계</h3>
            </div>
            <div class="tabWrap_container">
                <div class="common-table-contents">
                    <div class="table-wrap-rowgroup">

                        <div #section2 class="tblBox02">
                            <div class="tbl_col02">
                                <!-- 날짜셀렉터 -->
                                <div class="stn_tit">
                                    <h4>일별 데이터 처리량</h4>
                                    <div class="setupArea">
                                        <!--<div class="radioBox">
                                            <span class="radio-item">
                                                <p-radioButton name="range"
                                                               [value]="rangeOption.time"
                                                               label="시간별"
                                                               [(ngModel)]="selectedRange">
                                                </p-radioButton>
                                                &lt;!&ndash; [style]="{'border': '1px solid #dae1f4', 'border-radius': '100%', 'padding-top': '1px'}" &ndash;&gt;
                                            </span>
                                            <span class="radio-item">
                                                <p-radioButton name="range"
                                                               [value]="rangeOption.day"
                                                               label="일자별"
                                                               [(ngModel)]="selectedRange">
                                                </p-radioButton>
                                            </span>
                                        </div>-->
                                        <div class="dateBox">
                                            <div *ngIf="rangeByTime()" class="table-header-calendar">
                                                <p-calendar [(ngModel)]="endDate" placeholder="to" dateFormat="yy-mm-dd"
                                                            [showIcon]="true" [readonlyInput]="true"
                                                            [monthNavigator]="true" [yearNavigator]="true"
                                                            yearRange="2000:2050"></p-calendar>
                                            </div>
                                            <div *ngIf="rangeByDay()" class="table-header-calendar">
                                                <p-calendar [(ngModel)]="startDate" [minDate]="minDate"
                                                            [maxDate]="endDate" placeholder="from" dateFormat="yy-mm-dd"
                                                            [showIcon]="true" [readonlyInput]="true"
                                                            [monthNavigator]="true" [yearNavigator]="true"
                                                            yearRange="2000:2050">
                                                </p-calendar>
                                                <span class="term-bar">-</span>
                                                <p-calendar [(ngModel)]="endDate" [minDate]="startDate" placeholder="to"
                                                            dateFormat="yy-mm-dd" [showIcon]="true"
                                                            [readonlyInput]="true" [monthNavigator]="true"
                                                            [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                                            </div>
                                        </div>
                                        <div class="btnBox">
                                            <button class="point" (click)="search()">조회</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- chart -->
                                <div class="boxType01">
                                    <app-progress-spinner *ngIf="isWorkingStatTps"
                                                          [style]="{display: 'block', width: '148px', height: '148px', marginTop: '30px'}">
                                    </app-progress-spinner>
                                    <canvas *ngIf="!isWorkingStatTps && !(tpsChartData | isEmpty)"
                                            baseChart
                                            [datasets]="tpsChartData"
                                            [labels]="tpsChartLabels"
                                            [options]="tpsChartOptions"
                                            [legend]="tpsChartLegend"
                                            [chartType]="tpsChartType"
                                            (chartHover)="tpsChartHovered($event)"
                                            (chartClick)="tpsChartClicked($event)">
                                    </canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
