/* START Select Model*/
@import "../../../../../css/style.common";

.select-name{
  text-decoration: underline;
  color:$link-color;
  cursor: pointer;
}

/* END Select Model */

.column-wrapper {
  display: inline;
  clear: both;
  div {
    height:280px;
  }
}
.column-wrapper>.left-column {
  float: left;
  width: 350px;
  overflow-y: scroll;
}
.column-wrapper>.column-divider{
  float: left;
  width: 1px;
  height: 280px;
  box-shadow: inset 0 0 0 1px #999;
  margin: 0 16px;
}
.column-wrapper>.right-column {
  float: left;
  width: 350px;
  overflow-y: scroll;
}
.column-wrapper>.height-setter {
  height: 280px;
  float: left;
}

.common-modal-section .common-modal-container {
  width: 795px;
}