@import "../../../../../../css/style.common";
@import "../../../chatbot/chatbot-container.component";

.modal-content-wrap {
  overflow-y: scroll;
  height: 565px;
}
.input-message-wrapper {
  width: 100%;
  height: 38px;
  border: 1px solid $C2;
  // border-top: 1px solid $C2;
  // border-bottom: 1px solid $C2;
  border-radius: 2px;
  margin-top: -1px;
}
.input-message-btn-wrapper {
  float: right;
  text-align: center;
  border: 0;
  // border-left: 1px solid $C2;
}
.btn-add-button {
  height: 36px;
}

.input-buttons-wrapper {
  overflow-y: scroll;
  height: 76px;
  padding: 1px 0;
  margin-bottom: 10px;
  border: 1px solid $C3;
  border-top: 0;
  border-left: 0;
}
.input-button-order {
  width: 40px;
  display: inline-block;
  text-align: center;
  // cursor: pointer;
}
.input-button {
  float: left;
  width: 79%;
  height: $common-wrapper-height;
  border: 0;
}
.input-button input {
  border: 0;
  border-left: 1px solid $C2;
  border-radius: 0;
}
.input-button-title {
  width: 135px;
  height: 36px;
}
.input-button-content {
  width: 190px;
  height: 36px;
}
.no-data{
  padding-top: 31px;
  text-align: center;
}
