<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">

    <title th:text="${toDay + ' 식단 안내'}"></title>
</head>
<body style="margin:0px;">
<img th:src="${imageUrl}"/>
</body>
</html>