<p-dropdown
            styleClass="custom-dropdown gray-dropdown"
            [style]="{'width':'60px'}"
            [options]="options"
            [(ngModel)]="selectOption"
            (onChange)="onOptionListSelect($event.value)"
            ><ng-template let-item pTemplate="selectedItem">
                <div>{{item.label}}</div>
            </ng-template></p-dropdown>
          <div class="dropdown-text">
            <span>개의 행 보기</span>
          </div>