<div class="pagination" [ngStyle]="style">
  <span class="btn-first btn-page" [class.disabled]="paginator.currentPage == 1" (click)="onPageChanged($event, 1)"></span>
  <span class="btn-prev btn-page" [class.disabled]="paginator.currentPage == 1" (click)="onPageChanged($event, paginator.currentPage - 1)"></span>
  <span class="page-number"><span class="now-page">{{paginator.currentPage}}</span>/<span>{{paginator.totalPages}}</span></span>
  <span class="btn-next btn-page" [class.disabled]="paginator.currentPage == paginator.totalPages" (click)="onPageChanged($event, paginator.currentPage + 1)"></span>
  <span class="btn-last btn-page" [class.disabled]="paginator.currentPage == paginator.totalPages" (click)="onPageChanged($event, paginator.totalPages)"></span>
</div>
<!-- debug -->
<!--
<div>paginator : {{paginator | json}}</div>
-->
